[2016-07-01 07:53] runseb opened #1 "Support output in a single file"

[2016-07-01 07:53] runseb opened #2 "Support output to stdout to pipe to kubectl"

[2016-07-01 07:53] runseb opened #3 "Print out warning for undefined fields"

[2016-07-01 07:53] runseb opened #4 "Support docker bundles format as input"

[2016-07-01 22:27] janetkuo commented on #2
Solving in #5

[2016-07-02 15:50] ngtuna opened #6 "travis build failed because "speter.net/go/exp/math/dec/inf" has been removed"

[2016-07-02 15:54] runseb opened #7 "Decide status of skippbox/kompose"
Now that things are cleaner with kompose2 , shall we just remove github/kompose and rename this repo to kompose ?

I don't really see the need to keep the original fork of lib compose.

[2016-07-02 16:01] ngtuna commented on #7
+1. Totally agree.

[2016-07-03 16:34] #2 closed

[2016-07-03 16:57] ngtuna commented on #3
Example
[code]

[2016-07-03 17:00] ngtuna commented on #1
`kompose convert -o <filename>`. Need to validate `-o` and `--stdout` can't be put at the same time.

[2016-07-04 07:40] #1 closed

[2016-07-05 13:01] runseb opened #8 "if random docker-compose file is not present --file option does not work"
I found out, that even though we use the `--file` option, we still need to have a somewhat valid docker-compose file present.

[code]

if you remove the docker-compose file:

[code]

[2016-07-05 13:34] runseb opened #9 "Document unsupported fileds"
with warnings now given for unsupported fields.
It might be good to document it a bit:

[code]

[2016-07-05 13:44] runseb opened #10 "Change template dir for Helm charts"
it used to be manifests/ now it is under templates/

[2016-07-05 13:45] #10 closed

[2016-07-05 14:04] runseb opened #11 "Support compose v2..v3? versions"
There is some v2 support now in lib compose upstream:

https://github.com/docker/libcompose/pull/292

we need to support all versions

[2016-07-05 15:02] ngtuna commented on #6
Going to upgrade k8s 1.2 to 1.3 which automatically solves this issue. k8s 1.3 depends on new location of the package at  "gopkg.in/inf.v0".

Ref: https://github.com/kubernetes/kubernetes/blob/v1.3.0/Godeps/Godeps.json#L2131

[2016-07-05 18:31] ngtuna opened #12 "Support k8s 1.3"
Upgrade k8s dependency to v1.3, support to post k8s objects to 1.3 endpoint

[2016-07-05 18:31] ngtuna commented on #12
#6

[2016-07-05 18:41] #6 closed

[2016-07-06 04:41] #7 closed

[2016-07-06 04:45] ngtuna opened #13 "Output for what happened after command execution"
such as, “file A is created”

[2016-07-06 04:47] ngtuna opened #14 "determine which containers should be in the same pod"
e.g., the ones share the same volume should be in the same pod; the ones link to each other may or may not be in the same pod

[2016-07-06 04:47] ngtuna opened #15 "specify replica count"
It should be very easy to do `kompose convert --replica <number>`

[2016-07-06 04:47] ngtuna opened #16 "support PetSet"

[2016-07-06 04:48] ngtuna opened #17 "specify Deployment policy"

[2016-07-06 09:56] ngtuna commented on #4
https://github.com/docker/docker/pull/23522

[2016-07-06 15:57] ngtuna commented on #4
There is an issue with package `github.com/docker/docker/api/client/bundlefile`: at this moment it is marked `// +build experimental`. That means go can't see it as a normal lib thus the building is fail.

[code]

[2016-07-06 16:41] #13 closed

[2016-07-06 19:14] runseb commented on #4
I think this library allows you to generate bundles from compose file. We might add that.

But what we want is to be able to take a bundle and transform it into k8s primitives. It might be tricky because the image reference in a bundle is the sha of the layer...and not the image tag (which is not immutable).

[2016-07-06 21:41] janetkuo opened #18 "Redundant file creation message"
[code]

I'll send a PR for this.

[2016-07-06 21:47] janetkuo commented on #18
Another issue: when the file is already present, the converted objects will be appended to the file -- it should instead overwrite what's in `abc.yaml` with what's converted from `docker-compose.yml`.

[2016-07-06 23:11] janetkuo opened #20 "Sometimes redundant services are printed/converted in `kompose convert`"
Note that there's a redundant `file "web-svc.json" created` message.

[code]

[2016-07-06 23:13] janetkuo opened #21 "Services should be created first"
Follow up https://github.com/skippbox/kompose2/pull/5#issuecomment-230162553

The fix to this should fix #20 also

[2016-07-07 04:28] #18 closed

[2016-07-07 04:33] ngtuna commented on #20
Yup. Also I have to re-structure convert function. It's too long and difficult to follow somehow.

[2016-07-07 04:42] ngtuna commented on #4
No Sebastien, that lib supports us to take a dab file and parse to `Bundlefile` struct. Then we are able to map to k8s objects.

Yes you're right. Image reference would be a tricky point.

[2016-07-07 10:56] runseb commented on #4
ok good to know.

as a first pass, we might just extract an image name from docker hub and use the latest tag. Since k8s does not support referencing specific layers in the image field.

[2016-07-07 15:37] runseb opened #23 "Services only get created when there is a links key present"
We made this assumption prior to compose v2.

We need to discuss whether we want to create a k8s service for every compose service or some other heuristics.

[2016-07-07 16:06] ngtuna commented on #23
The current strategy is based on `link` definitely. I will spend time to make some documents then we don't miss anything.

[2016-07-07 18:52] janetkuo opened #25 "Bug: chart only expect .json files"
This example in README doesn't work since it expects only `.json` files
[code]
We should support `-c -y`.

Should we support `-c -o`? Should we support `-c -dc` (copy template files of other types of controller) and `-c -dc -rs` (multiple types of contollers)?

[2016-07-07 19:05] #21 closed

[2016-07-07 19:07] ngtuna commented on #20
Done. Convert function is now more easier to keep track. Issue is also fixed by https://github.com/skippbox/kompose2/commit/2e986b61e7d80617fb29265d70cf167ee1fa4990

[2016-07-07 19:07] #20 closed

[2016-07-07 23:37] janetkuo opened #27 "Idea: kompose up, ps, delete, scale redirect to kubectl"
`kompose up`, `ps`, `delete`, `scale` are duplicate of `kubectl`, but are easier to learn from compose users perspective.

How about we suggest users the right kubectl command for each kompose command so that we don't need to reinvent the wheel? Something like:

[code]

Thoughts?

[2016-07-08 03:34] #25 closed

[2016-07-08 03:35] #12 closed

[2016-07-11 16:46] dustymabe commented on #27
I like it but maybe we shouldn't make it so manual by making them copy/paste. Maybe something like:

[code]

[2016-07-11 16:48] ngtuna commented on #27
Ah ha, that makes more sense to me @dustymabe

[2016-07-11 20:31] janetkuo commented on #27
@dustymabe Thanks that sounds good!

[2016-07-12 09:23] runseb commented on #27
yes +1
we can support _up_, _ps_ and _delete_ via a simple wrapper to kubectl
and focus on the conversion for now.

[2016-07-12 14:38] kadel opened #29 "update OpenShift dependency"
Origin has already been rebased to Kubernetes 1.3.
We should update our Origin dependency

[2016-07-12 14:40] kadel commented on #29
I'm sorry, this issue was meant for different repository :flushed:

[2016-07-12 14:40] #29 closed

[2016-07-12 15:52] kadel opened #30 "Generating both ReplicationControllers and Deployments"
Running `kompose convert --deployment` generates files with Services, Deployments and also Replication Controllers.

Shouldn't this generate just Deployments and Services?

Some for Daemon Sets and Replica Sets.

[2016-07-12 15:55] kadel opened #31 "Generating both ReplicationControllers and Deployments"
Running `kompose convert --deployment` generates files with Services, Deployments and also Replication Controllers.

Shouldn't this generate just Deployments and Services?

Some for Daemon Sets and Replica Sets.

[2016-07-12 19:01] janetkuo commented on #31
This dup with #30

[2016-07-12 19:01] janetkuo commented on #30
+1

[2016-07-13 01:39] janetkuo commented on #30
A fix for this is easy. Here are some more things to think about:

1. This breaks backward compatibility.
2. How'd a user create an RC and other controllers at the same time? One can do `kompose convert --d --ds`, but there's no flag for RC (since it's the default controller).
3. Should we change Deployment to be default controller being created instead?

[2016-07-13 01:40] ngtuna commented on #30
+1

@kadel Originally kompose generates rc, svc by default but yes we should do that. I will work on that or you can also freely go ahead to send us PR

[2016-07-13 01:42] ngtuna commented on #30
@janetkuo @kadel the tricky point here is just for `--stdout` option where user would like to pipe with `kubectl`. Otherwise, generating RC by default does not harm anymore as user has option to pick up files he want for further operation.

[2016-07-13 01:44] ngtuna commented on #31
Close as dup.

[2016-07-13 01:44] #31 closed

[2016-07-13 01:46] janetkuo commented on #30
@ngtuna `--stdout` and `--out` stop multiple controllers from being created already.

[2016-07-13 01:56] ngtuna commented on #30
@janetkuo Ah... yes you're right. I totally agree to change `DeploymentSet` to be default controller being created. Then we can keep RC as optional `--rc` 😺

[2016-07-13 04:04] #30 closed

[2016-07-13 07:43] kadel opened #33 "Default controller object is always generated."
Right now default controller is always generated.
When I do `kompose convert --replicaset` I get Services, Deployments and ReplicaSets.
I think that this is little bit confusing (even if they are in different files).
When I run above command I would expect only Services and ReplicaSets. In most cases you need only one controller object.

When I do `kompose convert --replicaset --deployment` than I

[2016-07-13 08:52] runseb commented on #33
yes confirmed:

[code]

Even though the default has now changed. It generates deployments and services.

[2016-07-13 08:55] ngtuna commented on #4
Working on `dab-support` branch

[2016-07-13 09:02] runseb opened #34 "We don't have any tests"
We should add a few test fixtures and run tests on Travis/circleCI.

[2016-07-13 17:51] kadel opened #36 "Add OpenShift support"
We would like to contribute OpenShift support to kompose2.
In core OpenShift is basically Kubernetes with some additional objects like `BuildConfig`, `DeploymentConfig`, `ImageStream` or `Route`.
With `BuildConfig` OpenShift can even support docker-compose `build` directive.

I guess that this first design question would be how command line is going to look like.
What if we use provider (orchestra

[2016-07-13 18:00] ngtuna commented on #36
@kadel  I suggest to go with:

```kompose convert --provider openshift```

Then we can support different providers with a small change of the current code base. Also IMHO adding `--provider` flag looks better

[2016-07-13 18:10] ngtuna commented on #4
@runseb Figure out the current revision of `libcompose` is too old in order to support mapping `bundles` fields to `compose` fields then to k8s primitives... This's such a pain if we keep enforcing it. I'm going to level up `libcompose` revision. It should be good as we can solve #11 in the meantime.

[2016-07-13 18:17] #33 closed

[2016-07-13 18:29] janetkuo commented on #36
+1 on adding flag

[2016-07-13 19:10] #15 closed

[2016-07-13 19:28] runseb commented on #36
I was thinking about this a bit, especially considering that I feel the options are getting a bit "crazy".

Maybe we should use subcommands to have a better structure and avoid so many boolean definition and if statements.

We could use subcommands for objects and keep the option for --stdout --out --yaml and --provider.

something like:

[code]

By default we create a service for every docker-com

[2016-07-13 19:30] runseb commented on #15
Why do you want to do this ?
convert creates the objects, we can scale it with `kubectl`

[2016-07-13 19:32] runseb commented on #4
you mean update the godeps hash for lib compose ?
will this break the current code ?

[2016-07-13 19:59] janetkuo commented on #36
I like your proposal. Will we still provide default controller (i.e. deployment) when `kompose convert` is executed without specifying which controller? I'm leaning toward yes, since users don't need to figure out which to choose if they're new to kubernetes.

[2016-07-13 20:54] janetkuo commented on #36
@runseb does your proposal imply that converting compose to multiple types of controllers (e.g. `kompose convert -d -ds`) won't be supported anymore?

[2016-07-13 21:04] kadel commented on #36
I'm afraid that this might get little messy :cry:

As OpenShift adds few thinks on top of Kubernetes you will get options that are not valid for all providers.
For example:
`kompose convert deploymentconfig` -  This will be valid only for OpenShift and not for Kubernetes.

[2016-07-14 03:02] ngtuna commented on #15
To be exact, I implemented kompose convert --rc <replica>.

Adding replicas count was added in our shared document so I implemented it. This is a tiny change in code and also in user experience which instead of specifying --rc only user can also directly define number of replica with  --rc <replica number>. I see it has benefit for example in case of doing pipe with kubectl. After that, user can a

[2016-07-14 03:13] ngtuna commented on #4
Correct. No it doesn't harm the current code much. But I keep master branch stable and mainly work in separate dab-support branch. Then we can decide to merge when it done.

[2016-07-14 03:21] ngtuna commented on #36
I also like Sebastien's approach. Currently convert functiin doesn't look good because of many boolean variables and if statements. Need to think a bit more in order to cover multiple controllers generation.

We can add validation for subcommand relating to Openshift primitives only.

[2016-07-14 08:09] kadel commented on #36
For me it seems little strange because it emphasize choosing controller object to much.
I think of choosing controller object as optional configuration how convert should behave.
With syntax like this I would expect that controller is required. But that shouldn't be the case.

I expect that most user will use default one and won't care that much about others.

[2016-07-14 22:05] janetkuo opened #37 "bash completion for kompose"
A nice-to-have feature.

[2016-07-15 00:23] janetkuo commented on #27
Open question: what's the right behavior of `kompose up`?

1. If there's no existing converted k8s files: it should tell the users to run `kompose convert`
2. If there's multiple existing k8s files: should it just create whatever config files we have? What if those files are stale (docker-compose.yaml updated since last conversion)? What if we have more than one k8s files (.yaml, .json, different

[2016-07-15 07:37] ngtuna opened #38 "Default objects of `kompose convert`"
`$ Kompose convert` will generate deploymentSet and service by default.

[2016-07-15 07:38] ngtuna opened #39 "Investigate a preference file"
for example

[code]

[2016-07-15 07:40] ngtuna opened #40 "new behavior of `kompose up`"
Like `docker-compose up`, `kompose up` transparently generates default objects and deploy to kubernetes.

[2016-07-15 07:42] ngtuna commented on #40
Also, print suggestion to use kubectl to deploy other controllers and include non-supported fields warning

[2016-07-15 07:45] ngtuna opened #41 "new behavior of `kompose delete`"
Adding flag `-a/--all` in order to delete all resources.
Consider to rename to `kompose rm`

[2016-07-15 12:14] runseb commented on #36
I suggest to @kadel assigns this issues to himself and starts working in a branch.

For the configuration, we need to investigate #39 , using a `.kompose` preference file, which can have multiple profiles.

The idea being that using kubernetes or openshift or any other future provider could be hidden and made default. That way users familiar with docker-compose can use `kompose up` at the beginnin

[2016-07-15 12:29] kadel commented on #36
+1 for preference file, this will keep command-line clean and simple.

I will keep in my mind that we might go this way when working on openshift provider.

[2016-07-15 20:39] janetkuo commented on #38
typo: `deployment`

[2016-07-16 19:24] ngtuna commented on #37
First commit https://github.com/skippbox/kompose/commit/f09b640e90015dc559af1d6c45d2570940d56b7c

[2016-07-16 20:07] ngtuna opened #43 "[Discuss] Find a good way to vendoring dependencies"
Guys,

The current issue I am facing in kompose is finding a good solution to vendoring dependencies. As you know, kompose refers to some structs of libcompose and kubernetes in order to do mapping fields between them. While kompose depends on libcompose and kubernetes, both of them are sharing lot of common dependencies but with different revisions. The current code base is quite stable, but let'

[2016-07-18 09:40] kadel commented on #43
Right now I'm facing same problem with OpenShift.
It gets even worse because OpenShift has dependency on its own fork of Kubernetes, I only hope that parts that we need, are going to work with upstream Kubernetes.

But I don't have any good solution so far :-(

[2016-07-18 10:22] ngtuna opened #44 "[Discuss] Optimize convert function"
In order to support different types of input format (dab, compose v1, compose v2, etc) and break down the convert function as well, I am thinking about creating a generic struct like this:

[code]

I will think more on mandatory fields need to be declared of this struct.

Idea behind is that we take file from different input, build corresponding `parsing` function to map it to `komposeSet` struct.

[2016-07-18 10:23] ngtuna commented on #44
/cc @janetkuo @runseb @kadel

[2016-07-18 11:13] runseb commented on #44
+1 . except the name. Maybe komposeMap or komposeObject

[2016-07-18 11:31] kadel commented on #44
+1 I really like idea of intermediate format.

The struct would need to be little bit bigger to catch more things like cpu, memory limits and builds.

Maybe we could base this on libcompose [ServiceConfig](https://godoc.org/github.com/docker/libcompose/config#ServiceConfig). Not that we would use this directly, but only base our struct on this. I think that this captures most of the options that c

[2016-07-18 18:22] ngtuna commented on #43
Yeah. Well, finding a solution to tackle the problem completely is impossible at this moment. It is known as the diamond problem for dependencies. Somehow `godep` can help to flatten the vendored code. It takes a bit more time to discover alternative choices.

https://github.com/golang/go/wiki/PackageManagementTools

[2016-07-18 18:24] ngtuna commented on #44
@kadel Agreed. I'm building this struct. Try to get as many common fields as possible.

[2016-07-18 18:27] ngtuna commented on #14
Ref: https://github.com/redhat-developer/henge/blob/master/pkg/transformers/kubernetes/generate.go#L142

[2016-07-18 18:28] ngtuna commented on #23
Generating every compose services would be fine.

[2016-07-18 18:28] #23 closed

[2016-07-18 18:35] janetkuo commented on #44
+1 on adding this struct, and +1 on naming it `komposeObject`

[2016-07-19 07:46] runseb commented on #43
this might help https://github.com/rancher/trash

[2016-07-20 09:29] #8 closed

[2016-07-21 11:00] pradeepto opened #45 "Write an architecture document for kompose"
Kompose is getting a lot of traction. Would be a nice thing to have an architecture document that will help document kompose internals and also help new contributors to get ramped up.

[2016-07-21 15:38] ngtuna commented on #4
Closed by https://github.com/skippbox/kompose/commit/91d981858f595243a7ea2b699d0fd064a6dff682

[2016-07-21 15:38] #4 closed

[2016-07-21 15:38] ngtuna commented on #11
Closed by https://github.com/skippbox/kompose/commit/91d981858f595243a7ea2b699d0fd064a6dff682

[2016-07-21 15:38] #11 closed

[2016-07-21 17:44] wayarmy opened #47 "convert file fail"
i've just use "kompose convert" from an docker-compose.yaml file to new file yml of k8s, but it went wrong, and show me the error:
"ERRO[0000] Failed to unmarshall: Cannot unmarshal '30' of type int64 into a string value"

Is this new issue? Or i did wrong?

@ngtuna

[2016-07-21 17:47] ngtuna commented on #47
@wayarmy Could you please upload your compose file ?

[2016-07-21 17:51] wayarmy commented on #47
`redis:
  image: redis:latest
  ports:
    - "6379:6379"

elasticsearch:
  image: elasticsearch:latest
  ports:
    - "9200:9200"
    - "9300:9300"
static:
  image: wayarmy/jackfruit:0.1
  ports:
    - "80:8080"

jackfruit: &app_base
  image: wayarmy/jackfruit:0.1
  ports:
    - "8080"
  links: &app_links
    - redis:redis.local
    - elasticsearch:elasticsearch.local
    - static:static.local
  e

[2016-07-21 22:48] janetkuo opened #49 "Unable to go build"
[code]

This is because of a recent change to vendor/github.com/docker/docker/api/client/bundlefile/bundlefile.go:
[code]

Build error went away after removing `// +build experimental`.

cc @kadel

[2016-07-21 22:53] janetkuo commented on #47
This works for me:

With this test-compose.yml file
[code]

[code]

[2016-07-22 00:02] janetkuo opened #52 "Consider changing `--rc` flag to bool and adding `--replicas`"
Right now all flags for specifying controller types are `bool`, except for `--rc`, which is `int`.

This is confusing because I cannot do this
[code]

And this (surprisingly) gives me a deployment
[code]

I propose that we change `--rc` back to `bool` and add another `int` flag for specifying replicas, since other controllers also take `replicas` in their spec. We can default it to `-1` as unset,

[2016-07-22 00:07] janetkuo commented on #47
I can reproduce this with the v0.0.1-alpha release binary

[2016-07-22 00:21] janetkuo opened #53 "Consider changing `--from-bundles` (bool) to `--bundle-file` (string)"
How about we make the flag for specifying bundles to something similar to `--file` (e.g. `--bundle-file`)? It'll be easier to specify than `--from-bundles` + `--file=xxx`. We can validate the flags so that either `--file` or `--bundle-file` can be specified at a time.

[2016-07-22 02:27] ngtuna commented on #49
@janetkuo correct. I also have to remove // +build experimental when doing build locally. However @kadel submitted a patch to support building with experimental packages with gox. So it's no problem at all.

[2016-07-22 02:30] ngtuna commented on #53
+1. when adding --from-bundles flag I was just thinking about reusing --file flag. Could you make a commit for this?

[2016-07-22 02:33] ngtuna commented on #52
+1. Are u going to do or shoud I take it?

[2016-07-22 02:35] ngtuna commented on #47
Thanks @janetkuo. Could you verify it and close the issue? @wayarmy

[2016-07-22 04:23] ngtuna opened #54 "update README for bundles, compose v2"

[2016-07-22 05:52] janetkuo commented on #52
I can take this one
On Thu, Jul 21, 2016 at 7:33 PM Tuna <notifications@github.com> wrote:

[2016-07-22 05:52] janetkuo commented on #53
Sure
On Thu, Jul 21, 2016 at 7:30 PM Tuna <notifications@github.com> wrote:

[2016-07-22 06:07] wayarmy commented on #47
i download this binary for darwin amd64, but i don't know what i need to do any more. I don't have experience with go and go-binary, did it work on MacOsx???. I still get this error.

[2016-07-22 07:20] ngtuna commented on #47
@wayarmy you're right. This error happens on the pre-release 0.0.1-alpha. Can you try to build kompose on HEAD master ? @janetkuo run it success, so do I.

Build instruction: https://github.com/skippbox/kompose#building

[2016-07-22 07:23] runseb commented on #47
let's just cut a 0.0.1-beta.1 release

[2016-07-22 07:30] ngtuna commented on #47
@runseb will do tonight. I'm fixing some bugs with unsupported key and labels mapping.

[2016-07-22 08:00] ngtuna commented on #49
@surajssd can you try `gox -osarch="linux/amd64" ./cli/main/` ?

[2016-07-22 08:01] kadel commented on #49
@janetkuo If you add experimental build tag you can build it without modifying boundlefile.go like this:
[code]

[2016-07-22 08:07] kadel commented on #54
Just reminder that we should also update Building section in README and add note about  requiring running `go build` with `-tags experimental` because we depended on dab support, that is still experimental feature in docker.

[2016-07-22 08:12] runseb commented on #53
so +1 I confirm, this is not very intuitive:

[code]

[2016-07-22 08:16] ngtuna commented on #54
@kadel Here you are https://github.com/skippbox/kompose/commit/fa0930de062bf6951af0010dae6c0394311ba3fa

[2016-07-22 08:18] ngtuna commented on #49
Closed by https://github.com/skippbox/kompose/commit/fa0930de062bf6951af0010dae6c0394311ba3fa

[2016-07-22 08:18] #49 closed

[2016-07-22 08:27] runseb commented on #47
@wayarmy I uploaded a new release just for you:
https://github.com/skippbox/kompose/releases/tag/v0.0.1-beta.1

Could you download it and test it, it should fix your issue.

thanks.

[2016-07-22 08:36] kadel opened #55 "Breaking code in app.go to multiple packags"
What if we would break `app.go` to multiple packages?

I suggest creating notion of loaders and transformers.
Loader would load input file and convert it to komposeObject.
Transformer would convert komposeObject to target format.
Every loader and every transformer would live in its own package.
[code]

It could look like this:

[code]

[2016-07-22 09:20] surajssd opened #56 "Environment Variable substitution not working"
I am using following `docker-compose.yml` file
[code]

and following envs

[code]

error
[code]

version

[code]

[2016-07-22 09:27] surajssd opened #57 "`depends_on` is not supported"
I am using following `docker-compose.yml` and when running it errors out saying `depends_on` not supported.

[code]

running it

[code]

[2016-07-22 09:40] surajssd opened #58 "docker-compose service with no ports is mapped to k8s svc with no ports"
When a docker-compose service is given with no ports, a corresponding k8s service is created with no port info, and this is wrong config, because port is required value.

`docker-compose.yml` file I used.
[code]

convert

[code]

When this definition is fed to kubernetes it says:

[code]

Where `svc` is:
[code]

IMO this should error out or should not create service, give warning loud and clear th

[2016-07-22 10:03] sdouche opened #59 "panic: runtime error: invalid memory address or nil pointer dereference"
Tried with v0.0.1-beta.1:

[code]

[2016-07-22 10:11] runseb commented on #59
thanks for reporting the issue.
Probably a build issue with the pre-release I just uploaded.

What OS and arch are you on ?

[2016-07-22 10:47] surajssd opened #60 "`targetPort` is 0 in a converted service definition"
targetPort is 0 in a service

When doing the conversion, if a port is defined as "3306" it sets the service's `port` as `3306` but sets `targetPort` as `0`. This artifact works with k8s, when deployed, but the concern is of wrong/misleading info, generated. We can do a thing if a port is given as `X` set `X` as both `port` and `targetPort`. But if port given as `X:Y` we can set `targetPort` as `Y`

[2016-07-22 10:48] surajssd commented on #59
@sdouche also share the docker-compose file so that we can recreate it.

[2016-07-22 10:56] wayarmy commented on #47
ah. Thank @ngtuna and @runseb so much. I will test it, if it run success for you, it will run with me :)) . Thanks so much

[2016-07-22 10:56] #47 closed

[2016-07-22 10:56] surajssd commented on #60
One more example of wrong mapping, the following docker-compose file has port mapping as "80:9001" so `80` should be service's `port` field value and `9001` as `targetPort` here its doing exactly opposite.

docker-compose file
[code]

convert
[code]
output:

Observe here the value in service of `port` and `targetPort` are swapped. But in `deployment` the container definition has `containerPort` de

[2016-07-22 10:59] surajssd commented on #56
@ngtuna I would like to fix this one :) to get started with the project.

[2016-07-22 11:22] kadel commented on #59
This look like it will be something with env variables.
trace looks same as one in https://github.com/skippbox/kompose/issues/56

[2016-07-22 11:24] kadel commented on #56
Go ahead @surajssd, you already fixed same or at least similar bug once :wink:

[2016-07-22 11:48] sdouche commented on #59
@runseb sorry I forgot: Ubuntu 16.04 x64_86. @surajssd I can't share the file, it's explain the internal stack we use. I'll investigate to know what is the cause.

[2016-07-22 12:00] kadel commented on #59
@sdouche That is ok if you can't share it.
Can you confirm my hunch that you have variable substation  in your docker-compose file?
Something similar to this?
[code]

[2016-07-22 13:00] sdouche commented on #59
Good hint @kadel  I've a bunch of `image: ${DOCKER_REGISTRY}redis`. But I've the same error with `komposer convert` (w/o any argument):

[code]

[2016-07-22 13:02] surajssd commented on #59
@sdouche so I have reported similar issue before see here https://github.com/skippbox/kompose/issues/56

[2016-07-22 15:18] ngtuna commented on #56
@surajssd I guess this bug comes from libcompose. See it: https://github.com/skippbox/kompose/blob/master/cli/app/app.go#L733.
I just call to libcompose parsing function.

If that's the main cause, then you can also make a PR to them :-)

[2016-07-22 15:21] ngtuna commented on #57
There are some keys we have not covered. I'm gonna submit a patch for the warning message. Please stay turned :-)

[2016-07-22 15:38] ngtuna commented on #55
Big +1 @kadel . It makes our code looks brighter and motivate new comers who would like to step forward. I will create `docs` folder then we can put all thoughts into. I can give a hand to implement this design if you'd prefer.

[2016-07-22 15:49] ngtuna commented on #59
Opps.. just notice that the issue log showing your info @runseb

[2016-07-22 15:52] ngtuna commented on #53
@janetkuo: after you finish the patch to introduce `--bundle-file` flag, I will update README for both bundlefile and compose v2 guidances

https://github.com/skippbox/kompose/issues/54

[2016-07-22 15:53] runseb commented on #59
yeah @ngtuna I noticed that, which is why I am thinking it is a build issue. dynamic linking of sorts ?

[2016-07-22 15:55] #44 closed

[2016-07-22 15:58] ngtuna commented on #58
@surajssd Good catch. Thanks for that. I will add a validation.

[2016-07-22 16:00] runseb commented on #58
@ngtuna maybe @surajssd wants to assign this one to himself :)

[2016-07-22 16:02] kadel commented on #58
In Henge we have solved this by interactively asking user to provide missing information.
But I don't think that interactive mode is good fit for Kompose.

[2016-07-22 16:02] ngtuna commented on #60
That's my ugly mistake. I think the `0.0.1-alpha` doing it right. But when refactoring code, I made it wrong. That would be very easy to fix.

[2016-07-22 16:42] #60 closed

[2016-07-22 16:48] ngtuna commented on #58
Somehow, sometimes we might need interactive mode... but I am not sure at this moment we need it..

[2016-07-22 17:27] #38 closed

[2016-07-22 17:29] ngtuna commented on #57
https://github.com/skippbox/kompose/issues/3

[2016-07-25 07:44] ngtuna commented on #57
Closed by https://github.com/skippbox/kompose/commit/278a8af04f991308f3402d6c0eb9a579b12aa77a

[2016-07-25 07:44] #57 closed

[2016-07-25 07:52] ngtuna commented on #58
@surajssd can you take this one ?

[2016-07-25 18:38] janetkuo opened #63 "Should we support converting to Replica Sets?"
Since we discourage people from using Replica Sets directly (instead they should use Deployments), how about removing the support for converting to RS? On the other hand, converting to Replication Controllers makes sense for people haven't adopted Deployments.

[2016-07-25 22:31] janetkuo opened #64 "Bug: incorrect version"
Downloaded release file from https://github.com/skippbox/kompose/releases/tag/v0.0.1-beta.1
[code]

It should instead give me:
[code]

Related code https://github.com/skippbox/kompose/blob/master/version/version.go

[2016-07-25 22:34] janetkuo commented on #64
Also in the release note we can provide checksums and installation guide, something like this:

## Installation
### Linux
[code]

## Checksums
### Linux
[code]

[2016-07-25 22:50] #52 closed

[2016-07-25 23:19] #53 closed

[2016-07-26 00:33] janetkuo commented on #27
Update per earlier discussion with @runseb and @ngtuna: `kompose up` will do the equivalent of `kompose convert && kubectl create -f <svc_files> -f <deployment_files> ...`

[2016-07-26 07:13] ngtuna commented on #27
link to https://github.com/skippbox/kompose/issues/40

[2016-07-26 07:42] #3 closed

[2016-07-26 10:21] ngtuna commented on #54
Closed by https://github.com/skippbox/kompose/commit/0e891f5b328b850db1f241d1bf9037a51b77226e

[2016-07-26 10:21] #54 closed

[2016-07-26 13:35] kadel commented on #63
I was also thinking about this and I agree completely, we should discourage people from using Replica Sets directly.

[2016-07-26 14:30] surajssd commented on #63
Or can we have it on k8s's version ? Like for k8s 1.2 we support `Deployments` by default and for before we use replication controllers. Or introduce some kinda flag?

[2016-07-26 14:41] surajssd commented on #58
@ngtuna sorry for late comment I will take this one!

[2016-07-26 16:33] pradeepto commented on #63
@surajssd That will add unnecessary complications to the code base. Since kompose is new upcoming tool, I wonder if it makes sense to support features that are being actively discouraged/deprecated.

:+1:  @janetkuo with this suggestion.

[2016-07-27 03:31] ngtuna commented on #45
link to #55

[2016-07-27 03:33] ngtuna commented on #55
@kadel are you working on it? I can take this one if you'd prefer to keep working on OpenShift support #36  and preference file #39 .

[2016-07-27 03:34] ngtuna commented on #63
+1 @janetkuo

[2016-07-27 10:15] kadel commented on #55
I haven't stared on this yet. But I think we should do this before #39 and #36  because breaking app.go will probably involve a lot of code moving.

We can try together design some interfaces around `komposeObject` than it should be easy to break code and one of us can do loaders and other transformers.

[2016-07-28 12:32] #58 closed

[2016-07-29 06:49] janetkuo opened #70 "Release process"
Follow up https://github.com/skippbox/kompose/issues/64#issuecomment-235107109:

We should have a release process (or did I miss it?)

[2016-07-29 06:54] janetkuo commented on #70
Just found it https://github.com/skippbox/kompose/blob/master/RELEASE.md

[2016-07-29 08:55] kadel commented on #70
I agree we should have release process defined.

I think that current [RELEASE.md](https://github.com/skippbox/kompose/blob/master/RELEASE.md) is from some kind of Kubernetes repo template that this was this repo based on.

[2016-07-29 16:09] #63 closed

[2016-07-30 21:48] janetkuo opened #71 "Print warning for unsupported fields in docker-compose format"
Follow up #3

We're now printing warnings of unsupported fields in their names defined in [libcompose](https://github.com/docker/libcompose/blob/release/0.2.0/config/types.go#L68), but not their names in [docker-compose file format](https://docs.docker.com/compose/compose-file/).

For example, this

[code]

should give me the following warnings instead:

[code]

[2016-07-31 13:11] surajssd commented on #34
I am working on creating functional tests right now, will work on the unit tests once, the code refactor and code moving thing that @kadel and @ngtuna are working on, is done.

So one question: What framework are we using to do the functional testing? Plain shell scripts or framework like [avocado](https://avocado-framework.github.io/) or anything else?

[2016-07-31 13:47] surajssd commented on #71
@janetkuo and @ngtuna why can we use `logrus.Warningf` instead of `fmt.Println` at https://github.com/skippbox/kompose/blob/master/cli/app/app.go#L1076 ?

[2016-07-31 17:03] surajssd commented on #71
Also when doing `--stdout` the warnings should be either printed in  a way so that user can still pipe the output to a `kubectl`

[2016-07-31 17:29] surajssd commented on #71
Using following docker-compose file
[code]

When directly piped fails
[code]
Because the output starts with

[code]

[2016-08-01 07:01] ngtuna commented on #71
Good catch @janetkuo and @surajssd . Thanks. I will update shortly

[2016-08-01 13:39] surajssd opened #73 "`--stdout` output as `List` kind"
When user applies `--stdout` as commandline arg then we can output all the objects as encapsulated in `kind: List`.

So this is what openshift with `oc import docker-compose` does
I believe we can use `metadata` in `List` to display warnings!

[code]

[2016-08-01 21:20] janetkuo commented on #73
+1 for this

[2016-08-01 21:26] janetkuo commented on #71
Closing as this is now fixed by https://github.com/skippbox/kompose/commit/55ae6e75383a3024e6ad5196d8d1280be9c7e39f

[2016-08-02 00:47] #56 closed

[2016-08-02 03:15] ngtuna commented on #27
Close as dup #40 #41

[2016-08-02 03:15] #27 closed

[2016-08-02 04:32] ngtuna commented on #43
@runseb That's interesting to take a look. Let me see.

[2016-08-02 07:27] ngtuna commented on #64
closed by https://github.com/skippbox/kompose/commit/bc7705157ade6dbf2e8d5c7b142257e0b38ec223

[2016-08-02 15:40] ngtuna commented on #59
@sdouche I tested your case with HEAD master including @surajssd 's patch https://github.com/skippbox/kompose/commit/a63d641384280e2a0473a30405c9c3cadc9e31d5, it worked.
[code]

So I assume you should be good with that. The next release is coming soon this week so you can either check the master now or stay a little bit for the release.

[2016-08-02 17:46] janetkuo commented on #41
`docker-compose rm` is used for removing "stopped" service containers, whereas `kubectl delete` can (and often) be used to remove the running ones.

[2016-08-02 17:57] janetkuo commented on #27
@ngtuna what about `kompose ps` and `kompose scale`?

[2016-08-02 18:03] ngtuna commented on #27
@janetkuo By closing this issue, I just wanna make some clean up on issues. We can have another discussion on `kompose ps` and `kompose scale`, then we open the corresponding issues for them later.

[2016-08-02 18:16] ngtuna commented on #41
Thanks @janetkuo for pointing it out. I am not thinking about `kompose delete` much right now. Paying more attention on `kompose up`. However, let's say we can have `kompose rm` to firstly stop containers running on k8s and then remove them. Don't want to be duplicated with `kubectl delete` but somehow we can add `kompose stop` to only do stop action. However, we should be very careful to not goin

[2016-08-02 21:03] janetkuo opened #75 "Problems of converting volumes"
A few problems I discovered specific to `volumes`:

1. In kompose conversion logic, a volume is created as read-only by default. However, in Kubernetes spec, container volumeMounts is read-write by default; same as docker-compose (I believe so from looking at the file format, please correct me if not).
2. We create `emptyDir` for volumes, but if host is specified (i.e. `HOST:CONTAINER`, see [spec]

[2016-08-02 22:18] janetkuo opened #76 "Kompose help needs improvment"
Current `kompose help` gives me:
[code]

A few things need improvement:

1. "Command line interface for Skippbox" is vague to me as a description of `kompose` (users may ask: so what does this CLI do?).
2. up/ps/delete/scale didn't work for now, but still shows up in help
3. Global options aren't actually global. They only belong to `kompose` but not its subcommands (except for `--help, -h`, but i

[2016-08-03 07:21] ngtuna commented on #75
Thanks @janetkuo for pointing this out. This is an important part of kompose conversion. Firstly I would say the current volume conversion was outdated a little bit. I just have a quick look at this.

1. Originally compose defined a volume is in ro mode by default (correct me if I am wrong). Now I see it set to rw mode.
2. I believe there was something missing on volume part when I did refactoring

[2016-08-03 19:39] janetkuo opened #80 "Add warnings/error for image not specified"
Follow-up https://github.com/skippbox/kompose/pull/79#issuecomment-237332663:

`image` is a required field in Kubernetes and without it the generated file can't be used.

From [compose spec](https://docs.docker.com/compose/compose-file), v1 doesn't allow `image` being specified with `build`, and v2 allows you to do that but the `image` will be built from `build`.

We can print an error when we see

[2016-08-03 20:04] janetkuo opened #81 "docker-compose labels should be converted to k8s annotations instead of labels"
Compose labels are just metadata, unlike k8s labels, which is used to organize / categorize objects.

[2016-08-03 20:09] janetkuo opened #82 "We should have a table / document for docker-compose to k8s / openshift conversion"
It'll be helpful for developers and users to have such docs.

[2016-08-03 21:46] janetkuo commented on #75
I looked closer at the spec and libcompose, the v2 volume you mentioned are in `Project.VolumeConfigs`, which we don't support. The logic I added in #78 is to parse `Project.ServiceConfigs.Volumes` and use the volume name specified there.

We should add warnings for not supporting VolumeConfigs too (we don't yet).

[2016-08-04 01:10] janetkuo commented on #71
Right now there are unsupported keys / fields not covered by warnings, such as [volume configs](https://docs.docker.com/compose/compose-file/#/volume-configuration-reference).

[2016-08-04 01:14] janetkuo opened #85 "The example .dsb file doesn't work"
[code]

I guess it's due to recent libcompose update to v2, and updating .dsb to .dab with the latest docker-compose should fix it.

[2016-08-04 06:56] ngtuna commented on #85
Hey @janetkuo , `dsb` is bundle format, you should use `kompose convert --bundle docker-compose-bundle.dsb`

[2016-08-04 16:55] #76 closed

[2016-08-04 16:58] janetkuo commented on #85
Ah... I totally forgot :smile:

[2016-08-04 16:59] #85 closed

[2016-08-04 17:28] #81 closed

[2016-08-05 08:11] ngtuna commented on #59
@sdouche Check out the latest release: https://github.com/skippbox/kompose/releases/tag/v0.0.1-beta.2

I'm going to close this issue. Feel free to reopen if it can't solve your case as we can't test your private compose file :-).

[2016-08-05 08:11] #59 closed

[2016-08-05 11:27] kadel commented on #45
So I tried to put something together. here is first draft: https://docs.google.com/document/d/1p3QUpMlCOHfncfemcja3ArNb9-aLbTc0foHYJ5QdCgM/edit?usp=sharing

[2016-08-05 18:44] janetkuo opened #87 "Validate input args"
I found myself often do this `kompose convert abc.yml` (should be `kompose convert -f abc.yml`) and kompose will convert docker-compose.yml for me without any warning (unexpectedly and surprisingly, if I don't pay attention).

`kompose` should print some error messages in this case to prevent misuse/confusion.

[2016-08-06 07:12] surajssd opened #88 "Wrong warning about networks"
wrong warning about networks not supported, even if networks not provided: `WARN[0000] Unsupported key networks - ignoring`

using `docker-compose.yml`
[code]

Output
[code]

[2016-08-06 10:15] ngtuna commented on #40
As `kompose` supports more than one provider, we should have `--provider` flag like this:

[code]
Default: Kubernetes (without --provider).

[2016-08-06 10:36] ngtuna commented on #88
Good catch @surajssd . And I believe only `networks` field causes this issue as it is pointer (only) in `ServiceConfig` struct.

[2016-08-06 14:02] surajssd commented on #71
@ngtuna yes its good that we have we now don't print the output to `stdout` so I can pipe output right now! :+1:

[2016-08-06 14:40] surajssd commented on #80
With Kubernetes:
- `image` is must, until we come up with a build story

With OpenShift:
- If `build` given we can create `buildconfig`
- if `image` given well and good

cc: @kadel

[2016-08-06 15:06] ngtuna commented on #71
@janetkuo Agree. We haven't covered both [volume configs](https://docs.docker.com/compose/compose-file/#/volume-configuration-reference) and [network configs](https://docs.docker.com/compose/compose-file/#/network-configuration-reference).

[2016-08-06 16:53] ngtuna commented on #75
@janetkuo Can we close this issue by your merged PRs?

[2016-08-06 20:01] janetkuo commented on #75
Yes

[2016-08-06 20:01] #75 closed

[2016-08-07 08:26] ngtuna commented on #73
+1 for this

[2016-08-08 03:51] surajssd commented on #43
@ngtuna found one more golang vendor manager https://github.com/Masterminds/glide not sure how good or bad it is, but [Kubernetes Helm](https://github.com/kubernetes/helm) uses it.

[2016-08-08 04:17] surajssd opened #92 "Image name not given still kompose does not errors out"
Using docker-compose file that has no field for image, so this should error out, but this still works.

[code]

output

[code]

[2016-08-08 05:03] surajssd commented on #34
Added functional tests: https://github.com/skippbox/kompose/pull/89

[2016-08-08 08:04] runseb commented on #92
is there a way to validate the docker-compose file with lib compose ?

[2016-08-08 08:26] ngtuna commented on #92
@runseb : `docker-compose` has this validation. `libcompose` should have.

[code]

[2016-08-08 08:41] ngtuna commented on #92
Found it.
https://github.com/docker/libcompose/blob/master/config/validation.go#L263

@surajssd you will see `kompose` currently use function Parse() of `libcompose` in order to read compose file. It should then call to `validateServiceConstraints()` above.

[2016-08-08 08:42] surajssd commented on #92
@ngtuna thanks for that pointer :-)

[2016-08-08 08:54] ngtuna commented on #34
We also need to add unit tests.

[2016-08-08 08:55] surajssd commented on #34
@ngtuna yes will work on them once your refactor is in! So we can keep this open.

[2016-08-08 09:36] ngtuna commented on #43
Still haven't started looking into them. At least we are still good with `Godeps`.

@surajssd Yeah I know there are lot of projects using `Glide` for vendoring.. It seems to be a powerful tool to do that..

[2016-08-09 07:08] ngtuna commented on #40
Reopen it for further enhancement:

- add `--provider` flag
- handling invalid converted k8s object

[2016-08-10 01:00] janetkuo commented on #70
We should follow [semantic versioning](http://semver.org/) and test if the released binaries will work on different platforms.

[2016-08-10 01:06] janetkuo commented on #64
The latest release gives me
[code]

Shouldn't HEAD be replaced with commit number (in this case, https://github.com/skippbox/kompose/commit/c4d62c99eeeccbaaa7dbf838e79dcaf4e346c4b8)?

[2016-08-10 01:48] ngtuna commented on #64
Which release are u trying ? @janetkuo From my side:

[code]

[2016-08-10 03:27] #88 closed

[2016-08-10 03:29] ngtuna commented on #71
Closed by https://github.com/skippbox/kompose/commit/14cf356a08374bc069477aa47a46b340abb782b4

[2016-08-10 03:29] #71 closed

[2016-08-10 08:00] ngtuna commented on #80
Currently there is an unsupported key message if we see `build` in the compose file.
@surajssd : while working on the issue https://github.com/skippbox/kompose/issues/92 of having `image` and `build` in the same compose service, you can also add a check for required fields like `image`

[2016-08-10 08:43] kadel opened #95 "Update libcompose to v0.3.0"
There is new release of libcompose with support for v2 compose.
We should update our dependencies to use this release.

[2016-08-10 16:09] surajssd opened #96 "Support BuildConfigs for openshift provider"
When the provider is selected as `openshift` and if docker-compose file has `build` directive then create a `buildconfig` out of it, along with `deploymentconfig` and `service`

[2016-08-10 16:11] surajssd opened #97 "Define build strategy with Kubernetes"
Kubernetes by default has no container image build mechanism, so what are the ways are we gonna support it?

[2016-08-10 16:13] surajssd commented on #97
One point I would like to add here is the builds should be generic enough that image format is supported for both container runtimes that kubernetes supports i.e. docker and rkt

[2016-08-10 16:20] runseb commented on #97
you want to run kompose within a k8s cluster ?

I am not sure I get it. It is a client side tool.

[2016-08-10 17:03] kadel commented on #97
Hmm, I'm not sure I get it either.

Only way how to do builds with Kubernetes that I can think of right now is to build image (similarly as docker-compose would) and than push it to some registry that is also accessible by targeted Kubernetes cluster.

[2016-08-10 17:22] surajssd commented on #97
I created this issue if we wanna give a end-to-end feel on k8s we will have to decide what we do with builds, are we gonna handle image builds for user? or right now keeping it out of our scope and giving user a warning and asking them to build themselves?

Our target users are gonna be developers who use kompose + k8s running locally in minikube like env, so how are we gonna handle this?

I want

[2016-08-10 17:30] runseb commented on #97
ok got it.

IMHO for now we should skip "builds" and define it as "unsupported".

Because for images to be used within a k8s cluster they would need to be uploaded to a registry as well. So it will be difficult to run out of the box with kompose. There will be manual intervention not matter what.

[2016-08-10 17:33] surajssd commented on #97
thanks for making this clear, will wait for what @janetkuo and @ngtuna has to say then we can close this issue! :)

[2016-08-10 18:26] janetkuo commented on #97
I agree with @runseb :smiley:

[2016-08-10 20:20] ngtuna commented on #97
I'm +1 for @runseb

[2016-08-10 20:57] janetkuo commented on #64
Yes it's correct, but `HEAD` should be a commit number, right?

[2016-08-10 22:00] janetkuo commented on #97
Just to be clear, I also agree with @surajssd that we should give an end-to-end feel and should support "builds" in the future.

We can push to a registry specified in a preference file. K8s provides [private Docker registry addon](https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/registry/README.md) that we can use.

[2016-08-10 22:04] janetkuo opened #98 "Release: kompose binary should be statically linked"
The latest release binary is dynamically linked. We should distribute statically linked binaries instead.
[code]

Setting `CGO_ENABLED=0` should do the trick.

Ref #70

[2016-08-10 23:53] janetkuo commented on #82
We can probably auto-generate this.

[2016-08-11 00:46] janetkuo opened #100 "Add flags for sliencing warning and for treating warnings as error"
Users would want to ignore known warnings when writing scripts with `kompose`. Users would also want to get errors when they try to remove all unsupported fields.

[2016-08-11 02:43] pradeepto commented on #82
@janetkuo You should talk to @kadel I remember him doing something similar for henge.

[2016-08-11 02:46] #98 closed

[2016-08-11 03:10] #64 closed

[2016-08-11 03:12] ngtuna commented on #64
Ah.. I missed it. You're totally right. I made a straight-forward commit to master https://github.com/skippbox/kompose/commit/1b501619b7826892155625b30a8548117d883ce3

[2016-08-11 04:20] surajssd commented on #92
@ngtuna now when I started working on this, looks like function [`validateServiceConstraints`](https://github.com/docker/libcompose/blob/master/config/validation.go#L263) is not exported so, we might need different way to validate the values.

[2016-08-11 04:44] surajssd commented on #92
Also with libcompose I found this thing:

[code]
somehow the docker-compose warning is not what I get

[code]
Using following libcompose version

[code]

[2016-08-11 04:53] surajssd commented on #92
But for a docker-compose file of v1 like this
[code]

I get errors similar to docker-compose

[code]

[2016-08-11 05:09] surajssd commented on #92
Filed issue in libcompose https://github.com/docker/libcompose/issues/357

[2016-08-11 05:48] surajssd commented on #95
please do libcompose head once https://github.com/docker/libcompose/pull/358 gets in!

[2016-08-11 06:57] ngtuna commented on #95
:ok_hand:

[2016-08-11 09:47] #73 closed

[2016-08-12 00:12] janetkuo opened #102 "kompose convert panic on v1 compose file"
Converting examples/docker-compose.yml to k8s...
[code]

It's because of [this line](https://github.com/skippbox/kompose/blob/master/cli/app/app.go#L870) which references Networks (which is `nil`, since it's v1 compose file):
[code]

@surajssd we need to add those example files to the test

[2016-08-12 00:19] janetkuo commented on #102
Fixing in #103, still need tests

[2016-08-12 01:21] janetkuo commented on #34
I'm adding unit test for komposeConvert in #104

[2016-08-12 03:20] ngtuna commented on #102
Super @janetkuo . I saw this panic error last night but immediately had to go to sleep so didn't fix.Thanks for your quick react :+1:

[2016-08-12 03:20] ngtuna commented on #102
This issue also stopped me to finish my PR #91.

[2016-08-12 06:08] #55 closed

[2016-08-12 08:19] rtnpro commented on #96
I want to work on this issue.

[2016-08-13 04:04] janetkuo commented on #102
This is fixed now

[2016-08-13 04:04] #102 closed

[2016-08-16 04:44] ngtuna commented on #45
Close by https://github.com/skippbox/kompose/commit/45c482977822e82453f49f2a3ec1d729cde55776

[2016-08-16 04:44] #45 closed

[2016-08-16 09:44] ngtuna commented on #40
@surajssd how can `kompose` read OpenShift endpoint config ?

[2016-08-16 10:29] ngtuna commented on #41
So, after some investigating, I see we need a thing is in contrast with `kompose up`. So I suggest:

[code]

Anything else ?
/cc @janetkuo @runseb

[2016-08-16 10:42] surajssd commented on #40
@ngtuna OpenShift endpoint config as in similar to `~/.kube/config` ?

[2016-08-16 10:51] ngtuna commented on #40
Really? OK so I'm thinking how we can add `kompose up --provider openshift`. What is process ? We need to have a `~/.kube/config` pre-configured to openshift endpoint. Then let kompose does the same with kubernetes. It is not really convenience, isn't it ?

[2016-08-16 15:32] ngtuna commented on #82
so @kadel can you help ?

[2016-08-16 15:35] ngtuna commented on #34
Thanks @janetkuo for adding some unit tests and we will keep adding more. This issue can be closed now.

[2016-08-16 15:35] #34 closed

[2016-08-16 22:22] janetkuo commented on #41
Is `kompose down --all` going to delete all resources in the system, regardless if it's created by kompose or not? Not sure if it's expected behavior from the users' perspective -- depends on their work flow

[2016-08-17 06:42] ngtuna commented on #41
Yes it's a critical action. We can ask for confirmation like this:

[code]

[2016-08-17 10:40] kadel commented on #82
I started this for Henge, but I just had rough draft, you can see it in Henge's wiki https://github.com/redhat-developer/henge/wiki/Mappings We also had some internal document describing this with more details. I will try to find it and see if we can use that.

I really like @janetkuo idea of auto-generating this. How would you like to do that?

[2016-08-17 10:55] surajssd commented on #100
I would like to work on this! :)

[2016-08-17 12:22] kadel commented on #40
I even think  that we can use same deploy function (from kubernetes) for deploying  to OpenShift.
We just need to make sure that proper api all installed such as (`	_ "github.com/openshift/origin/pkg/deploy/api/install"`)
We might change that to `_ "github.com/openshift/origin/pkg//api/install"` to make sure that all openshift objects are included in schema

[2016-08-17 13:45] surajssd commented on #100
We can have a global flag `-w` to suppress all the warnings, but I am not clear of the second thing of "treating warnings as error"?

[2016-08-17 16:42] kadel opened #109 "hostPath volumes?"
We use `hostPath` in volumes?
This doesn't really makes sense to me. When you are deploying to Kubernets cluster `hostPath` will **never** contain files that you have on your local machine from which you are running `kompose`. Unless you somehow copy them manually.
Another thing with `hostPath` is that even if you somehow upload you files to it, whenever pod is rescheduled to another node `hostPat

[2016-08-17 17:35] kadel commented on #95
I have created PR #112 that updates to libcompose v0.3.0.
After fix for #92 is merged to libcompose we can do another separate update

[2016-08-18 03:10] surajssd commented on #95
@kadel sure not a problem :+1:

[2016-08-18 21:08] janetkuo commented on #100
"Treating warnings as errors" means that "I expect myself to fix my config so that I won't see any warnings; but in case I missed anything, please give me error on those warnings".

[2016-08-20 02:30] surajssd opened #116 "Create a pod of containers sharing volume"
Right now the way we do conversion is more of one to one mapping. But when two services/containers share volume in docker-compose file we need to put those two containers in a single pod and make them share volume on kubernetes as well.

for e.g.: the following two services should be wound up into a single pod, by which I mean we will only create one deployment, which has one pod and both of those

[2016-08-20 05:03] ngtuna commented on #116
That would be great if you can take it. I filed this issue before but have never tried. https://github.com/skippbox/kompose/issues/14

[2016-08-20 05:24] ngtuna opened #117 "godep save ./... : cannot find package "k8s.io/kubernetes/pkg/apis/authentication.k8s.io""
I added an import "k8s.io/kubernetes/pkg/kubectl/cmd" to `kubenetes.go`. For saving vendor, I need to run `script/godep-restore.sh` first. It works well. But the following `godep save ./...` get error:

[code]

How do you think @kadel ?

[2016-08-20 10:43] ngtuna commented on #40
Ah.... I remember we discussed about preference file at https://github.com/skippbox/kompose/issues/39. So, if the preference file is used, we don't need `--provider` anymore, right ?

[2016-08-22 05:02] surajssd commented on #116
@ngtuna oops sorry for the duplicate will close this, will work on #14 !

[2016-08-22 05:02] #116 closed

[2016-08-22 05:02] surajssd commented on #14
Will be working on this one!

[2016-08-22 10:16] kadel commented on #117
Hmm, I can't reproduce your `k8s.io/kubernetes/pkg/apis/authentication.k8s.io`.

I get completely different error:
[code]
Reason for this error is that something down in `k8s.io/kubernetes/pkg/kubectl/cmd` requires `github.com/docker/docker/pkg/term/winconsole`, but `winconsole` pkg is only in old versions of docker that we can't use because we need bundlefile.

I will look if we can solve this de

[2016-08-22 13:54] kadel commented on #117
It doesn't look good :-( Because of that dependency conflict I can't get `k8s.io/kubernetes/pkg/kubectl/cmd` working :-(

[2016-08-22 19:12] janetkuo commented on #117
I got totally different errors (failed to `godep restore`), I'm using godep v74. Any idea on how to fix this?

[code]

[2016-08-22 20:10] janetkuo commented on #109
You're right. Let's remove `hostPath`.

[2016-08-22 22:14] janetkuo commented on #82
I'm thinking that we can use yaml tags of each field of different struct (libcompose, kobject, and kubernetes objects) and create `map[string]string` that maps one yaml tag to another (e.g. libcompose ServiceConfig's `image` maps to kobject's `image` which maps to k8s Container `image`). We can use that in code for conversion as well as auto-generate the table by printing the map. WDYT?

[2016-08-23 08:25] ngtuna commented on #117
Yah, I tested it again from a fresh clone kompose and got the same issue with @janetkuo :

[code]

[2016-08-23 08:57] #95 closed

[2016-08-23 12:31] kadel commented on #82
I never thought about using tags like this. It sounds cool.

[2016-08-23 13:17] surajssd commented on #96
@rtnpro I am thinking of handling builds in multiple ways:

- When user has git repo create a [buildconfig](https://docs.openshift.org/latest/dev_guide/builds.html) and [imagestream](https://docs.openshift.com/enterprise/3.0/architecture/core_concepts/builds_and_image_streams.html#image-streams) using that git directory info
- But a user might also wanna do a local build, so he wants build to happ

[2016-08-23 13:52] kadel commented on #96
To  be honest, I don't like assumption that user is using single node cluster.
And even than I don't think that majority of users are going to run kompose on same machine where their single node cluster is running. For example if I'm using minikube I'm never going to run kompose in minikube VM.

[2016-08-23 14:04] surajssd commented on #96
@kadel
- We assume that user will run a single node only when that flag is provided
- We can do builds on that cluster machine, only if the environment variables are exported, using imagebuilder. Remote builds are possible once we export those environments.
- User will be running kompose on his machine not on the cluster machine.

[2016-08-23 15:18] kadel commented on #96
My issue with this is that it is quite limiting :-( This requires that you have single node cluster, and that you have remote access to that docker daemon.

Wouldn't be better to build that image locally and that push it to OpenShift's registry? We have done similar thing in [OpenShift2Nulecule](https://github.com/projectatomic/openshift2nulecule). This will also work with clusters. OpenShift has

[2016-08-23 15:39] kadel commented on #117
That is strange, I've just tried that on clean GOPATH and it godep-restore.sh worked fine.

[code]

[2016-08-23 15:46] ngtuna commented on #117
Yes that's strange. I did try on a clean GOPATH too. When I opened this issue, `script/godep-restore.sh` worked fine.

Why did you do this one?
[code]

[2016-08-23 16:25] ngtuna opened #121 "Wrong output when port is missing"
The current convert function is not working correctly. When port is missing, objects are converted in init state.

[code]
`environment` is missing in the deployment web.

The problem came from this line:
https://github.com/skippbox/kompose/blob/master/pkg/transformer/kubernetes/kubernetes.go#L243

If ports not provided in configuration we will not make service, but we will also not update objects.

[2016-08-24 08:04] #121 closed

[2016-08-24 09:25] kadel commented on #117
OH, that was copy/paste error. Its not supposed to be there :-D

[2016-08-24 11:15] kadel commented on #117
So I did some research around that.  I still can't reproduce your error with `authentication.k8s.io` pkg :-(

If I use `k8s.io/kubernetes/pkg/kubectl/cmd` then  `godep save ./...`  fails on
[code]
This error is because we have two things in Kompose dependency chain that requires different version of `github.com/docker/docker`.

Kompose requires `github.com/docker/docker`  > v1.12.0-rc1  for bundle

[2016-08-24 17:02] ngtuna commented on #14
@surajssd feel free to update `priority/P1` label if you are working on it now. That would be great to have it implemented in the next release.

[2016-08-25 16:21] kadel opened #124 "OpenShift conversoin - invalid DeploymentConfig"
When creating (`oc create -f ...`) DeploymentConfig created (`kompose convert --dc`) from this [docker-compose.yml](https://github.com/almighty/almighty-core/blob/master/docker-compose.yml)  I get following error:
[code]

[2016-08-25 17:05] ngtuna commented on #36
Can we close this one? @kadel @surajssd

[2016-08-29 07:25] Gnouc commented on #39
@ngtuna What will be group in preference file used for?

We don't need to add command line flags to chose between group, do we?

[2016-08-29 09:35] kadel commented on #36
I think we can close this. Basic OpenShift support has been merged. We can always open new issues to track adding additional features.

[2016-08-29 09:35] #36 closed

[2016-08-29 15:08] kadel opened #125 "cmd tests are not working properly"
one example

test result:
[code]

but if I run command manually it fails and there is no output:
[code]

[2016-08-30 11:17] kadel opened #129 "add tests when converting to separate files"
Right now we have tests that only test `kompose convert --stdout`  - https://github.com/skippbox/kompose/blob/36aa6d8c3b4abcfd3779a76309cc084fe2b09ba7/script/test/cmd/tests.sh#L22

We should have also tests that are testing `kompose convert` as there are some differences how we get output for stdout and files.

this should prevent regression such as https://github.com/skippbox/kompose/pull/126 hap

[2016-08-30 11:54] kadel opened #130 "services should be first in List"
When generating List, Services should be first in the List to make sure they are created fist.

[2016-08-31 05:02] surajssd commented on #14
#131 right now only addresses `volumes_from` directive!

[2016-08-31 08:29] rtnpro opened #133 "Validate/test artifacts generated by Kompose"
I think that we need to work on a set of scripts which could be extended by the users of kompose to validate their converted applications against real providers (kubernetes, openshift). This will help the developers to deploy their converted applications with confidence.
### Proposed features
- **Easy to write**: with a strong base test suite, it should be easy for people to write test cases for t

[2016-08-31 08:57] runseb commented on #133
wouldn't `kubectl create --validate` be enough for this ?

[2016-08-31 09:32] surajssd commented on #133
@runseb i guess it(kubectl create --validate) will validate the artifacts to be according to kubernetes' spec, but does not ensure that app will run and respond?

[2016-08-31 09:40] rtnpro commented on #133
Yes, the issue name: ``Validating for artifacts generated by kompose`` is a bit misleading. It's one part of my proposition and if ``kubectl create --validate`` does that, well and good. However, that does not replace the need for a functional test suite to help developers test their applications end to end. There could be bugs in the apps, container images,  compose spec files, which could lead t

[2016-08-31 09:42] runseb commented on #133
but how can you ensure that app runs properly. k8s clusters may have many different setup (typical difference is DNS not installed). One app could run in one cluster but fail in another.

people may also use kompose, but start from a failing docker-compose.

There is a lot happening in that space with helm and charts. Charts (apps package), are being linted and are going through CI. I think it wou

[2016-08-31 11:59] rtnpro commented on #133
On Wed, Aug 31, 2016 at 3:12 PM, runseb <notifications@github.com> wrote:

True!

:+1:

Yeah! It makes sense.

[2016-08-31 12:28] runseb commented on #133
I did look at your code in atomic app, I see what you are doing now.

As far as I know you are not really doing functional testing of the app itself in the sense of the app itself functioning, you are checking a few assertions around what pods, services and rc need to be running.

I suppose this could be implemented in kompose via a `kompose test` subcommand. But we would need to automatically det

[2016-08-31 13:13] weitenghuang opened #134 "Should we use libcompose project.Context{} instead of docker.Context{}?"
I may miss something, but I don't understand why we will need to use `&docker.Context{}` when we load compose file in [loader pkg](https://github.com/skippbox/kompose/blob/master/pkg/loader/compose/compose.go#L95)
Isn't [`project.Context{}`](https://github.com/docker/libcompose/blob/master/project/context.go#L21) sufficient? The difference are:
[code]

[2016-08-31 13:32] runseb commented on #41
I don't think `kompose down` should delete everything. It should only delete the resources that the conversion created.

[code]

should delete the deployments and services that it creates.

At least that's what I would expect.

[2016-09-02 00:28] surajssd commented on #134
I think we had discussion on similar lines at https://github.com/skippbox/kompose/pull/67#issuecomment-235262742 and https://github.com/skippbox/kompose/pull/67#issuecomment-235654824 please correct me if I got you all wrong?

[2016-09-02 03:14] ngtuna commented on #41
So I will go merging `kompose down` without supporting `--all` flag. We can make a follow-up PR for this later.

[2016-09-02 03:19] ngtuna commented on #41
Close via https://github.com/skippbox/kompose/pull/113

[2016-09-02 03:19] #41 closed

[2016-09-02 08:37] runseb opened #138 "[PROPOSAL] Use -f as a global flag"
While testing kompose with the guestbook app (now in the examples folder). I realized that docker-compose uses the -f as a global flag and we use it as an optional flag of the subcommand.

I think we should try to mimic docker-compose as much as we can. To that extent, could we use the  -f as a global flag so that we can do this:

[code]

Instead of the current behavior

[code]

[2016-09-02 09:21] rtnpro commented on #133
On Wed, Aug 31, 2016 at 5:58 PM, runseb <notifications@github.com> wrote:

Yeah! Those were basic assertions that I had implemented. I was also
planning to extend it in the future to include helper assertions to
assert for endpoints and their responses.

I do not fancy doing much magic, as in to detect rcs, pods, svcs for
apps automatically. I'd rather prefer the code to be dumb, but empower
the a

[2016-09-02 09:42] runseb commented on #133
so from a UX perspective, what will a user have to do and how will they use `kompose` to run those tests ?

[2016-09-02 10:00] rtnpro commented on #133
On Fri, Sep 2, 2016 at 3:12 PM, runseb <notifications@github.com> wrote:

To run test cases for Kompose
[code]

To run tests on any compose appication

[code]

[2016-09-02 10:02] runseb commented on #133
and where are the tests themselves ?

[2016-09-02 10:35] rtnpro commented on #133
On Fri, Sep 2, 2016 at 3:32 PM, runseb <notifications@github.com> wrote:

I want the test cases for downstream applications to be in their code
base itself, in ``tests`` subdir. In upstream ``kompose`` source code,
it could be in ``tests`` subdir as well.

However, on a second thought, do we need a ``kompose test`` command.
AFAIK, people usually write functional tests for go applications in
shell

[2016-09-02 11:32] kadel commented on #133
tests for users of kompose?
I'm not sure what you mean by that :-( or even if I understand it correctly :-(
For me it seems that you both are talking about different things :)

We need a lot more test, test for our-selfs, to make sure that we are not breaking features that are already working - unit tests, functional tests .....

Than I think we should focus on improving conversion rather that add

[2016-09-02 11:49] runseb commented on #133
I am pretty sure I understand what @kadel says. We definitely need more tests for `kompose` itself. agree with that 100% and we need to increase the functionality.

but what @rtnpro is proposing are tests for the actual containerized application.

So I fail to understand how we would package those (application specific) tests in a kompose release and even how we would implement it in Go in the kom

[2016-09-02 12:01] kadel commented on #133
I think that what he meant by this is that it would be nice to have whole workflow as part of our test suite.
One of the test would do actual deployment of some sample application to testing cluster (run in container or using minikube) and verify that deployed app is running and responding.

Or at least this is what he did for Atomic App.

[2016-09-02 12:20] runseb commented on #133
unless we are taking end-2-end tests for CI

[2016-09-02 13:05] rtnpro commented on #133
On Fri, Sep 2, 2016 at 5:31 PM, Tomas Kral <notifications@github.com> wrote:

Yeah :)

[2016-09-02 14:38] ngtuna commented on #138
That would be very easy to do

[2016-09-02 16:41] ngtuna commented on #39
@Gnouc yes we don't need flags in preference file. Let's go first with provider and default objects to be generated. Then we can discuss what should be added more.

[2016-09-02 17:17] kadel opened #140 "Creating Routes for Services"
OpenShift can expose Services using Routes.

It would be nice if Kompose created default Routes for some services.

User can specify for which services Route should be created for example like this:

[code]

cc: @kbsingh

[2016-09-02 20:29] weitenghuang commented on #134
I propose we use `project.Context` for the same reason you referred in [#67 (comment)](https://github.com/skippbox/kompose/pull/67#issuecomment-235654824). We don't need to use libcompose's `docker` pkg context, if kompose is not meant to build a docker client.
Both support EnvironmentLookup.
Furthermore, I will help to resolve libcompose [#372](https://github.com/docker/libcompose/issues/372), so

[2016-09-04 16:17] ngtuna commented on #134
+1 @weitenghuang. I made a PR for that. Once your PR solving https://github.com/docker/libcompose/issues/372 get in, we can remove the copied code.

[2016-09-05 07:14] runseb commented on #140
@kadel sounds good. Only issue will be how to handle this for multiple providers.

i.e for vanilla Kubernetes what will the behavior of this expose-service option ?

If we implement a --provider we could start adding provider specific options...

[2016-09-05 08:48] kadel commented on #125
My bad, I forgot export env varibales. :flushed:
When I export proper env variables that are specified in docker-compose.yml it works properly.

closing

[2016-09-05 08:48] #125 closed

[2016-09-05 08:49] #124 closed

[2016-09-05 08:49] #130 closed

[2016-09-05 12:40] sebgoa opened #144 "Investigate how to use HCL/Nomad as input object"
In Nomad you define a containerized apps as a Job  in HCL:

https://www.nomadproject.io/docs/jobspec/index.html

we technically could convert from HCL jobs into deployments/services.

[2016-09-05 14:22] kadel opened #145 "Generate ImageStream for every image in DeploymentConfig"
We should generate ImageStream for every image that is used in DeploymentConfig, and use that ImageStream in DC.

[2016-09-06 13:40] surajssd commented on #39
@ngtuna i would like to work on this issue!

Some questions regarding this, with prefernce file are we gonna have alternative to all the command line flags(not in the immediate PR but in the long run)?

[2016-09-06 16:32] runseb commented on #39
@surajssd the original idea was to use this to create some profiles that would define defaults behavior. kind of like `kubectl` contexts.

for example

[code]

then maybe calling `kompose profile sebgoa` would make `kompose up` use k8s provider and deployments.
but `kompose profile oc` would make `kompose up` use openshift and RC.

things like --f, --q, --stdout,--y etc...don't need to change. The

[2016-09-06 16:33] ngtuna commented on #39
@surajssd great to know you're stepping forward with this.

I don't think we are gonna have alternative to all flags. Basically preference file is a kind of `kompose context` which helps us easily switch between providers. Flags are still declared along with kompose commands. At this moment I suggest we should cover these below configurations in preference file:

- provider
- default objects to be

[2016-09-06 16:47] #138 closed

[2016-09-07 04:06] surajssd commented on #145
@kadel do what is the approach you are following for doing this?

[2016-09-07 04:30] surajssd commented on #39
@ngtuna sure that example file is a great reference, on which I can base my work on! We can add more things going forward!

[2016-09-07 04:38] #134 closed

[2016-09-07 05:22] surajssd commented on #39
@ngtuna about file format why can't the file format be `yaml`, as oppose to `ini`?
I certainly understand that `ini` file format is easy to write as opposed to `yaml`, but considering future additions, is `ini` file format a right way to go?

This will also need more feedback from all the folks.
Ping: @kadel @janetkuo

[2016-09-07 07:27] kadel commented on #145
it is better practice to use ImageStreams in Openshift. If you are using remote registries with DC you are missing some features, for example automatically triggering new deployments when image changes for this you need ImageStream

[2016-09-07 08:03] kadel opened #146 "Detecting exposed ports in images"
One of the issues I'm constantly facing when using Kompose with various docker-compose files is that they don't always specify `port`. With docker-compose this is not an issue but, for Kompose it is as we need to create service for every exposed port.

We should investigate if it is possible to get exposed ports from image metadata without downloading image itself. Or maybe if there is some other

[2016-09-07 09:35] surajssd commented on #96
So going ahead we right now only implement what OpenShift by default provides, which is detect the source code's git remote and create buildConfigs with that info in buildconfig artifact.

Further we still have to work on doing local builds without having to rely on remote git repo.

[2016-09-07 10:45] kadel commented on #96
Just to explain this more deeply how this is example who will work:
I have cloned repo github.com/foo/bar on my local machine.
In this repo is docker-compose.yml that looks like this:
[code]
When you run kompose on this file, kompose will try to detect remote of this git and use it as source for build.
generated BuildConfig will probably look something like this:
[code]

**This means that build is

[2016-09-07 11:25] kadel commented on #39
+1 for yml. If not for other reasons that at least so we don't introduce new file format.
docker-compose definition is already in yaml, it would be nice to have this in same format.

[2016-09-07 12:00] kbsingh opened #147 "RFE can we get Kompose to have a --redeploy option"
I would expect a --redeploy option that allows me to redeploy the entire app into openshift, without needing to instantiate a new project and do migrations ( as a way to keep the dev write code -> dev deploy code cycle going ).

[2016-09-07 12:07] surajssd commented on #39
Just a brain dump: right from the start of this file format creation we define a schema for it, and [`gojsonschema`](https://github.com/xeipuuv/gojsonschema) can help us with it going forward, even libcompose has defined a schema for docker-compose format here https://github.com/docker/libcompose/blob/35cdb15b37b0b7b471f382c4e0c5152d4414d902/config/schema.go

[2016-09-07 12:09] kbsingh commented on #147
Its also worth walking through what the 'Kompose up' workflow and implementation might look like when compared with the specific demand to 'Kompose --redeploy'; In my view 'up' might be a superset of the functionality provided by 'redeploy'.

One key differentiator would be that the 'up' workflow should destory the existing app/project space and regenerate from scratch/scaffolding - whereas the 'r

[2016-09-07 12:19] surajssd commented on #147
Is it necessary that we delete all the resources and bring them back up again using **kompose**, because openshift and kubernetes clients support a directive called as apply (as @kadel mentioned yesterday)

[code]

Why this won't be a fix to redeploy problem?

[2016-09-07 12:25] kbsingh commented on #147
@surajssd there are 2 different goals there : the 'up' directive -should- do a fresh app deployment where as the 'redeploy' should refresh changed content into the existing app and service  deployment.

there is an assumption here that the openshift interface is slightly abstracted away from the user, and have Kompose complete that piece rather than just be a connector in the process.

[2016-09-08 17:35] sebgoa opened #149 "Ignoring network definitions"
Currently we ignore networks definition in services , but looks like we don't properly parse and ignore global networks definitions.

[code]

kompose seems to fail if these networks are defined. We need to successfully parse but give a warning.

[2016-09-08 21:17] runseb commented on #146
So I looked into this a bit.

Lost of images do not have an exposed port, as you can reach a containerized service on any port even it is not 'EXPOSED'.

So even if we could introspect an image from a repo to figure out the EXPOSE, it may not even have one.

Case in point, the carts image form the sock shop example:

https://github.com/microservices-demo/carts/blob/master/Dockerfile

So I think we

[2016-09-08 21:52] runseb commented on #146
yeah that's a problem, as we need a port to create a service. Not sure how to solve this.

We can create a basic service set port to "1" but it won't work.

[2016-09-09 08:36] ngtuna commented on #149
I think it's not really an issue as the networks definition above seems not to be enough, then libcompose's parsing giving a panic.

I'm maybe wrong but it seems compose v2 requires at least one of these configs in network top-level definition: `driver`, `driver_opts`, `ipam` or `external`

If I try this below compose, it works:

[code]

[2016-09-09 08:49] kadel commented on #149
I'm not sure about that, I'm usually writing compose v2 files where only top-level definition is version and services.

[2016-09-09 09:04] ngtuna commented on #149
To be exact, it's a libcompose bug. If I only declare networks name without any parameter like below, docker-compose still works but libcompose doesn't.

[code]

[2016-09-09 13:10] kadel commented on #146
You are right. I forgot that when they are on the same network it doesn't mater what is in EXPOSE. :-(.

There is one solution that would probably work, but it is really ugly. We can generate Service with  all 65536 ports :laughing:

[2016-09-09 14:25] runseb commented on #149
@ngtuna exactly. so do we need to add external:true for it to work.

We should file a bug upstream with lib compose.

[2016-09-09 14:33] kadel opened #150 "Persistent Volumes"
We should start thinking about proper volume implementation.

Kompose should create PersistentVolumeClaims and use those for pod volumes, instead of using EmptyDir.

Real persistent volumes might also solve `volumes_from` problem (#131)

[2016-09-09 16:40] ngtuna commented on #149
Double checked. Libcompose solved it at HEAD. We should somehow update libcompose ref.

[2016-09-09 17:02] kadel commented on #140
k8s version of route would be Ingress object

[2016-09-11 13:43] dustymabe commented on #146
yeah. that could be our last resort. we could do this by default and then warn the user about this and tell them to either add port definition to docker compose file or edit the generated artifacts to put in the correct port.

[2016-09-11 14:25] sebgoa opened #151 "compose2kube"
Somehow thought that compose2kube was not evolving , but it has some commits/dev in the past few months. It would be good to sync up.

https://github.com/kelseyhightower/compose2kube/issues/42

[2016-09-11 14:57] runseb commented on #146
that's pretty much impossible. afaik there is no wildcard for service ports in services. So that would mean creating 65k entries in the port definition of the service (so ugly). Plus pretty sure the proxy would run out of file descriptors somewhere, since it needs to listen on those ports...

[2016-09-12 06:36] surajssd commented on #39
hey @ngtuna @runseb its cool if we go ahead with yaml right? I needed views of you guys so that I can start to work on it?

[2016-09-12 06:57] runseb commented on #39
yaml or .ini file...

[2016-09-12 07:10] surajssd commented on #39
cool i will start working with `yaml` as our input file, thanks!

[2016-09-12 07:48] kadel opened #152 "`kompose up` for OpenShift"

[2016-09-12 07:49] kadel commented on #152
ah, sorry :-(
duplicate of https://github.com/skippbox/kompose/issues/40

[2016-09-12 07:49] #152 closed

[2016-09-12 13:15] dustymabe commented on #39
how complicated does the config file need to be? might be easier on user if it is ini file.. if we think it will get complicated over time then yaml is best.

[2016-09-12 13:27] kadel commented on #39
I think that at begging it might be fairly easy and simple, but will grow in the future.
I don't think that ini is that easier on user compared to simple yaml.

For example ini mentioned in https://github.com/skippbox/kompose/issues/39#issuecomment-245009076 could look in yaml  like this:

[code]

[2016-09-12 13:28] dustymabe commented on #39
ok

[2016-09-12 15:07] ngtuna opened #153 "--file for all kinds of input"
Playing with Kompose, I see it would be great to use `--file` flag for all kinds of input format such as `bundle` or `compose` like this. We can implement a format detection prior to loading the file into corresponding package.

[code]

[2016-09-12 15:34] runseb commented on #153
that's an interesting idea, even though I am bit weary of too much magic to detect file format...

[2016-09-12 16:14] smarterclayton commented on #146
You can create a headless service (clusterIP: "None") and you should not be required to define ports.

[2016-09-12 16:15] runseb commented on #146
but DNS won't work ?

[2016-09-13 05:57] smarterclayton commented on #146
DNS works for headless services.

[2016-09-13 12:22] runseb commented on #146
try this with a headless service:

[code]

But the endpoint does not seem to get set with the Pod IP matching the selector. Hence no DNS.
I will keep looking into it.

[2016-09-14 09:26] kadel opened #154 "RFE: choosing Service type"
When I'm using `kompose up` sometimes I need to change Service type.
Right now we generate services that are `ClusterIP`, but sometimes I want to have service exposed to outside of the cluster, than I have to manually change type and set it to `LoadBalancer`.

It would be nice to have a way to specify type of services.

### Proposal:
Use image label in docker-compose.yml to set type of services.
B

[2016-09-14 13:10] dustymabe commented on #154
+1. I wonder if we should make the labels kompose specific though. This would probably be a good thing for @pradeepto to weigh in on.

[2016-09-14 15:22] ngtuna commented on #154
Otherwise, we can add `--external` flag ? I am also +1 for the kompose specific label.

[2016-09-14 15:39] kadel commented on #154
I was also thinking about about doing this via cmd flag.
But downside of using flag is that you have to always remember to add that flag.

Benefit of doing it via label is that you do it only once. You edit file, commit it and than you can forget about it, and you have everything in one file.

Now when I'm thinking about it,  this could be also in preference file.
Than we can avoid modifying origi

[2016-09-15 09:47] surajssd commented on #39
About this one more question,

- Where is this file situated? Is it similar to Kubernetes(`~/.kube/config`) like a `~/.kompose/config`? or `~/.kompose/defaults`

[2016-09-15 09:57] kadel commented on #39
I think it should be right next to docker-compose.yaml file, in the same directory. You will have separate preference files for each project.

[2016-09-15 11:43] runseb commented on #146
I have made a fix for this in https://github.com/skippbox/kompose/pull/148/commits/96493a5527bfc6b43e90e76feb39e2efb6f9333b

We need to use a "dummy" port in the headless service creation, otherwise the endpoint does not get populated and DNS entries do not get created.

[2016-09-15 11:57] kadel commented on #39
@runseb

Do we really need profiles? What would be use case for having multiple profiles?
I would expect that most people are going to use only one profile anyway.

If user requires to have multiple configuration he could just have multiple preference files, and we can have option to chose which file to use, similar to how it is done with `docker-compose.yaml`. By default we read that but you can

[2016-09-15 14:01] runseb commented on #39
I could see myself having a k8s cluster and an oc endpoint, then wanting to switch between them.

But you are right I think, in any case we would need to pass an arg to specify which profile to use.

I have a preference to keep a single configuration file `~/.kompose` that can have multiple profile, rather than asking users to write their own configuration file.

need more thinking on this, we nee

[2016-09-15 14:02] dustymabe commented on #39
is it possible that we could add "profile" information to the `~/.kube/config` file similar to the way a user can add content to a `.gitconfig` file that isn't specific to git, but specific to tools that surround git

[2016-09-15 14:17] kadel commented on #39
It depends what will be in that file. I was imagining that there might be some project specific stuff, like discussed in https://github.com/skippbox/kompose/issues/154 , than it wouldn't make much sense to have one global file.
I expect that we will find more and more cases where we need provide some additional values on top of docker-compose.yaml  file, it that case it would be better to have per

[2016-09-16 03:37] dustymabe commented on #147
I think that is what he was trying to say that `apply` should give us that:
[code]

[2016-09-16 03:38] surajssd commented on #39
Since we had a discussion also about having registry info in your pref file, it makes sense to have single global file, with URL to registry, auth info, etc.

Because a user will not like having to copy things around?

[2016-09-16 03:40] dustymabe commented on #140
I still like the idea of using labels to express some of this behavior rather than adding a ton of CLI options.

[2016-09-16 03:45] dustymabe opened #156 "integration with minikube/minishift"
It would be nice to somehow add some support for a "local" use case where a user doesn't yet have k8s running. We don't want the scope of Kompose to creep too much but it would be interesting to be able to integrate with some other tools to help bring up a cluster and actually bring up the app.

an example would be:

[code]

[2016-09-16 05:14] surajssd commented on #146
@runseb how about having a separate PR for this particular thing, rather than having it embedded in the "Socks Shop example"?

[2016-09-16 06:04] surajssd commented on #154
Or how about the user mentions in preference file something like this:

[code]

[2016-09-16 09:13] runseb commented on #156
I haven't checked if we have this already, but I'd rather have a warning that says "no k8s cluster available, bring one up..."

[2016-09-16 11:29] kadel commented on #39
sone of that information can be in docker-compose.yml like url to registry.
URL of registry is part of image name and you can specify image name when doing build in docker-compose file.
I don't know if you can do auth in docker-compose, so this might be trickier.

[2016-09-16 11:36] kadel commented on #154
Ingress can be used with both ClusterIP or LoadBalancer.

[2016-09-16 11:49] kadel commented on #39
We should probably agree what this preference file should be for.

I see it as configuration for how kompose does conversion and deploy for given project.
When multiple people works on same project this file is committed with source so everyone is using same config and have same conversion result. Similar to  how everyone is using same docker-compose file. This file acts as docker-compose extensio

[2016-09-16 12:25] sebgoa commented on #146
@surajssd ok, I broke things up. #157 addresses the headless service alone.

[2016-09-16 14:38] garethr commented on #154
I hit the same issue today. Labels would work for my usecase. Namespacing them to kompose makes sense.

Note that labels should ideally be reverse DNS namespaced (see https://docs.docker.com/engine/userguide/labels-custom-metadata/), so (unless you also own a specific kompose domain) something like:

[code]

[2016-09-17 13:48] #100 closed

[2016-09-19 11:23] SerCeMan opened #158 "Support for "9995:9995/tcp""
WARN[0000] Unsupported key expose - ignoring
WARN[0000] Unsupported key hostname - ignoring
FATA[0000] "pinpoint-collector" failed to load ports from compose file: invalid container port "9995:9995/tcp"

[2016-09-19 11:45] kadel commented on #158
Than you for reporting this.

It looks like there is a bug in how Kompose parses ports.
It is not expecting that it could be in 'host:container:proto" format.
https://github.com/skippbox/kompose/blob/0c33e7e96517dd85fb96d8ab87fa42ec827bb6cb/pkg/loader/compose/compose.go#L59

[2016-09-19 12:36] surajssd commented on #146
@sebgoa thanks :+1:

[2016-09-20 13:07] kadel opened #161 "Proposal: make --dab/--bundle global flag"
Currently it is kind of strange to do `kompose up --dab app.dab`  but for docker-compose you do `kompose -f compose.yml up`

Wouldn't it make more sense to move  `--dab` flag to same level as `--file`?

It would look like this:
[code]

[2016-09-20 15:02] kadel opened #162 "kompose up always deploys to default namespace"
I have created new namespase and set it as default namespace for `kubectl`.
When I do `kubectl create ...` it creates object in that namespace.

But when I do `kompose up` it still deploys to `default` namespace.

[2016-09-20 15:17] ngtuna commented on #162
:+1: Exactly that's not a bug but enhancement :-) Actually for kompose up I'm fixing the default namespace. Let me take this one by investigating the default namespace config from kubectl.

[2016-09-20 15:20] kadel commented on #162
I've started to investigating that, as this blocks me from implementing `kompose up` for openshift :-(

[2016-09-20 15:26] ngtuna commented on #162
Ah that's okay. So I make a handover to you.

[2016-09-22 07:34] #158 closed

[2016-09-22 10:06] surajssd opened #163 "Add health checks"
Automatically generate readiness and liveliness probes!

[2016-09-22 10:54] kadel commented on #163
This would be nice. But user will have to provide additional information for kompose, there is no health check information in docker-compose :-(

[2016-09-22 12:31] ashetty1 opened #165 "time-out errors while deleting deployments on openshift"
I see time-out errors while deleting deployments. This is with openshift. Could someone tell me why I am seeing these warning messages when the deployments seem to be successfully deleted.

[code]

[2016-09-23 13:07] kadel opened #167 "Add tests converting dab files"
there is no test in [test.sh](https://github.com/skippbox/kompose/blob/master/script/test/cmd/tests.sh) that converts dab file.

[2016-09-25 16:01] dustymabe opened #169 "suggestion: let `-` denote stdout for -o option"
specifying `-` to the `-o` option creates a file named `-`. Could we let this actually mean stdout like it does for so many other applications. I know there is a `--stdout` flag but I think some people will probably not read that far (as I didn't) and go with `-o -` instead.

[code]

[2016-09-25 16:19] dustymabe opened #170 "kompose --version - print out dev tag"
right now if you run `kompose --version` it will print out:
[code]
which is a bit misleading because tag `0.1.0` does not correlate to `fa46376` but rather to `8227684`. Could we have kompose print out a 'dev' tag or something when on a commit that doesn't have an associated tag?

[2016-09-26 09:17] #162 closed

[2016-09-26 09:19] #161 closed

[2016-09-26 09:20] sebgoa commented on #170
@cab105 that's an easy one for you to get back to work on kompose :)

[2016-09-26 09:52] kadel commented on #39
This is starting to block us a little bit.

I'm still convinced that this should be file in project directory (next to docker-compose.yml).
Doing it like this all settings can be easily shared between developers and it can contain additional data required for proper conversion to k8s. This will also solve problems like  #163 #154.

[2016-09-26 10:18] sebgoa commented on #154
while loadbalancer services are needed in prod, let's not forget about the dev use case who may want to create a nodeport.

[2016-09-26 11:00] kadel commented on #154
Agreed, once we do this we should support all three Service types.

[2016-09-26 11:02] sebgoa commented on #154
I like the use of labels for this.

[2016-09-26 11:44] kadel commented on #154
OK, lets do this via labels.
Using labels to provide additional data for conversion will also solve my problem with #39 :-)

Now we just need to figure out proper namespace for kompose labels as @garethr mentioned ideally it should be reverse DNS

[2016-09-26 11:50] kadel commented on #40
I've started working on adding `kompose up` for openshift.
I will brake it to multiple PRs and in every PR I'm going to reference this issue.

[2016-09-26 21:42] ngtuna commented on #153
temporarily close as `--file` and `--bundle` are now global flags.

[2016-09-26 21:42] #153 closed

[2016-09-27 01:56] raffaelespazzoli opened #173 "go panic when converting hygieia docker-compose"
the file can be found here:
https://raw.githubusercontent.com/capitalone/Hygieia/master/docker-compose.yml

[2016-09-27 07:50] sebgoa commented on #173
@raffaelespazzoli can you copy the error you are getting in this issue.
thanks

[2016-09-27 09:17] #169 closed

[2016-09-27 09:18] ngtuna commented on #169
@dustymabe you got it.

[2016-09-27 09:54] ngtuna commented on #173
@raffaelespazzoli : The panic comes from libcompose parsing function.
[code]

@sebgoa It's another sample motivating us to upgrade libcompose. Like this one: #149

[2016-09-27 10:09] ngtuna opened #174 "upgrade libcompose revision"
We haven't upgraded it for a little bit long time. Due to #149 and #173 , we should consider to do that.

[2016-09-27 10:11] ngtuna commented on #170
Opps.. I made a wrong ref.

[2016-09-27 10:29] kadel commented on #174
I can take this.
I will also upgrade k8s and openshift dependencies.

[2016-09-27 14:07] kadel opened #175 "[EPIC] Use kubernetes/client-go"
It should be possible to use  [kubernetes/client-go](https://github.com/kubernetes/client-go) instead of digging through whole k8s.io/kubernetes.

As a result we might get smaller dependencies and it could  solve whole problem of conflicting kubernetes/kubernetes vs. openshift/kubernetes see: https://github.com/skippbox/kompose/pull/157#issuecomment-249858757

[2016-09-28 03:34] cab105 commented on #170
@ngtuna Did you already beat me to the punch?

[2016-09-28 06:23] ngtuna commented on #170
@cab105 Haha just a reference mistake. Good to see you @cab105

[2016-09-28 07:11] surajssd opened #176 "docker-compose :Z not supported in volume mounts"
Trying to convert docker-compose.yml file, kompose cannot parse a volume format that looks like "HOSTPATH:CONTAINERPATH:Z".

Above info source: https://docs.docker.com/engine/reference/commandline/run/#/mount-volumes-from-container-volumes-from
- docker-compose.yml can be found here: https://pagure.io/webauthinfra/raw/master/f/docker-compose.yml
- repo link of above docker-compose.yml https://pagu

[2016-09-28 11:41] surajssd opened #177 "Fixtures directory has README.md that are incomplete or inconsistent"
The test scripts from fixtures has README.md which has info of how to run those examples with `docker-compose` we can add info of using it with `kompose`.
- https://github.com/skippbox/kompose/tree/master/script/test/fixtures/etherpad
- https://github.com/skippbox/kompose/tree/master/script/test/fixtures/gitlab
- https://github.com/skippbox/kompose/tree/master/script/test/fixtures/ngnix-node-redis

[2016-09-28 11:45] kadel commented on #177
Is it necessary for test fixtures to have README?
entrypoint-commmand and ports-with-proto are not even meaningful applications

[2016-09-28 12:43] surajssd commented on #177
I just wanted to make sure that these apps work when deployed so that end-to-end still works when we do `kompose up` on them!

[2016-09-28 13:31] #145 closed

[2016-09-28 15:45] kadel commented on #140
This could be solved in similar way as https://github.com/skippbox/kompose/issues/154

We decided that we are going to use labels to provide additional information for conversion.

for example label for this could be `<kompose_namespace>.service.expose: foo.bar.example.com`
value  can be also  empty and it would mean that dns name should be constructed automatically by OpenShift.

For Kubernetes s

[2016-09-28 16:02] kbsingh commented on #140
sounds good, and would resolve this issue for me.

[2016-09-28 16:08] dustymabe commented on #140
I believe @containscafeine has volunteered to work on this in the next few weeks. can you assign him on this ?

[2016-09-28 16:46] ngtuna commented on #39
While the location of pref file still in conversation, I am not sure if everybody agrees with me that keep the `docker-compose` file unchanged would be a good taste for UX. People bring their compose (or bundle) file in and use kompose in order to convert things, they won't expect have to edit the original file as an additional requirement for the conversion.

[2016-09-28 16:49] ngtuna commented on #39
Ah... we still have #154 for the labels...

[2016-09-28 16:52] ngtuna commented on #165
@surajssd @kadel could you check it with an Openshift environment?

[2016-09-28 21:17] ngtuna commented on #144
I would like to take this one.

[2016-09-29 05:22] surajssd commented on #165
@ashetty1
- What is the version of openshift you are using?
- How did you deploy this particular example on openshift?

[2016-09-29 05:32] surajssd commented on #165
@ashetty1 So I did this, with my openshift cluster running:

[code]

And once it was successfully deployed I did this, which successfully deleted all the components:
[code]

And the version of openshift I am using:

[code]

So basically what happened here is kompose did talk to kubernetes running underneath openshift directly, so everything we saw above is kubernetes, not openshift. I doubt if dep

[2016-09-30 12:38] surajssd opened #179 "`--provider` flag for kompose"
The way, "what artifacts to generate?" is not handled consistently.
Having a provider flag will enable the further implementation of pref file, so that the way artifacts generation is handled is unified.

`convert` ->

[code]

`up` ->

individual flags not supported

[code]

Closing this unblocks #39

[2016-09-30 12:43] surajssd commented on #179
@ngtuna @kadel do we need this flag?

[2016-09-30 13:02] ngtuna commented on #179
@surajssd If we see the preference file is mandatory, then we can restrict provider declared in profile inside the file. Otherwise, somehow user wanna skip the file and go directly with `--provider` flag, but I will see there are might be other flags need to be declared along with. Of course support both cases makes kompose more flexible, but also reduce simplicity. I go with the first option. Let

[2016-09-30 13:07] surajssd commented on #179
@ngtuna we don't want to restrict user to have preference file, that's for sure.

Or we can use other approach as, create a pref file if its not there alongside docker-compose file, with default profile of k8s and artifacts/objects to generate will be `deployments` and `svc`.

[2016-09-30 13:13] ngtuna commented on #179
Yes we can generate the file by default. And probably support a subcommand `kompose config` in order to keep user away from editing manually (probably lead to wrong configuration). Like `kubectl config`

[2016-09-30 23:16] cab105 commented on #170
Likewise.  BTW, @sebgoa PR is out to you.  Looks like the version is expected to be updated by hand.

[2016-10-01 23:05] ngtuna commented on #176
I'm considering if `:z` and `:Z` are common cases. What are corresponding options in k8s ?

[2016-10-01 23:07] ngtuna commented on #170
Correct. Version is being updated by hand. Any idea we can have it updated automatically ?

[2016-10-01 23:10] ngtuna commented on #156
Could I say kmachine ?

[2016-10-02 03:50] cab105 commented on #170
Not from what I can tell.  We can take a known tag and derive its hash, but not the other way around, at least using git rev-parse.  At least given how the kompose build scripts are being used.  Even then, this technique still won't work if you use go build natively.

[2016-10-02 09:55] sebgoa commented on #156
Sadly with minikube, kmachine is "obsolete". If we do this, minikube is the choice.

[2016-10-02 10:19] sebgoa opened #181 "go 1.5 not building"
just to confirm, we are now using go 1.6, and 1.5 does not work anymore.

travis runs 1.6

we need to update the readme

[2016-10-02 11:02] kadel commented on #181
You should be able to compile Kompose with go 1.5

on go1.5 I can build with `cgo` disabled it like this:
[code]

I don't know why, but if I try to build it with `cgo` it fails on:
[code]
With go1.7  I can build it in both cases (with and without `cgo`).
It looks like that for go1.5 `cgo` has to be disabled. I don't know why :-( Maybe I'm doing something wrong. I don't know much about go compiler

[2016-10-02 22:48] ngtuna commented on #181
So I made a direct update to README accordingly for both cases. https://github.com/skippbox/kompose/commit/9cb74ed0231aa31771394d355c936aa88a2f2ce8

[2016-10-03 08:13] procrypt commented on #154
@kadel Can I work on this issue if no one else is working on it.

[2016-10-03 13:26] surajssd commented on #150
Since it was decided that for docker-compose volumes we create k8s PVCs, I am taking this up, so that I can continue the pending work of: https://github.com/skippbox/kompose/issues/14 and https://github.com/skippbox/kompose/pull/131

[2016-10-03 14:16] dustymabe commented on #154
Can someone assign this issue to @procrypt ?

[2016-10-03 15:16] sebgoa commented on #154
@procrypt I just sent you an invite, you need to accept so that we can assign you tickets.

[2016-10-04 03:41] procrypt commented on #154
@sebgoa I have accepted the invite.

[2016-10-04 10:02] surajssd commented on #170
https://github.com/skippbox/kompose/pull/180 is merged so this can be closed!

Result on current master:
[code]

[2016-10-04 10:23] #170 closed

[2016-10-04 19:12] cdrage opened #185 "Documentation site"
Hey all,

In preparation for Kubecon next month, I'd like to add a documentation site for people to browse for easier viewing.

An outside contributor helped me recently created this via `Sphinx` documentation generation https://cdrage.github.io/kubeshift/

Which can be configured to either manually be generated each-time you want to update the site, or updated on each push to master via travis-ci

[2016-10-05 13:47] ngtuna commented on #117
This should be closed. As soon as we have k8s go client we should be good. Will reopen it whenever getting problem with godeps...

[2016-10-05 13:47] #117 closed

[2016-10-05 19:34] #181 closed

[2016-10-05 19:36] sebgoa commented on #167
cc/ @cab105 that's another easy one for you.

We need some fixtures and modifications to test.sh to run the conversion of docker bundles

[code]

[2016-10-05 19:42] sebgoa commented on #92
@surajssd @ngtuna looks like lib compose now got validation for v2 https://github.com/docker/libcompose/pull/371

We should try to close this.

[2016-10-05 19:44] sebgoa commented on #37
Havent' tested this, can we close this ticket based on the commit ?

[2016-10-05 19:46] sebgoa commented on #185
@cdrage sure we can do this.

[2016-10-05 19:51] ngtuna commented on #37
We still should cover bash completion for flags. The first commit supports subcommands only.

[2016-10-05 19:53] sebgoa commented on #185
I have created the gh-pages branch

[2016-10-05 19:53] ngtuna commented on #92
Well yeah, upgrade libcompose will help solving couple of problems.
Hey @kadel , I could help to do that while you are taking care of k8s go client.

[2016-10-05 19:58] cdrage commented on #185
@sebgoa Awesome! I'll work on it this week and get a PR up and running :)

[2016-10-05 20:21] dustymabe opened #187 "come up with a release schedule"
It would be nice if we can come up with a release schedule so that we can get new features out to users and also give them some baseline to report issues against. Could we possibly come up with a release strategy (time based/feature based, etc) for the project?

[2016-10-05 20:23] dustymabe commented on #96
@sebgoa can you please assign @rtnpro to this issue?

[2016-10-05 20:33] sebgoa commented on #177
@surajssd I hear you..*but* some of these docker-compose files will most likely break at some point.  The ether pad one for example uses a mariad db container without an image tag...so latest might change underneath you at some point.

+ image tags are not immutable anyway.

So technically we should actually verify that the docker-compose files actually give a working app...

[2016-10-05 20:41] sebgoa commented on #187
yeah, linked to #70

I will close it as dupe if you don't mind, but label #70 as P0

[2016-10-05 20:41] #187 closed

[2016-10-05 20:42] sebgoa commented on #70
Also discuss schedule of releases

[2016-10-05 20:42] sebgoa commented on #37
@cab105 maybe you can take that one as well...

[2016-10-05 20:51] dustymabe commented on #187
Sure - that works. Thanks!

[2016-10-05 20:59] sebgoa commented on #147
taking a clue from docker-compose:

-up -> builds and creates containers.
-down -> stops, removes containers *and* images
-rm -> removes stopped containers (does not delete images)

So the gotchas that one falls into, is to docker-compose stop a service and then up it. Since the container is created it will just restart it and not trigger new builds or use new image...

For use we have:

- up -> k

[2016-10-05 21:03] sebgoa commented on #156
@cab105 another for you :)

kompose reads the k8s config file and targets the default context. We need to check a few things:

1-what happens if there is no default context ? Maybe offer the use the choice of setting the context based on the ones in the config file.
2-What happens if the default context is actually not running/available ?
3-if there is a minikube context, then check if it is runni

[2016-10-05 21:22] sebgoa commented on #96
@rtnpro you need to accept the invitation to the kompose contributor team

[2016-10-05 21:26] sebgoa commented on #96
just a thought, is there a way to run docker in docker in a Kubernetes pod ?

[2016-10-06 02:56] dustymabe commented on #96
it would require root access, so it depends on how you have the cluster set up. I think overall it's not going to be an option, though.

[2016-10-06 06:54] ashetty1 commented on #165
@surajssd will try and update soon.

[2016-10-06 07:41] kadel commented on #92
@ngtuna sure, go ahead

[2016-10-06 13:49] cab105 commented on #37
@sebgoa Sure I'll take a look at it.

[2016-10-06 13:49] cab105 commented on #167
@sebgoa Sure, I'll take a look at it this weekend.

[2016-10-06 13:50] cab105 commented on #156
@sebgoa Have been meaning to spend more time with minikube.  Added to the list.

[2016-10-06 19:33] #179 closed

[2016-10-06 19:39] #150 closed

[2016-10-07 19:50] dustymabe opened #192 "establish release process - protect master branch"
Hey hey!

I went to create the new rpm today for kompose 0.1.1 and see that the history is lost for the tag 0.1.1 from the master branch. According to the [release page](https://github.com/skippbox/kompose/releases/tag/v0.1.1) it was tagged from 534fa9b but that commit does not show up in the history for the master branch. I believe that means that the master branch was force pushed to in order to

[2016-10-07 20:15] ngtuna commented on #192
Yes @dustymabe that was a mistake then I made a force push on https://github.com/skippbox/kompose/commit/534fa9ba1d46909ffb20004dbc75bc9bcc7eae2c.

Yes. I believe @sebgoa is working on it.

Done. I disabled force push on master and required to have one approved review prior to the PR is getting merged.

We are having this procedure.

[2016-10-07 20:18] dustymabe commented on #192
@ngtuna thanks! I guess once @sebgoa gets the docs for the release process published then we can close this issue.

for the record i think I'll wait for 0.1.2 to update the downstream rpm.

[2016-10-07 21:55] dustymabe commented on #170
This is now a problem again after the last release. Any ideas for making this dynamic?

[2016-10-07 21:59] dustymabe opened #193 "error on extraneous/unexpected cli input"
we should probably error out if we get extra arguments/input on the CLI that we don't expect or understand. One example of this is when I was trying to start the gitlab example but I was doing it wrong:

[code]

So you can see I was trying to run gitlab, but I didn't specify things like I should have: `kompose -f docker-gitlab.yml up`. This means that it actually ignored the `docker-gitlab.yml` th

[2016-10-08 13:30] ngtuna opened #194 "script/godep-restore.sh doesn't seem to work correctly"
I tried running `script/godep-restore.sh` in a fresh $GOPATH, and then removed Godeps and vendor folders and then running `godep save ./...` in order to save them again. The new born Godeps.json looks quite different with the current one we have in upstream.

[2016-10-08 13:57] ngtuna commented on #194
However, building kompose with the new generated vendor/ run successfully. Many packages have been removed.

[2016-10-08 16:16] kadel commented on #194
This is not godep fault but ours.
We let `vendor` get out of sync. Every time we add or remove import we should run `save`.
We don't do that so we have few unused libs in vendor.

[2016-10-08 16:54] ngtuna commented on #194
Right. So I am going to update vendor

[2016-10-09 00:27] ngtuna opened #196 "Parsing environment variables with `:`"
libcompose could support both separate characters `:` and `=` in envvar because docker config object accepted them. However, kompose doesn't rely on docker but libcompose config object. Thus, kompose can only support `=` at this moment.

Related issue: #173. In the [hygieia](https://raw.githubusercontent.com/capitalone/Hygieia/master/docker-compose.yml) example, there are envvars with `:` and komp

[2016-10-10 10:19] #149 closed

[2016-10-10 10:20] ngtuna commented on #92
closed via https://github.com/skippbox/kompose/pull/195

[2016-10-10 10:20] ngtuna commented on #80
Closed via https://github.com/skippbox/kompose/pull/195

[2016-10-10 10:20] #80 closed

[2016-10-10 10:20] ngtuna commented on #194
closed via https://github.com/skippbox/kompose/pull/195

[2016-10-10 10:20] #194 closed

[2016-10-10 15:06] ngtuna commented on #174
Closed via #195

[2016-10-10 15:06] #174 closed

[2016-10-10 16:14] ngtuna opened #198 "wrong global --bundle/--dab input"
[code]

Figured out `opt.InputFile` received `docker-voting-bundle.dsb` instead of `docker-compose.yml` then the [if clause](https://github.com/ngtuna/kompose/blob/master/cli/app/app.go#L74) returned true.

[2016-10-12 05:55] surajssd commented on #92
@ngtuna this is issue is not fixed yet!

[2016-10-12 05:57] surajssd commented on #92
docker-compose file
[code]

output

[code]

[2016-10-12 12:59] ngtuna commented on #92
Oh you're right. Thanks @surajssd good catch. If that's compose version 1, kompose worked. But it seems does not work on version 2. Let me check.

[2016-10-12 14:12] beravelli opened #202 "panic: runtime error: invalid memory address or nil pointer dereference"
I am facing this issue when converting the docker-compose.yml file . It is a straighforward compose file with couple of volume mounts and no env variables.

Kompose version : kompose version 0.1.0 (8227684)
Error:
------
panic: runtime error: invalid memory address or nil pointer dereference
[signal 0xb code=0x1 addr=0x18 pc=0xbbff5c]

goroutine 1 [running]:
panic(0x15a9b60, 0xc82000e0e0)

[2016-10-12 15:03] kadel commented on #202
Hi @beravelli
from trace you posted it looks like issue with libcompose, during parsing network definition.

Can you please show docker-compose file that you used, or at least snippet of it with network definitions?

[2016-10-12 16:24] procrypt commented on #193
@dustymabe can I work on it, if no one else working on it.

[2016-10-12 16:34] rtnpro commented on #117
I am hitting the error below when I am trying to run ``godep restore -v ./...`` on current ``master`` branch:

[code]

[2016-10-12 16:40] sebgoa commented on #193
@procrypt just assigned it to you.

[2016-10-12 16:44] beravelli commented on #202
Hi kadel,

networks:
           - incubator

networks:
  incubator:

[2016-10-12 16:50] beravelli commented on #202
It works it I take out the networks and volumes section in the docker-compose.yml file

[2016-10-12 17:08] procrypt commented on #193
@sebgoa Thanks :)

[2016-10-12 17:29] sebgoa opened #205 "Add tests based on current issues"
That fail due to libcompose v2 support...

Add wiki page and keep track of tests.

[2016-10-12 17:45] ngtuna commented on #202
@beravelli network definition was improved with this recent PR https://github.com/skippbox/kompose/pull/195. We will soon publish new release included this fix. Right now could you try getting kompose HEAD and test with your compose file?

[2016-10-12 17:45] ngtuna commented on #202
Similar issue: https://github.com/skippbox/kompose/issues/149

[2016-10-13 09:44] surajssd opened #207 "compose constructs we support are still there in unsupportedKey"
We do support things like `CPUSet`, `CPUShares`, etc. as seen in code [here](https://github.com/skippbox/kompose/blob/master/pkg/loader/compose/compose.go#L187) but we still have them in [`unsupportedKey` map](https://github.com/skippbox/kompose/blob/master/pkg/kobject/kobject.go#L29). So this is inconsistency, which should be fixed.

[2016-10-13 13:37] ngtuna commented on #207
Right. Unsupported keys hasn't been tracked for a while.

[2016-10-13 13:43] kadel opened #208 "kompose down for OpenShift"
#200 implements only `up` we also need `down` for OpenShift

[2016-10-13 18:16] containscafeine opened #209 "being able to store artifacts separately in a specific directory"
Hi,

It would be great if I could store the generated provider artifacts to a specific directory other than the current working directory without having to bundling them into a single file (which `kompose convert -o ...`  currently does.

So, when `kompose convert -o artifacts` is run, if `artifacts` is a directory, then kompose should store all the resulting files inside it, and if it's not, then

[2016-10-14 00:54] pradeepto commented on #209
I totally could use this bit. @surajssd  and I were discussing earlier this week about exactly this.

[2016-10-14 01:06] dustymabe commented on #209
I think this makes sense +1 from me.

[2016-10-17 08:09] procrypt commented on #208
@kadel I want to give it a try :)

[2016-10-17 22:24] cab105 commented on #198
@ngtuna I have a fix for this along with my initial test.sh work for #167.

[2016-10-17 22:30] cab105 commented on #167
Modifications to test.sh and lib.sh to support multiple output files.

[2016-10-18 15:50] kadel opened #215 "Add `go vet`"
Tests that are run in travis-ci for every PR should include `go vet` to check for suspicious constructs and formatting errors.

we can create `make test` target that will run all tests (vet,unit,cmd)

current state:

[code]

[2016-10-18 16:12] ericchiang opened #216 "Make go get'able (or at least go installable)"
It's odd that kompose's main package is named `main` rather than `kompose` like most Go projects Additionally, since there's no top level package it seems like it'd be reasonable to enable `go get github.com/kubernetes-incubator/kompose` to work.

Additionally there's a dependence on `-tags experimental` due to a docker dependency[0]. Removing that import here[1], (say by copying the structs) woul

[2016-10-18 21:55] dustymabe commented on #140
@containscafeine any progress on this?

[2016-10-18 22:02] containscafeine commented on #140
@dustymabe I've been trying to implement the route API from `openshift/origin/pkg/route/api` but hitting some issues. I will be away for some time, so I'm updating @surajssd about my progress just in case.

[2016-10-19 09:21] kadel commented on #140
@containscafeine @surajssd If you hit any bumps just ping me I'm happy to help.

[2016-10-19 09:33] kadel commented on #96
Hi @bgrant0607, what was reason for removing @rtnpro  from this? Or it was just something that happened during move to incubator?

[2016-10-19 11:12] kadel opened #218 "PVCs are not created when calling `kompose up`"

[2016-10-19 12:38] surajssd commented on #218
Yes I think this is because there is no case for creating a PVC here https://github.com/kubernetes-incubator/kompose/blob/master/pkg/transformer/kubernetes/kubernetes.go#L357

[2016-10-19 12:50] kadel commented on #218
@surajssd yes this is the reason for this, and same think in `openshift.go`

[2016-10-19 13:58] kadel commented on #218
this breaks kompose for docker-compose files that are using volumes so I'm giving this P0

[2016-10-19 15:07] surajssd commented on #215
We can also use tools like [Go Meta Linter ](https://github.com/alecthomas/gometalinter)

[2016-10-19 15:53] rothgar opened #219 "Support converting OpenShift json <-> Kubernetes json/yaml"
As a user I'd like to use OpenShift json files or Kubernetes yaml files to convert manifests from one environment to the other. This seems like it would be easier to support than docker-compose files but currently is a manual process (as far as I've found).

Maybe I missed an existing issue or PR (I searched) but this would be a great addition for both communities.

[2016-10-19 16:34] sebgoa commented on #219
just to confirm, instead of transforming from docker formats to k8s/openshift, you would like to transform from openshift to k8s ?

[2016-10-19 17:32] rothgar commented on #219
Correct. That is my initial goal, but I could also see a use case to switch from k8s manifests -> openshift

[2016-10-19 23:10] ericchiang opened #222 "Switch slack channel to official kubernetes slack"

[2016-10-20 04:20] bgrant0607 commented on #96
@kadel It just happened during the move. Only org members can be assigned to issues and PRs. I had to invite all kompose contributors to the kubernetes-incubator org.

[2016-10-20 07:28] sebgoa commented on #222
yes, we need to get a #kompose channel created in k8s slack then switch over.

[2016-10-20 07:50] ericchiang commented on #222
@sebgoa thanks updated the issue. I'll ask around and see who can make this happen.

[2016-10-20 08:02] sebgoa opened #223 "Switch Copyright"
Currently still with Skippbox, I am checking a few things with CNCF to see if we move to "Kubernetes Authors"

[2016-10-20 11:38] kadel commented on #96
@bgrant0607 Thank you. I thought that this was it.

[2016-10-20 13:26] kadel commented on #219
Hi,
regarding k8s->openshift you don't need any conversion, everything that works on k8s should work on OpenShift by default.

Other way is problematic. OpenShift is superset of k8s. For most objects it will be ok (because they are same in openshift and k8s), but there are objects in OpenShift that cannot be easily mapped to Kubernetes, for example BuildConfig.

Theoretically it can be done (to so

[2016-10-20 14:02] dustymabe commented on #40
I think this can be closed now?

[2016-10-20 15:55] sebgoa commented on #223
I am working on this, I just need a green light. should be coming quickly.

[2016-10-20 15:55] sebgoa commented on #222
maybe if we just ping @sarahnovotny she will create a #kompose channel for us on k8s slack ?

[2016-10-20 16:09] sarahnovotny commented on #222
done.

(after a brief foray on the wrong slack)

On Thu, Oct 20, 2016 at 8:55 AM, sebgoa <notifications@github.com> wrote:

[2016-10-20 16:50] #222 closed

[2016-10-20 16:54] sebgoa commented on #216
@ngtuna can you take this ?

[2016-10-20 17:17] rothgar commented on #219
If it's out of scope that is fine (we can close this issue) I just think it may be a use case for some people. Me being one of those people where I often translate OpenShift -> Kubernetes manifests manually. It could help broaden available applications for both OpenShift and vanilla Kubernetes

[2016-10-20 20:22] smarterclayton commented on #219
@rothgar this has come up a few times in OpenShift as well.  Even if we don't want to do it here, I'd be open to implementing it in the OpenShift CLI or another command.  I agree the idea of:

deployment config -> deployment
route -> ingress

and vice versa would be very useful.

[2016-10-20 20:28] rothgar commented on #219
I assumed kompose would be the tool to do the conversions. It'd be nice if I didn't need `oc` or multiple conversion tools for each scenario.

[2016-10-20 21:00] dustymabe opened #226 "provide easy option for users in setup without PVs"
If a user is targeting an env without PVs it would be great if we gave them an easy option for getting up and running. Rather than having them create PVs (which can be complicated or maybe even not allowed if they don't control their environment) I think we should give them the option `--volume=empty`  to substitute in a `emptyDir` for a PVC. The --volume option would could default to `--volume=pv

[2016-10-20 21:02] dustymabe commented on #226
alternatively we could default to `emptyDir` and warn the user that if they want persistence they should provide `--volume=pvc`.

[2016-10-20 21:02] dustymabe commented on #226
This is another thing that we might want to put in a preference file as well.

[2016-10-20 21:33] ngtuna commented on #216
@ericchiang I added package.go at #227 for making `kompose` go get-able. IMHO main package named `main` is okay. There are a lot of Go projects doing like that.

Yes removing `-tags experimental` is a good point. However it's not only copy structs but kompose also depends on [bundlefile's loadFile](https://github.com/kubernetes-incubator/kompose/blob/master/pkg/loader/bundle/bundle.go#L112) I am a

[2016-10-20 22:06] ericchiang commented on #216
@ngtuna

Sure, but Kubernetes isn't one of those projects. And almost all other kubernetes-incubator repos use the `cmd/( binary name )` structure used by the Go project (see: https://godoc.org/golang.org/x/tools/cmd)

LoadFile is just calling `json.Decoder(r).Decode(bundle)`.

https://github.com/docker/docker/blob/2c620d0aa24c5f774a9115449a86b158b005bba8/cli/command/bundlefile/bundlefile.go#L37-L

[2016-10-20 22:28] ngtuna commented on #216
Oh you're right... My mistake didn't take a look into the function's detail. The thing is not simple like that with compose file parsing function.

[2016-10-20 22:48] ngtuna opened #228 "Remove experimental tag"
Creating for tracking purpose although it was suggested in #216

[2016-10-21 07:45] kadel commented on #226
This is great idea. But I would keep `--volume=pvc` as default, because I  think that `emptyDir` is dangerous for users that don't know what it does.

[2016-10-21 12:22] sebgoa commented on #219
@rothgar let's definitely keep this issue open. We talked about supporting other input formats (like nomad Jobs) for example, so we could add openshift -> k8s conversion.

And I agree that having only one conversion tool would be better.

[2016-10-21 13:06] #196 closed

[2016-10-22 04:03] #218 closed

[2016-10-22 14:19] ngtuna commented on #198
close via #221

[2016-10-22 14:19] #198 closed

[2016-10-22 14:19] #173 closed

[2016-10-22 14:20] ngtuna commented on #173
@raffaelespazzoli you got it passed on master branch now.

[2016-10-22 14:21] ngtuna commented on #202
close via #195

[2016-10-22 14:21] #202 closed

[2016-10-22 14:23] ngtuna commented on #40
Yes

[2016-10-22 14:23] #40 closed

[2016-10-22 14:25] ngtuna commented on #167
Can we close this issue ?

[2016-10-22 14:26] ngtuna commented on #165
Any update @ashetty1  ?

[2016-10-22 18:37] cab105 commented on #167
Not yet, I have another changeset that addresses this.  Will also need to open up another issue to account for the failed test.

[2016-10-22 19:14] cab105 opened #231 "Invoking kompose --bundle X.dab convert --stdout will produce two differently ordered results"
The current kompose testing framework relies on dumping the results of the command to stdout and comparing it against a known baseline.  While doing the same thing for converting bundles, kompose will alter the order of the output such that no two invocations will result in the same output (see test1.txt and test2.txt).

While this doesn't pose an issue for normal operations, this will result in t

[2016-10-23 04:57] surajssd commented on #231
@cab105 see if this helps https://github.com/kubernetes-incubator/kompose/blob/master/script/test/cmd/lib.sh#L70

It can match json even if the order changes. Also you can use functions like `convert::match_output` directly.

[2016-10-23 04:57] surajssd commented on #231
@cab105 see the usage here https://github.com/kubernetes-incubator/kompose/blob/master/script/test/cmd/tests.sh#L15

[2016-10-24 07:43] ashetty1 commented on #165
@surajssd what you said made sense. We could close this bug now.

[2016-10-24 07:43] #165 closed

[2016-10-24 08:39] sebgoa commented on #223
@sarahnovotny Hi, could you confirm that we can switch the copyright to "The Kubernetes Authors" and not to "Cloud Native Computing Foundation" even though the software was donated to CNCF in the skippbox CCLA.

[2016-10-24 10:47] sarahnovotny commented on #223
ack "The Kubernetes Authors" for consistency sake.

[2016-10-25 09:23] kadel commented on #147
Agreed,  we should start with adding  `kompose apply`.

If we want `kompose apply` for redeploy it should set `imagePullPolicy` to `Always`.
Otherwise its default value depends on how image is specified. (if image tag tag is latest - defaults to Always.  Otherwise defaults to IfNotPresent.).

[2016-10-25 13:29] #207 closed

[2016-10-25 16:15] cdrage commented on #216
@ngtuna I'm assuming it'll get rid of this error when you `go get` then?

[code]

[2016-10-25 16:27] ngtuna commented on #216
@cdrage at least it will yes, and we expect to get the binary as well.

[2016-10-25 18:51] sstarcher opened #234 "Raw Pod output"
Feature request for supporting the output of a raw Pod definition.

[2016-10-25 18:52] dustymabe opened #235 "allow for setting size of persistent volume"
Would be nice to be able to set a size of a volume other than having it hardcoded to [100Mi](https://github.com/kubernetes-incubator/kompose/blob/7435f822ed17837a4d6f472f9a0f800abe1adc95/pkg/transformer/kubernetes/kubernetes.go#L155)

Here is an example of how it is done in docker compose now. I don't think we have to do it this way, just showing an example:

[code]

[2016-10-25 19:00] sstarcher opened #236 "Support for Job objects"
Feature request to support Job objects

[2016-10-25 19:01] cab105 commented on #231
Thanks for the guideline, but the thing is that I'm running this through
convert::expect_success and convert::expect_success_and_warning so
convert::match_output is being called.

Then again, I need to debug if this is my environment or a bug with the
test scripts.

On 10/22/2016 09:57 PM, Suraj Deshmukh wrote:

[2016-10-25 19:17] dustymabe opened #237 "ReadWriteOnce set even when volume is "ro""
I'm guess that "ro" should mean read only:

https://github.com/kubernetes-incubator/kompose/blob/7435f822ed17837a4d6f472f9a0f800abe1adc95/pkg/transformer/kubernetes/kubernetes.go#L178

Should we change this to be:

[code]

[2016-10-25 19:18] dustymabe commented on #234
can you elaborate a little more on what exactly you want?

[2016-10-25 19:26] sstarcher commented on #234
Kompose currently supports

[code]

The request is for a --pod that will output a pod definition without any controller.

[code]

[2016-10-26 05:11] surajssd commented on #237
@dustymabe yes sure!

[2016-10-26 09:54] kadel commented on #236
Interesting idea. I haven't played with Kubernetes jobs  yet.
How would Job map to docker-compose?

[2016-10-26 09:57] kadel commented on #235
Yes we should start thinking how to set volume size.
Hardcoded 100Mi was just temporary solution.

[2016-10-26 10:37] sstarcher commented on #236
I was under the incorrect assumption that values that were outside of docker-compose were flags, but after closer inspection it looks like the only flag is --replicas.

The values in the Job spec that are outside of the realm of docker-compose would be
completions, parallelism , activeDeadlineSeconds

I'll close this if you think it's out of scope for kompose.

[2016-10-26 11:02] kadel commented on #236
Lets keep this open. We can maybe do something with Jobs in the future.

[2016-10-26 12:16] sstarcher opened #239 "CLI exit code on error"
When running `kompose -f file` for any invalid file or any invalid command I would expect a shell return code of non-zero.

[2016-10-26 12:37] #193 closed

[2016-10-26 14:35] #228 closed

[2016-10-26 16:59] ngtuna commented on #43
I should close this. We have chosen an alternative sword - glide.

[2016-10-26 16:59] #43 closed

[2016-10-26 16:59] ngtuna commented on #14
Should we close this ?

[2016-10-27 07:55] surajssd commented on #14
@ngtuna we have not implemented it yet so lets keep it.

[2016-10-27 09:21] ngtuna commented on #147
I'm not sure if it's out of scope of this discussion but it recalled me a great feature of kubectl that I've used frequently. Whenever I would like to change something in k8s svc, I would prefer to edit directly by `kubetctl edit` then save, kubectl takes care of updating/applying immediately.

[2016-10-27 10:13] kadel opened #242 "Add missing tests and documentations for "Service type" PR"
Add missing tests and docs for https://github.com/kubernetes-incubator/kompose/pull/189

[2016-10-27 10:25] #154 closed

[2016-10-27 10:26] kadel commented on #239
Thank for reporting it. You are right we have to fix that

[2016-10-27 12:59] kadel opened #244 "User directive from docker-compose is siletly ignored"

[2016-10-27 14:54] cdrage opened #247 "Why do tests take so long to run?"
I'm trying to figure out why the tests take so long to run, even though we only have one test file: `kubernetes_test.go`.

When I run `htop` during the test build, it's showing a lot of vendor tests being ran, is this normal?

[2016-10-27 19:52] ericchiang opened #250 "Track release goals with GitHub milestones"
Part of being in the kubernetes-incubator is regular releases and conveying the development roadmap. While the README has a section about this, it's pretty out of date, and only addresses extremely high level goals.

As discussed on the #kompose slack channel, consider using GitHub milestones to address this.

cc @dustymabe @sebgoa

[2016-10-27 19:54] dustymabe commented on #250
great idea Eric, @sebgoa can we come up with a list of things that can be achieved via a F2F meeting at kubecon? coming up with a list of milestones would be a good thing to do there when a part of the team is meeting face to face.

[2016-10-27 21:12] dustymabe opened #251 "reporting deployment when it should be deploymentConfig"
In the below scenario we are creating DeploymentConfigs and not Deployments. It's a bit misleading to report that we are creating deployments so we should fix that.

[code]

[2016-10-28 04:57] kbsingh commented on #147
@ngtuna agree; thats how i am using it in as well, but the edit/save workflow is hard to automate against. Specially in areas where the deployed endpoint would be abstracted away from the developer / coder

[2016-10-28 15:24] cdrage commented on #185
Closing this for now since this documentation could perhaps be pushed to the kubernetes.io site instead.

[2016-10-28 15:24] #185 closed

[2016-10-28 15:42] cdrage commented on #239
@kadel @sstarcher I think this is normal behavior (with regards to not doing anything). The problem is that there's no **default** behaviour when just using ./kompose

Even I just realized that there was the "Incorrect Usage." message on the top, go figure!

[code]

Like what @sstarcher mentioned, it's suppose to be 1 :) I'll work up a patch for this.

[2016-10-28 15:51] cdrage commented on #239
I'm trying to figure where to fix this with the most recent work in https://github.com/urfave/cli/pull/399

[2016-10-28 15:54] cdrage opened #253 "Issues regarding CLI. Perhaps switching to Cobra?"
Recently I've been digging through urfave trying to find a solution for  #239 (https://github.com/urfave/cli/pull/399 was the fix).

Most of these edge-cases have already been proven and used in another CLI library called Cobra. I recently found it _very_ useful and much cleaner than urfave when adding new commands and improving the UX.

Lot's of major projects using it as well as the lead develop

[2016-10-28 20:37] dustymabe opened #255 "Improving `down` to handle Volumes"
In 7349dc9 i'm proposing adding --emptyvols to the up/down operations. This raises a bigger question on whether we should enable passing the other **convert** options so that they can be used with up/down - this can be useful, but maybe not something we want to do.

[2016-10-29 00:38] #251 closed

[2016-10-29 11:54] surajssd commented on #253
+1 for cobra, but we need to make sure we don't introduce new bugs.

[2016-10-30 15:49] #226 closed

[2016-10-30 15:55] #216 closed

[2016-10-30 16:03] kadel commented on #14
Do we know about another case which would resolve in putting two containers to the same pod?

[2016-10-30 17:04] kadel commented on #253
+1 for cobra also. It looks like it is more powerful. Plus we already have it in Kompose codebase as Kubernetes dependency.

[2016-10-30 17:35] ericchiang commented on #205
kompose could definitely use more unit test. I only see two on HEAD.

I've seen a ton of PRs be merged without unit tests. Most of the work of adding new features is proper testing to prevent regressions and help reviewers have confidence in changes. It might be a reasonable idea to start enforcing tests as part of PRs as well.

[code]

[2016-10-30 17:38] ericchiang commented on #215
The regular `golint` tool already finds a lot of issues. Might want to tackle that first.

[code]

[2016-10-30 23:11] ngtuna opened #256 "can't `make binary-cross` at HEAD"
[code]

[2016-10-31 10:18] #256 closed

[2016-10-31 17:53] cab105 commented on #156
@sebgoa What I'm thinking about implementing is a new provider on par with openshift that the user could call by default, and the provide the appropriate check with kubernetes, where if the default path fails, then fallback to Minikube if it's installed.

[2016-10-31 18:58] cdrage commented on #205
@ericchiang That looks like a way better command to use to add to unit tests, perhaps we add this to the current `make test-unit` command we have?

[2016-11-01 11:16] ngtuna commented on #255
@dustymabe I think `kompose down` doesn't need to have --emptyvols option

[code]

[2016-11-01 11:29] kadel commented on #255
There is a bigger question.
If you are deleting object for `kompose down`, how you know what objects should deleted?

If user deployed using `kompose up` that there is  PersisntentVolumeClaim and if `--emptyvols` was used than there is no PVC.

Easiest solution in the case of PVC might be to always try delete PVC (basicaly always assume `down --emptyvol`)  and don't report error if there is no PVC

[2016-11-01 11:48] ngtuna commented on #163
Any chance for kompose label ?

[2016-11-01 12:16] kadel commented on #163
Yes, labels are probably only option here.

[2016-11-01 12:32] ngtuna commented on #255
Right. It's because there is no clue in docker-compose file that lets us know if pvc was created or not. From UX perspective `kompose down --emptyvols` looks a bit of weird.

Should we automatically/transparently add a kompose label for pvc to the original docker-compose file once user chooses to create pvc object ? OR should we update the strategy of generating pvc by adding label ?

[2016-11-01 12:50] kadel commented on #255
Agreed it is weird. We should force user to think about such thinks.

Annotating controller with additional information about what was used for conversion might be in general great idea. Other think that we could do is to actually inspect controller object and find out if it uses PVC or not. But i don't know how complicated this might be

[2016-11-01 12:54] dustymabe commented on #255
for `kompose down` we could use labels that were applied to each element that was created during "up" to bring the application down. so it's possible we don't have to do a "conversion" at all, just inspect for labels and delete everything that has that label

[2016-11-01 12:58] ngtuna commented on #253
+1 Cobra is great. The original kompose was a fork of libcompose that's why it's using urfave/cli.

[2016-11-01 12:59] kadel commented on #255
I was thinking about this also, but what if user deploys two different application (docker-compose.yml files) to one namespace?

[2016-11-01 13:05] dustymabe commented on #255
we could:

1 - try to use a unique name
2 - collision avoidance - if you try to "up" and there is a label conflict with the label you are going to use and a label that already exists, then error out and tell the user.

[2016-11-01 13:55] sebgoa commented on #250
yes, I will remove the roadmap in the README in a small PR.

I created 2 milestones and labels....now we need to tag the issues properly to fill up the milestone.

Still need criteria that trigger the actual release...

[2016-11-01 13:56] sebgoa commented on #247
yes that is a big one. I noticed the same thing.

We need to fix this asap.

[2016-11-01 13:58] sebgoa commented on #156
yes, that's a good idea.

[2016-11-01 14:12] #223 closed

[2016-11-01 17:09] ericchiang commented on #247
`go test ./...` will run test files in the `vendor` directory. Are you not filtering those packages out properly?

[2016-11-01 17:32] kadel commented on #247
Times on my laptop:

go test arguments     |  duration
---------------------------|-------------
`-cover -race `|   208.25s
` -cover `         |    14.48s
no args                     | 14.35s

I've run it like this
`time go test  -v $( go list github.com/kubernetes-incubator/kompose/... | grep -v '/vendor/' )`

So it looks like race condition detector is to blame.
I don't think that we need it in

[2016-11-01 18:56] cdrage commented on #247
@kadel

Create a PR for this :) #263

[2016-11-01 19:42] ericchiang commented on #247
@kadel that's because you're not caching the build assets and need to rebuild every time.

[code]

Please please please keep the race detector enabled. It's a critical tool for finding race bugs.

[2016-11-01 21:15] kadel commented on #247
OK lets keep `-race`.

I don't know that much about Go testing, I'll have to do more reading.

What is `-i` doing?

[2016-11-01 21:19] ericchiang commented on #247
Installing test dependencies. Similar to `go build` vs `go install`: http://dave.cheney.net/2014/06/04/what-does-go-build-build

Since the race detector requires recompiling dependencies, you're noticing the lack of this flag more.

[2016-11-01 23:27] ericchiang commented on #250
@sebgoa thanks! Couple of follow up todo's before I close this issue.

* Someone should update the README to refer to the milestones.
* It seems odd to have a point release milestone since kompose only has one branch. How would you release 0.2.1 features without 0.3.0 features commit to master getting in.
* There need to be more high level feature issues. As @dustymabe pointed out kubecon might be

[2016-11-01 23:30] sebgoa commented on #250
no need to close. This was just a five minute thing.

We need a release process and and write up about how to tag issues and create milestone.

[2016-11-02 11:01] kadel opened #264 "Change strategy for Deployments/DeployementConfigs"
When Kompose creates Deployments there is no strategy specified -  RollingUpdate is default.

This might cause problems with some applications using volumes, like databases.

We should consider changing strategy to Recreate, this should be safer option.

[2016-11-02 20:25] ngtuna commented on #264
Yes agree @kadel. That's something we thought about. Ref #17

[2016-11-02 20:30] ngtuna commented on #264
I'm seeing there are more and more specific options coming like deployment strategy, volume size, and so on. And we are fixing these options in code. Should we make a flexible configuration strategy like putting them into profile in the preference file, or adding kompose-specific labels. They should not be declared in flags as user doesn't want to remember all of these details in a single command.

[2016-11-03 08:06] procrypt opened #265 "Update README"
Since we no longer have `main.go` file in `cli/main/` folder, we need to update the README because README still says to [build](https://github.com/kubernetes-incubator/kompose#building) using
`$ go build -o kompose ./cli/main`

cc @kadel

[2016-11-03 14:13] surajssd commented on #264
Also consider some applications take time to start, so having Recreate by default might cause problems there. I think the default of RollingUpdate is there for a reason.

[2016-11-03 17:45] sstarcher opened #267 "Support for cpu_shares"
It would be nice to have resources limits for cpu_shares and mem_limits.

[2016-11-03 20:48] #237 closed

[2016-11-04 20:54] #265 closed

[2016-11-04 23:24] ngtuna opened #268 "Tiny issue on kompose up --emptyvols displaying"
[code]

[2016-11-05 21:07] ngtuna opened #270 "Make kompose keep trying its job"
I would suggest to make kompose keep trying its job when an error occurs. Currently we throw the error and stop doing convert/up/down immediately. I would prefer a better behavior like this:

[code]

Probably it's okay to stop the `kompose up` immediately at the time of error happening, but keep the `kompose down` working will help to clean the resources better.

[2016-11-06 05:24] kadel commented on #264
@ngtuna

Agreed, I think that we already started with labels, so those thinks should be configurable via labels.

@surajssd

I don't know. I would rather have small interruption then corrupting my database, and potentially loosing all my data :wink:
If we do it configurable via labels, RollingUpdate should be default (that i agree), but if we have to choose one without allowing user to change it ,

[2016-11-06 09:38] kadel commented on #264
I just thought how we can do it "in between" ;-) If docker-compose service doesn't have volumes we can safely use RollingUpdate and only if service has volume we will default to Recreate.

Thoughts? :-)

[2016-11-06 17:08] ngtuna commented on #270
Probably add `--force` flag

[2016-11-07 06:37] surajssd opened #272 "CPUSet is read and but do not map to k8s"
We do read the `CPUSet` from docker-compose file and do not map it to any kubernetes constructs. So either add support for it or add it to unsupported keys.

[2016-11-07 06:55] surajssd opened #273 "specifying service type right now is very docker-compose specific"
We use `labels` from docker-compose to specify type of service (e.g. `kompose.service.type: nodeport`) that gets created and this gets mapped to [`annotatations`](https://github.com/kubernetes-incubator/kompose/blob/a3495b1d6bf73dba0fd6f3af44d68f2f910e3df0/pkg/kobject/kobject.go#L135) internally but then we can do this cleanly by adding one more directive in [`ServiceConfig`](https://github.com/ku

[2016-11-07 06:59] surajssd opened #274 "kompose logo"
It would be great to have a logo for kompose project!

[2016-11-07 07:29] surajssd commented on #236
@kadel I think this can be done using docker-compose labels to define service type, if a user defines label `kompose.service.type: job` and no ports specified then we create a job controller type than service and deployment? WDYT?

[2016-11-07 09:05] ngtuna commented on #273
+1. I think that makes sense.

[2016-11-07 09:28] ngtuna commented on #236
Currently we have couple of choices for preferences: kompose-specific
labels, flags and preference file. We need to structure them correctly and
make sure they are not overlapping.

Preference file: We are seeing it as a way to define profiles to be
used including cluster info, default objects, probably user authentication
(if we don't intend to rely on kubectl anymore). IMO It should
only defines

[2016-11-07 18:11] ankon opened #275 "Support multiple compose files"
In my environment I have multiple docker-compose files: one "base", and then some more to enable additional services/options. These additional docker-compose files override/modify the base image settings.

It would be nice if kompose supported this natively: `kompose -f base.yml -f mod.yml -f other-mod.yml convert`.

Currently it simply ignores all but the last-mentioned file.

[2016-11-07 18:57] ericchiang commented on #274
If recommend holding off on this until kompose either graduates from the incubator or finds a different home. If it becomes an official kubernetes project I'm sure some of the kubernetes design folks will have opinions about a logo.

[2016-11-08 07:35] ngtuna opened #276 "support adding kompose label for bundle file"
$title

[2016-11-08 14:13] ankon commented on #275
This probably counts as "input argument validation", i.e. https://github.com/kubernetes-incubator/kompose/issues/87 is related.

[2016-11-09 00:29] cab105 commented on #156
Okay opted to go with the original approach of attempting to load via the default kubernetes context, and if that fails, then try to find minikube, prompt and use that to bring up the instance.  This way if the default context also happens to be minikube, and its not running, we'll still prompt before firing up minikube.

Now the next question is when we want to do `kompose down` and we happen to

[2016-11-11 00:20] ericchiang commented on #156
This seems like an odd feature to add and in my opinion it detracts from the goals of the project. This is going to be a nightmare supporting various configuration options, and kompose shouldn't be a tool for bringing up clusters. Such tools are incredibly hard to maintain and don't relate to converting compose files to kubernetes objects.

I'd strongly recommend just writing documentation like th

[2016-11-11 09:06] surajssd commented on #87
@janetkuo this has been fixed in https://github.com/kubernetes-incubator/kompose/pull/211

[code]

[2016-11-11 09:08] surajssd commented on #275
@ankon or this could also look like

[code]

[2016-11-11 10:48] ankon commented on #275
In principle, yes. But I think it would be good to stay consistent with docker-compose's behavior here.

[2016-11-15 09:27] sebgoa opened #281 "Add coveralls"
to track our unit test coverage, we should setup coveralls.io, it is used in the main repo.

then we need to work on the unit-tests

[2016-11-16 17:40] cab105 commented on #156
@ericchiang You do raise a good point, and this is something that could be better addressed via documentation.  @sebgoa would this approach work out better instead?

[2016-11-16 17:45] cdrage commented on #281
@sebgoa someone will have to login to coveralls.io to enable it, but I've created #287

[2016-11-16 17:57] cdrage opened #288 "`--output`, or specify folder to output converted files to"
Missing command for `--output` as I'd like to output the converted files to a different folder than current folder.

[2016-11-16 21:39] cdrage opened #291 "A better missing port warning message"
When encountering the warning from: https://github.com/kubernetes-incubator/kompose/blob/master/pkg/transformer/kubernetes/k8sutils.go#L232 I don't know what it specifically means when it says that "port" is missing.

What am I missing here? I don't believe I need to explicitly supply the port, correct?

[2016-11-16 21:46] cdrage opened #292 "Interactive / work-through-each-step mode."
So at the moment you simply run `kompose convert` and that's it. Sometimes you can pass in:
[code]

However, I'd be **awesome** to add an interactive mode where it will walk you through each step.

For example, when encountering a service *without* a port within `docker-compose.yml`, `kompose` should output the implicit section and ask the user what port that service is using. This is required for

[2016-11-17 05:36] surajssd commented on #291
Discussion on similar lines happened about detecting ports exposed from image itself at https://github.com/kubernetes-incubator/kompose/issues/146

I am +1 for better warning message or something like that.

[2016-11-17 08:28] surajssd commented on #236
So for creating jobs we can use docker-compose's `restart` for this, it's just we define some constraints like

- default value of `restart` is `always`: where we create normal `deployments` or `deploymentconfigs` and services
- if `restart` is `on-failure` we create `job` which restarts on failure
- if `restart` is `no` we create `job` which does not restart on failure

e.g. about docker-compose

[2016-11-17 13:47] surajssd commented on #288
@containscafeine created similar issue sometime back https://github.com/kubernetes-incubator/kompose/issues/209

[2016-11-18 17:05] cdrage opened #295 "Stdout shouldn't output warning / logging messages."
When doing `--stdout`. I don't think is should be outputting. `--surpress-warnings` should be set by default if passing in `--stdout`
[code]

[2016-11-19 13:50] procrypt commented on #209
@containscafeine I would like to work on it, if no one else is working on it.

[2016-11-19 14:35] procrypt commented on #276
@ngtuna can you please assign it to me.

[2016-11-19 14:40] procrypt commented on #276
Thanks @pradeepto

[2016-11-20 16:29] surajssd opened #296 "Support for secrets"
Right now there is no way I can specify secrets from docker-compose which then maps to kubernetes. This would be great thing to have.

For using this feature I had to manually create secret object and then add it to container spec in deployment.

[2016-11-21 08:49] kadel commented on #291
https://github.com/kubernetes-incubator/kompose/pull/157 should solve this.

[2016-11-21 10:59] #268 closed

[2016-11-21 12:22] containscafeine opened #298 "`script/godep-restore.sh` is failing on master"
Hi,

Running `script/godep-restore.sh` on a fresh `$GOPATH` fails with the following output -

<details>

<summary>
$ script/godep-restore.sh
</summary>

[code]
</details>

Now since `godep restore` does a `git checkout` at a given commit in a detached state, I tried the following -

[code]

Here, git cannot find the given commit in any of the branches.

Now, I have tried checking out multiple com

[2016-11-21 12:29] jpopelka commented on #236
From what I've seen the default value of `restart` seems to be `no`, i.e. the service is not restarted on exit (success / failure).

[2016-11-21 12:53] #273 closed

[2016-11-21 12:54] containscafeine opened #299 "no test/check for Godeps.json health"
Hi,

There are fair chances that `Godeps.json` might grow stale in due time due to changes in upstream (stale commits, change in git history). This could cause issues whenever some PR requires to add entries to Godeps.json, but `godep restore` fails due to broken upstream dependencies.

Does it make sense to add a CI step or a functional test for this?

Thoughts?

[2016-11-21 13:25] surajssd commented on #236
@jpopelka, yes `restart` is `no` by default for docker-compose, I was suggesting how we go about interpreting this in kompose!

[2016-11-21 13:35] containscafeine opened #300 "make `script/godep-restore.sh` more verbose"
Hi,

It would be of great help if `script/godep-restore.sh` would return more verbose output, since restoring the godeps takes quite some time, and getting a verbose output of what is happening when will be of great help.

[2016-11-21 13:39] sebgoa commented on #236
Does docker-compose really have semantics for batch jobs ?
I don't think we should try to "hack" k8s semantics on top of docker-compose ones.
the restart is really about the pods being restarted by the kubelet or not.

[2016-11-21 14:16] surajssd commented on #163
We can use `docker-compose` construct `depends_on` along with labels to define health checks.

[2016-11-21 14:20] surajssd commented on #236
@sebgoa there is no direct way to define batch jobs in docker-compose. But you can get behavior of jobs if you define docker-compose service with `restart: "no"`, it will act as job.

I didn't understand what you are trying to say here?

[2016-11-21 14:43] sebgoa commented on #236
`restart: "no"` in a docker-compose is meant to tell docker to not restart the containers if they fail.

In k8s, a Pod has a `restartPolicy`. This is the clear one to one match.

If we start using a docker-compose semantic to do something in k8s that is not a one to one match, it will get confusing really quickly.

So my question is "how do you do batch processing in Docker swarm ?"

[2016-11-21 15:20] surajssd opened #301 "When using `container_name` in docker-compose problems with dc and imagestreams"
docker-compose file i am using:
[code]

deloying app
[code]

nothing happens

[code]

manually trigger the deployment from GUI

[code]

But when `container_name` is not used everything runs fine.

[2016-11-21 16:16] ankon commented on #176
These somehow would need to get mapped into security context-y things: http://kubernetes.io/docs/user-guide/security-context/

As that seems quite complex, maybe a first step could be to ignore the option with a warning?

In my specific case: I'm trying to use kompose to do a migration from docker-compose to kubernetes, and my first goal is to get things running inside minikube, which doesn't seem

[2016-11-21 17:08] sebgoa commented on #296
Docker does not yet have a concept of secrets, does it ? I think they are working on it , but it is not there yet and not in compose AFAIK.

[2016-11-21 18:53] whereisaaron opened #303 "kompose 0.1.2 fails to parse key-only variables in environment section, does work with lists but generates invalid k8s resources"
`kompose version 0.1.2 (92ea047)`

I was exciting to try out kompose to help my colleague migrate to k8s, but I could not find any of our dock-compose files that kompose could parse. They all reported errors for the 'environment' section, such as:

[code]
or
[code]

It looks like the kompose parser doesn't support the full docker-compose spec for environment variables. If you want to pass your bui

[2016-11-21 19:26] sebgoa commented on #303
Hi, thanks for reporting this.
Docker compose reads the environment variable and uses the same as key. which we don't do (checking on it now)

For kompose, this should work:

[code]

We will check it carefully and patch kompose to support the case you mentioned.

[2016-11-22 09:18] ankon opened #306 "Default to YAML output"
As per the "[best practices](http://kubernetes.io/docs/user-guide/config-best-practices/)":

I've not followed that advice when I used kompose to convert my docker-compose files, and now need to reconvert+reapply adjustments (or convert via JSON->YAML converter).

Arguments for YAML:
* YAML allows comments
* All examples in kubernetes documentation are YAML

[2016-11-22 09:22] surajssd commented on #306
+1

[2016-11-22 09:22] sebgoa commented on #281
@sarahnovotny sorry to ping you directly, but do you know how we can enable `coveralls` for kompose. I am assuming there is a kubernetes project account.

[2016-11-22 09:24] sebgoa commented on #281
In the meantime, I logged into coveralls and requested access for kubernetes-incubator, no clue to whom the request went. Will see.

[2016-11-22 13:36] cdrage commented on #281
@sebgoa @sarahnovotny thank you both. Yeah, the PR (https://github.com/kubernetes-incubator/kompose/pull/287) failed due to no access (timeout to coveralls)

[2016-11-22 13:47] kadel commented on #236
+1

[2016-11-22 14:05] kadel commented on #236
restart from docker-compose should map to restartPolicy in PodSpec

[2016-11-22 14:16] sstarcher commented on #236
I think the confusion between how restart is referenced is how `kubectl run` reacts when you specify a restart policy.

For version >= 1.3
Always creates a Deployment
OnFailure creates a Job
Never creates a Pod

From http://kubernetes.io/docs/user-guide/kubectl/kubectl_run/
[code]

[2016-11-22 14:26] surajssd commented on #236
okay so i understand here is that we map `docker-compose` 's `restart` to PodSpec's restartPolicy, but it's done already in code.

[2016-11-23 11:22] surajssd commented on #156
This is a feature creep! Let people using kompose take care of bringing up a cluster, kompose should not do it.

[2016-11-23 11:52] johnt337 opened #308 "Convert docker-compose env files into configmaps"
# Convert docker-compose env files

## Context

When it comes to application development, our dev teams tend to want to use docker-compose for its simplicity. However we deploy to kuberentes as our runtime environment of choice.

kompose seems to be the right tool for the job. It is fast, clean, and comprehensive.

## Problem Statement

At current out dev teams have not taken to minikube and so we

[2016-11-23 13:49] kadel commented on #156
I agree that this should be solved by documentation. For example we could write some kind of tutorial - Kompose 101 that will cover using minikube with kompose.

[2016-11-23 13:53] sebgoa commented on #156
we are all in agreement then, it does look like kompose trying to do too much.
I am closing the issue and the pr. thanks @cab105 for proposing a solution though.

[2016-11-23 13:53] #156 closed

[2016-11-23 17:19] ericchiang commented on #298
[code]

Also I just downloaded all of Kubernetes, the Kubernetes go client, Docker and OpenShift ¯\\\_(ツ)\_/¯

Fyi, I tried this out with glide and it also complains about missing SHAs

[code]

cc @sebgoa this is probably a pretty high priority if you can't update dependencies.

[2016-11-23 17:25] sebgoa commented on #298
agreed, cleaning this and tests are two top priorities. Will discuss today at the meeting.

[2016-11-23 17:38] kadel commented on #298
@sebgoa @ericchiang
running just `godep restore` will fail. There is `./script/godep-restore.sh` that should be used instead of this.
Reason for this is that openshift is using its own glog and kubernetes forks (github.com/openshift/glog and github.com/openshift/kubernetes). `script/godep-restore.sh` solves this by adding openshift/glog and openshift/kubernetes remotes to original repositories.  g

[2016-11-23 17:49] ericchiang commented on #298
What features does kompose depend on that require the forked kubernetes/glog?

[2016-11-23 17:53] kadel commented on #298
Is not direct kompose dependency, some part of OpenShift that we are using requires is.

[2016-11-23 17:59] cdrage commented on #298
@kadel similar to how kubernetes split their go-client to a separate repo, if OpenShift does something similar, could we *theoretically* remove these dependencies / restore issues?

[2016-11-23 18:01] kadel commented on #298
Yes and that would be best solution it would make kompose much lighter.

[2016-11-23 18:16] janetkuo commented on #236
@surajssd In [`kubectl run`](http://kubernetes.io/docs/user-guide/kubectl/kubectl_run/), we share the same pattern (see `--restart` flag), except that when `restart` is `no`, a `pod` will be created, instead of a `job`

[2016-11-24 13:48] cdrage commented on #306
Totally agree on my part.

[2016-11-24 14:41] cdrage opened #309 "Unable to run cmd tests under Debian."
Weird issue running the `cmd` tests under Debian. Getting a weird "convert" issue running `make cmd-test`

[code]

[2016-11-24 17:58] surajssd commented on #309
@cdrage what is version of jq you have installed? Cause [here](https://github.com/kubernetes-incubator/kompose/tree/master/script/test#requirements) it says `jq 1.5`

[2016-11-24 18:53] cdrage commented on #309
@surajssd thanks man, that'd do it:
[code]

[2016-11-24 18:53] #309 closed

[2016-11-24 21:02] cdrage commented on #306
I can implement this after #304 is added since this involves changing a few of the CLI parameters.

[2016-11-24 21:02] cdrage commented on #306
@ngtuna @sebgoa Can I be added to the repo so I can self-assign / labels?

[2016-11-25 08:49] #215 closed

[2016-11-25 09:02] surajssd commented on #242
Closing since #246 is merged.

[2016-11-25 09:02] #242 closed

[2016-11-25 09:28] #244 closed

[2016-11-25 10:19] kadel commented on #301
Problem is that ConfigChange trigger in DeploymentConfig is using wrong containerName (rabbit instad of myfavrabbit). It has to match container name in spec.template.spec.containers[0].name

this gets generated
[code]
it should look like this:

[code]

[2016-11-25 10:27] kadel commented on #270
+1

I agreed for `down` it should continue cleaning even after unsuccessful deletion of one object.

For `up` it doesn't make sense  to continue because you will end up with application that is not completely deployed. But instead  if there is and error during `up` we should clean up objects that were already created.

[2016-11-25 10:33] kadel commented on #288
closing, this can be covered in #209

[2016-11-25 10:33] #288 closed

[2016-11-28 09:47] kadel opened #314 "Replace godep with glide"
We had a lot of issues with `godep` it is time to switch to `glide`.
If we use `glide` we can get rid of ugly [godep-restore.sh](https://github.com/kubernetes-incubator/kompose/blob/master/script/godep-restore.sh)

[2016-11-28 15:00] cdrage opened #315 "Update roadmap / split into ROADMAP.md with relevant information"
So a few things look out of date / completed in the road map within README.md.

I say we split this into ROADMAP.md and have a more up-to-date / future plan. Including listing all past "accomplishments".

[2016-11-28 16:07] kadel commented on #315
Can we use just Issues and Milestones for roadmap and planing?

[2016-11-28 16:28] ngtuna commented on #270
@kadel Totally agree.

[2016-11-28 16:32] cdrage commented on #315
@kadel One of my reasonings is in regards to being accepted into the Kubernetes repo. It was noted to have a clear roadmap for the future in regards to release / features / implementations.

So having a ROADMAP.md in the readme similar to: https://github.com/coreos/rkt/blob/master/ROADMAP.md

[2016-11-28 18:31] dhoer commented on #308
@johnt337 How would one determine if env-file was a secret or not? I would think all env-files would have to be a configmap.

[2016-11-28 19:55] sebgoa commented on #308
Agreed. I think we can do this with a default configmap.

Dealing with secrets would be a different issue, especially that proper secret mgt is coming in Docker.

[2016-11-28 20:34] dhoer commented on #308
When https://github.com/kubernetes/kubernetes/pull/37295 is released (k8s v1.6?) it would be nice for [env_file](https://docs.docker.com/compose/compose-file/#/envfile) entries to get converted to configmap yaml files and deployment yaml gets updated with `envFrom` configMap entries.

[2016-11-28 20:38] johnt337 commented on #308
@sebgoa OK make sense. @dhoer yea I agree since docker does not have this in functional form.
I see docker is incubating the idea https://github.com/docker/docker/issues/13490 so this might help outline how kompose could deduce the difference (down the road).

Also see https://github.com/docker/compose/issues/1534#issuecomment-110880137.

Would a flag specifying what file(s) or regex to use for sc

[2016-11-28 21:07] dhoer commented on #308
@johnt337 Should this issue be broken into 2 issues?  One for `env_file` entries and the other on handling secrets?

[2016-11-28 21:29] ngtuna commented on #303
Thanks @whereisaaron I submitted a patch above for your case.

[2016-11-29 10:18] kadel commented on #303
Hi, @whereisaaron

Does this work for you with docker-compose?
[code]

I've tried that and I got
[code]

I think that  that only possible options for this even with docker-compose are
[code]
or
[code]

[2016-11-29 10:26] kadel commented on #295
Those warning are on stderr. So it should cause  any problems. Some of the warning are quite important as they are informing about things that can make application non working properly (like missing port, or skipped volumes)

[2016-11-29 10:31] kadel commented on #176
Agree with @ankon here.
First step here should be just ignoring `:z` and `:Z` and do same what we do with regular volume mounts without selinux.

[2016-11-29 10:32] ngtuna commented on #303
@kadel Yes you're correct. it doesn't work on docker-compose. Tested with latest docker-compose 1.9.0

[2016-11-29 13:17] sebgoa commented on #250
cc #315

[2016-11-29 13:18] sebgoa commented on #209
@procrypt I just assigned this to you and put it for v0.3 release.

this has been requested at least by one user.

[2016-11-29 13:19] #167 closed

[2016-11-29 13:20] sebgoa commented on #151
I am closing this, now that we are in the incubator.

[2016-11-29 13:20] #151 closed

[2016-11-29 13:21] procrypt commented on #209
Hey @sebgoa, I think @containscafeine is already working on the issue.

[2016-11-29 13:23] sebgoa commented on #92
@ngtuna any news on this.

[2016-11-29 13:26] sebgoa commented on #234
@ngtuna that one should be pretty straightforward

[2016-11-29 13:27] sebgoa commented on #231
@cab105 can we close this ?

[2016-11-29 13:28] sebgoa commented on #87
closing

[2016-11-29 13:28] #87 closed

[2016-11-29 13:33] sebgoa commented on #192
closing this for #70

[2016-11-29 13:33] #192 closed

[2016-11-29 13:36] sebgoa commented on #315
I am going to close this in favor of #250 which talks about removing the roadmap items in the README.

So feel free to send a PR for this, I had said I would do it...

For the record, the simple bullet list roadmap was just to get a few ideas for the incubator proposal.

[2016-11-29 13:36] #315 closed

[2016-11-29 13:39] sebgoa commented on #295
agreed with kadel.

[code]

[2016-11-29 13:42] sebgoa commented on #291
Yes, I am closing. I will get back to #157

[2016-11-29 13:42] #291 closed

[2016-11-29 13:43] ngtuna commented on #92
@sebgoa it's still there. Just tested with libcompose HEAD. Let me just tackling it directly without libcompose.

[2016-11-29 13:44] sebgoa commented on #253
#304

[2016-11-29 17:21] cab105 commented on #231
I'd say not yet.  Haven't had a chance to delve into it, but will take ownership.

[2016-11-30 15:16] surajssd opened #318 "restart: Unsupported value: "OnFailure": supported values: Always"
Using this docker-compose file

[code]

which fails as
[code]

when converted it looks like this:

[code]

so this cannot be `OnFailure` it always has to be `Always` which stops us from using `docker-compose`'s `restart: on-failure` to simulate kubernetes jobs.

[2016-11-30 15:20] surajssd commented on #318
So I tried this in continuation with discussion at https://github.com/kubernetes-incubator/kompose/issues/236#issuecomment-262592263

[2016-12-01 05:33] surajssd commented on #318
But this is perfectly valid thing
[code]

a pod without controller can have `restartPolicy` as `OnFailure`

[2016-12-01 05:56] surajssd opened #320 "kompose errors identifying string in docker-compose"
when using docker-compose file
[code]

failed saying val should be string
[code]

but this works fine

[code]

[code]

also this works fine

[code]

[2016-12-05 04:43] procrypt opened #323 "Functional tests for OpenShift down"
Need functional tests for #280

[2016-12-05 06:11] ericchiang commented on #323
Shouldn't this be addressed in the PR? Why the extra issue?

[2016-12-05 11:10] kadel commented on #323
Almost all code in this touches OpenShift cluster.
To test this, it will require setting up OpenShift cluster or mocking its api.

Same situation is with up/down for k8s. We will have to figure out how we will test all this.

We don't want to block PR on that. So we created this separate issue.

[2016-12-05 11:20] kadel commented on #320
I think that this might be an issue with libcompose.
Does `restart: no` works with `docker-compose`?

[2016-12-05 11:36] kadel commented on #318
I'm afraid that this doesn't have easy solution.
I don't think that we can create just pod if there is `restartPolicy: on-failure` in docker-file.

But we could get away with just ignoring it, and showing warning explaining that this is ignored and `Always` will be used instead)

[2016-12-05 13:26] surajssd commented on #320
@kadel found the issue, it reads `no` as boolean this is inherent to `yaml`

Source: http://yaml.org/type/bool.html

[2016-12-05 13:26] surajssd commented on #320
Closing since we cannot do anything with the yaml spec.

[2016-12-05 13:26] #320 closed

[2016-12-05 13:42] surajssd commented on #318
@kadel but then this is not solving our original problem of how do we simulate k8s-job like workflow with kompose and docker-compose?

[2016-12-05 15:05] kadel commented on #318
I'm not even sure if we should simulate Kubernetes job.

You propose creating Job if there is `restart: on-failure`?

[2016-12-05 15:17] kadel commented on #236
There is also another thing that we should be aware.
We are assuming different default value for `restart` than docker-compose does.
If you don't specify restart docker uses `no` as default.
But kompose is creating controller objects (Deployments, ReplicationSets..) and they all have `restartPolicy: Always` (podSpec in those objects can't have different restartPolicy)

[2016-12-05 15:44] kadel commented on #236
So what I understand from @janetkuo  and @surajssd comments there is a proposal to handle restart values like this:

docker-compose restart value | object created by kompose |  |
-----------------------|----------------------|----------------
no restart specified |  controller object
`always`  |  controller object
`no`  |  Pod
` on-failure`  |  Job | can have max-retires argument:  `on-failure[:ma

[2016-12-05 17:14] bgrant0607 commented on #144
If you're going to branch out from Compose format, you may want to join forces with https://github.com/micahhausler/container-transform

[2016-12-07 08:33] sebgoa opened #327 "Determine group membership"
Currently it seems that I cannot add folks to the contributor group.

We need a group that can attache labels, and assign tickets to themselves.

+ determine who gets write access to the repo.

There is no incubator wide rules on this afaik.

[2016-12-07 08:39] #250 closed

[2016-12-07 08:51] sebgoa opened #328 "Get kompose in kubernetes repo"
kubeadm can be installed via:

[code]

We need to get kompose in the pipeline to get added there.

[2016-12-07 09:08] #281 closed

[2016-12-07 15:10] bgrant0607 commented on #327
@sebgoa As team maintainer, you can add team members, you just can't add org members -- only org owners can do that.

Related:
https://github.com/kubernetes/community/issues/142

Any ideas, @philips?

[2016-12-07 15:40] bgrant0607 commented on #327
https://help.github.com/articles/adding-organization-members-to-a-team/

[2016-12-07 15:46] sebgoa commented on #327
I always feel stupid with these...but, since I am not an org owner I cannot send an invite to a non-org member. Even if I am the team maintainer, I can only invite org members.

we are trying to add @cdrage , ideally to just give permissions to add labels and assign issues to himself. But I don't think there is that granularity in teams.

[2016-12-07 17:00] kadel opened #330 "Improve coveralls.io reporting"
Packages that don't have any tests are not included in coveralls report.

We should find a way how to include them in reports, so we have accurate coverage number.

[2016-12-07 17:01] kadel commented on #330
Workaround might be creating one empty *_test.go file in every package.

[2016-12-07 18:14] kadel commented on #234
this could be solved with `restart:no` if implement as discussed  in https://github.com/kubernetes-incubator/kompose/issues/236

[2016-12-07 18:18] sebgoa commented on #236
ok fine with me

[2016-12-07 18:22] sebgoa commented on #234
@sstarcher you want all docker services to be in a Single Pod, or a Pod per docker services ?

[2016-12-07 18:25] kadel commented on #236
small modification to this.
Lets start implementing this but when `restart: on-failure` than convert to Pod with restartPolicy= OnFailure

[2016-12-07 18:35] sebgoa commented on #328
@dustymabe is kompose in main EPEL repo now ?

[2016-12-07 18:53] cdrage opened #331 "Removing unconventional two letter flags + adding dashes in-between two letter words."
Using multi-two-letter flags is unconventional and against common CLI usages.

For example:

[code]

Should either be JUST `--rc` or `--replicationcontroller`.

Ideally, flags with two names should have dashes in between them, such as `--replication-controller`.

Common CLI tools such as `kubectl` and `oc` use these conventions and considering most of the users are coming from these tools, we shou

[2016-12-07 18:55] cdrage commented on #331
Kubectl example using two-letter words with dashes:
[code]

And when referencing replication controller, it's conventionally used with a dash in-between the words:

[code]

[2016-12-07 18:56] bgrant0607 commented on #327
cc @grodrigues3 @fejta

[2016-12-07 19:05] ericchiang commented on #328
Probably after incubator graduation?

[2016-12-10 01:22] surajssd commented on #327
Sorry about that missed clicking

[2016-12-11 18:50] bgrant0607 commented on #327
Invited @cdrage to org.

[2016-12-11 18:50] #327 closed

[2016-12-12 14:31] kadel commented on #306
I don't think that we should block this on #304
This will be easy fix and it would be great to get it finally in.

My proposal for this is:
 - add new `--json -j` option to `convert` command, that will export to JSON only if set.
 - change  default  format to yaml if no option is specified
 - when user sets `--yaml` show warning that this option is deprecated and that yaml format is default.

I wo

[2016-12-12 17:17] #301 closed

[2016-12-12 17:25] sstarcher commented on #234
I would say all in one pod would be preferable.

[2016-12-12 17:27] ericchiang commented on #234
Is this for constructing your own jobs or something? It seems odd to have kompose generate invalid manifests, particularly when you can just use jq to filter the output already.

[2016-12-12 17:28] sstarcher commented on #234
Invalid manifests? A pod is a valid manifest.

[2016-12-12 17:29] ericchiang commented on #234
Ah, right. Sorry, brain fart.

[2016-12-12 23:58] OguzPastirmaci opened #335 "Support for host:container:protocol"
Marked as fixed in #158 but I still get the same error.

Definition in docker-compose file:
ports:
  - 127.0.0.1:15000:15000/tcp
  - 127.0.0.1:15001:15001/udp

FATA[0000] "agent" failed to load ports from compose file: invalid host port "127.0.0.1:15000:15000/tcp"

root@350035d7afc9:/compose# kompose -v
kompose version 0.1.2 (92ea047)

Let me know if I'm missing something.

[2016-12-13 14:34] ngtuna commented on #292
Yeah this used to be discussed during summer. We should keep it in mind and for some special cases need interactive mode we will discuss (probably on kompose call). Also, in those special cases, I would suggest we should provide both (for example, adding `--silent` flag for non-interactive mode)

[2016-12-13 14:37] ngtuna commented on #318
so with #334 pod will be created instead of Job if there is `restart: on-failure`.

[2016-12-13 18:05] surajssd commented on #318
@ngtuna yes you are right!

[2016-12-14 00:55] juanpastas commented on #154
Is not clear for me, can I create an Ingress yet? using `expose`?

[2016-12-14 10:44] vasil-moneybird opened #336 "yml support"
Do you guys plan to bring support for yaml files. Currently `kompose` generates JSON files only.

[2016-12-14 12:13] pradeepto commented on #336
Hi @vasil-moneybird

Kompose already supports conversion to YAML format. Use the `-y` switch to the commandline and  read more about it in the user [guide](https://github.com/kubernetes-incubator/kompose/blob/master/docs/user-guide.md).

And here's the [issue]( https://github.com/kubernetes-incubator/kompose/issues/306) for converting to YAML as default.

[2016-12-14 12:22] sebgoa commented on #154
@juanpastas what do you mean by Ingress ?

If you mean an ingress rule (assuming you have an ingress controller running), the answer is no.

Every Docker _service_ in the compose file gets exposed via a Kubernetes service. By default this service is of cluster IP type. If you want to automatically generate a nodeport or load balancer type service you can specify that using a label in your compose

[2016-12-14 12:24] vasil-moneybird commented on #336
Cool thanks, I guess I didn't search enough :)

[2016-12-14 12:24] #336 closed

[2016-12-14 14:32] surajssd commented on #154
@juanpastas you can have ingress created automatically for you once we have PR https://github.com/kubernetes-incubator/kompose/pull/285 merged

[2016-12-14 16:45] juanpastas commented on #154
thanks @surajssd.

Do you know how is it possible to:

- Create volumes with an specified size?
- Delete old replica sets when using `kubectl apply -f my.yml`, I read that I need to specify `deployment.spec.revisionHistoryLimit` [here](https://github.com/kubernetes/kubernetes/issues/23597), is this something kompose helps me with?

[2016-12-15 06:23] #208 closed

[2016-12-16 08:10] #314 closed

[2016-12-16 14:09] cdrage commented on #300
@containscafeine since #314 is closed, should we close this too?

[2016-12-16 17:20] cdrage commented on #37
@cab105 @sebgoa I can take this over once #304 is merged, as it has implemented support for bash completion.

[2016-12-16 17:20] cdrage commented on #275
I can work on this once #304 is merged :) Add supported for multiple file import.

[2016-12-16 17:30] cdrage commented on #239
Fixed in #304 which exits correctly with a proper error code.

[code]

[2016-12-19 17:21] #303 closed

[2016-12-20 02:37] so0k commented on #308
Do you see an evolution towards using Minikube locally? We're still at a stage where dev teams haven't adopted anything right now. I was playing with the idea of skipping the compose step and use Minikube as suggested.. We are using Helm Charts for everything and this would mean a Helm chart that takes parameters to run on a single-node Minikube install as well a more appropriate Prod install and

[2016-12-20 06:08] surajssd commented on #308
@so0k what are you trying to suggest here? Something where kompose can improve?

[2016-12-21 12:48] containscafeine commented on #300
@cdrage yessir!

[2016-12-21 12:48] #300 closed

[2016-12-21 12:52] #209 closed

[2016-12-21 13:53] surajssd opened #342 "kompose up/down not creating/deleting POD object generated with convert"

[2016-12-22 11:43] #140 closed

[2016-12-22 16:14] cdrage commented on #342
Hey @surajssd do you mind giving a test example? I'm trying to replicate this.

[2016-12-22 16:19] cdrage commented on #335
@OguzPastirmaci

Yup. This looks like an error, we're testing against:

[code]

but
[code]

doesn't work and this:

[code]

errors out.

[2016-12-22 16:28] cdrage commented on #272
Hmm. Seems that a limit range must be added in order to add this to Kubernetes!

http://kubernetes.io/docs/admin/limitrange/

I'm assuming we should warn the user if CPUSet is set?

[2016-12-22 16:31] cdrage commented on #231
https://github.com/kubernetes-incubator/kompose/pull/338 has been merged. This is safe to be closed.

[2016-12-22 17:19] #231 closed

[2016-12-23 12:13] surajssd opened #343 "fix unit tests that cause warnings"
There are some unit tests that cause warnings which clutters the unit test output

[code]

[2016-12-25 09:48] containscafeine opened #344 "support for stdin_open and tty keys"
Hi,

My docker-compose.yml looks something like -

[code]

`kompose up` gives me -
[code]

Since these keys are unsupported, the pod goes from Running to Completed to CrashLoopBackOff

[code]

It would be great if `stdin_open` and `tty` could be supported.

Here is the equivalent in Kubernetes world -

[code]

[2016-12-26 07:04] #239 closed

[2016-12-27 09:30] containscafeine opened #345 "Show "next steps" after kompose convert"
It would be great if we output a message relaying the "what next" information after `kompose convert` is run.

For e.g.
- If a `pvc` object is created, we should display something like "you need to have a `pv` ready to use this object"
- In case of a missing port, "you might want to expose this service manually since kompose could not detect a port"

Thoughts?

[2016-12-27 10:21] containscafeine opened #346 "kubernetes_test.go and openshift_test.go follow different patterns"
It would be great if `openshift_test.go` follows the same pattern as `kubernetes_test.go`. Currently the way the tests are written vary very differently, and I don't see the need for them to vary.

[2016-12-27 11:21] containscafeine opened #348 "Abstract out api.PodSpec in kubernetes.go"
`api.PodSpec` is being used 4 times in `kubernetes.go` for RC, Deployment, DS and Pod generation.

Just putting it out there that this can be abstracted out.

[2016-12-27 11:35] surajssd commented on #348
:+1:

[2016-12-27 11:44] surajssd opened #349 "Tests before merge"
After a maintainer does merge, tests should run with PR rebased with master, and if all tests pass then only merge should happen. I think this can be implemented with travis.

[2016-12-28 10:27] containscafeine opened #351 "Improve logging messages in unit tests"
If would be great if unit tests throw better log messages while bring run, this would help in better troubleshooting which tests are failing and which are passing.

[2016-12-28 10:48] #344 closed

[2016-12-28 18:58] containscafeine opened #352 "add support for docker-compose.yaml besides docker-compose.yml"
It would be great if kompose would also look for `docker-compose.yaml` besides `docker-compose.yml` in the current directory.

[2016-12-28 19:17] surajssd commented on #352
I guess default should always be one value.

[2016-12-29 15:33] containscafeine commented on #352
@surajssd IIRC, docker-compose supports both, should we or not?

[2016-12-30 05:02] rtnpro commented on #97
With support for openshift **buildconfig** implemented, we are now in a position to complete the end-to-end build story by supporting local builds for kubernetes and openshift.

Below, I am documenting the local build feature.

## Goal

To support ``build`` directive in a Docker Compose service for Kubernetes (and hence Openshift) by building images locally and pushing it to a registry.

## Issue

[2016-12-31 11:50] ngtuna commented on #92
This issue just be solved in libcompose https://github.com/docker/libcompose/issues/415. Will check that piece of code shortly.

[2017-01-02 04:48] pradeepto commented on #96
Can this issue be closed via https://github.com/kubernetes-incubator/kompose/pull/206 ? cc @surajssd @rtnpro

[2017-01-02 04:50] pradeepto commented on #97
@rtnpro Thank you for the proposal.
I have one question though - one of the tenet of Kompose is that the user doesn't need docker engine / CLI installed / running. This proposal assumes that Docker engine / CLI is installed and running. Is that correct?

To be clear, I am NOT against the proposal. In fact, I would like to see this done and will highly appreciate the end-to-end feature in Kompose.

[2017-01-02 06:24] surajssd opened #353 "Add support for s2i in buildconfigs for OpenShift"
right now the build startegy is Docker only, it would be great if s2i is also supported.

[2017-01-02 06:25] surajssd commented on #96
since https://github.com/kubernetes-incubator/kompose/pull/206 is merged, closing this in favour of more specific issue https://github.com/kubernetes-incubator/kompose/issues/353

[2017-01-02 06:25] #96 closed

[2017-01-02 10:04] surajssd commented on #352
i guess we should!

[2017-01-02 18:49] rtnpro commented on #97
On Mon, Jan 2, 2017 at 10:20 AM, Pradeepto Bhattacharya
<notifications@github.com> wrote:

Yes

[2017-01-03 12:01] kadel opened #354 "error should be displayed If controller object is specified and `restart: on-failure`"
[code]

[code]

I would expect error or at least warning.

[2017-01-03 12:02] kadel commented on #154
Hi @juanpastas, currently none of those are possible to change with kompose.

In future we might add something to allow specifying size of volumes.
If you want to change those you can use `kompose convert` and then edit files before deploying using `kubectl`

[2017-01-03 12:04] kadel commented on #253
closing as #304 was merged

[2017-01-03 12:04] #253 closed

[2017-01-03 12:12] kadel commented on #342
what this is about?

[2017-01-03 12:15] #275 closed

[2017-01-03 12:18] kadel commented on #342
@surajssd
Is this issue about this?

[code]

[code]

[2017-01-03 12:23] surajssd commented on #342
here is the docker-compose file i am using
[code]

when doing convert
[code]

when doing up nothing is created
[code]

sorry for incomplete info above.

[2017-01-03 12:39] kadel commented on #70
How about doing time based releases?

We could do release every month.
Everything that has been merged to master would be included in the release.

Thoughts?
@sebgoa @ericchiang @ngtuna @janetkuo @surajssd @cdrage

[2017-01-03 13:19] surajssd commented on #70
:+1: for timely releases @kadel

[2017-01-03 14:06] containscafeine opened #355 "kompose binary per merge? (add nightlies)"
Hi team,

We are merging PRs to master which result from the issues we face during deployments everyday. This code goes into master and we can build it locally after pulling it.

Is there any way we can host the kompose binary somewhere, resulting from the current state of master?

This would help in making the conversion and deployment automated by simply downloading the binary and running it ins

[2017-01-03 14:27] kadel commented on #355
Long time ago, I created something like this for Henge:
https://github.com/kadel/henge/blob/travis-deploy/hack/upload-master-builds-to-dropbox.sh

[2017-01-03 14:40] kadel commented on #97
@pradeepto

If we assume that Kompose is used by developers developing containerized applications that they will need Docker anyway. (More so if they have docker-compose file with `build`. So I would say that Docker as requirement for supporting  builds is fair.

Kompose will be still useful without Docker (it will be required only if build is used)

@rtnpro

We don't need any metadata to override

[2017-01-03 14:41] pradeepto commented on #355
Throwing this in the ring. https://docs.travis-ci.com/user/deployment/releases/ Basically, uploading the binary to GH releases via Travis.

[2017-01-03 14:44] kadel commented on #346
What do you mean by very differently?
They test different thinks, but otherwise they follow similar pattern in how they are written.

[2017-01-03 14:52] kadel commented on #355
Looks good. This would be better than dropbox/drive... If we plan to keep only latest binary (nigtly).

But if we want keep history of binaries (for every PR), than I think other place would be better, as github releases page might become chaotic.

[2017-01-03 15:39] cdrage commented on #331
Okay since #304 was merged, this can be closed.

[2017-01-03 15:39] #331 closed

[2017-01-03 15:39] #295 closed

[2017-01-03 19:23] cdrage commented on #247
I'm going to close this for now. The length of the tests is negligible since the main blocker of this is the time it takes to initially compile.

While watching `htop` I see that it's compiling files from the `vendor` directory. Specifically Kubernetes.

Once Kompose has compiled, tests are ran in less than 5 seconds.

[2017-01-03 19:23] #247 closed

[2017-01-03 22:01] ngtuna commented on #97
+1. I think that makes sense to have Kompose triggers the `docker build`, then having docker installed or not is out of kompose's scope. I suggest to define kompose label for target repository instead of flag.

[2017-01-04 06:39] ncoghlan opened #357 ""Failed to unmarshal MaporSlice" attempt to convert Sentry quick start"
I attempted to use the Fedora `kompose` package to convert https://github.com/getsentry/onpremise to Kubernetes/OpenShift and got the following error:

[code]

The Fedora package was last updated in October though, so I'm going to try building from source and see if that works:

[code]

[2017-01-04 07:12] ncoghlan commented on #357
Building from source gives exactly the same error.

[2017-01-04 11:03] surajssd commented on #357
@ncoghlan tracked in library used by kompose called libcompose https://github.com/docker/libcompose/issues/428

[2017-01-04 18:04] #306 closed

[2017-01-04 18:24] surajssd commented on #234
@sstarcher this is not what kompose would do, but if you want pod per docker-compose service and not have a controller, you can use docker-compose's `restart` construct, read about it here https://github.com/kubernetes-incubator/kompose/blob/master/docs/user-guide.md#restart

[2017-01-04 18:24] #234 closed

[2017-01-04 20:16] surajssd commented on #318
With https://github.com/kubernetes-incubator/kompose/pull/334 merged this issue is solved.

[2017-01-04 20:16] #318 closed

[2017-01-04 20:19] surajssd commented on #17
@ngtuna closing in favour of https://github.com/kubernetes-incubator/kompose/issues/264

[2017-01-04 20:19] #17 closed

[2017-01-04 20:21] surajssd commented on #177
i don't think this is required/valid so closing it.

[2017-01-04 20:21] #177 closed

[2017-01-04 20:29] surajssd commented on #298
@containscafeine closing this since we moved to glide this is irrelevant.

[2017-01-04 20:29] #298 closed

[2017-01-04 20:51] sstarcher commented on #234
@surajssd sounds fine I'll just manipulate the output

[2017-01-04 21:00] sstarcher commented on #234
@surajssd that's exactly what I wanted.  #334

[2017-01-05 06:42] surajssd commented on #234
@sstarcher that solves it then :+1:

[2017-01-05 10:17] kadel opened #358 "disable coveralls.io comments"
It is starting get a little bit annoying that coveralls comments to for every push to PR.

Maybe we should consider disabling coveralls comments (this can be done in coveralls.io settings). Increase or decrease of coverage for PR can be still seen in status checks.

I think that only one who has permission to change coveralls.io settings are repository admins (@sebgoa)

[2017-01-05 10:28] kadel commented on #70
We discussed this at yesterday's  community meeting.
We will try to do release every month, on the last week of the given month. Versioning will follow semantic versioning standard.

[2017-01-05 11:47] kadel commented on #97
we don't need label for that. As repository is part of the image name and that can be set by `image` keyword in docker-compose file.

[2017-01-05 17:36] surajssd opened #361 "cmd tests written after `convert::files_exist` does not pass"
In cmd functional tests in `script/test/cmd/tests.sh` after function `convert::files_exist:` is called any other function like `convert::expect_success` does not pass.

[2017-01-05 22:41] ngtuna commented on #97
Yes I agree. If user doesn't set repository in the image name then we make the default to docker hub.

[2017-01-06 06:59] surajssd commented on #357
@ncoghlan I applied following diff and it worked for me:
Ideally this should be solved in kompose/libcompose, but this could be short term solution for you to move forward:

[code]

[2017-01-06 07:07] surajssd commented on #97
But also consider the part where images need to be pushed to registry? Who will do that user does manually or kompose does build and push both(using docker in backend)?

[2017-01-06 11:20] #361 closed

[2017-01-06 11:41] kadel commented on #97
Kompose will do it. It will use docker engine to do build and push.

[2017-01-06 13:42] surajssd commented on #97
okay so we are assuming here that user will have:

- docker daemon running locally
- setup docker-registry
- docker daemon is set up to push to private registry by adding registry info in `/etc/sysconfig/docker`
- user is authenticated with the registry

[2017-01-06 14:37] containscafeine opened #364 "add support for mem_limit in kompose"
It would be great to have support for [mem_limit](https://docs.docker.com/compose/compose-file/#/cpushares-cpuquota-cpuset-domainname-hostname-ipc-macaddress-memlimit-memswaplimit-oomscoreadj-privileged-readonly-restart-shmsize-stdinopen-tty-user-workingdir) which should translate to a pod's spec like -

[code]

[2017-01-06 14:42] cdrage opened #365 "Unsupported root level networks key despite no networks"
The warning could be a bit more descriptive, but upon converting:
[code]

It appears to output a warning in regards to a root level network, despite none being defined.

[code]

[2017-01-06 15:39] kadel commented on #364
there already is issue for that #267

closing as duplicate

[2017-01-06 15:39] #364 closed

[2017-01-06 15:40] containscafeine commented on #267
It would be great to have support for [mem_limit](https://docs.docker.com/compose/compose-file/#/cpushares-cpuquota-cpuset-domainname-hostname-ipc-macaddress-memlimit-memswaplimit-oomscoreadj-privileged-readonly-restart-shmsize-stdinopen-tty-user-workingdir) which should translate to a pod's spec like -

[code]

[2017-01-06 15:47] kadel commented on #97
Yes, it will be usually local docker or boot2docker on mac.
Technically he need just docker client configured to connect to any docker daemon.

That is one of the options that user has. He can use some hosted registry like Docker Hub or quay.io
In case of OpenShift, it is possible to use integrated registry, if it is exposed.

If his registry is signed by untrusted certification authority or selfs

[2017-01-06 16:59] surajssd commented on #267
@containscafeine :+1:

[2017-01-08 12:43] procrypt commented on #352
@containscafeine @surajssd can any one of you assign it to me.

[2017-01-08 12:44] procrypt commented on #354
@kadel can you assign it to me.

[2017-01-09 05:44] surajssd opened #369 "panic on using --build-branch and default docker-compose file given"
[code]

but if given a file with `-f` flag as following everything works fine

[code]

[2017-01-09 15:00] kadel commented on #39
I'm still  not sure what benefit this brings to users. :confused:

For me it just adds unnecessary complexity.

When will user need multiple profiles with different settings (like different controller object or different provider)? Is there a real use-case for it?

I can think only one case and profiles is overkill for it:
I'm using old Kubernetes  and I don't want to use Deployments. Than it is a

[2017-01-10 04:37] surajssd commented on #369
@kadel this should be fixed before release.

[2017-01-10 11:12] containscafeine commented on #147
### Goal

To introduce a top level command which will patch/update the already deployed resources with the newer updated configuration

### Issue

If the docker compose file is updated after the application is deployed using `kompose up`, the only way to deploy the updated artifacts using `kompose` is to either undeploy - deploy the application again using kompose up, or create another namespace f

[2017-01-10 12:44] rtnpro commented on #97
Initial work pushed to #372

[2017-01-10 16:07] kadel commented on #147
There is also another option. Don't do it at all. Let users do it manually like using something like this `kompose convert --stdout | kubectl apply -f -`

But if we do it I would go with something simple like `replace`. It is not Kompose job to cover whole workflow.

[2017-01-10 20:10] containscafeine commented on #147
@kadel even `replace` will mean that changes made might be discarded, or connection to the current endpoints might be disrupted, since the resources are being created again.

That is why Kubernetes refuses to do a replace because `spec.ClusterIP` is set as an immutable field as it might cause issues to be unset and set again, unless we pass a `--force` with it. Not sure if `replace` is the best wa

[2017-01-10 21:48] ngtuna commented on #39
@kadel Yes I agree the preference file is now a bit of overcomplicating. The idea of this file originally happened during summer when @sebgoa would like to see a good way to switch between providers and default objects. But now kompose has changed a lot. So now we should again investigate the advantages and disadvantages of having a preference file and probably define an alternative solution.

- A

[2017-01-11 09:17] containscafeine commented on #299
Since we have moved away from godep, closing this.

[2017-01-11 09:17] #299 closed

[2017-01-11 12:58] rtnpro commented on #97
In case of supporting local builds for openshift, let's add an optional flag: ``--local-build`` for ``convert`` for openshift provider. By default, Openshift will use buildconfig.

[2017-01-11 13:27] kadel commented on #358
disabled ;-)

If someone wan't that enabled. let me know. we can turn that on if there is a reason for it.

[2017-01-11 13:27] #358 closed

[2017-01-11 14:17] kadel commented on #97
I would probably do it other way around. As BuildConfig requires relaxed
permissions on OpenShift cluster that are not in default configurations. I
think that we should use local build as default for OpenShift.

On Wed, Jan 11, 2017 at 1:58 PM, Ratnadeep Debnath <notifications@github.com

[2017-01-11 15:58] kadel commented on #342
fixed in #363

[2017-01-11 15:58] #342 closed

[2017-01-11 17:05] cdrage commented on #335
Hey @ngtuna @kadel

Adding IP mapping via the port makes the *most* sense in regards to mapping to ClusterIP / LoadBalancerIP.

Would make things *awesome* in regards to scenarios of specifying certain IP addressing for each service.

Here's an example:

[code]

Converts to:

[code]

Does this make sense?

Or should we warn the user instead that it's not supported?