[2017-01-11 20:02] ngtuna commented on #335
@cdrage Does docker-compose have that kind of port format ? And is that a real use-case user want to have a fixed IP address for k8s service clusterIP ?

[2017-01-11 20:26] cdrage commented on #335
@ngtuna Yes, the definition in a Docker-Compose file uses the ip:port:port format. Fixed IP address in a cluster is necessary if you have a pool of IP addresses.

[2017-01-11 20:40] cdrage commented on #267
I'll start working on this. I'll assign myself to this issue!

[2017-01-11 20:54] cdrage commented on #267
Assigning to @containscafeine instead.

[2017-01-11 21:20] ngtuna commented on #335
Yeah I didn't notice that format. Can we warranty reusing that IP address for k8s clusterIP will work ? I remember when setting up k8s cluster, a clusterIP range is defined. I would suggest while accepting that port format we shouldn't set the clusterIP address.

[2017-01-11 22:19] containscafeine commented on #267
Sigh, okay, so taking a look at the `mem_limit` part, and having implemented it, turns out that if the docker-compose.yaml looks like -
[code]

i.e., has a non integer value, then, `kompose convert` fails with -

[code]

Tracking this down further, this is a libcompose issue and `libcompose up` fails with -

[code]

However, trying `libcompose up` with the [latest release](https://github.com/docke

[2017-01-12 05:51] surajssd commented on #335
@ngtuna :+1:

[2017-01-12 10:33] kadel commented on #267
@containscafeine can you test it with  https://github.com/kubernetes-incubator/kompose/pull/356?

[2017-01-12 11:46] kadel commented on #335
Shouldn't this IP address map to `hostIP` in [ContainerPort](https://kubernetes.io/docs/api-reference/v1/definitions/#_v1_containerport)?

[2017-01-12 13:18] cdrage commented on #335
@kadel You're right. That'd be a better place to put it.

[2017-01-12 15:05] containscafeine commented on #267
@cdrage just tried this with #356, and mem_limit fails. This is fixed in the latest release of [`libcompose`](https://github.com/docker/libcompose/releases/tag/v0.4.0), can we upgrade to that?

[2017-01-12 17:10] cdrage opened #376 "Should we not generate PVC's by default?"
The current default is to generate a PVC with *only* 100Mb of available memory.

Ex:
[code]

Yet it still build PVC's.

Should we (by default) NOT generate volume mounts?

[2017-01-12 17:49] #92 closed

[2017-01-12 17:54] containscafeine commented on #264
@kadel taking this up!

[2017-01-13 10:19] kadel commented on #376
I'm not sure if I understand :-(
What are you proposing to do with volumes instead?

We already had this discussion in some other issue. I still think that PVC is right approach here.
And if for some reason you want to avoid that you can use `--emptyvols` option.

But I agree that 100Mb default is bad. We need to make this configurable for user.

[2017-01-13 14:57] cdrage commented on #376
@kadel I find it odd that we have a default to 100Mb and the volumes are inherently not working correctly since it's ignored on the host.

[2017-01-13 21:10] jonathanstiansen opened #379 "Converting docker-compose file on mac: `panic: runtime error`"
Hey guys, first post. If I need anymore info, just let me know. First time use, trying to follow your README but this is what I got. I used the `go get` method of installation

Details:
Mac OSX El Capitan 10.11.6

[code]

My docker-compose file:

[code]

[2017-01-16 06:22] surajssd commented on #379
@jonathanstiansen thanks for reporting this issue! Tracked at https://github.com/docker/libcompose/issues/430 in upstream.

[2017-01-16 11:31] kadel commented on #376
The host part will always be a problem as we don't have easy way how to copy data from the machine to the cluster :-(

[2017-01-18 12:07] ashetty1 opened #382 "kompose down with openshift doesn't delete BuildConfig"
I tried running `kompose down` with the buildconfig example here: https://github.com/kubernetes-incubator/kompose/tree/master/examples/buildconfig

It doesn't delete the buildconfig.

[code]
[code]

[2017-01-18 14:53] #343 closed

[2017-01-22 09:47] Hashfyre opened #388 "error: Could not unmarshal '<nil>' to type <nil>"
Platform:
  os: OS X Yosemite - 10.10.5 (14F2109)
  kompose: version 0.1.2 (92ea047)
compose-file:
[code]
Angular brackets are indicative of replacement text.

Command:
 - `kompose -f docker-compose.yml convert`

Error Output:
 - `ERRO[0000] Could not parse config for project <project> : Cannot unmarshal '<nil>' to type <nil> into a string value`

[2017-01-23 14:04] cdrage commented on #388
@kadel Could it be because GIT_TOKEN is passed as `GIT_TOKEN:` ?

[2017-01-23 14:06] cdrage commented on #388
@kadel @Hashfyre

Yup.. Seems that a blank `GIT_TOKEN:` is the cause of the issue:

[code]

[2017-01-23 14:08] cdrage commented on #388
@Hashfyre

Could you change your docker-compose file to use this instead?

[code]

instead of

[code]

[2017-01-23 15:21] kadel commented on #388
I have yet to check this deeper, but it looks like that that error message is coming from libcompose. We should check if libcompose has the same problem parsing it.

[2017-01-24 13:58] cdrage opened #390 "Docker DAB support does not currently work (still in experimental)"
Converting the current example we have produces this error:
[code]

[2017-01-25 12:56] #176 closed

[2017-01-25 16:56] cdrage opened #391 "Container Port and Node Port mapping default to open"
When mapping a port, for example:
[code]

in the Docker Compose file. It's the same as simply doing

[code]

Is this normal? Exposing the ports by default when converting them to a service?

[2017-01-25 17:03] cdrage opened #392 "By default, remove protocol: TCP in conversion to artifacts"
By default, TCP is selected.

https://kubernetes.io/docs/api-reference/v1/definitions/#_v1_serviceport

We should not include `protocol: tcp` in the resulting yaml / json conversion since it's already set by default.

[2017-01-27 07:00] Hashfyre commented on #388
The same syntax works as per docker-compose. As in, the compose file works with:
`docker-compose up -d --build`
once I have  exported `GIT_TOKEN` to my shell.

Currently, the following syntax works:

[code]

If docker-compose supports the initial syntax of
[code]

shouldn't kompose also support it?

[2017-01-27 07:08] #388 closed

[2017-01-30 14:21] #354 closed

[2017-01-30 14:21] #352 closed

[2017-01-30 14:28] cdrage commented on #146
@kadel https://github.com/kubernetes-incubator/kompose/pull/157 has been merged, would this be closed?

[2017-01-30 15:35] cdrage opened #400 "Tagging for 0.2.1 release"
Hey all,

I've closed the milestones for the 0.2.1 and 0.3.0 release since both were completed to 100%. Makes sense to go straight to a 0.2.0 release rather than arbitrarily skipping a major release number.

Should we tag all new bugs as part of the 0.2.1 release and all major changes as part of the 0.3.0 release?

[2017-01-30 15:35] cdrage commented on #400
ping @kubernetes-incubator/maintainers-kompose

[2017-01-31 17:29] surajssd commented on #146
@cdrage yes this can be closed.

[2017-01-31 17:29] #146 closed

[2017-01-31 17:35] surajssd commented on #388
@Hashfyre thanks for the feedback, build support for k8s is WIP and @rtnpro is looking at it right now in https://github.com/kubernetes-incubator/kompose/issues/97

[2017-02-01 11:03] procrypt opened #404 "unit tests for error out if controller object is specified with restart: on-failure."
Add units tests for #354

[2017-02-01 21:58] arcolife opened #406 "environment variables not being set in buildConfig"
relevant dockerfile snippet: https://github.com/arcolife/sarjitsu/blob/master/lib/datasource/Dockerfile#L26

https://github.com/arcolife/sarjitsu/blob/master/docker-compose.yml#L21
This is the environment variable, whose value I expect to be picked from the env file (based off of docker-composed env file) https://github.com/arcolife/sarjitsu/blob/master/.env file and set in the generated buildconf

[2017-02-02 13:27] cdrage commented on #406
So right now I don't think we support automatic looking / importing of `.env` files. But it is something that we *should* support!

Thanks for pointing this out.

[2017-02-03 16:41] cdrage opened #410 "Cannot unmarshal float environment values."
When passing in a float value through `env:` seems to fail:

Ex:
[code]

[code]

[2017-02-05 07:47] pivulic opened #411 "Wrong version (0.1.2) in "kompose versione" (instead of 0.2.0)"
## Problem
I'm having the same issue as http://stackoverflow.com/questions/41738374/kubernestes-persistentvolumeclaim-is-not-bound, but thought I should upgrade from 0.1.2 to 0.2.0.

However, running `kompose version` displays **0.1.2 (HEAD)** instead of **0.2.0**

## How To Recreate
Following the Mac OS steps:
[code]

Same result if I run:
[code]
## Actual Result
`0.1.2 (HEAD)`

## Expected Resul

[2017-02-05 12:51] #392 closed

[2017-02-05 19:28] pivulic opened #412 "Error to parse docker-compose v3 format"
## Problem
When trying to create named volumes that can be reused across multiple services (without relying on volumes_from due to "[PersistentVolumeClaim is not bound](http://stackoverflow.com/questions/41738374/kubernestes-persistentvolumeclaim-is-not-bound)"), kompose is unable to parse docker-compose.yml version 3 format.

See: https://docs.docker.com/compose/compose-file/#/volume-configuratio

[2017-02-06 07:31] surajnarwade commented on #411
this issue has  already been fixed.

$ kompose version
0.2.0 (64433fd)

[2017-02-06 08:38] procrypt commented on #382
@ashetty1 `buildconfig` support was not present when `kompose down` for openshift got merged. Thanks for reporting the issue.
@kadel I'm working on it.

[2017-02-06 11:49] procrypt commented on #412
@pivulic `Kompose` does not support docker-compose version 3 yet.

[2017-02-06 12:33] surajnarwade commented on #410
@cdrage , I was working on this issue, I found that, this error occurs due to libcompose, so I raised an issue https://github.com/docker/libcompose/issues/435
(if you passed float value in quotes, it works)

[2017-02-06 12:47] michaelharrer commented on #412
when will it be available? (roundabout)

[2017-02-06 12:54] surajssd commented on #410
Is this working with docker-compose ?

[2017-02-06 12:55] surajnarwade commented on #410
@surajssd , yeah, it works with docker-compose but not with libcompose

[2017-02-06 14:16] cdrage commented on #411
@surajnarwade @pivulic

Looks like I created the binaries incorrectly (did not sync with master before release, boo on me!).

I'll update them so it *actually* shows 0.2.0 as the expected result on `kompose version`.

In regards to volumes, @surajnarwade is correct that you need to create a Persistent Volume before using PersistentVolumeClaim.

[2017-02-06 14:19] cdrage commented on #410
@surajnarwade As a work-around, should we update in our code to convert it to a string before being passed in?

[2017-02-06 14:37] cdrage commented on #411
@pivulic Release has been updated to include the proper `kompose version` output.

Mind checking it again? :)

[2017-02-06 14:38] cdrage commented on #412
@surajssd Hey man, do you know if this will be updated upstream in libcompose?

[2017-02-06 14:39] cdrage commented on #412
Ahhhh, just found the issue: https://github.com/docker/libcompose/issues/421

We'll have to wait for this to be updated upstream @michaelharrer @pivulic

[2017-02-07 02:36] jonathanstiansen commented on #379
@surajssd Thanks! I appreciate that.

[2017-02-07 05:34] surajnarwade commented on #410
@cdrage , sounds good actually, I would like to work on it then

[2017-02-07 10:09] surajnarwade commented on #410
@cdrage , I tried to work on this, this error occurs due to libcompose, hence as a work around, we can tell user that if you want to put float value, put it in quotes.

[2017-02-07 13:25] cdrage commented on #410
@surajnarwade That wouldn't be a great work-around, our code should automatically detect that the environment variables are *not* in quotes and put them in converts / convert to string before passing to libcompose.

I did however take a quick look through the libcompose code and it doesn't seem too daunting to fix it upstream.

[2017-02-08 14:29] cdrage commented on #411
Going to close this for now as I was able to confirm that the version works with the new binary!

[2017-02-08 14:29] #411 closed

[2017-02-08 16:04] kadel opened #416 "Improve error handling"
In some places like for example [here](https://github.com/kubernetes-incubator/kompose/blob/master/pkg/transformer/kubernetes/kubernetes.go#L491) we are printing errors using `logrus.Fatalf` deep inside code.

It would be better if function returned error that can be processed outside of this function (higher in call stack). Code will be cleaner and it will be easier to write unit tests.

I think

[2017-02-08 20:00] pivulic commented on #411
Thanks @cdrage! (and sorry for the late reply) Works perfectly! 👍

Regarding creating a Persistent Volume, I looked through the [guide](https://kubernetes.io/docs/user-guide/persistent-volumes/), but isn't `kompose up` supposed to take care of it, if my `docker-compose.yml` file already has the volumes configured?

Let me know if I should create a separate issue for this, or if you can refer me so

[2017-02-09 04:57] procrypt commented on #416
Printing errors using `logrus.Fatalf`,  will need unit test to run a seperate `subprocess` to test the functionality of the code.

[2017-02-09 05:02] surajssd commented on #416
@procrypt I think what @kadel is trying to say here is that instead of any function doing random `logrus.Fatalf` we just change that function to return errors and the function calling it should gracefully do `logrus.Fatalf` with all the resources giving back to the pool if there are any.

[2017-02-09 05:07] procrypt commented on #416
@surajssd  Yeah I got the point, what trying to say is that otherwise we need to do it in [this](https://github.com/kubernetes-incubator/kompose/issues/416#issuecomment-278547474) way, which might be a bit convoluted.

[2017-02-09 05:41] surajssd commented on #411
@pivulic it might feel like kompose should take care of this but the problem here is that `PV` can only be created by user with `system:admin` privileges, and there are multiple ways to create PV with various backends, now kompose might not know beforehand what is the type of cluster(minikube where hostPath can be used, multi-node cluster with admin access, cluster with only nfs, openshift online,

[2017-02-09 05:43] surajssd commented on #416
`this` is self pointing here.

[2017-02-09 06:59] surajnarwade commented on #410
@cdrage, I tested kompose with your PR on libcompose, https://github.com/docker/libcompose/pull/437
its working.

[2017-02-09 07:24] surajnarwade commented on #406
@cdrage , kompose does support automatic looking/ importing of .env files, but it's supporting only for deploymentconfig but not for buildconfig.

[2017-02-09 10:00] surajssd commented on #412
yeah v3 is still WIP in upstream and I guess once that is done we can move to it.

[2017-02-09 11:23] surajssd commented on #391
I think so, because if you don't create a service name resolution wont happen from other pods. And it's safe because services are by default exposed as `clusterIP` which is not accessible from outside cluster.

[2017-02-09 11:26] surajssd commented on #376
@cdrage can you elaborate what do you mean here?

[2017-02-09 13:26] surajssd commented on #369
I think this is fixed with #368 so closing it.

[2017-02-09 13:26] #369 closed

[2017-02-09 13:33] cdrage commented on #411
Yeah, we're going to improve how we convert volumes in terms of logging as well as documentation, it's the biggest thorn when converting at the moment as they don't exactly translate 1-1 with Kubernetes.

[2017-02-09 13:35] cdrage commented on #406
@surajnarwade Wanna open an issue detailing as to what works vs. doesn't and close this one? Outlining exactly what issues occur.

[2017-02-09 13:45] cdrage commented on #376
@surajssd We default to 100Mb in PVC's and if PV's aren't setup on the cluster Kompose won't warn the user / fail since PVC's will be stuck in a pending state the entire duration.

[2017-02-09 13:46] cdrage commented on #391
Yeah, kind of realized that this issue was me just being a Kubernetes noob :) Closing! Thanks @surajssd

[2017-02-09 13:46] #391 closed

[2017-02-09 13:47] cdrage commented on #412
@michaelharrer @pivulic

The best way to "workaround" this is simply removing the "deploy" section of your V3 file and changing the `v3` value to `v2` and it'll work fine. Luckily there aren't any *too* major changes between the versions :)

[2017-02-09 17:04] containscafeine opened #419 "publicly hosted API endpoint for kompose"
Hey team,

We've had some discussions around it but never opened an issue, so here it is.

Does it make sense for `kompose` to have an publicly hosted API endpoint where users can just `curl` and send their Docker Compose files and it returns the converted artifacts?

I'm suggesting something like -

`curl -X POST -F file=@docker-compose.yml kompose.io/convert` and then we return Kubernetes artifa

[2017-02-09 17:31] cdrage commented on #419
@containscafeine

As an alternative, instead of an API, it would make more sense to have a demo on http://kompose.io similar to the "Go" playground. Build it with Go as a back-end with http server + react.js / vue.js as a front-end. Simply paste your docker-compose.yaml file in and output goes the kubernetes artifacts!

[2017-02-09 18:28] idcrook opened #420 "underscores get propagated into invalid names"
searched for dupes, and found none.

docker compose file has name like: `phant_server:` in yaml, which contain embedded underscores. `kompose` does not normalize the name, resulting in invalid names being used.

#### pvc

[code]

yields error

[code]

#### deployment

[code]

## possible normalization suggestions

phant_server -> phant.server
phant_server -> phant-server
phant_server -> phantserve

[2017-02-09 19:11] containscafeine commented on #419
@cdrage makes sense, I have no idea about web stuff, but sounds cool. It can double up as an API as well.

[2017-02-09 19:46] pivulic commented on #412
What "deploy" section? :) The reason why I'm trying the `v2` version, is to be able to use [named volumes](https://docs.docker.com/compose/compose-file/#/volume-configuration-reference), instead of using [volumes_from](https://docs.docker.com/compose/compose-file/#/volumesfrom), trying to get around the "[PersistentVolumeClaim is not bound](http://stackoverflow.com/questions/41738374/kubernestes-p

[2017-02-09 21:24] cdrage commented on #419
@containscafeine yup. that's what I'm getting at :)

[2017-02-09 21:26] cdrage commented on #412
@pivulic Ahhhhh. I got my facts wrong. I thought the only large difference was the `deploy` section of v3. They added named volumes too! We'll see what we can do to fix it. Funny enough, another issue was just opened in regards to using underscores and such in volume names (bug), we could possibly fix two issues with one PR :)

[2017-02-10 05:43] surajnarwade commented on #406
@cdrage yeah that will work

[2017-02-10 06:25] surajssd commented on #376
@cdrage yes PVCs will fail when PV is not provisioned, but then kompose right now generates configs that are cluster agnostic with little extra setup needed.

We can expect PV to be setup already.

[2017-02-10 09:36] kadel commented on #37
closing, this was done in #370

[2017-02-10 09:36] #37 closed

[2017-02-10 09:40] kadel commented on #400
I don't know if I understand :-(

Does is make sense to plan like this if we are doing time based releases?

[2017-02-10 09:51] #335 closed

[2017-02-10 13:07] cdrage commented on #400
I'm not *too* sure. But yeah, you are correct though. Since we are doing time-based releases, tagging wouldn't be necessary / as well as milestones.

How should we keep our progress instead / future features?

[2017-02-10 13:17] kadel commented on #400
I was thinking that maybe just priorities might be enough. But I'm not sure about that, just an idea.

[2017-02-11 02:28] sambostock opened #421 "Unable to build from source"
I'm trying to create a [Homebrew](http://brew.sh/) formula for Kompose.

[code]

However, **I can't get the build to succeed**. I've tried all the build methods listed in [`README.md`](https://github.com/kubernetes-incubator/kompose/blob/master/README.md).

#### `make bin`
[code]

#### `go build -o kompose main.go`
[code]

#### `CGO_ENABLED=0 GO15VENDOREXPERIMENT=1 go build -o kompose main.go`
[co

[2017-02-11 08:26] sebgoa commented on #421
FWIW, we had a very early formulae before the move to the incubator, but it was not a source build:
https://github.com/skippbox/homebrew-tap

Why do you want to compile after doing a `brew install` ?

`brew install` should get you the binary directly.

[2017-02-11 15:37] kadel commented on #421
@sambostock:
It looks like your GOPATH is not right. This is reason you are getting `main.go:19:8: cannot find package "github.com/kubernetes-incubator/kompose/cmd" in any of:....`

`make: glide: Command not found` error should be fixed in the next version (once #418 is merged)

I was trying to do same thing yesterday :-).

And this is what I come up with:

[code]

It works, but has one small flaw

[2017-02-11 15:55] kadel opened #422 "wrong git revision number in version output"
code revision from which binary is build is wrong.

[code]

`kompose version` should output same revision as current source.
 It looks like there is commitid inside [version.go](https://github.com/kubernetes-incubator/kompose/blob/master/cmd/version.go#L29)  Shouldn't this show HEAD as default or something like this?

What if we get rid of this? Do we need to show  commit id in version output?

[2017-02-11 23:40] cdrage commented on #422
Ahhh.. I changed it to show the Git Commit for the current version instead of HEAD... Should we just get rid of this instead?

[2017-02-13 16:17] cdrage commented on #390
@ngtuna Any idea why this may be happening? I'm assuming problems with floating values not being converted.

[2017-02-13 20:49] containscafeine opened #426 ".env file is checked at current directory instead of target directory"
examples/docker-compose file -
[code]

examples/.env file -
[code]

When I run,
`kompose  convert -f examples/docker-compose.yml`, the environment variable does not get substituted and I get
[code]

However, when I do,
[code]
the value is substituted.

So, kompose is looking for the .env file in the current directory instead of the target directory where the docker-compose file is present.

[2017-02-14 02:16] surajssd commented on #426
@containscafeine thanks for the issue, have you checked if this is coming from libcompose? If yes maybe needs to be filed in upstream.

[2017-02-14 02:43] surajssd opened #427 "`make test-unit` does not run on uncomitted changes"
[code]

How do I run tests of kompose like it was before? I never had need to commit changes to test them?

[2017-02-14 10:24] containscafeine commented on #292
@cdrage @ngtuna how do we proceed with this?

Instead of a `--silent` flag, should be instead have `-i, --interactive` flag?

Also, the possibilities of going interactive for a particular option/behavior are quite a few, so should we do this iteratively instead? e.g., let's start with adding one for when the ports are not found, and keep on sending PRs as and when we go?

Thoughts?
CC: @kadel @sur

[2017-02-14 10:49] kadel commented on #292
What would be use cases for interactive mode? What question would like to ask?

Ports are solved and we don't need interactive mode for that.

[2017-02-14 10:57] containscafeine commented on #292
@kadel - umm..., something like -

- no value set for environment variable $image, enter now :
- build specified, but no git repo initialized, enter now:

There can be more cases as and when we go, WDYT?

[2017-02-14 10:59] containscafeine commented on #163
We have [heathcheck](https://docs.docker.com/compose/compose-file/#/healthcheck) in docker compose v2.1, should I go ahead and pick this up?

[2017-02-14 11:09] containscafeine commented on #270
Hey @ngtuna, are you working on this?

[2017-02-14 11:11] containscafeine commented on #416
@kadel taking this up!

[2017-02-14 12:31] procrypt commented on #348
@containscafeine taking this.

[2017-02-14 12:45] surajssd commented on #422
@kadel you re-opened this? Why is that so?

[2017-02-14 14:35] kadel commented on #422
I hoped that we might discuss here if maybe we wan't to get rid of whole commitid (showing commit id in `kompose version` output)

[2017-02-14 14:36] #404 closed

[2017-02-15 08:37] surajssd commented on #420
@idcrook see if it works for you!

[2017-02-15 09:04] surajssd commented on #292
We first need to create a layer around the way data comes in. With this addition data will be coming in from cmd line flags, defaults and interactive mode.

this will help us do validation from one place only.

[2017-02-15 10:42] kadel commented on #410
Closing. Fixed in #425

[2017-02-15 10:42] #410 closed

[2017-02-15 15:35] kadel commented on #427
I don't have to commit anything. Nothing changed there. `make test-unit` runs test on current state of the directory, doesn't matter if changes are commit or not, it doesn't even have to be git repo.

[2017-02-15 15:50] idcrook commented on #420
Thx

[2017-02-15 18:29] surajssd commented on #427
yeah seems like I mis-understood something, sorry for the spam, closing this duplicate.

[2017-02-15 18:29] #427 closed

[2017-02-16 19:19] cdrage opened #430 "Deprecating v1 and only supporting v2 and v3"
v1 will eventually be deprecated by docker-compose. As well as the fact that v1 honestly doesn't convert that well when going from Docker to Kubernetes (especially with the networking + volumes section of v2 providing a lot of ease for it).

Should we deprecate v1 and focus our efforts on only v2 and v3?

[2017-02-17 09:31] kadel commented on #430
This made me thinking, so I tried to get some statistics how are different versions used.

docker-compose.yml files in github, only ~29% v2 files  and rest v1

How I got there:
I've used Google BigQuery with github public data set: https://cloud.google.com/bigquery/public-data/github

To make it easy I assume that there is no v3 (or at least right now it is so small number that it doesn't matter).

[2017-02-17 09:37] sebgoa commented on #430
nice data query. I think it is very informative.
we could try to run a poll on Twitter (not that it would be super viable but it would give some data points).

I think we need to have v3 supported (in a branch), before removing v1.

We can have a policy to support the current version of compose and the one before.

[2017-02-17 09:55] kadel commented on #430
Agreed we shouldn't drop v1 before supporting v3

[2017-02-20 05:50] surajnarwade opened #431 "test showing PASS, even if command not found"
I tried to run,
[code]
but I found this output,
[code]
Test are passing even if it shows command not found.

[2017-02-20 07:13] containscafeine opened #432 "move functional tests to golang"
Hi,

Currently, currently all the functional tests being run by `make test-cmd` are written in shell scripts, which are very difficult to maintain, debug and produce _a lot_ of false positives e.g. #431, etc.

Should we move these to golang for better testing?

(thinking out loud: how about python which has a rich set of testing libraries e.g. `py.test`)?

Thoughts?

[2017-02-20 11:17] kadel commented on #432
:+1:  for writing them in go.

I think it is better to avoid adding new language with additional dependencies, even if it is just for testing.

[2017-02-21 07:19] surajnarwade opened #433 "Normalizing service name might break application"
cc @surajssd @containscafeine

[2017-02-21 08:07] #264 closed

[2017-02-21 12:32] sebgoa commented on #390
I am proposing a GSoC project to improve the dab support:
https://github.com/cncf/soc

[2017-02-21 16:35] kadel commented on #433
Good catch.

But I'm afraid that only thing that we can do here is show warning and make it clear what we are doing with service names in documentation

[2017-02-21 16:45] cdrage commented on #390
@sebgoa Should we deprecate this feature since it's still experimental within Docker and at the moment doesn't work with Kompose?

[2017-02-21 16:50] sebgoa commented on #390
if it does not work, it is a regression that we should fix.

[2017-02-21 16:54] kadel commented on #390
Is DAB actually used somewhere? Do we know if someone is using dab even with docker?

[2017-02-22 08:33] sebgoa commented on #390
Honestly I have not kept up with the dab development. but I will check.

[2017-02-22 15:04] kadel opened #435 "Add documentation for mem_limit"
Add documentation for https://github.com/kubernetes-incubator/kompose/pull/414

[2017-02-22 15:47] #348 closed

[2017-02-22 21:10] cdrage opened #436 "Support for: tmpfs"
No error / warning when using this key.

[2017-02-22 21:18] cdrage opened #437 "Support for: group_add"
No error / warning when using this key.

[2017-02-22 21:22] cdrage opened #438 "Support for: isolation"
No error / warning when using this key.

[2017-02-22 21:25] cdrage opened #439 "Error / Support for: links"
No error / warning when using this key.

[2017-02-22 21:27] cdrage opened #440 "Support for: stop_grace_period"
No error / warning when using this key.

[2017-02-22 21:29] cdrage opened #441 "Support for sysctls"
[code]

[2017-02-22 21:29] cdrage opened #442 "Support for: ulimits"
No error / warning when using this key

[2017-02-22 21:31] cdrage opened #443 "Support for: userns_mode"
No error / warning when using this key

[2017-02-22 21:34] cdrage opened #444 "Support for: volumes_from"
Does not warn / error out when used.

*Should* we generate a persistentvolumeclaim?

[2017-02-23 08:48] procrypt commented on #441
@cdrage want to work on it.

[2017-02-23 11:09] kadel opened #445 "Inconsistency in build context"
I have two docker-compose files, that should do the same thing

build.yaml
[code]

context.yaml
[code]

I'm in the directory that is one level up from the directory where those docker-compose files are.

If run convert on first file like this:
[code]
I get BuildConfig that has `contextDir: build`. That is corrent.

But If I use second file that is using expanded way to define build
[code]
I get Bu

[2017-02-23 13:09] procrypt commented on #441
@cdrage I want to work on it, after we finish up with the discussion :)

[2017-02-23 13:16] cdrage commented on #441
Yeah :) I think that we *shouldn't* support sysctls as I can't find anything compareable in Kubernetes.

[2017-02-23 13:16] cdrage commented on #441
Adding it to list of unsupported keys would be helpful.

[2017-02-23 16:07] dkarlovi opened #446 "Support for private Docker registry ImageStream"
I'm trying to setup OS to pull images from my private registry:

    # docker-compose.yml
    services:
      web:
        image: registry.example.com/my/example.com:latest
        build:
          context: .
          dockerfile: ./.infra/docker/nginx/Dockerfile

My desired output would be:

    apiVersion: v1
    kind: ImageStream
    spec:
        tags:
        -
            from:

[2017-02-23 17:14] cdrage opened #447 "Support for: top-level volumes."
Using a top-level volume errors out and is unsupported:
[code]

[code]

[2017-02-25 08:42] containscafeine commented on #446
Hey @dkarlovi,

Currently we do not have an option not to generate a BuildConfig if `build:` section is there in the docker compose file, so for this use case, it'd make sense to comment out the `build:` section in the docker compose file (that's what I do).

Also, the issue title says `Support for private repository ImageStream`, I'm not sure what does this mean? If you are talking about a privat

[2017-02-25 09:37] dkarlovi commented on #446
@containscafeine thanks for your reply.

I'm talking about private Docker registry, not private Git repository, changed the title to reflect that, sorry about the confusion.

Idea is, my CI process builds the images and runs the whole process on them, it makes sense to use those exact images when actually running your production.

The poiint of this issue is to allow for additional semantic when c

[2017-02-25 20:06] surajnarwade opened #452 "Separate key:"value" pairs in kobject.go"
this was error in travis with GO 1.8 version
[code]

I have added fix in PR #424

[2017-02-25 20:08] surajnarwade commented on #445
contextDir should always be with respect to root directory of git repository, I have added fix in PR #424

[2017-02-27 06:19] surajnarwade commented on #426
@surajssd @containscafeine , issue is coming from libcompose and I filed it in upstream, it can be tracked here https://github.com/docker/libcompose/issues/443

[2017-02-27 09:57] kadel commented on #452
this was already fixed in https://github.com/kubernetes-incubator/kompose/pull/449

[2017-02-27 09:58] kadel commented on #445
hi @surajnarwade, thank  you for fixing it,  but it would be better to have this as separate PR

[2017-02-27 09:59] #452 closed

[2017-02-27 13:39] cdrage commented on #400
Closing this for now as we've just had a successful 0.3.0 release as well as we're going forward with time-based releases :)

[2017-02-27 13:39] #400 closed

[2017-02-27 14:28] jamstar commented on #296
So one instance that would be supported now would be in use of environmental variables.  the docker compose for my project i just converted sets stuff like the username and pass for a database as env variables. ill convert them over to using secrets

[2017-02-27 19:32] dmilind commented on #47
When I convert using kompose only json files are populating instead of yaml.

[2017-02-27 19:43] dmilind commented on #47
thanks @cdrage

[2017-02-28 03:52] surajssd commented on #444
`volumes_from` is supported construct.

[2017-02-28 17:55] cdrage opened #456 "Error with unsupported keys not showing up in warnings"
Seems that nothing warns in regards to any of the unsupported keys from `compose.go`, with the exception of "networks".

This code:
[code]

[2017-02-28 17:56] cdrage commented on #456
For example, running:
[code]

Only produces an error from `build` being passed in. That's it.

[2017-02-28 18:10] cdrage commented on #456
Ahhhh nevermind, it was a problem with my build. a git --reset and a git clean -d -f then a make build solved it.

[2017-02-28 18:10] #456 closed

[2017-03-01 05:38] procrypt commented on #436
@cdrage Taking this up.

[2017-03-01 06:59] procrypt commented on #442
@cdrage warning is there when we use `ulimits`.
[code]
`$ kompose convert --provider=openshift`
[code]

[2017-03-01 07:27] pradeepto commented on #435
Bumped into this issue while I was discussing other issues, I think we can close this issue. What do you think @kadel ?

[2017-03-01 09:08] procrypt commented on #441
@cdrage `kompose convert -f sample.yml --stdout`
[code]
This is libcompose issue.

[2017-03-01 09:41] procrypt commented on #443
@cdrage This is libcompose issue.
[code]

Issue created on `libcompose` https://github.com/docker/libcompose/issues/444

[2017-03-01 11:31] louisremi opened #461 "Wrong version, again"
I just downloaded linux-0.3.0 and installed it. When I run `kompose version` I get `0.2.0 (10cff91)`.
Also, I gave 0.3.0 a try because I had troubles with underscores in volume names, and after running `kompose convert`, the underscore were still present. I'll try compiling from source to confirm, but could it be possible that the published version does not include that patch?

[2017-03-01 12:32] kadel commented on #461
Hi @lavalamp,
You are right, we uploaded binary that is showing wrong version number in `kompose version` :-(
Binary is correct it is compiled from latest source (in time of the release).

Underscore problem got fixed in service names, but not in volume names :-(
We will fix that.

[2017-03-01 12:38] kadel commented on #420
Opening this issue again as #429 fixed this problem only for service names, same problem is still in volume names.

[2017-03-01 12:57] containscafeine commented on #416
FYI: I have done some work [here](https://github.com/containscafeine/kompose/tree/improve_error_handling)

Also, I will be using the github.com/pkg/errors package to wrap and push the errors up the call stack.

Just keeping everyone in the loop.

[2017-03-01 13:12] kadel commented on #461
@cdrage we need to do something to make sure that we don't release binaries with wrong version again.

[2017-03-01 13:43] containscafeine opened #463 "stripping kompose binary?"
When doing a `go install`, the resulting binary is 73M, and on doing a `go install -ldflags "-s"`, I am getting a 38M binary, which is essentially stripping the binary.

We can achieve the same by using the `strip` command on the binary.

Should we strip the kompose binary and release it? This gets the size down by about 50%, however there may be some tradeoffs like -
- https://bugs.debian.org/cgi

[2017-03-01 14:14] kadel commented on #444
I'm closing this as we kompose have support for `volumes_from`. If anyone disagree feel free to open it.

[2017-03-01 14:14] #444 closed

[2017-03-01 14:24] kadel commented on #436
There is actually euivalent in Kubernetes.
Its EmptyDir volume that has  `medium: "memory"`

https://kubernetes.io/docs/user-guide/volumes/#emptydir

[2017-03-01 14:31] kadel commented on #442
yes, we show warning for ulimit. And as far as I know, currently there is  no way in Kubernetes how to set ulimits .

Closing this, feel free to re-open it if you disagree.

[2017-03-01 14:31] #442 closed

[2017-03-01 14:50] procrypt commented on #438
@cdrage `isolation` has only one value for Linux which is `default` and for windows it has a some value to pick from like `process`, `hyperv` and `default`. The doc says this option is useful in situations where you are running Docker containers on Windows.
Do we need to add support for this? [Reference](https://docs.docker.com/engine/reference/commandline/run/#specify-isolation-technology-for-con

[2017-03-01 14:57] kadel commented on #438
It doesn't make sense to map this to Kubernetes. We can display warning if it is set to something else than default.
But I wouldn't worry about that for now. I don't think that this is used.

[2017-03-01 14:59] cdrage commented on #442
Ah yeah, you're right, I missed that with "ULimits" in `compose.go`

[2017-03-01 15:16] concaf opened #464 "using kompose as a library"
Is it possible to use `kompose` as a go library, which can just be imported and used.

Something like `artifacts := kompose.Convert("/app1/docker-compose.yml", "kubernetes")`.

It would be very useful to be able to use kompose as a library, we should investigate that :)

CC: @kadel

[2017-03-01 15:40] kadel commented on #439
`links` can be silently ignored.
Links are just injecting env variables with information about ips and ports. Kubernetes is injecting same env variables to pods by default.

[2017-03-01 16:00] kadel commented on #353
I don't think it makes sense to add support for S2I to Kompose.
I defies purpose of Kompose. Kompose is tool that helps docker-compose users move to Kubernetes.

S2I is replacement for Dockerfiles. And everyone who is using docker-compose with `build` is building images using Dockerfiles.

I just don't se a way how we can support s2i builds and also making sure that same docker-compose.yml file wi

[2017-03-01 17:17] stephanosbacon commented on #353
What about in effect generating an s2i builder image given a Dockerfile?  Or if the base image in the Dockerfile is a builder image, then the rest of the Dockerfile takes the place of the assemble and run scripts of the builder image?

[2017-03-01 18:15] surajssd commented on #463
Lets test on all arch with stripped binaries if functional test pass that should be good, then add it to the build script in Makefile.

[2017-03-01 18:19] surajssd commented on #296
@jamstar yeah that needs to be done manually!

[2017-03-01 20:15] cdrage commented on #439
:+1:

[2017-03-01 20:15] #439 closed

[2017-03-01 20:16] cdrage commented on #441
thanks @procrypt :) I'll subscribe to that issue.

[2017-03-01 20:16] cdrage commented on #441
woops, closed by accident

[2017-03-01 20:21] cdrage commented on #435
@pradeepto Still pending for this being merged https://github.com/kubernetes-incubator/kompose/pull/448 as it's part of the documentation :)

[2017-03-01 20:22] cdrage commented on #461
Yeah, this is totally my fault, I had forgotten to add a function from a previous project to this release script in regards to syncing with the master repo before upload / making of the binaries.

I've fixed this in #465

[2017-03-02 05:41] procrypt commented on #438
Can we close this issue?

[2017-03-02 08:35] kadel commented on #438
I note here. `issolation` is in compose version 2.1 and up.
2.1 is not yet supported by libcompose.

[2017-03-02 08:36] kadel commented on #463
I wouldn't worry about that right now. It might bring more troubles than benefits.

[2017-03-02 11:07] procrypt commented on #437
@cdrage `group_add` is supported by `libcompose` but I'm having some trouble using it, opened up an issue on `libcompose`.
https://github.com/docker/libcompose/issues/446

[2017-03-02 11:15] procrypt commented on #438
@kadel adding it to the list of unsupported keys.

[2017-03-02 13:31] procrypt commented on #440
@cdrage Opened up an issue on `libcompose`.
https://github.com/docker/libcompose/issues/447

[2017-03-03 10:59] kadel commented on #435
#448 was merged. That should be enough to document it for now.

[2017-03-03 10:59] #435 closed

[2017-03-03 16:38] kadel commented on #436
My proposal is to convert `tmpfs` to empty dir volume.

for docker-compose.yml like this:
[code]

kompose should generate objects that have PodSpec like this:
[code]

`volumeMounts` and `volumes` are important parts.

[2017-03-03 17:28] spullara opened #471 "Panics parsing volume config"
I think it maybe because they are at the top level

[code]

then defined later in particular services:

[code]

exception:

[code]

[2017-03-03 19:40] cdrage commented on #436
@kadel That looks great. I think that'd be the best way to convert 'tmpfs" to Kubernetes. Even if it's not used very much in docker-compose I think it's an *awesome* way to convert to a kubernetes-equivilant.

[2017-03-06 08:27] zanhsieh opened #473 "RFE: kompose up support specified namespace to deploy"
I propose to have following syntax cli for kompose:

[code]

Behaviour expected:

- Deploy all docker-compose container(s) specified in `docker-compose.yml` into given kubernetes namespace (e.g. `dev` for example above)

Usage:

- Help developer easy to deploy into certain / isolate namespace in kubernetes, e.g. dev, staging, uat, and production.

This request relates to following issue, but I don

[2017-03-06 10:17] kadel commented on #471
Hi @spullara,
Thank you for reporting it. It looks like this is issue in libcompose - https://github.com/docker/libcompose/issues/430 . Should be fixed in next release.

[2017-03-06 10:32] kadel commented on #473
Hi @zanhsieh,
adding `--namespace` is good idea it will make switching namespace more user friendly, thank you for bringing this up.

Currently you can deploy to different namespace  using `kompose up` only if you switch default namespace for `kubectl` before.

`~/.kube/config`.
[code]

[2017-03-06 14:45] cdrage commented on #471
@kadel Perhaps we can update the vendoring for Kompose ? :+1:

[2017-03-06 14:47] cdrage commented on #473
I agree that adding `--namespace` would be a good idea for Kompose up / down, especially since (ideally) we would want to test this against a test environment.

Having a INFO display what namespace is being deployed too at the time of `kompose up` and `kompose down` would also be beneficial.

[2017-03-06 15:01] cdrage commented on #412
I'm labeling this as a bug with libcompose as this will need to be supported upstream as well as downstream within Kompose.

[2017-03-06 15:48] cdrage commented on #163
@containscafeine Should be easily mapped, we have https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-probes/ available for us which (mostly) maps 1-1 to what compose has.

[2017-03-07 00:07] zanhsieh commented on #473
Another thing stuck in my mind was, should we also include `--force` switch? Ideas were:

1. If no given namespace existed, create one.
2a. [Ambiguous] if namespace given existed, wipe it out and create.
2b. [Ambiguous] if namespace given existed, merge and update whatever.
3. `kompose down --namespace <given> --force` shall tear down namespace, too.

2a, 2b, just some thoughts. Thanks @kadel for

[2017-03-07 04:02] procrypt commented on #432
@containscafeine @kadel I'm taking this up.

[2017-03-07 07:05] surajssd commented on #255
to improve doing down, we should label artifacts at creation time saying that those artifacts were created using kompose, then while deleting we only delete things that has those label?

that label could look like this:

`kompose-project-name: <project_name>`
or something better than above label so that we can query things that were created using kompose and we delete only artifacts for current pr

[2017-03-07 12:23] kadel commented on #255
@surajssd what is `<project_name>`?

How about we do it like this:
Lets use `io.kompose.service: <service_name>` label to label all objects that are related to given service.
Use this also for PVC.
During down, delete all object related to given service using this label as selector.

[2017-03-07 12:46] surajssd commented on #353
@stephanosbacon AFAIK builder images are generic enough to have things needed to run code, and people using docker-compose generally do have steps in Dockerfile where code is copied from local repo into the image, so I don't think using that Dockerfile to generate builder image makes sense.

I don't understand this part can you explain it?

[2017-03-07 12:47] procrypt commented on #255
@kadel we can delete object based on `label` in kubernetes using

[2017-03-07 13:08] procrypt commented on #255
@kadel I agree on using `io.kompose.service: <service_name>` and then we delete the object using that `label`. There is cli command for doing that `kubectl delete <object> --selector=io.kompose.label=<service_name>`, still need to figure out the api calls, but one issue I faced was it sometimes doesn't works :(

[2017-03-07 14:56] stephanosbacon commented on #353
@surajssd Sure, they can be generic, but why not generate one on the fly?  Take a generic node.js builder image for example - it's assemble script will likely copy all the subdirectories under . (as the ones that I've seen do), but suppose I don't want that and in my Dockerfile I control exactly what I want copied (e.g. my unit tests).  I may want my unit test code built into a separate container,

[2017-03-07 15:22] kadel commented on #353
What are benefits of this over building finished image directly from Dockerfile?
If i understand it correctly, `docker build` will have to be used to build builder image, and that builder image will be specific only for this one case.

[2017-03-07 16:43] stephanosbacon commented on #353
On OpenShift Online and OpenShift Dedicated, one cannot run docker builds (because as I understand it the docker socket is a security hole), and writing one's own builder image is more involved than writing a Dockerfile.

[2017-03-07 22:56] peterpme opened #474 "Bug: Adding `networks:` to docker-compose.yaml file results in a runtime error"
`kompose version 0.3.0 (135165b3)`
`go version go1.8 darwin/amd64`

[code]

[2017-03-08 01:30] cdrage commented on #474
Uh oh, that doesn't look right. what commands did you use / docker-compose file to get this error? @peterpme

[2017-03-08 02:51] peterpme commented on #474
Hey @cdrage thanks for the quick response!

I ran `kompose -f docker-compose-staging.yml convert`

[2017-03-08 04:50] surajssd commented on #474
this seems to be coming from libcompose, and would like more info on this about how does the docker-compose file looks like?

@peterpme do you mind sharing docker-compose file?

[2017-03-08 06:51] surajssd commented on #445
master works like this for me now:

dir structure
[code]

[code]

and

[code]

[2017-03-08 08:54] surajssd commented on #163
@containscafeine I think this is possible if `libcompose` have added support for it? Isn't it?

[2017-03-08 10:21] containscafeine commented on #163
@cdrage @surajssd yep, if libcompose has support for this, this can be mapped directly. I didn't try this out yet.

[2017-03-08 11:54] surajssd commented on #255
@kadel with `<project_name>` I was thinking of having a single label on all resources. As opposed to labeling service wise. So that we can delete everything in one go!

With each service having different labels we will have to loop over the service names to delete the artifacts.

[2017-03-08 11:56] surajssd commented on #432
I am :+1: for Python but it's just that people should know one more language for doing any contribution.

But if you know Python it will be very easier.

[2017-03-08 12:03] procrypt commented on #255
Had a discussion with @kadel and we found out that there is a function `SelectorFromSet()`
in kubernetes which returns a `Selector (or Label)` which will match exactly the given Set (in our case it is `io.kompose.service`), making use of that we can find all the objects associated with the given `Selector (or Label)` and can further do the delete operation.

[2017-03-08 12:16] surajssd opened #475 "extends is supported construct but conversion doc says opposite"
In [conversion doc](https://github.com/kubernetes-incubator/kompose/blob/master/docs/conversion.md) its mentioned that extends is unsupported which is not true.

Not all the forms of doing extends is supported right now but one specific way to do extends from docker-compose is supported in kompose and there is a issue in upstream libcompose to handle that: https://github.com/docker/libcompose/issu

[2017-03-08 12:21] surajssd opened #476 "`volumes_from` is supported construct but conversion doc says opposite"
In [conversion doc](https://github.com/kubernetes-incubator/kompose/blob/master/docs/conversion.md) its mentioned that `volumes_from` is unsupported which is not true.

So if I mention `volumes_from` in a service then in resulting conversion both the deployments/deploymentconfigs will share same PVC.

[2017-03-08 12:31] surajssd commented on #441
this was again closed by accident it seems @procrypt @cdrage ?

[2017-03-08 12:32] surajssd commented on #441
because #459 never fixed this issue, it only added this directive to unsupported keys?

[2017-03-08 12:40] surajssd commented on #420
@kadel so @containscafeine found that there is a caveat with what #429 did.

Let say if a user defines a docker-compose file as

[code]

Now if the `blah-blah` service tries to access `foo-bar` it will simply call out on `foo-bar` but here we are converting `foo-bar` to `foo_bar` so now the name resolution works in docker-compose but not in k8s because we just changed the name in config but code i

[2017-03-08 12:42] surajssd commented on #464
:+1:

[2017-03-08 12:48] surajssd commented on #433
oops saw this after commenting on https://github.com/kubernetes-incubator/kompose/issues/420#issuecomment-285030347

[2017-03-08 12:48] surajssd commented on #420
so above is filed in https://github.com/kubernetes-incubator/kompose/issues/433

[2017-03-08 13:54] cdrage commented on #475
You say it's unsupported, but then say that not all forms are supported for libcompose. So at the moment, it is indeed unsupported until https://github.com/docker/libcompose/issues/428 is fixed. I guess we can add that to the conversion doc?

[2017-03-08 13:55] peterpme commented on #474
@surajssd thanks for the quick response! Absolutely, if you could help me get this onto GCloud / Kubernetes I'd be very happy :)

It's an nginx reverse proxy running.

- cms `(/|blog|about-us|contact-us)`
- api `/api`
- search `/search`

[code]

Thank you!

[2017-03-08 14:03] cdrage commented on #474
Hey @peterpme

It's
[code]

That's somehow screwing it up, just remove those two lines and it'll convert fine. I'll open up another issue for this, these panics shouldn't be happening.

Thanks for opening up this issue and let us know if there is anything we can do to help!

[2017-03-08 14:04] peterpme commented on #474
Hey @cdrage thanks! Will there be any implications on my end if I remove networks? Will the containers still be able to communicate with nginx?

[2017-03-08 14:06] cdrage commented on #474
@peterpme Since Kubernetes is a flat-design in terms of network (there's no segregation of networks) any container created will be able to communicate to the other one.

The objective is to get you _started_ with Kubernetes. Since your docker-compose file is quite complex ,it may take some modifications to get it running (the first being persistent volumes would need to be created!)

[2017-03-08 14:07] cdrage opened #478 "Adding `networks:` results in a panic"
When supplying the `networks` key within Kompose with a network, it results in a panic / nil pointer.

[code]

See issue #474 for a reference as to why this happens.

[2017-03-08 14:29] kadel commented on #163
problem is that libcompose is not yet supporting 2.1

[2017-03-08 14:34] kadel commented on #353
Yes. And for the same reason builder image will have to be build outside of the OpenShift cluster and resulting build image will be specific  for given project.

Than why not build image directly from Dockerfile outside OpenShift and import it to OpenShift as ImageStream?

For me it all sounds like a lot of complicated thinks, with some stuff that I'm not even sure is possible to do,  without any

[2017-03-08 14:35] kadel commented on #432
Please no Python, no other language.
I would rather stick with bash rather than introducing another language.

[2017-03-08 14:36] kadel commented on #476
yep, that is mistake in doc

[2017-03-08 14:43] #478 closed

[2017-03-08 14:43] cdrage commented on #474
Hey @peterme, I'm going to leave this issue open and simply rename the title :) Better to keep the context in here rather than another issue.

[2017-03-08 14:50] kadel commented on #441
@surajssd You are right. it was not fixed in #459

There is different problem with `sysctls` - it is only in docker-compose v2.1 that is not supported by libcompose

[2017-03-08 14:50] containscafeine commented on #432
Ack, let's move all of 'em to golang :metal:

[2017-03-08 14:53] kadel commented on #441
I probably shouldn't reopen it as this is more about adding support for v2.1 :smile:

[2017-03-09 04:53] surajssd commented on #446
@dkarlovi that can be done I think need to add some checks here, that is:

if `image` and `build` given we can pick up the image name directly and not create `bc`

only if `build` provided create a `bc`.

WDYT @kadel @containscafeine @rtnpro  ? thoughts

[2017-03-09 06:47] surajssd commented on #475
What I mean here is you can still use extends and it works in one form and other one will fail.

[2017-03-09 08:01] dkarlovi commented on #446
@surajssd sounds good to me.

[2017-03-09 08:37] surajnarwade commented on #474
@surajssd  @peterpme , kompose doesn't support `networks` key yet.
for [reference](http://kompose.io/user-guide/)

[2017-03-09 09:10] surajnarwade opened #479 "Update unsupported keys in kompose.io user guide"
Remove keys which are supported now: `build`, `mem_limit`, `tty`, `stdin_open`, `user`

Add unsupported keys: `cap_add`, `cap_drop`, `sysctls`

[2017-03-09 11:15] ashetty1 commented on #382
Correct me if I am wrong, but it appears in my testing that this issue hasn't been fixed yet:

Before running `kompose down`:

`NAME          READY     STATUS      RESTARTS   AGE`
`foo-1-build   0/1       Completed   0          1m`
`foo-1-lv0q5   1/1       Running     0          29s`

Running `kompose down`:
INFO Buildconfig using https://github.com/kubernetes-incubator/kompose.git::HEAD as source

[2017-03-09 11:37] surajnarwade commented on #436
I would like to work on it :)

[2017-03-09 13:29] cdrage opened #481 "Add Fedora packaging data to Kompose repo"
Move Fedora packaging information (located here: https://github.com/dustymabe/fedpkg-kompose) to the `/build` directory within the root of Kompose. Similar to https://github.com/kubernetes/kubernetes/tree/23cd9d7b05b1ef7ef5073ccc7cbeaf09771c8a43/build

1. It's not that much space to put it in this repo.
2. Keeps everything centralized and simple (can't have another repo on `kubernetes-incubator` c

[2017-03-09 13:49] kadel opened #482 "Roadmap is out of date."
Kompose roadmap is out-dated and it is not reflecting current state of things. For example it references milestones, but we currently don't use milestones :-(

[2017-03-09 15:34] cdrage commented on #474
@surajnarwade Yes. The problem here is that this panics, so some investigation is required. I have a feeling it's because it's trying to parse:
[code]

and it's coming up as incorrect yaml.

[2017-03-09 15:36] cdrage commented on #475
So it's still not 100%-supported. I believe we should still say no, but add a note that traditionally Kubernetes a flat-network and everything is interconnected, but when you do `extends` for each Docker container, that functionality will not work and service discovery (such as etcd) is required if you wish to talk for example to the other Docker container via  domain name.

[2017-03-09 15:49] surajnarwade commented on #474
@cdrage :+1:

[2017-03-09 17:17] kadel commented on #475
As I understand it, only thing that is not working is when you use shorter version (when `extends` is string).
But if you use full format (`extends` is object) than everything is fine.

Maybe I missed something, but how can  use of `extends` break service discovery?

[2017-03-09 20:05] cdrage commented on #475
@kadel Ah crap, I mixed up `extends` with `external_links`. Ignore my previous comment.

Okay, so implement using `extends` as a string would be the best solution so we have both extends working as an object + string variable

[2017-03-09 20:20] kadel commented on #475
now it makes sense :laughing:

that needs to be fixed in  https://github.com/docker/libcompose/issues/428

[2017-03-10 00:23] surajssd commented on #432
maybe we can look at this framework https://github.com/DATA-DOG/godog it is for doing golang functional testing.

[2017-03-10 21:04] stephanosbacon opened #486 "kompose should respect the dockerfile key in docker-compose.yml"
If one doesn't use the default Dockerfile, but specified it using dockerfile: in the yml, the generated build config does not have a dockerFilePath:  under dockerStrategy.  This is in version 0.3.0 (HEAD)

[2017-03-11 10:49] surajssd commented on #481
Sure it's not just fedora it's rpm in general!

[2017-03-13 00:10] dustymabe opened #487 "no commit hash in kompose 0.3.0 version information"
[link-to-rpm](https://kojipkgs.fedoraproject.org//packages/kompose/0.3.0/0.1.git135165b.fc25/x86_64/kompose-0.3.0-0.1.git135165b.fc25.x86_64.rpm)

For last release I saw:
[code]

With newer rpm I see:
[code]

also the move from `kompose --version` to `kompose version` is odd. We should probably support `--version` as well, if possible.

[code]

[2017-03-13 07:37] surajssd commented on #431
found one more similar

[code]

[2017-03-13 08:19] surajssd commented on #382
@ashetty1 I think this https://github.com/kubernetes-incubator/kompose/pull/483 will solve the problem!

[2017-03-13 08:19] surajssd commented on #382
meanwhile keeping this open since this problem is not completelt solved!

[2017-03-13 15:04] cdrage commented on #487
@dustymabe

We moved to `kompose version` instead of `kompose --version` in order to familiarize those who have used `kubectl` or `oc`. Since development usually overlaps between all three, we found that having similar commands help!

Yup, the has was my fault. I added that manually last version when it should of been just (HEAD).  See #411

[2017-03-13 15:06] cdrage commented on #487
We need to have a discussion about including git hash in the version as per #422 ... I like having a commit ID within it, but the problem is when people `go get` it, it'll appear as the git commit hard-coded in when in reality it's the latest dev branch.

[2017-03-13 15:07] dustymabe commented on #487
hmm. what I'm saying is that I prefer the more verbose output. I wish it was:

[code]

[2017-03-13 15:07] dustymabe commented on #487
if this can't be achieved, that is ok

[2017-03-13 17:31] stephanosbacon opened #489 "mongodb startup problem with simple dockerfile"
The following dockerfile:

version: '2'
services:
  mongo:
    image: "mongo"
    ports:
      - "27017:27017"

when processed with:

kompose convert -f docker-compose.yml --provider OpenShift

will generate mongo-imagestream, mongo-deploymentconfig and mongo-service, which, when deployed to OpenShift (Minishift in this case) as follows:

oc create -f mongo-imagestream.yaml
oc create -f mongo-depl

[2017-03-13 19:47] cdrage commented on #255
Was going to type this in the PR but here goes:

@kadel @procrypt

So I think this is *awesome* and amazing code @procrypt

What I'd like to discuss though, is should we really be putting these labels in when we `convert`?

Honestly, most of our users simply convert, look at the conversion and then `kubectl create/apply` it..

With this PR, we're adding selectors as well as a metadata section that

[2017-03-14 11:23] procrypt commented on #489
@stephanosbacon You are getting this error because you are trying to run an application which requires root privilege to inside the container. OpenShift by default, does not allow the container to run using `UID 0`. I tried the application using `oc new-app --docker-image=mongo` and got the same error. You need to set the cluster policy to allow containers running with `UID 0`.
[Run containers wit

[2017-03-14 13:26] kadel commented on #421
@sambostock how it is going?
Were you able to build it?

[2017-03-14 13:28] kadel commented on #479
solved in #480

[2017-03-14 13:28] #479 closed

[2017-03-14 13:30] kadel commented on #475
Documentation should say that Kompose supports `extends`

[2017-03-14 13:31] stephanosbacon commented on #489
Actually, it works for me with oc new-app.. I'm using minishift by the way.

[2017-03-14 13:32] kadel commented on #471
yep, lets update vendored libcopmose  and test  it. So we can get this to next release

[2017-03-14 15:28] cdrage commented on #475
@kadel @surajssd

Bit confused as to whether this is supported or not, see the below output:

[code]

[2017-03-14 16:11] kadel commented on #489
problem is with volumes.

`mongo` image is using two volumes `/data/db` and `/data/configdb`

`oc new-app` is a bit smarter than `kompose`, it inspects image, detects docker volumes and creates kubernetes volumes that are non-persistant and host-local (aka. `emptyDir`)

with Kompose volumes have to be defined explicitly.

[code]

If you want deploy this to minishift (or any other cluster that does

[2017-03-14 16:18] #476 closed

[2017-03-14 17:12] sambostock commented on #421
@kadel Someone else submitted a [formula](https://github.com/Homebrew/homebrew-core/blob/master/Formula/kompose.rb), so I didn't do any other work on it.

This issue can probably be closed. Thanks for checking in!

[2017-03-14 17:14] #426 closed

[2017-03-14 17:14] #471 closed

[2017-03-14 17:19] kadel commented on #421
OK.
Kompose is in brew now, that is great new. Didn't noticed that someone else got it merged

[2017-03-14 17:22] #421 closed

[2017-03-14 17:29] stephanosbacon commented on #489
Thanks!

[2017-03-14 19:04] stephanosbacon commented on #353
It's entirely likely I'm out in left field, but the builder image would only have to be built once outside of openshift, then imported and re-used to build the project itself multiple times.

What this gets me as a developer is the ability to use my Dockerfile (which presumably isn't going to be changing as frequently as my code) to build a custom builder image for my project (yes, this would have

[2017-03-15 09:50] surajnarwade commented on #426
we should reopen this issue @kadel as its not fixed yet

[2017-03-15 09:57] kadel commented on #426
It is actually OK.
According docker-compose to documentation `.env` files should be placed in current directory.
"Compose supports declaring default environment variables in an environment file named .env placed in the folder where the docker-compose command is executed (current working directory)." - https://docs.docker.com/compose/env-file/

[2017-03-15 10:55] procrypt commented on #432
@surajssd Do we really need to use a Framework for it, I mean we are just comparing the output.

[2017-03-15 11:00] containscafeine commented on #426
@kadel @surajnarwade ack, but does it make sense for this to be a feature in kompose? Or maybe add a command line flag to specify the .env file?

[2017-03-15 11:10] kadel commented on #426
Its docker-compose feature, so it makes sense to have it in Kompose

[2017-03-15 11:49] kadel commented on #487
It can be achieved, but it has to be build from source cloned from git with proper [ldflags](https://github.com/kubernetes-incubator/kompose/blob/master/Makefile#L18) or using `make build`

[2017-03-15 12:19] kadel commented on #475
yeah :-(

That warning is actually wrong. I've just tested it and it works correctly.

[2017-03-15 12:20] kadel opened #493 "remove extends from unsupported keys"
extends actually works and it should be removed from unsupported keys

[2017-03-15 12:20] kadel commented on #475
https://github.com/kubernetes-incubator/kompose/issues/493

[2017-03-15 12:47] kadel commented on #353
OK, I can see your point.

Only problem that I can see with this is that it will depend on how well is Dockerfile written. I'm afraid that it won't be possible to do it for any Dockerfile and Dockerfile will have to be written in specific way.
I'll try look into it. It might be interesting.

[2017-03-15 17:11] #416 closed

[2017-03-16 13:19] procrypt commented on #473
@kadel Taking this up.

[2017-03-16 13:20] procrypt commented on #420
@surajssd @kadel Taking this up.

[2017-03-16 15:39] surajssd commented on #420
@procrypt i think @surajnarwade is working on this

[2017-03-16 15:56] surajssd commented on #432
@procrypt not really if we can achieve what we do now without any framework then it's good.

[2017-03-16 16:31] surajnarwade commented on #420
@surajssd @procrypt , its okay, I havn't started yet, will pick other one :)

[2017-03-16 16:32] surajnarwade commented on #486
I would like to work on it :)

[2017-03-16 16:44] kadel commented on #420
Ah, sorry @surajnarwade @procrypt I didn't know that, or even more probably forgot about it :blush:

[2017-03-16 17:07] #436 closed

[2017-03-16 17:39] stephanosbacon opened #496 "Docker build fails: Failed to push image: unauthized:authentication required"
Pushing image 172.30.46.106:5000/chat/chatback:latest ...
Pushed 0/20 layers, 0% complete
error: build error: Failed to push image: unauthorized: authentication required

After running kompose convert, and editing the resulting buildconfig such that it has a dockerfilePath (dunno if this should make a difference), the resulting build fails with the above failure.

The relevant test case is at:  ht

[2017-03-16 17:58] stephanosbacon commented on #496
If I delete the buildconfig, re-create it via oc-new-build, and then go edit the yaml to set the dockerfilePath, I get the following, which works:

apiVersion: v1
kind: BuildConfig
metadata:
  name: chatback
  namespace: chat
  selfLink: /oapi/v1/namespaces/chat/buildconfigs/chatback
  uid: 2de0fe2a-0a71-11e7-8156-f20cfd71a2ac
  resourceVersion: '1329'
  creationTimestamp: '2017-03-16T17:51:27Z'

[2017-03-20 12:25] surajnarwade commented on #496
@stephanosbacon , I am trying to reproduce this error, this config also gives me the same error. this error is coming from openshift and is being tracked here https://github.com/openshift/origin/issues/12474

[2017-03-20 14:42] kadel commented on #496
Hmm that is strange, I just tried that and it worked for me.

I've skipped `oc login` and `oc adm policy` commands from your `oc_setup` script.
So it looks like it will be some issue with permissions.

[2017-03-20 14:49] kadel commented on #496
New observations.
If I use minishift v0.9.0 it works perfectly.
But with new 1.0.0-beta.5 I get same error.

Something is different in new minishift :-(

[2017-03-20 15:37] kadel commented on #496
It looks like its bug in openshift.

If you create buildconfig first and then imagestream it fails. If imagestream is created first it is ok.

[2017-03-20 16:50] stephanosbacon commented on #496
Will OpenCompose work around it?  (It seems to be a combination big deal/low priority to fix on the OpenShift side)

[2017-03-20 17:00] kadel commented on #496
with `kompose up` or if you save output to one file ImageStream will always be before BuildConfig. (Or at least it should be if I remember correctly :nerd_face:   )

[2017-03-20 18:30] cdrage opened #501 "0.4.0 release"
Any blockers for this weeks release?

I'll be including a SHA256 hashsum for each binary generated for integrity.

I was thinking of including a signed GPG tarball but according to our previous discussion with @sebgoa and @ngtuna it wasn't feasible to include it since Kubernetes projects don't. A shasum should be enough.

ping @kadel @containscafeine @surajssd @surajnarwade if you have any issues

[2017-03-21 02:43] surajnarwade commented on #496
@kadel , that worked :stuck_out_tongue:

[2017-03-21 14:04] surajnarwade commented on #501
@cdrage , no blockers :)

[2017-03-21 14:11] containscafeine commented on #501
@cdrage none from my side :shipit:

[2017-03-21 14:11] surajssd commented on #501
@cdrage no blockers from my side!

[2017-03-21 19:30] djkonro commented on #390
Please, I am interested in working on this project for the Google Summer of Code. I am very comfortable working with programming languages like Java, C/C++, Python and Go. I am very passionate about cloud and container technologies, and I would like to get some help that would enable me better familiarizing myself with the project. I am already familiar with Docker and Docker compose and I am curr

[2017-03-21 19:45] cdrage commented on #390
I believe this link: https://github.com/docker/docker/issues/26876 would be the best in terms of keeping track *IF* DAB comes out of being experimental.

It *has* happened in the past that an experimental feature wasn't accepted into Docker. So it'd be best to keep track of this while we continue to support development / improvements.

[2017-03-22 08:58] ashetty1 opened #505 "`kompose up` fails with restart options on openshift"
When I try running `kompose up` with  docker-compose file containing restart key[1], it fails. It doesn't fail with `kompose convert`. What should be the expected behviour?

for kompose up:

[code]

in case of kompose convert:

[code]

[1] https://github.com/kubernetes-incubator/kompose/blob/master/script/test/fixtures/restart-options/docker-compose-restart-no.yml

[2017-03-22 09:18] surajnarwade commented on #505
@ashetty1 , I tried both cases and working fine for me.
* In case of kompose up:

[code]
* In case of kompose convert:

[code]

[2017-03-22 09:30] ashetty1 commented on #505
@surajnarwade Oops, sorry. some version mismatch on my end. Thanks.

[2017-03-22 09:30] #505 closed

[2017-03-22 10:12] surajnarwade commented on #474
@cdrage @peterpme  , I tried out above example and checked with https://docs.docker.com/compose/networking/ and its working following cases:

as `peterpme-infra` is present in all services, assuming that it's default network

[code]

or if it is pre existing network:

[code]

or if its not a default network, then mention network driver as below:

[code]

[2017-03-22 11:48] surajnarwade commented on #365
@cdrage , I tried same docker compose file, there's no warning, I think issue is resolved now, we can close this,

output is:
[code]

[2017-03-22 11:56] #475 closed

[2017-03-22 11:56] #493 closed

[2017-03-22 11:57] #481 closed

[2017-03-22 12:16] kadel commented on #474
It looks like this is bug in libcompose.

[code]
works with docker-compose:
[code]

but fails with libcompose:
[code]

[2017-03-22 12:36] surajnarwade commented on #351
@surajssd , we can close this.

[2017-03-22 14:17] #486 closed

[2017-03-22 14:26] cdrage commented on #365
@surajnarwade You're right, this is no longer an issue. Closing! :+1:

[2017-03-22 14:26] #365 closed

[2017-03-22 14:27] cdrage commented on #351
Yup, This is merged.

[2017-03-22 14:27] cdrage commented on #501
0.4.0 out! Closing.

[2017-03-22 14:27] #501 closed

[2017-03-23 06:58] surajnarwade commented on #474
@kadel , I have filed the issue in libcompose, which can be tracked here, https://github.com/docker/libcompose/issues/456

[2017-03-23 09:51] surajnarwade commented on #376
@kadel , @surajssd , @cdrage , as of now, should we add warning in kompose such as,

[code]

[2017-03-23 14:21] cdrage commented on #376
@surajnarwade IMO, INFO instead of WARN may be better.

[2017-03-23 14:29] kadel commented on #376
yeh, this shouldn't be WARN.
And message should probably mention something about PVC requiring PV. But I don't know how to explain it in one or two sentences :disappointed:

[2017-03-23 14:32] surajnarwade commented on #376
okay @kadel @cdrage  I would like to work on it then

[2017-03-24 06:05] surajnarwade commented on #357
@kadel @surajssd @ncoghlan  , I have raised PR for this issue in libcompose which can be tracked here https://github.com/docker/libcompose/pull/457

[2017-03-24 11:11] #255 closed

[2017-03-24 11:43] kadel opened #510 "kompose down is not deleting ingress and route"

[2017-03-27 08:43] surajssd commented on #351
I don't think this is fixed, #350 was not for this issue.

[2017-03-27 09:15] surajssd commented on #205
i think we are doing good on this, so closing it. Thanks @surajnarwade for bringing this to my notice!

[2017-03-27 09:15] #205 closed

[2017-03-27 09:29] surajssd commented on #376
@surajnarwade assigned!

[2017-03-27 09:51] surajssd opened #513 "unused global constants in convert.go"
In convert.go we have some consts that are not used anywhere, for e.g. `ConvertSource` and `ConvertBuildConfig`. This needs a cleanup.

[2017-03-27 11:58] surajssd opened #514 "make flags global which are common"
flags like `replicas` and other flags that are repeating should be implemented only once, which means make it global.

This came to my mind after reading #506

[2017-03-27 12:06] kadel commented on #514
but `replicas` doesn't make sense for `down` command :-(

Shouldn't be global parameters valid for all (up,down,convert) commands?

[2017-03-27 12:55] surajssd commented on #514
@kadel didn't think about that! just thought about the repetition!

[2017-03-27 13:01] kadel commented on #514
agreed that repetition is ugly, and we should figure out how to reuse flags between `up` and `convert` so we can define them in only one place.

But solution shouldn't be making it global, because that we will have to ignore for commands where it doesn't make sense, that might be even more confusing :-(

[2017-03-28 10:40] surajnarwade commented on #513
I would like pick it up

[2017-03-28 12:43] #513 closed

[2017-03-28 13:38] idcrook commented on #420
Can be closed when #509 is released

[2017-03-28 22:44] ericchiang commented on #463
FYI, please don't do this https://twitter.com/davecheney/status/846844080227213312

[2017-03-28 23:03] Minx-SigEp opened #522 "kompose.service.type label not working as expected"
According to the documentation ( [User Guide - labels](https://github.com/kubernetes-incubator/kompose/blob/master/docs/user-guide.md#labels) ) I should be able to specify the label kompose.service.type: NodePort in docker-compose.yml. However it is not behaving as expected. My understanding is the services should be configured as described here https://kubernetes.io/docs/user-guide/services/#type

[2017-03-28 23:46] Minx-SigEp commented on #522
Found the below article which shows the use of the labels in a slightly different manner and this as well does not work.

http://sysadvent.blogspot.com/2016/12/day-11-going-from-local-docker-compose.html

docker-compose.yml

    version: "2"
    services:
      webapiapplication:
        image: webapiapplication
        labels:
         - "com.example.description=MyDescription"
         - "kompose

[2017-03-29 13:13] cdrage commented on #522
@Minx-SigEp

You're missing a port!

Since there's no port being added, it's being created as a headless service.

@kadel I think we should still have ClusterIP / LoadBalancer / Whatever-they-choose added as a `type:` regardless if they have specified a port or not, do you agree?

[2017-03-29 13:15] cdrage commented on #463
I agree with @kadel and @ericchiang

Let's close this for now and focus rather on removing the big dependencies / reducing the binary the library-way.

[2017-03-29 13:15] #463 closed

[2017-03-29 13:17] cdrage commented on #514
I think we can remove the `--emptyvols` and `--replicas` flags from `kompose down`:

[code]

[2017-03-30 10:10] #431 closed

[2017-03-31 11:50] kadel commented on #522
We can try that. But I'm afraid that it won't work as expected.
If there there is a docker-compose service without port, create kubernetes [headless service](https://kubernetes.io/docs/user-guide/services/#headless-services), I'm afraid that it doesn't make sense or is even possible to create headless service that is  NodePort or LoadBalancer, in all those cases you need to know port number.

Have

[2017-03-31 11:54] kadel commented on #514
yes we should do that.

but we still have same flags defined in two places.
for example `--replicas` is in `up.go` and in `convert.go`

[2017-03-31 12:43] cdrage commented on #514
@kadel Unfortunately I don't think there is a way to define a global parameter and remove it from only one particular one. Having it in both up.go and convert.go seems the best bet. At least it's better than how we did it with urfave/cli :+1:

[2017-03-31 12:44] cdrage commented on #522
@kadel So best thing to do would be to warn instead.

[2017-03-31 12:53] kadel commented on #522
@cdrage Yes, I would consider even failing. It doesn't really make sense to use LoadBalancer or NodePort without specifying port.

[2017-03-31 13:23] cdrage opened #530 "Timestamps are added again to compose."
Noticed that timestamps were added again for some odd reason, found it was an odd vendor update that messed it up: https://github.com/kubernetes-incubator/kompose/commit/e9544ca89477ed76bd75f1160f9a89686f75e95d

See:

[code]

I've fixed this in #529

[2017-03-31 14:38] sinnykumari opened #532 "kompose fails to build on ppc64 and ppc64le arches due to old sys/unix vendor package"
Hi,

Kompose-v0.4.0 fails to build on ppc64(le) architectures with following error message:
\# github.com/kubernetes-incubator/kompose/vendor/github.com/fsnotify/fsnotify
src/github.com/kubernetes-incubator/kompose/vendor/github.com/fsnotify/fsnotify/inotify_poller.go:48: undefined: unix.Pipe2

It seems that vendored sys/unix package is old because /vendor/golang.org/x/sys/unix/syscall_linux_ppc64

[2017-03-31 14:42] dustymabe commented on #532
ping @kadel @surajssd - this is why we can't get 0.4.0 out into Fedora right now. It looks like we need to update golang.org/x/sys/unix to latest version.

[2017-03-31 15:02] cdrage commented on #532
Hey @dustymabe
I've updated this in #529

Give it your LGTM and this issue will be fixed :)

[2017-03-31 18:41] #532 closed

[2017-04-03 06:53] surajnarwade opened #534 "Unused functions in app.go and utils.go"
functions `askForConfirmation` in `app.go`, `TransformData` and `RandStringBytes` in `utils.go` are not called anywhere in kompose, shall we remove them   or they are there for any purpose ?

[2017-04-03 07:30] surajnarwade commented on #267
@cdrage @surajssd we can close this issue, as mem_limit is now supported

[2017-04-03 08:44] surajssd commented on #534
@surajnarwade yes if that is the case we remove it, do you wanna give it a stab?

[2017-04-03 08:45] surajnarwade commented on #534
@surajssd yeah

[2017-04-03 08:55] surajnarwade commented on #82
@kadel as we have conversion table at http://kompose.io/conversion/, we can close this issue.

[2017-04-03 09:33] surajnarwade commented on #272
@surajssd @cdrage as CPUset is mapped to any k8s key, shall we add it to unsupported keys.

[2017-04-03 15:20] cdrage commented on #267
@surajnarwade cpu_shares is still an issue. So let's leave this open.

[2017-04-03 15:25] #270 closed

[2017-04-03 15:25] cdrage commented on #82
@surajnarwade :+1: Closin'

[2017-04-03 15:25] #82 closed

[2017-04-03 15:41] kadel commented on #514
I've some ideas that might work, but I have to try it

[2017-04-03 16:32] surajnarwade commented on #267
@cdrage oh my bad, got it

[2017-04-03 16:47] surajssd opened #537 "Update roadmap wrt to k8s 1.7 release"
$subject

also needs to be put in https://docs.google.com/document/d/1g5yzEIWoNWJ4tdYRRQP8CE9JSoj4KFemAwayiTE6wnM/edit

[2017-04-03 17:16] kadel commented on #537
We don't have to work in sync with Kubernetes releases.
We have our own pace.

But we definitely need roadmap for next few months.
Its one of the criteria for graduation from incubator.

Lets create our separate roadmap and just link it in that document.

[2017-04-03 17:42] kadel opened #538 "add documentation about renaming service"
We should add warning to docs explaining why, when and how we rename service as it may break some docker-compose files

see https://github.com/kubernetes-incubator/kompose/pull/509

[2017-04-03 17:43] #420 closed

[2017-04-04 04:26] surajssd commented on #267
@cdrage `mem_limit` is supported right now so edited the title

[2017-04-04 04:31] surajssd commented on #267
@cdrage @surajnarwade we can officially declare that we don't support `cpu_shares` becasue there is no way we can map it to anything in k8s.

`cpu_shares` talks in terms of percentage of cpu to give to any container, this is feasible on a single machine but does not make sense on multi-node cluster where we dont know the entire cpu number.

TLDR: this is not easy to map to k8s cpu resources.

more

[2017-04-04 04:34] surajssd commented on #267
So the PR that closes this issue should remove all the code which tries to read this info from docker compose file and adds it to `ServiceConfig` and also give warning as this is unsupported.

[2017-04-04 04:35] surajssd commented on #272
@surajnarwade yes SGTM, go ahead with it!

[2017-04-04 13:21] cdrage commented on #267
@surajssd Adding this to unsupportedkeys sounds like the best viable option considering the complexity of implementing cpu_shares. I agree.

[2017-04-04 14:02] surajnarwade commented on #267
@surajssd @cdrage , I am onto this.

[2017-04-04 14:29] surajnarwade opened #541 "Kompose binary for ARM"
I think, we should have kompose binary for ARM :)

[2017-04-04 16:32] surajnarwade commented on #541
closes via https://github.com/kubernetes-incubator/kompose/pull/540

[2017-04-04 17:07] #541 closed

[2017-04-05 08:59] RyoIkarashi opened #544 "Fatal error saying "/etc/nginx/certs": must be unique"
I'm using `jrcs/letsencrypt-nginx-proxy-companion` in my `docker-compose.production.yml` and `kompose -f docker-compose.production.yml up` throws an error saying

[code]

How can I fix this issue?

---

My `kompose version` is `0.5.0 ()`

And my `docker-compose.production.yml` below.

[code]

[2017-04-05 10:08] surajnarwade commented on #544
@RyoIkarashi , `HOST:CONTAINER` or an access mode `HOST:CONTAINER:ro` is not supported by kompose

[2017-04-05 11:01] RyoIkarashi commented on #544
@surajnarwade Thanks for your quick reply! Do you have any plan to support those functionalities?

[2017-04-05 11:46] surajnarwade commented on #544
@RyoIkarashi, it may be problematic if you have multinode clusters, it may cause troubles.
@kadel thoughts ?

[2017-04-05 12:56] surajnarwade opened #545 "kompose should give warning on providing blank environment variables"
Sometimes docker-compose files have environment variables which are not set, In that case, we should give warning to user.

inspired from https://github.com/redhat-developer/opencompose

[2017-04-06 14:10] kadel opened #548 "update docs/conversion.md"
docs/conversion.md is slightly out of the for example `tmpfs` is as unsupported

[2017-04-06 16:33] #534 closed

[2017-04-06 16:51] #272 closed

[2017-04-06 17:23] kadel commented on #545
I don't know if this makes sense for docker-compose.
environment variables has one additional feature in docker-compse.
If value is not set for in docker-compose file, than value is taken from environment that runs `docker-compose` command.

[2017-04-06 17:52] kadel commented on #544
@RyoIkarashi
It looks like there are two issues.

One is what @surajnarwade mentioned. This is not going to work as expected, because Kompose doesn't support copying local data to Kubernetes cluster (this is what all warning about "WARN Volume mount on the host" mean.) And side effect is of this is that mounting docker.sock to container wont work also :-( But I'm not sure if that is good idea to d

[2017-04-07 12:51] kadel opened #550 "driver:local in prefixing volumes with current dir name"
[code]

all PVC created from this file have names that are starting with name of current directory and `_` as separator.

[code]

**Problem is that Kubernetes doesn't allow `_` in object names**

From first quick look it seems to me that `libcompose` is doing that  for some reason.

[2017-04-07 17:26] cdrage commented on #530
Fixed in #529 so going ahead and closing this.

[2017-04-07 17:26] #530 closed

[2017-04-10 12:33] surajnarwade commented on #550
@kadel , if we remove unsupported root level key `volumes`, then it works fine

[2017-04-10 13:38] surajnarwade commented on #550
@kadel , https://github.com/docker/libcompose/blob/master/project/project.go#L335 line from libcompose is adding project directory name followed by `_` in volume name, if root level `volumes` key is present. as `volumes` key is unsupported,  it should be removed before `kompose convert`

[2017-04-12 13:40] #473 closed

[2017-04-12 15:47] #510 closed

[2017-04-13 08:09] sebgoa commented on #550
@ngtuna maybe you can check this one out

All bitnami docker-compose examples use this type of local volume definitions, it would be great for kompose to support it.

[2017-04-13 09:44] kadel commented on #550
@sebgoa @procrypt started looking into that

[2017-04-13 14:04] dkarlovi opened #554 "[UX] Sort output when doing kind: list and --stdout"
I'm doing some sort of post-processing on the generated YAML to be able to omit `BuildConfig` (as mentioned in #446) etc. When I'm done, I save it to a versioned file to be able to keep track of production config.

When running `kompose convert --provider openshift --verbose --stdout` (which produces a `kind: list`), services' and configuration blocks' order seems to be generated arbitrarily. As t

[2017-04-17 09:47] surajnarwade commented on #445
I have raised PR in libcompose regarding this and can be tracked here https://github.com/docker/libcompose/pull/450

[2017-04-17 10:42] surajnarwade commented on #538
I will pick this :)

[2017-04-17 10:53] procrypt commented on #538
@surajnarwade I'm working on this

[2017-04-17 10:53] procrypt commented on #538
Sorry I didn't mentioned it here.

[2017-04-17 11:29] surajnarwade commented on #538
@procrypt no issue :)

[2017-04-17 11:56] procrypt commented on #554
@dkarlovi The patten in which the artifacts are generated are intentional since we need the `service` to be created and deployed first as per kubernetes best practices. Although I tried and deployed a sample application in which `service` is deployed after `deploymentConfig` and it works. Can you provide me your `docker-compose` file so that I can try that too.

[2017-04-18 05:00] procrypt commented on #550
@sebgoa I have started looking into it and almost finished will send the PR soon.

[2017-04-18 06:25] sebgoa commented on #550
ok terrific, thanks

[2017-04-18 07:02] dkarlovi commented on #550
@procrypt awesome, I'm getting hit by the same problem. <3

[2017-04-18 08:25] procrypt commented on #550
@dkarlovi Can you share your `docker-compose` file. Since, I need more testing on this.

[2017-04-18 09:23] dkarlovi commented on #550
@procrypt I'm creating an annonymized Compose file to send you and there I can't reproduce it?! But I'm trying it with my original Compose file and there it does add the prefix. Same `kompose` binary, different results, very weird. :(

I'll try to figure out what's the difference, in the meantime here's the Compose file I've used (but it's worthless to test with as it works for me too):

    versi

[2017-04-18 09:45] dkarlovi commented on #554
@procrypt I think the whole file gets ingested first, then internally sorted and applied by Kubernetes, which makes sense.

Included are: Compose file and outputs of two consecutive runs of `kompose` (sorry about the long comment).

Here's the `docker-compose.yml` file:

    networks: {}
    services:
      app:
        build:
          context: /src
          dockerfile: ./.infra/docker/php/Docke

[2017-04-18 09:47] dkarlovi commented on #550
@procrypt managed to reproduce in https://github.com/kubernetes-incubator/kompose/issues/554#issuecomment-294752322

[2017-04-18 13:28] #376 closed

[2017-04-19 07:47] procrypt commented on #550
Hey @dkarlovi tired your `docker-compose` file I was able to deploy with `kompose up` but there were some issues with pulling images.

[2017-04-19 08:00] procrypt commented on #550
@dkarlovi If you do `kompose up` using your file you should get an error because of the additional `_` added to the object name and it should `fail`, anyways I have tried it with `convert` too and it works fine.

[2017-04-19 08:17] dkarlovi commented on #550
@procrypt you've used the Compose file linked in #554? The one here doesn't trigger the bug, as stated in the comment.

[2017-04-19 08:18] procrypt commented on #550
@dkarlovi Yeah I have used the one you mentioned in #554.

[2017-04-19 08:27] dkarlovi commented on #550
Then it should fail as it does for me, I'm getting an invalid PVC name, as seen below:

    - apiVersion: v1
      kind: PersistentVolumeClaim
      metadata:
        creationTimestamp: null
        labels:
          io.kompose.service: src_db
        name: src_db

Your underscores to dashes fix should be enough as that's exactly what I do in my post-processing.

[2017-04-19 08:43] procrypt commented on #550
@dkarlovi So does it works for you?

[2017-04-19 08:57] dkarlovi commented on #550
It does work with the Compose file linked in https://github.com/kubernetes-incubator/kompose/issues/550#issuecomment-294743241.
It does NOT work with the Compose file linked in https://github.com/kubernetes-incubator/kompose/issues/554#issuecomment-294752322.

Or do you mean, does your fix work for me? Haven't tested it yet.

[2017-04-19 09:05] procrypt commented on #550
Can you test it with the [PR](https://github.com/kubernetes-incubator/kompose/pull/557) I just sent.

[2017-04-19 09:11] dkarlovi commented on #550
Sure, can you tell me how to `go get` your branch? I'm not into Go enough to know, yet. :(

[2017-04-19 09:15] procrypt commented on #550
@dkarlovi You need to install golang and then fetch my branch and build `kompose` using that.

[2017-04-19 10:01] procrypt commented on #522
@cdrage I tried it out using the with the docker-compose file

`docker-compose.yml`
[code]

`webapiapplication-service.yaml`
[code]

`webapiapplication-deployment.yaml`
[code]
The application has been deployed but it is not reachable from outside the container

[code]

[code]

Its not reachable even inside the container

[code]
[code]

[2017-04-19 10:45] dkarlovi commented on #550
OK, I'll try to test it later today.

[2017-04-19 12:20] surajnarwade commented on #544
I take this up

[2017-04-19 13:39] cdrage commented on #544
I think we should FATAL. Since it's unable to transpose the volume keys to Kubernetes correctly, fataling before it get's a failing deploy would be ideal.

Although the output could be more informative / suggest an alternative?

[2017-04-19 13:45] surajnarwade commented on #544
@cdrage yeah, FATAL with info whats happening might help, I am onto it

[2017-04-19 18:04] dkarlovi commented on #550
[Done](https://github.com/kubernetes-incubator/kompose/pull/557#issuecomment-295369146). Problem is related to root-level `volumes` block not being ignored even though `kompose` claims it is being ignored. If I comment out or remove it, everything works as expected.

[2017-04-20 04:51] procrypt commented on #550
@dkarlovi Please make sure you build `kompose` correctly because it works fine when I do it. Have a look at [here](https://github.com/kubernetes-incubator/kompose/pull/557#issuecomment-295579288).

[2017-04-20 08:32] surajssd opened #561 "git repo with detached head generates wrong `bc`"
here is my git env

[code]

kompose generates wrong buildconfig for openshift in git repo that is detached

[code]

[2017-04-20 08:38] surajssd commented on #561
It fails because the git url is wrong `https://github.com/kubernetes-incubator/kompose/.git`

[2017-04-20 08:43] ashetty1 commented on #561
..

On Apr 20, 2017 2:08 PM, "Suraj Deshmukh" <notifications@github.com> wrote:

[2017-04-20 10:48] surajnarwade commented on #357
@kadel @surajssd @ncoghlan , PR for issue https://github.com/docker/libcompose/pull/457 in libcompose is merged now, I updated vendoring in PR https://github.com/kubernetes-incubator/kompose/pull/562, once that gets merged, this issue will be resolved.

[2017-04-20 13:18] surajnarwade opened #564 "commenting test case temporarily"
PR https://github.com/kubernetes-incubator/kompose/pull/562 is failing due to test case,

[code]
So as of now. I think we should comment out the test case and will pass the https://github.com/kubernetes-incubator/kompose/pull/562, so that https://github.com/kubernetes-incubator/kompose/pull/454 will get pass. after successful build. I will again add the test case.
cc @cdrage @surajssd @procrypt @c

[2017-04-21 08:18] ngtuna commented on #550
@procrypt do you have any update on this issue's state ?

[2017-04-21 09:04] procrypt commented on #550
@ngtuna  I have already sent a [PR](https://github.com/kubernetes-incubator/kompose/pull/557) for this PTAL.

[2017-04-21 09:46] ngtuna commented on #550
@procrypt thanks 👍

[2017-04-21 09:47] procrypt commented on #550
@ngtuna Can you review it if when you have some time.

[2017-04-21 10:03] ngtuna commented on #550
@procrypt Sure will do. We are having some bitnami stuffs are being blocked by this issue.

[2017-04-21 10:09] surajssd commented on #554
@dkarlovi so this was intentional as @procrypt said also you can find the corresponding doc in upstream at
https://kubernetes.io/docs/concepts/configuration/overview/

which says:

so the decision.

[2017-04-21 10:15] dkarlovi commented on #554
@surajssd thanks for the link. I've noted:

As you can see from my comment, order changes between runs for me.

[2017-04-21 10:58] surajssd commented on #554
@dkarlovi thanks for reporting this seems to be an openshift issue!

[2017-04-21 11:00] surajssd commented on #554
With Kubernetes the output is right but with openshift the output is not alphabetically ordered

[2017-04-21 11:16] surajnarwade commented on #564
I am updating vendor in  https://github.com/kubernetes-incubator/kompose/pull/454 only,hence closing issue

[2017-04-21 11:16] #564 closed

[2017-04-21 14:37] dkarlovi commented on #554
@surajssd great to hear. Sorting by docker-compose works too of course, as long as the order is kept between runs.

[2017-04-21 14:54] cdrage commented on #445
https://github.com/docker/libcompose/pull/450 Has been merged. Update vendoring?

[2017-04-21 15:22] pradeepto commented on #445
@cdrage https://github.com/kubernetes-incubator/kompose/pull/562 Not sure why he closed it. He mentioned somewhere that his updating vendoring along with some other issue https://github.com/kubernetes-incubator/kompose/pull/454 . Not sure if that is a good idea. IMO, updating vendoring could have been an independent PR but I will let you and others take the call on this.

[2017-04-21 15:32] cdrage commented on #445
@pradeepto
Opened up #566 to solve this and get us up-to-date with vendoring.

[2017-04-24 04:08] procrypt commented on #550
@ngtuna Did you get some time to review [this](https://github.com/kubernetes-incubator/kompose/pull/557) PR.

[2017-04-24 05:28] procrypt commented on #554
@surajssd @dkarlovi I have updated the [PR](https://github.com/kubernetes-incubator/kompose/pull/565) accordingly, output with is in order `OpenShift` now.

[2017-04-24 05:49] procrypt commented on #561
@surajssd Picking this up.

[2017-04-24 06:02] surajssd opened #571 "kompose passes a kubernetes deployment without image"
I have a docker-compose service with build specified but without image. So since kompose has no build support with kubernetes so it should error out saying that there is no image provided.

[code]

I am using following docker-compose file:

[code]

So I would recommend that we suggest user to add one more additional field called `image` to provide the image name explicitly.

[2017-04-24 10:23] procrypt commented on #571
@surajssd Working on this.

[2017-04-24 11:27] ashetty1 opened #572 "Blockers for running buildconfig tests on OpenShift"
For executing buildconfig tests for OpenShift, both #561 and #382 need to be fixed.

Creating an issue to track both the bugs.

[2017-04-26 12:20] surajnarwade commented on #522
@kadel , Shall we add FATAL error  if  LoadBalancer or NodePort are given  without specifying port ?

[2017-04-26 12:37] surajnarwade commented on #379
As https://github.com/docker/libcompose/issues/430 now, issue has been resolved, we can close this issue

[2017-04-26 12:45] surajnarwade commented on #163
@kadel , @surajssd can you please add label `compose v2.1` here ?

[2017-04-26 12:48] surajnarwade commented on #412
@surajssd @kadel , can you please add `compose v3` label here ?

[2017-04-26 13:00] surajnarwade commented on #433
we can close this issue now

[2017-04-26 13:11] surajnarwade commented on #267
we can close this now

[2017-04-26 13:42] #267 closed

[2017-04-26 13:53] cdrage commented on #412
@surajnarwade done

[2017-04-26 14:37] #538 closed

[2017-04-26 15:09] cdrage opened #574 "0.6.0 Release"
Let's merge these two before release:
 - https://github.com/kubernetes-incubator/kompose/pull/454
 - https://github.com/kubernetes-incubator/kompose/pull/557

[2017-04-26 15:29] surajnarwade commented on #548
we can close this now

[2017-04-26 15:31] kadel commented on #379
it should be resolved, closing.

@jonathanstiansen if you still have same problem feel free to comment and reopen it

[2017-04-26 15:31] #379 closed

[2017-04-26 15:31] #433 closed

[2017-04-26 15:32] kadel commented on #489
i think we can close this

[2017-04-26 15:32] #489 closed

[2017-04-26 15:34] kadel commented on #461
this has been fixed, shouldn't happen again :-)

[2017-04-26 15:34] #461 closed

[2017-04-26 15:38] kadel commented on #522
yes, that makes sense, we should fail, as it doesn't make sense to use `NodePort` or `LoadBalancer` without port defined.

[2017-04-26 15:42] kadel commented on #548
done

[2017-04-26 15:42] #548 closed

[2017-04-26 15:43] kadel commented on #537
done

[2017-04-26 15:43] #537 closed

[2017-04-27 08:25] #550 closed

[2017-04-27 08:26] ngtuna commented on #574
https://github.com/kubernetes-incubator/kompose/pull/557 has been merged.

[2017-04-27 08:46] gitlawr opened #575 "Support for cap_add,cap_drop"
Currently these keys are marked as unsupported and kompose generates WARNINGs when they are used. But I think there is equivalent in Kubernetes.
see:
https://kubernetes.io/docs/concepts/policy/container-capabilities/
My proposal is to convert `cap_add/cap_drop` to `Pod.Spec.Container.SecurityContext.capabilities.add/drop`
For example with such a docker-compose.yml

[code]
kompose generate
[code]

[2017-04-27 09:19] kadel commented on #575
Hi @gitlawr, You are right, it looks like this is something that could be added to Kompose

[2017-04-27 09:28] surajnarwade opened #576 "Fixture regarding build context fails each time"
Fixtures which are regarding build context, for example `script/test/fixtures/nginx-node-redis`
it will always fails on individual machine because it will always return different `URI` and `REF` as each individual have different git environment.

[2017-04-27 09:31] gitlawr commented on #575
Hi @kadel . In that case, can I add a PR for this or wait for someone to handle it? I'm familiar with k8s but not with openshift by the way.

[2017-04-27 11:49] kadel commented on #575
That would be great :+1: , thank you! :yellow_heart:

That is OK, you can start with doing it just for k8s. Once you send PR with k8s I can help with OpenShift bits, it should be easy once its done for Kubernetes.

[2017-04-27 16:06] kadel commented on #544
I don't think that it kompose should show FATAL err if this works in docker-compose.
We should handle this in the same way as docker-compose does.

[2017-04-27 18:34] cdrage commented on #574
and so has #454 let's do a release!

[2017-04-28 07:43] surajnarwade commented on #357
we can close this now as https://github.com/kubernetes-incubator/kompose/pull/454 is merged now

[2017-04-28 10:18] kadel commented on #357
original issue is fixed, but deploying Sentry from https://github.com/getsentry/onpremise/ without modification will be tricky, as it heavily depends on `build`

[2017-04-28 10:18] #357 closed

[2017-04-28 13:31] #575 closed

[2017-05-02 09:57] codecraf8 opened #584 "Error with volume name with generated deployment file"
Following is my compose file

[code]

It works well. Now I want to create deployment and services for this compose file.
As mentioned in docs `kompose -f docker-compose.yml convert`
It generates 5 files

[code]

When trying to run the deployment, `kubectl create -f web-deployment.yaml` I get an error

[code]

Whats gone wrong? How to rectify? Redis works fine, issues with web.

Files

Web Deployme

[2017-05-02 12:06] surajssd opened #585 "Latest kompose fails on many build-config tests locally"
Building kompose

[code]

Running tests:

[code]
Above failed.

Below one failed
[code]

How is this one passing on travis or for anyone else on their machines?

[2017-05-02 13:58] ashetty1 commented on #585
@surajssd  It doesn't fail on travis because travis does a git fetch on PRs. So  "expected_warning: 'Buildconfig using https://github.com/kubernetes-incubator/kompose.git::HEAD as source.' " works on travis, but not when you are checked into master.

[2017-05-03 10:24] surajssd commented on #585
What is the solution so that i have all local tests passing?

[2017-05-03 10:37] surajssd commented on #584
function [`isPath`](https://github.com/kubernetes-incubator/kompose/blob/master/pkg/transformer/utils.go#L99) needs an additional check which checks for dot `.` i.e. if the string is `.`, because it is also valid path as in current directory.

[2017-05-03 10:40] surajssd commented on #574
closing since https://github.com/kubernetes-incubator/kompose/pull/582 is merged

[2017-05-03 10:40] #574 closed

[2017-05-03 11:00] surajssd commented on #522
@surajnarwade are you working on this?

[2017-05-03 11:02] surajssd commented on #163
@surajnarwade libcompose supports this?

[2017-05-03 11:07] surajssd commented on #376
@surajnarwade https://github.com/kubernetes-incubator/kompose/pull/519#issue-217506525 says that the PR fixes this issue partially, what is the current state? Should we re-open this issue?

[2017-05-03 11:22] ashetty1 commented on #585
@surajssd see if running on detached HEAD works

[2017-05-03 13:10] kadel commented on #163
https://docs.docker.com/compose/compose-file/compose-file-v2/#healthcheck

[2017-05-03 14:16] surajnarwade commented on #376
@surajssd , no need to reopen the issue

[2017-05-03 16:54] cdrage opened #587 "Unable to run tests"
Not too sure why I'm getting this:
[code]

[2017-05-04 06:03] codecraf8 commented on #584
Could I request any ETA on this?

[2017-05-04 09:39] surajnarwade commented on #522
@surajssd yeah

[2017-05-04 13:31] cdrage commented on #587
Ended up being a rogue folder in `script/kompose` that caused the issue. Deleting that made tests run! :+1:

[2017-05-04 13:31] #587 closed

[2017-05-04 17:18] cdrage commented on #571
I don't believe this is an issue.

If an image key isn't passed, it will use the service name as per how it works in Docker Compose. I work around this in #521 (and thus merging #521 will fix this issue).

For your example, it will build as image "foo".

[2017-05-05 09:54] surajssd commented on #571
@cdrage I would not want to do magic here and ask user to specifically provide the image name, because then user might be confused why this is failing!

[2017-05-05 09:58] surajssd commented on #163
@kadel my question was more in respect of libcompose because it is the upstream for us and if they have added support for it then we can go forward with supporting this one as well

[2017-05-05 09:59] surajssd commented on #584
@surajnarwade @procrypt wanna take a stab at this one?

[2017-05-05 10:50] cdrage commented on #571
@surajssd I don't believe it's "magic". This is how Docker Compose does it while building, so I don't see a problem with it converting to Kubernetes and taking the appropriate Docker Image name as the service name.

[2017-05-05 12:28] procrypt commented on #584
I'll take this :+1:

[2017-05-06 05:15] justinhj opened #589 "crashes on launch"
Crashes on launch. Note that removing the networks section fixes the problem. This bug occurs in version 0.6.0. I tried to build the project from HEAD but wasn't able to get it working.

version: '2'

services:
  dynamodb:
    image: deangiberson/aws-dynamodb-local
    expose:
    - 8000
    networks:
     - appnet

  redis:
    image: redis:3.0-alpine
    expose:
      - 6379
    networks:
     -

[2017-05-06 06:37] surajnarwade commented on #585
@surajssd , this PR https://github.com/kubernetes-incubator/kompose/pull/577 will sove this issue

[2017-05-07 22:49] cdrage commented on #589
@justinhj That is REALLY odd, how did you get the "wikus" log and all?

[2017-05-08 05:28] surajnarwade commented on #589
@justinhj @cdrage , error is due to root level `network` key and it's coming from libcompose which is tracked here, https://github.com/docker/libcompose/issues/456

[2017-05-08 10:58] cdrage commented on #589
@surajnarwade Yup, but his logs say "wikus" and has the dropbox dir, which is my computer username

[2017-05-08 12:20] surajnarwade commented on #589
@cdrage , didn't get you ?

[2017-05-08 12:34] cdrage commented on #589
@surajnarwade

For some reason, his logs show:
[code]

Which is actually from MY computer (hence the `wikus` part). So I'm asking whether or not he may of copied-and-pasted a different issue or if he actually had these errors appear on this computer.

[2017-05-08 13:58] justinhj commented on #589
That is strange. Pretty sure I copied straight from my prompt and you can see my name at the start. I'll reproduce the error and check

[2017-05-08 14:04] justinhj commented on #589
I ran again and no wikus, so yeah it's possible something unintended happened when copy and pasting the issue. Here's the updated version...

justinhjmbp1:dockerlocal justinhj$ kompose convert
panic: runtime error: invalid memory address or nil pointer dereference
[signal SIGSEGV: segmentation violation code=0x1 addr=0x18 pc=0x21f6a8c]

goroutine 1 [running]:
github.com/kubernetes-incubator/kompos

[2017-05-08 14:37] cdrage commented on #589
@justinhj
Are you running this in a Docker container (I see /private/ as well as `dockerlocal` username).

Any way that we can re-produce this setup? (I think you're on Mac OS X?)

[2017-05-08 16:37] cdrage opened #591 "Problems running tests with latest master?"
Seems that the tests are no longer working?

[code]

[2017-05-08 16:48] justinhj commented on #589
No, dockerlocal is just the directory name. I'm running in Mac OS X terminal

[2017-05-09 05:01] surajnarwade commented on #591
@cdrage , have you exported environment variables ?

[code]

it works for me.

[2017-05-09 05:33] surajnarwade commented on #438
@kadel , @cdrage  label, `compose v2.1` needed

[2017-05-09 11:39] #576 closed

[2017-05-09 12:04] cdrage commented on #591
@surajnarwade ARGHHH, I *always* forget about this. I need to add a note for this somewhere!

[2017-05-09 12:22] surajssd commented on #591
@cdrage Can we close this one? Or do you want to add a comment of some kind in tests?

[2017-05-09 12:22] #591 closed

[2017-05-09 12:24] surajssd commented on #585
closed via https://github.com/kubernetes-incubator/kompose/pull/577

[2017-05-09 12:24] #585 closed

[2017-05-09 12:41] surajssd commented on #561
even if https://github.com/kubernetes-incubator/kompose/pull/577 is merged this issue still remains

[2017-05-09 13:16] cdrage commented on #445
Reopening this! :+1: needs https://github.com/kubernetes-incubator/kompose/pull/424 to close

[2017-05-10 07:56] ashetty1 opened #593 "Is this a case of buildconfig contextDir being incorrectly set?"
My docker-compose file:

[code]
And when I run `kompose convert`:

[code]

I don't see the same behaviour with this docker-compose file:

[code]

The contextDir is set correctly with the above docker compose file:

[code]
Can you please confirm, @surajnarwade

[2017-05-10 09:48] surajnarwade commented on #593
@ashetty1 , contextdir is same when I run both examples,

[code]

I think you didn't pull latest changes, becuase every time `contextdir` will have `/` at the end which is not reflecting in your output

[2017-05-10 10:01] ashetty1 commented on #593
Thanks, @surajnarwade.

[2017-05-10 10:01] #593 closed

[2017-05-10 11:25] ashetty1 opened #594 "`kompose convert` should validate dockerfilepath"
Would it be possible for `dockerfilepath` to be validated with `kompose convert` on OpenShift? Suppose an absolute path is provided instead of relative path, it gets detected only with `oc create`.

docker-compose file here:
[code]
...
[code]

[2017-05-10 12:44] procrypt opened #595 "environment variables are populated in random order in the created artifacts."
If we are loading the some variables from the environment to `docker-compose` file they get populated in any random order. This is generates different output every time when we run `kompose convert --stdout`.

[2017-05-10 13:21] #554 closed

[2017-05-12 11:56] judavi opened #599 "Volume mount on the host isn't supported"
Hi!
I'm using  [https://github.com/docker/notary/blob/master/docker-compose.yml](docker-compose.yml)  Docker Notary. My plan is deploy the Docker Notary Server on Openshift so I'm using
`kompose -f docker-compose.yml --provider openshift up -v` but the volumes keep ever in pending state.

Also when I use `kompose -f docker-compose.yml --provider openshift down -v`
I'm having this warning that I'm

[2017-05-12 13:52] cdrage commented on #599
@judavi
Hi!

Just to make sure, but have you created any PersistentVolume's before you've used the PersistentVolumeClaims (what Kubernetes is creating within OpenShift)

[2017-05-12 15:33] judavi commented on #599
@cdrage
thanks man for the response!
now that you mention, even if a try to create a persistent volume manually it keeps in pending state so my issue looks like it's not directly related with kompose

![image](https://cloud.githubusercontent.com/assets/1766933/26005314/99df7a52-3730-11e7-9588-608008748ffa.png)

[2017-05-12 15:33] #599 closed

[2017-05-12 21:37] jonathanstiansen commented on #379
Nope! It's solved :-)

[2017-05-15 09:13] surajnarwade commented on #474
@kadel, @cdrage  I have sent PR for this issue in libcompose, which can be tracked here,  https://github.com/docker/libcompose/pull/467

[2017-05-15 09:13] surajssd commented on #594
@ashetty1 yes this should be done, thanks for reporting!

[2017-05-15 12:00] gitlawr commented on #437
upstream issue was fixed so I think we can take it a step further

[2017-05-15 12:01] gitlawr commented on #440
upstream issue was fixed and we should be able to move on

[2017-05-15 14:07] surajssd commented on #599
Here is what I did to deploy the app on openshift

I created the config here with help of kompose but it has few tweaks(added the configmap where host mount is done in mysql deploymentconfig and also there is issue with reading the info about git repo, so update the buildconfigs):

Link to following big config file from [pastebin](http://pastebin.centos.org/92276/):

<details>

[code]

</details>

[2017-05-15 16:13] surajnarwade commented on #589
@cdrage @justinhj , since #601 is merged now, issue has been resolved
I tried with above docker-compose file, it works well,

[code]

[2017-05-15 16:16] surajnarwade commented on #474
@peterpme @kadel ,

I tried above docker compose file, its working well now,

[code]

we can close this issue now

[2017-05-15 16:31] surajssd commented on #440
@cdrage @surajnarwade asking out of curiousity, where does this map to in k8s? And in code are we handing this info to something?

[2017-05-15 16:32] surajssd commented on #589
closing this one then!

[2017-05-15 16:32] #589 closed

[2017-05-16 08:16] #406 closed

[2017-05-16 08:40] surajnarwade commented on #445
@cdrage @surajssd we can close this issue now

[2017-05-16 09:58] surajnarwade commented on #594
@surajssd @ashetty1 , I will take this up

[2017-05-16 14:55] judavi commented on #599
@surajssd WOW!!! thanks man ! this guide is really helpful for me!!
I will try with your solution and let you know if could fix the final issue. Thanks!

[2017-05-16 15:10] kadel opened #604 "Failing test should show diff"
If one test in  `make test-cmd` fails it just shows following message:
[code]

It is quite annoying to debug why this test is failing because you have to run it again manually to catch output and do `diff` with the expected output.

Diff should be shown automatically for.

[2017-05-16 17:26] cdrage opened #605 "Add support for providing URL"
Would be awesome to be able to supply:
[code]

As an input!

@containscafeine

[2017-05-16 17:27] #445 closed

[2017-05-17 08:47] gitlawr commented on #605
Looks cool:smirk_cat:, what if 'build' is used in the file

[2017-05-17 11:40] #382 closed

[2017-05-17 14:01] containscafeine opened #607 "Add design decisions for contributors"
It would be great to have certain design decisions in a developers doc or CONTRIBUTING.md suggesting the conventions being followed throughout the project.

One would not to use `log.Fatal` at places, instead pass the error up the call stack.
Another would be to use the `errors` package to wrap and pass the errors up the stack.

[2017-05-17 15:05] cdrage commented on #604
I totally agree. It's annoying to not know what's exactly wrong between the two :-1:

[2017-05-18 05:02] surajssd commented on #605
@gitlawr valid point though! It will fail maybe!

[2017-05-18 06:04] gitlawr commented on #440
@surajssd I think stop_grace_period can be mapped to Pod.Spec.TerminationGracePeriodSeconds.
This issue hasn't been solved yet. Still no warning/error when using this key.

[2017-05-18 06:57] surajnarwade commented on #440
@surajssd , can you please reopen the issue  ?

[2017-05-18 08:43] gitlawr opened #610 "Add support for 'pid' key"
In compose file, [pid](https://docs.docker.com/compose/compose-file/#pid) key is merely used to set the PID mode to the host PID mode (and no support for pid=container:id). Therefore I think it can be converted to [Pod.Spec.HostPid](https://kubernetes.io/docs/resources-reference/v1.6/#podspec-v1-core) in K8s.

[2017-05-18 09:33] surajnarwade commented on #610
@gitlawr , but k8s spec is boolean here

[2017-05-18 09:38] gitlawr commented on #610
yes, but it seems to be the same in compose file, you choose pid='host' or not

[2017-05-18 09:45] surajnarwade commented on #610
@surajssd @kadel thoughts ?

[2017-05-18 10:19] gitlawr commented on #267
Hope not to be pedantic here, but I think for `cpu_shares` and `cpu_quota` there are highly relevant concepts in Kubernetes: [see](https://kubernetes.io/docs/concepts/configuration/manage-compute-resources-container/#how-pods-with-resource-limits-are-run).
These two keys in compose file are analogous to `docker run` counterpart, while in k8s `requests.cpu` maps to `docker run --cpu-shares` and `li

[2017-05-18 10:34] surajnarwade commented on #267
@gitlawr , but there is no direct mapping for `cpu_shares` and `quotas`

[2017-05-18 13:44] arcolife opened #611 "image tag name absent from generated imagestream config"
On running `kompose up --provider openshift` the image build is completed, but the container never starts. All I see on `oc get pods` is:

[code]

On manually triggering the container through `oc rollout latest dc/web`, I get
[code]
On checking `oc edit is web` I get
[code]

so then on checking `oc get is` I see:
[code]
But my docker compose file contains the following info:

[code]

The `:backend

[2017-05-18 14:04] surajssd commented on #487
I think this is solved so closing it!

[2017-05-18 14:04] #487 closed

[2017-05-18 14:05] cdrage commented on #611
I *believe* we'll be fixing this in #521 .. See one of the comments in regards to ImageStream. I'm using https://github.com/novln/docker-parser in order to fix the problem with tags not being added correctly.

[2017-05-18 14:06] cdrage commented on #610
It should be fine.. `if pid=="host` make the boolean true in k8s...

[2017-05-18 14:10] gitlawr commented on #267
@surajnarwade For example,setting cpu resource such as:
[code]
Then the container will be run with CpuShares==102(which is 0.1*1024) and CpuQuota=50000(which is half of CpuPeriod given CpuPeriod= 100000). Is it kind of direct mapping I think?

[2017-05-19 04:56] arcolife commented on #611
Oh okay. That 521 thread seems like a pretty huge deal, so I'll wait..

docker-parser looks interesting. thanks!

[2017-05-23 07:55] judavi commented on #599
@surajssd I'm still stuck with "Trust not fully operational: rpc error" error. Did you have luck finding a solution?

[2017-05-23 08:47] judavi commented on #599
I'm sure that is related with the alias from the docker-compose file but I'm not sure how deal with aliases in OpenShift
![image](https://cloud.githubusercontent.com/assets/1766933/26346026/ce0c0e02-3f9c-11e7-92af-92dd8b0175b1.png)

[2017-05-23 10:01] judavi commented on #599
@surajssd the problem it's that! so to fix that issue I update the code on https://github.com/docker/notary/blob/7c26a98a3ff2bef958850ae7a027435fdb5f010d/fixtures/server-config.json to not use the alias (just use signer).

![image](https://cloud.githubusercontent.com/assets/1766933/26349210/02d75bbe-3fa7-11e7-88ed-582c626685c7.png)

Apart of that you need to update the default certs to include als

[2017-05-23 10:04] surajssd commented on #599
@judavi hey if you blog about it tell us as well! :smiley:

[2017-05-23 10:37] kadel commented on #611
The issue here is that image tag is not correctly propagated to BuildConfig.

DeploymentConfig is correctly set to watch `backend` tag in this case, but BuildConfig is pushing image to `latest` tag. If `image` with tag was set in docker-compse.yaml we should respect that. In this case BuildConfig should output to `web:backend`.

[2017-05-23 10:40] kadel commented on #611
@cdrage I don't think this is related to  #521, as it looks like a bug in how BuildConfig is generated.

[2017-05-23 11:03] judavi commented on #599
@surajssd one question, after you create each one of the yaml configs how you start each one of the containers? at this moment I'm using - kompose up - but that rewrites any change made in the yaml configs from openshift so how you manually start each one of the containers?

[2017-05-23 12:07] kadel commented on #611
@arcolife @cdrage Just created new PR #613 that should fix this.

[2017-05-23 12:53] arcolife commented on #611
precisely so :) https://github.com/kubernetes-incubator/kompose/pull/613/files#diff-91f3ad308c13930dc408cd92991debeaR248

[2017-05-23 18:31] cdrage opened #614 "Unable to run `make test-openshift`"
Seems it's saying it's missing a command?

[code]

Bit confused on what's happening.

[2017-05-23 19:13] #611 closed

[2017-05-25 16:06] surajssd commented on #440
closed by #608

[2017-05-25 16:06] #440 closed

[2017-05-26 09:24] ashetty1 commented on #614
Investigating ...

[2017-05-26 09:31] verisadmin opened #620 "configuration key 'build' contains an invalid type, it should be a string."
- I have docker-compose file whixh extends other compose files and setup my apps. It is working fine.
- But When I tried same file with `kompose` I am getting invalid type error :

[code]

- here are my Compose files :
   - Main :

[code]

   - child :

[code]

[2017-05-26 10:00] ashetty1 commented on #614
Looks like '--emptyvols' is broken. OpenShift tests pass --emptyvols while  running `kompose up`:

[code]

[code]

Without --emptyvols, `kompose up` runs fine:
[code]

[2017-05-26 10:03] ashetty1 commented on #614
@surajnarwade , think this was the same issue you faced too.

[2017-05-29 06:56] surajssd opened #624 "duplicate info from multiple compose files not being overridden"
duplicate info from multiple compose files not being overridden

I am using two docker-compose files:
[code]

Both docker-compose files are same.

Now when deploying it to the cluster using kompose the conversion does not look at the duplicate data. But merges the values.

When deploying to the cluster directly:

[code]

When doing the conversion, see the repetition of ports in the `service` and i

[2017-05-29 06:57] surajssd commented on #624
Not sure if this is coming from upstream, libcompose.

[2017-05-29 07:05] surajssd commented on #624
docker-compose seems to be working fine with it:

[code]

additional info:

[code]

[2017-05-29 07:07] surajssd commented on #624
I think fixing this will unblock https://github.com/kubernetes-incubator/kompose/pull/596 since this is causing the duplicate env to be populated ref: https://github.com/kubernetes-incubator/kompose/pull/596#discussion_r116923543

[2017-05-29 09:36] surajssd commented on #624
Reported in upstream https://github.com/docker/libcompose/issues/473

[2017-05-29 09:51] surajssd commented on #599
@judavi I have converted once and then using following command:

[code]

[2017-05-29 09:58] surajssd commented on #620
@verisadmin what is the version of kompose you are using?

[2017-05-29 11:14] ashetty1 opened #625 "emptyvols option doesn't work for kompose convert/up"
`kompose convert` and `kompose up` fails with emptyvols option:

[code]

[code]
 Without emptyvols option:
[code]

Same issue is seen with `kompose up`, and has been documented here #614

[2017-05-30 09:26] rawkode commented on #625
Taking a look at this :+1:

[2017-05-31 10:18] surajnarwade commented on #625
@ashetty1 , this is weird but if I run, I got error,

[code]

but if I run it as,

[code]

it worked :)

[2017-05-31 10:23] surajnarwade commented on #474
@cdrage @surajssd , we can close this now

[2017-05-31 11:41] procrypt opened #627 "Fix EnvSort so that env variables are populated properly"
Environment variables in `docker-compose` file are populated in random order resulting in failure of the `functional test` in `golang`.

I have used multiple `docker-compose` files to test this out from
[fixtures](https://github.com/kubernetes-incubator/kompose/blob/master/script/test/fixtures/multiple-compose-files) folder.
`docker-compose` file used [1](https://github.com/kubernetes-incubator/ko

[2017-05-31 12:10] surajnarwade commented on #604
taking this up :)

[2017-05-31 15:19] #474 closed

[2017-05-31 16:06] #610 closed

[2017-05-31 17:13] #594 closed

[2017-06-01 06:58] ashetty1 commented on #625
@surajnarwade yes. I saw the same behaviour too. If --emptyvols is passed after up/down, it works. Weird indeed.

[2017-06-01 10:04] procrypt commented on #627
I'm working on this.

[2017-06-02 09:23] surajnarwade commented on #625
@kadel , is it intentional ?

[2017-06-02 11:11] kadel commented on #625
yes, that is intentional.
`--emptyvol` is not a global flag, so it has to be specified after subcommand.

[2017-06-03 08:54] verisadmin commented on #620
@surajssd
`0.7.0 (c25b7e8)`

[2017-06-05 04:59] ashetty1 commented on #625
Closing this.

[2017-06-05 04:59] #625 closed

[2017-06-06 16:50] cdrage opened #632 "Delete BuildConfig on `kompose down`"
After #521 is merged in, we'll have to figure out a way to determine if BuildConfig has been used and delete it accordingly when doing `kompose down`

[2017-06-07 21:15] changux opened #633 "ports error on converting"
Hi.

I am trying to convert this docker-compose file:

[https://raw.githubusercontent.com/wazuh/wazuh-docker/master/docker-compose.yml]()

With this output:

[code]
Docker-compose file is valid, what is wrong?

Thanks!

[2017-06-08 13:35] cdrage commented on #633
@changux

Try:
[code]

instead of

[code]

and see what happens.

[2017-06-12 07:54] kadel commented on #633
hmm, interesting. It looks like "514/udp:514/udp" is supported by docker-compose tool, but not by libcompose.

It's strange as I don't see why it would ever make sense to set different protocol for container and host port.

[2017-06-12 10:01] kadel commented on #620
this looks like bug in libcompose :-(
It seems like for some reason extends and with builds are not handled properly :(

[2017-06-12 14:12] cdrage opened #636 "Add `build` key support for v3 of Docker Compose"
This will have to be fixed upstream as the code here in `docker/cli` ignores build at the moment: https://github.com/docker/cli/blob/master/cli/compose/types/types.go#L9

This is a tracking issue as #600 has yet to be merged.

[2017-06-12 21:58] changux commented on #633
Thanks. After follow your suggestions, convert process finished successfully.

Regards!

[2017-06-12 21:59] #633 closed

[2017-06-14 07:07] surajssd commented on #636
@cdrage #600 is merged!

[2017-06-14 07:14] surajssd opened #639 "Save the cmd used to create config"
When we generate config it is really hard to know what command was used to generate that config. And has caused issues in past. As much as important it is to have the docker-compose file to generate the artifacts the command line flags used to generate config are also important, so we should have some way to know what flags were used to generate specific config.

So I propose saving the command gi

[2017-06-14 07:19] kadel commented on #639
This is a good idea.
But maybe instead of full command, it might be better to add something that can be easily parsed.
Or add another extra annotation that will be easy to parse.

[code]

[2017-06-14 07:53] #627 closed

[2017-06-14 08:17] surajssd commented on #639
@kadel yeah even that SGTM!

[2017-06-14 09:07] surajnarwade commented on #604
@cdrage @kadel we can close this as #638 is merged now

[2017-06-14 14:10] cdrage commented on #636
@surajssd Yes, but this issue is for post-# #600 merge. V3 Build support does not work due to: https://github.com/docker/cli/blob/master/cli/compose/types/types.go#L9 (see ignored section)

[2017-06-14 14:15] #604 closed

[2017-06-14 14:27] cdrage commented on #639
This sounds great! Would really help in term's of troubleshooting conversions.

[2017-06-15 05:54] procrypt opened #640 "Move git functions in openshift.go into a separate package"
We have some git functions like `GetGitCurrentRemoteURL()` and  `GetGitCurrentBranch()` in `opneshift.go`, it would be great if we move them to a separate package.

cc: @kadel

[2017-06-15 06:02] procrypt commented on #640
@kadel Working on this.

[2017-06-15 07:06] ashetty1 opened #641 "Add openshift tests for docker compose v3"
Add OpenShift tests for validating docker composer v3 support in Kompose

Ref: #600

[2017-06-15 09:26] #522 closed

[2017-06-15 13:44] ashetty1 opened #643 "Support restart_policy in v3 docker compose"
We need to support the restart_policy key in v3 docker compose file.

[2017-06-15 17:02] cdrage opened #644 "Tracking card for new `deploy` keys in v3"
We have to cover the new keys in deploy for v3 of Docker Compose, at the moment, we only have mem_limit complete.

New keys:

- [x] mode
- [x] replicas
- [x] placement
- [ ] update_config
- [x] resources
- [x] restart_policy
- [x] labels
- [x] cpus (under 'resources')
- [X] memory (under 'resources')

[2017-06-15 17:11] cdrage commented on #97
#521 Has been merged! :tada: :tada: :tada: Let's close this! :+1:

[2017-06-15 17:11] #97 closed

[2017-06-15 17:11] cdrage commented on #412
@pivulic #600 has now been merged! :tada: :tada: :tada:

[2017-06-15 17:11] #412 closed

[2017-06-15 17:13] pivulic commented on #412
Wohoo!

[2017-06-15 17:24] cdrage commented on #643
Hi @ashetty1 I decided to create a tracking card for all of this here: #644

[2017-06-15 17:24] #643 closed

[2017-06-15 17:54] cdrage opened #646 "v3 Documentation"
We should add some more documentation in regards to v3 as well as a bit on v1/v2 somewhere in the user-guide or elsewhere.

[2017-06-15 17:55] cdrage opened #647 "Docker Build/Push documentation"
With the changes to how we build and push containers when users use the `build` key, we should note in our documentation both the functionality as well as *how* to use it.

[2017-06-16 06:06] surajnarwade commented on #620
I will take this up

[2017-06-16 06:12] surajnarwade commented on #620
I have filed issue in libcompose which can be tracked here: https://github.com/docker/libcompose/issues/475

[2017-06-16 09:16] surajnarwade commented on #644
I will take `replicas` key

[2017-06-16 12:46] cdrage commented on #644
@surajnarwade I already started work on it, sorry :( I'm setting up a separate function so that we can parse these keys easier.

[2017-06-16 12:48] surajnarwade commented on #644
@cdrage okay no worries

[2017-06-16 14:17] ashetty1 commented on #644
@cdrage also, Ports in long syntax?

[2017-06-16 14:36] cdrage commented on #644
@ashetty1 Open up another issue for that. But it's v3.2 and it's not even integrated into moby/moby yet.

[2017-06-17 05:50] #595 closed

[2017-06-17 05:56] #620 closed

[2017-06-18 11:54] bgruening opened #650 "v3 env substitution is not working"
Hi,

I have a few problems with the latest kompose version and the substitutions of env vars.

[code]

This small test file:
[code]

result in this k8s file:
[code]

I tried to create an .env file
[code]

and also exported it with no success.

`- GALAXY_RUNNERS_ENABLE_K8=${GALAXY_RUNNERS_ENABLE_K8:-default}` in the docker-compose.yml file will substitute it with `default` but not with the values a

[2017-06-18 11:56] bgruening commented on #650
ping @cdrage as you have rocked the v3 world lately :)

[2017-06-19 13:40] #584 closed

[2017-06-19 20:23] cdrage opened #652 "Deprecation warnings are not showing"
See: https://github.com/spf13/cobra/issues/463

Marking flags as `MarkDeprecated` does not show the proper warning.

[2017-06-19 20:42] cdrage commented on #650
Hey @bgruening I'm going to have a look into this and see what's up! Other than the env variables, I'm assuming everything has converted correctly for docker-galaxy-stable?

[2017-06-19 21:46] bgruening commented on #650
@cdrage galaxy-docker-stable is a very complicated beast and we have some more problems.

For example this one: https://github.com/bgruening/docker-galaxy-stable/pull/347/commits/2c56ffa38d79078d578cca031155b40a1ee57a53

An other thing is that I want to get this under CI testing. So I use `./hack/local-up-cluster.sh` to start a k8s test env and in this it seems I need to have PV.yaml files which a

[2017-06-20 04:22] procrypt opened #654 "make test is failing"
When I run make test I'm getting this error
[code]

[2017-06-20 06:39] surajssd opened #656 "kompose build fails: unable to create tarball"
kompose build fails: unable to create tarball

my kompose version
[code]

when doing local builds on repo https://github.com/pranavgore09/classico/tree/nodejs-service

[code]

I have made changes to the docker-compose file to have my docker hub repo name, docker-compose file looks like this:

[code]

running the kompose build command

[code]

Since the build is big, so i cannot know what is happen

[2017-06-20 09:10] kadel commented on #656
It looks like this problem is caused by symlinks in the build directory. They are not handled properly

[2017-06-20 09:56] kadel commented on #163
ah, I don't know if libcompose supports that.

But we could add healthchecks for v3, we don't use libcompose for that.

[2017-06-20 10:10] surajnarwade commented on #163
@kadel @surajssd libcompose don't support health checks

[2017-06-20 10:41] surajssd commented on #656
@kadel just a note this works if we use buildconfigs to do builds

[2017-06-20 10:42] surajssd opened #657 "Enable kompose to generate configs per docker-compose service"
Right now we create configs of entire docker-compose file.

Consider the following docker-compose file with only one service:

[code]

Now a user is using this for sometime, but after sometime she adds one more service and docker-compose file looks like this:

[code]

Now what user wants is that only artifacts of service `two` to be created. How can we enable that to happen? I propose that we add

[2017-06-20 10:43] kadel commented on #656
yes, That makes sense as buildconfig is not creating tar.

The problem is with creating tar that gets sent to docker daemon, it doesn't handle symlinks properly

[2017-06-20 10:44] kadel commented on #656
one of the possible solutions is described here https://stackoverflow.com/questions/38454850/getting-write-too-long-error-when-trying-to-create-tar-gz-file-from-file-and-d

[2017-06-20 11:22] kadel commented on #650
hope I haven't stepped on your toe @cdrage :innocent:   I just wanted to look what is happening there, and saw a solution - #658 :wink:

[2017-06-20 12:27] #654 closed

[2017-06-20 12:55] procrypt opened #659 "make test failing again"
When I run `make test`, it's failing again
[code]

[2017-06-20 13:00] cdrage commented on #659
#660 fixes this :)

[2017-06-20 13:10] surajnarwade commented on #657
I will take this up

[2017-06-20 13:39] surajnarwade commented on #636
@surajssd @cdrage , as `build` is still unsupported in https://github.com/docker/cli/blob/master/cli/compose/types/types.go#L9 , shall we use it from v1v2.go for v3.go ?
does it make sense ? if yes I am up for this :)

[2017-06-20 13:41] #650 closed

[2017-06-20 13:44] cdrage commented on #636
@surajnarwade Bit confused what you mean.

Yes, we are indeed going to be re-using the code from `v1v2.go` in `v3.go` but that's the easy part, the problem is parsing v3 correctly so we can actually retrieve the information.

This would have to be fixed upstream unfortunately, or we can find a work-around to retrieve the keys.

[2017-06-20 13:45] cdrage commented on #636
When the time comes, we will move the `build` conversion code to a separate file (`compose.go` maybe where the other functions are? So both v1v2.go and v3.go can use it.

If you can find a way to retrieve the build key that'd be great! :+1: :100: :+1:

[2017-06-20 13:54] cdrage commented on #657
@surajnarwade Please don't take this up yet, we need to discuss the scope of this functionality before any sort of implementation.

@surajssd This doesn't really make sense. If someone we're to add another service, it's as simple as adding the service to `docker-compose.yaml` converting, and then using `kubectl apply`, no? Kubernetes would automatically figure out what needs to be added and/or upd

[2017-06-20 14:17] surajnarwade commented on #657
@cdrage okay :)

[2017-06-20 14:22] surajnarwade commented on #636
thanks , @cdrage I will give it a try :)

[2017-06-20 16:56] cdrage commented on #659
Fixed!

[2017-06-20 16:56] #659 closed

[2017-06-20 18:29] cdrage commented on #482
https://github.com/kubernetes-incubator/kompose/pull/645 updates this

[2017-06-20 18:29] cdrage commented on #430
I agree with @kadel

Let's stick with v2 / v3 for now  and still support v1 (it's not that hard to maintain)

[2017-06-20 18:29] #430 closed

[2017-06-20 18:31] cdrage commented on #292
I'm going to close this for now.

[2017-06-20 18:31] #292 closed

[2017-06-20 18:32] cdrage commented on #70
I'm going to eventually update the RELEASE.md document to better outline how we do releases (run the script, add SHA, etc.)

[2017-06-20 18:38] cdrage commented on #447
@surajnarwade @procrypt

Is it possible to investigate this to see what we could possibly do to implement it?

Of course, other top-level keys such as `networks` makes sense not to support, but `volumes` seems important.

[2017-06-20 18:38] cdrage commented on #644
Hey @surajnarwade wanna take this up and see how we can implement the `deploy` side of things? I was starting work on this but got side-tracked by the 1.0.0 release

[2017-06-21 04:19] procrypt commented on #447
@cdrage Will look into it. @surajnarwade Do you have some time today we can discuss about it.

[2017-06-21 04:48] surajnarwade commented on #447
@procrypt sure

[2017-06-21 04:49] surajnarwade commented on #644
@cdrage, sure, can you point me towards where you start

[2017-06-21 04:50] surajnarwade commented on #70
@cdrage , are we gonna use goreleaser ?

[2017-06-21 07:49] kadel commented on #482
closed in #645

[2017-06-21 07:49] #482 closed

[2017-06-21 11:45] cdrage commented on #70
@surajnarwade Eventually :) Right now the release.sh script works wonders

[2017-06-21 11:47] cdrage commented on #644
@surajnarwade https://github.com/docker/cli/blob/master/cli/compose/types/types.go#L159 would be a good start. Luckily we're able to easily access the deploy keys via v3.go :smile:

[2017-06-21 11:48] surajnarwade commented on #70
@cdrage , cool

[2017-06-22 07:03] surajnarwade commented on #644
I will take `restart-policy` as well

[2017-06-22 13:18] #652 closed

[2017-06-23 13:50] cdrage opened #671 "Add example integration tests"
We should test our examples using integration tests ran on Travis / CentOS CI via this method: https://github.com/kubernetes/community/blob/master/contributors/devel/local-cluster/local.md (despite it being deprecated, it still works well).

[2017-06-26 14:45] #646 closed

[2017-06-26 14:45] #647 closed

[2017-06-26 18:37] cdrage commented on #390
I'm closing this for now until Docker figures out DAB's role.

[2017-06-26 18:37] #390 closed

[2017-06-26 18:43] cdrage commented on #422
@kadel Should we close this? Having the hash in the ID has actually helped in terms of releases as well as troubleshooting (whether or not it's been compiled locally against master, etc.)

[2017-06-26 18:44] cdrage commented on #351
@containscafeine @surajssd can we close this?

[2017-06-26 18:44] cdrage commented on #349
@surajssd I've gone ahead and enabled this within GitHub. Tests are now required to pass before merging in (can't merge in without travis being :green_heart: )

[2017-06-26 18:44] #349 closed

[2017-06-26 23:31] cdrage opened #673 "kompose.service.type issues"
For some odd reason, our example no longer works:
[code]

[code]

[2017-06-27 14:01] cdrage commented on #673
@kadel @surajnarwade @surajssd

Should we release 0.7.1? This is a huge bug in regards to the main demo. At the moment, our main example does not work due to this issue.

[2017-06-27 14:32] surajssd commented on #673
@cdrage yeah

[2017-06-27 14:32] surajnarwade commented on #673
@cdrage yeah :+1:

[2017-06-27 14:39] cdrage opened #675 "Clean up and add current example files to integration tests."
Two things:

- Test each example to see if they work and convert correctly
- Add integration tests for each one, test against a real Kubernetes cluster

[2017-06-27 14:40] cdrage opened #676 "Add OpenShift specific examples for conversion"
Let's add some OpenShift-specific examples to the `/examples` folder as many of the example files use root-user images (ex. official docker hub nginx image, apache2, etc.)

[2017-06-27 14:51] cdrage commented on #673
@kadel @surajnarwade @surajssd

So I was double-checking everything, it seems that we __dont__ need to do a release as long as #674 is merged in.

When I was testing the binary, I was testing 0.7.0 as well as the latest master (had it in two different bin directories), hence the reason why I was getting this error half the time.

Funny enough, #674 was actually a separate bug.

[2017-06-28 07:07] surajnarwade commented on #447
@cdrage , I think top-level volumes keys dont make any sense.

[2017-06-28 07:14] surajnarwade commented on #614
@ashetty1 yeah

[2017-06-28 07:36] surajnarwade commented on #323
@cdrage @kadel, we can close this issue as functional tests are being added for `kompose down` by @ashetty1

[2017-06-28 09:19] surajnarwade commented on #235
@cdrage @kadel @surajssd , can we have something like this:

[code]

which allow us to set pvc size.

thoughts ?

[2017-06-28 12:41] cdrage commented on #235
Perhaps --volume-size ? @surajnarwade

[2017-06-28 12:42] #673 closed

[2017-06-28 12:42] #323 closed

[2017-06-28 12:43] cdrage commented on #447
@surajnarwade Could you give your reasoning as to why they don't make sense?

[2017-06-30 05:11] surajnarwade opened #678 "setting environment variable PROVIDER no longer works"
Kompose user guide states as:

[code]

but it doesn't work.

[code]

[2017-06-30 10:03] cdrage commented on #678
I don't think we should support this. Passing in env variables this way.

[2017-07-05 10:03] surajnarwade commented on #678
@cdrage probably not, but we should remove it from user-guide as well.

[2017-07-05 11:15] surajnarwade commented on #675
I am taking this up

[2017-07-06 12:42] surajssd commented on #644
this was closed by #664 this by mistake, if this is a tracking card @surajnarwade please don't add the fixes thing in your PR because this will get closed on the next PR that says that again

[2017-07-06 14:39] phatlast96 opened #683 "One Script to Run Them All"
Running each individual K8s YAML file is dramatic change for anyone who is used to Docker Swarm, who tends to only run a single 'docker-compose.yaml' file for deployment.

It'd be nice for kompose to produce a single, executable script that runs all the K8s YAML files it produced. This thus improves the workflow of a former Docker Swarm user in addition to easing their transition to Kubernetes.

T

[2017-07-08 07:08] #678 closed

[2017-07-10 12:02] hrishin opened #691 "Docker build in kompose convert"
`kompose convert` provides nice utility for converting docker-compose resources to kubenetes resources. However while leveraging on it if compose file has `build:` tag, so converting those resources to kubernates resources wont help much in our case as another system expects docker image do exists in respective registry prior bringing kubenetes deployment up and running.
It would be great if we ca

[2017-07-10 12:42] surajnarwade commented on #691
@hrishin , try this `kompose convert --build=local`, I forgot to mention it earlier, sorry about that

[2017-07-10 13:55] cdrage commented on #691
Hi @hrishin !

Feel free to view the discussion here: https://github.com/kubernetes-incubator/kompose/pull/521 on why build/push wasn't added to convert :+1:

[2017-07-10 17:21] surajnarwade commented on #691
@cdrage , but I can see `--build` flag as well when I do `kompose convert -h`

[2017-07-10 18:40] cdrage commented on #691
@surajnarwade Woops, let me clarify, As to why build/push wasn't enabled by default when added to convert :+1:

[2017-07-11 07:27] surajssd opened #696 "remove dependency on docker daemon for building container images"
As a part of removing the dependency on docker and docker daemon, I propose we use buildah for building OCI compliant images.
And as a part of this work we will also need a mechanism that helps to push the images so we can use skopeo for that.

This will make sure we can build image anywhere regardless of the docker daemon, we don't need to exec since exec is bad. We can package all this in one si

[2017-07-11 12:45] cdrage opened #698 "Add StatefulSet"
We've gone DaemonSet, let's add StatefulSet now.

https://kubernetes.io/docs/concepts/workloads/controllers/statefulset/

[2017-07-11 12:47] cdrage commented on #696
@surajssd Once they both exit alpha / work-in-progress it will make sense to add.

Doesn't make sense to add this to the binary however... If you're using Kompose it's assumed you have Docker installed considering you're converting. The use case as well for building / pushing too is for those whom use Docker within Kubernetes deployments. So makes sense to use a stable API (the Docker API) for bui

[2017-07-12 04:03] pradeepto commented on #696
Actually, Kompose never required Docker to be installed before it had the build story. Integrating with `buildah` is important because it builds OCI compliant images and this integration is definitely important to have.

Having said that, I agree that `buildah` is alpha but it is feature complete. It is very important and good to start thinking about integrating it because being an early adopter h

[2017-07-12 08:29] kadel commented on #696
I don't know about this. Kompose is a converter for **docker compose** files. Expectation is that you are using dokcer-compose  alongside with Kompose. I don't know if it is make sense to use smething else for building container than docker.

[2017-07-12 08:57] pradeepto commented on #696
Good point, but then docker compose is for docker, we use Kompose to move to Kubernetes.

This doesn't need to be a priority issue but if images built using `buildah` can run on Kubernetes, we should support that.

[2017-07-13 17:19] JadCham commented on #683
@phatlast96  When you convert you can use kompose convert -o output.yaml and the output will be aggregated in one single file. I think this is very close to docker-compose.

[2017-07-13 17:44] cdrage commented on #683
What @JadCham said :)

If you do `-o` everything should work correctly in one file.

[2017-07-13 23:08] phatlast96 commented on #683
Thanks! I did not know that!

[2017-07-14 06:14] surajnarwade commented on #133
@kadel , I think we have good set of test for kompose now, we can close this issue now ?

[2017-07-14 13:45] #683 closed

[2017-07-14 14:02] hrishin commented on #691
@cdrage  @surajnarwade
Thanks!

So are we going to release this feature in next release?

[2017-07-14 14:10] hrishin opened #712 "Kompose latest release version info from version file"
For fabrica8 maven plugin integration, we need a file which can give latest release version from Http URL.

Now this can be done by consuming github release API  but it will overkill the simplicity.
For the sake of consistency and aligning existing implementations we need the version file under kompose repository.
e.g. gofabric8 https://github.com/fabric8io/gofabric8/blob/master/version/VERSION

I

[2017-07-14 14:17] cdrage commented on #712
@hrishin fine by me! should we stick this in the `/build` directory? what do you think?

[2017-07-14 15:43] cdrage commented on #691
@hrishin Yup! We *just* graduated (hence why we're in Kubernetes land now) and haven't made the announcement yet, but we will be coinciding the graduation blog post with a 1.0.0 release!

[2017-07-14 18:07] hrishin commented on #712
@cdrage sure, looks good for us :)
Thanks @cdrage  @surajnarwade

[2017-07-14 18:46] cdrage commented on #712
@hrishin Feel free to push a PR if you wish!

[2017-07-15 19:42] nikhilrayaprolu opened #713 "error with autogenerated cluster name"
![image](https://user-images.githubusercontent.com/15216503/28242224-b0a035a4-69c3-11e7-840d-1ef6b1bd2501.png)
![image](https://user-images.githubusercontent.com/15216503/28242227-c7700ae8-69c3-11e7-93df-6dc5b34b3aa1.png)

[2017-07-16 09:07] surajnarwade commented on #713
@nikhilrayaprolu , can you paste your docker-compose file here ?

[2017-07-16 09:10] surajnarwade commented on #712
@cdrage @hrishin , I already got some inspiration for this from fabric8, /me taking this.

[2017-07-17 12:59] surajnarwade commented on #437
@cdrage @procrypt i think, `group_add` mapping doesn't make any sense in kompose, so it will be better to add it in unsupported keys, sending PR for the same :)

[2017-07-18 03:58] #712 closed

[2017-07-18 05:13] surajssd commented on #349
@cdrage awesome thing!

[2017-07-18 05:21] surajssd commented on #713
@nikhilrayaprolu your env name is wrong, you cannot define env that has `.` dot in it. You can only have capital and small characters, dashes and underscores and numbers.

Also see the regex in the error:

[code]

So change the name of env `cluster.name` to something else, similarly for all other envs.

I don't think kompose can do anything with this other than adding checks on our side. This come

[2017-07-18 05:26] surajssd commented on #133
We can do validation on what kompose generates to check if it matches the k8s version using jsonschema or the tool called [kubeval](https://github.com/garethr/kubeval)

[2017-07-18 05:30] surajnarwade commented on #644
@cdrage @surajssd , I think `mode` is swarm specific command, it will be better if we can add it to unsupported keys

[2017-07-18 09:37] surajnarwade opened #717 "adding timestamp in k8s artifacts"
I was validating results from kompose using [kubeval](https://github.com/garethr/kubeval), I got following output:

[code]

Should we add timestamp in spec ?
any thoughts, @kadel @surajssd @cdrage

[2017-07-18 11:02] kadel commented on #717
I don't think it should be set.

It looks like bug in `kubeval`

If you look at the [reference documentatoin](https://kubernetes.io/docs/api-reference/v1.7/#objectmeta-v1-meta) it says
"**CreationTimestamp is a timestamp representing the server time when this object was created**. It is not guaranteed to be set in happens-before order across separate operations. Clients may not set this value. It

[2017-07-18 11:15] surajnarwade commented on #717
@kadel , gotcha, thanks for clarifying

[2017-07-18 11:15] #717 closed

[2017-07-18 13:02] cdrage opened #718 "Distinguish / re-add ` $` to docs"
As per #692 @surajssd 's comments, let's re-add `$` whenever we show a command whether in the README, docs or website.

[2017-07-19 04:09] surajnarwade commented on #691
@cdrage @hrishin i think we can close this issue

[2017-07-19 05:06] surajnarwade commented on #675
As of now, I have tested each  example from our example directory and all are working on minikube.

[2017-07-19 05:14] surajnarwade commented on #713
@nikhilrayaprolu , is your problem resolved, can we close this issue ?

[2017-07-19 05:18] nikhilrayaprolu commented on #713
@surajnarwade @surajssd
here is my docker-compose.yml
[code]

[2017-07-19 05:19] nikhilrayaprolu commented on #713
that is standard syntax by elastic regarding env variables
https://www.elastic.co/guide/en/elasticsearch/reference/current/docker.html

[2017-07-19 06:49] surajnarwade commented on #639
I am taking this up.

[2017-07-19 07:06] surajssd commented on #713
@nikhilrayaprolu you can get some inspiration from elastic [example in k8s repo](https://github.com/kubernetes/kubernetes/blob/master/examples/elasticsearch/es-rc.yaml) or [helm chart for elastic](https://github.com/kubernetes/charts/tree/master/incubator/elasticsearch).

Also issue is [filed with elastic upstream](https://github.com/elastic/elasticsearch-docker/issues/33) to improve their docker-

[2017-07-19 07:09] surajssd commented on #717
@surajnarwade try to report it in `kubeval` ?

[2017-07-19 12:43] kadel opened #719 "Change imports for kompose packages to 'k8s.io/kompose""
To reflect move to Kubernetes  org we should use `k8s.io/kompose` instead of `github.com/kubernetes-incubator/kompose`

[2017-07-19 12:46] kadel commented on #719
ah, I was looking to some old version, now I can see that we are already using `github.com/kubernetes/kompose`

[2017-07-19 17:07] cdrage commented on #691
@surajnarwade Once 1.0.0 is out the issue is solved and we can close this.

[2017-07-19 17:07] cdrage commented on #675
@surajnarwade

Thanks, let's add this to our integration tests though.

[2017-07-19 17:26] cdrage commented on #719
@kadel Should we close?

[2017-07-19 17:30] cdrage commented on #16
Closing in favour of #698 (since PetSet has been renamed)

[2017-07-19 17:30] #16 closed

[2017-07-19 17:34] cdrage commented on #671
Closing in favour of https://github.com/kubernetes/kompose/issues/675

[2017-07-19 17:34] #671 closed

[2017-07-19 17:40] cdrage commented on #545
@kadel @surajnarwade If a value isn't provided, docker-compose will retrieve it from the host machine.

Should we close this issue?

[2017-07-19 17:41] cdrage commented on #514
Hey @kadel emptyvols and replicas was removed from Kompose down, should we close this issue or is there anything else we need to discuss  to refactor this?

[2017-07-19 17:42] cdrage commented on #464
This is going to take *a lot* of effort. Let's label this as a help wanted. I'll try and work on it this upcoming month.

[2017-07-19 17:44] cdrage commented on #345
I agree with this, @surajnarwade has updated this in https://github.com/cdrage/kompose/commit/f88d48961d1a9db3a6173249f504c8412e2264ea however, I still think there could be some improvement.

Tools such as Helm have *a lot* of logging output that describes all the steps after launching / using Helm.

[2017-07-19 17:47] cdrage commented on #163
However, `docker/cli` supports it as well as using the `healthcheck` key in Version 3.

[2017-07-19 21:35] lucj opened #721 "Error running kompose on counter v3 example file"
When running ```kompose convert``` on the newly added `docker-compose-counter-v3.yaml` example file, I got the following error.

[code]

[2017-07-19 23:15] JadCham commented on #721
@lucj which version of kompose are you using? did you build from master?

[2017-07-20 04:10] surajnarwade commented on #721
@JadCham , I build it using master, but today, new version will be released so you can download new binary from there  which will have latest changes.

[2017-07-20 07:14] lucj commented on #721
@surajnarwade you'r right, I'm using 0.7.0 (c25b7e8)

[2017-07-20 13:48] garethr commented on #717
Hey, author of `kubeval` here.

According to the Kubernetes spec (https://github.com/garethr/kubernetes-json-schema/blob/master/master-standalone/deployment.json#L3511-L3514) the error is correct. Unfortunately Kubernetes doesn't exactly use this spec internally, so `kubeval` is finding upstream bugs in how the types are output to JSON Schema in the OpenAPI spec in a few places.

I've opened https

[2017-07-20 13:54] garethr commented on #133
@surajnarwade just found this issue as well. Kubeval is just about setup to be a Go library in https://github.com/garethr/kubeval/pull/15. Happy to help integrate that if of interest.

[2017-07-20 14:19] cdrage commented on #721
@lucj 1.0.0 is coming out today, so you'll be able to download the latest binary and have it work against `docker-compose-counter-v3.yaml`.

[2017-07-20 14:27] lucj commented on #721
👍
In the same time I've built from source and have it working on my compose file version 3.

BTW, on a custom docker-compose, it generates only Pod and PersistentVolumeClaim but no Deployment nor Services. Is there a special key so a Deployment is created (default number of replicas ?).

[2017-07-20 14:37] cdrage commented on #721
@lucj It *should* be creating deployments and services. Is your docker-compose file open  for us to test it out?

[2017-07-20 16:19] cdrage commented on #70
With the newest release, I have added SHA256 Sums as well as installation instructions to the `release.sh` script. Hopefully this covers everything!

https://github.com/kubernetes/kompose/releases/tag/v1.0.0

[2017-07-20 16:19] #70 closed

[2017-07-20 20:10] lucj commented on #721
No problem, here is an extract of the compose file I'm using:
[code]

[2017-07-21 06:49] surajnarwade commented on #717
@garethr that will be awesome

[2017-07-21 06:50] surajnarwade commented on #133
@garethr :+1:

[2017-07-21 07:00] surajssd commented on #717
@garethr thanks, having a golang binary will help both kompose and [kedge](https://github.com/kedgeproject/kedge/) !

cc: @containscafeine @kadel

[2017-07-21 07:04] surajssd commented on #691
@hrishin can you verify with the latest release that your issue is solved?

[2017-07-21 13:37] cdrage commented on #721
@lucj `restart_policy:` is the reason why.. See http://kompose.io/user-guide/#restart

We need to document this better / output to log as the pods are created manually.

Same goes with `volumes`, we don't support any top-level volume keys (yet).

[2017-07-21 13:39] lucj commented on #721
Thanks a lot, that make sense.
No pb for the top volume key, I do not really need them for testing :)

[2017-07-21 14:54] garethr commented on #717
Usage as a go library is now in master with a little documentation. https://github.com/garethr/kubeval#library

I'd love any feedback on that interface, or other things folks would like to see.

[2017-07-21 19:37] cdrage opened #725 "Deprecate Docker Compose Version 2.1, 2.2, and 3.3. Only support 1,2,3,4 (future)."
See:
https://docs.docker.com/compose/compose-file/compose-versioning/#versioning

I propose that we deprecate any minor versions and only support major versions.

Problem case is that version 2.1 and 2.2 isn't support by https://github.com/docker/libcompose and we would have to contribute up-stream.

Docker is pushing for Version 3 and is supported by their http://github.com/docker/cli tool, howev

[2017-07-21 19:37] cdrage commented on #725
ping @kadel @surajnarwade @surajssd @containscafeine for discussion.

[2017-07-24 04:51] hrishin commented on #691
Yes its resolved now, thanks! :+1:

[2017-07-24 04:51] #691 closed

[2017-07-24 04:52] surajnarwade commented on #721
@lucj , can we close this issue now ?

[2017-07-24 04:59] surajnarwade commented on #725
I think we don't support any minor version in kompose,
+1 for deprecating minor versions.

[2017-07-24 07:02] surajnarwade commented on #639
Since this will be major change in all unit test case and functional test files,
I have something output as of now,

[code]

Any suggestions before sending PR? @surajssd  @kadel @cdrage

[2017-07-24 08:23] lucj commented on #721
@surajnarwade Yes, no problem. Thanks for your help.

[2017-07-24 08:23] #721 closed

[2017-07-24 11:42] surajnarwade commented on #639
This will be the pain for functional tests, as it may be
`kompose convert -f /home/snarwade.....`  for me,

[code]

but for travis, `kompose convert -f /home/travis...`
it will be,

[code]

[2017-07-24 16:54] cdrage commented on #639
@surajnarwade Remove the pipe `|` from version and it's a :+1: from me.

[2017-07-24 17:57] surajnarwade commented on #639
@cdrage , what I mean is we have to write template for each and every functional test as `kompose.cmd` will be different for local and travis, is that okay ?

[2017-07-24 18:07] cdrage commented on #639
@surajnarwade Yup. Since you're adding annotations by default, you'll have to change every test. It's a pain-in-the-butt to do, but it's a must.

I think that's okay, right @kadel @surajssd ?

[2017-07-24 21:39] garethr commented on #717
@surajnarwade just to let you know I've updated the schemas and the service definition should now work as expected. All the details in https://github.com/garethr/kubeval/issues/16 for anyone following along.

[2017-07-25 04:40] surajnarwade commented on #717
@garethr awesome, It's working as expected, Thanks :)

[2017-07-25 15:56] cdrage opened #726 "Adding compatibility matrix for different Kubernetes versions"
Add something similar to: https://github.com/kubernetes-incubator/client-python where we have the compatibility matrix on different versions of Kubernetes and/or OpenShift.

[2017-07-25 16:05] cdrage commented on #296
Secrets are able to be defined in Docker Compose Version 3: https://docs.docker.com/compose/compose-file/#secrets-configuration-reference and thus we can map this to Kubernetes much easier than expected.

[2017-07-25 16:07] cdrage commented on #308
Hi @johnt337 I've gone ahead and changed the title to ConfigMaps since we have another issue opened in regards to secrets #296 .

This is something we'd like to have on the Kompose roadmap and I've gone ahead and marked it as a milestone for a future release.

[2017-07-26 15:48] cdrage commented on #718
Fixed in https://github.com/kubernetes/kompose/pull/720

[2017-07-26 15:48] #718 closed

[2017-07-26 18:21] cdrage opened #730 "Add support for cpus (Version 3 Resources Key)"
Now that Docker Compose Version 3 has been released, we're able to map `limits` and `reservations` regarding CPU to Kubernetes.

See: https://docs.docker.com/compose/compose-file/#resources

In particular:

[code]

Which will map directly to Kubernetes: https://kubernetes.io/docs/tasks/configure-pod-container/assign-cpu-ram-container/

[2017-07-26 18:34] cdrage commented on #437
@surajnarwade @surajssd @gitlawr

After some investigation, you are actually able to map this to securityContext: https://kubernetes.io/docs/tasks/configure-pod-container/security-context/

[2017-07-26 18:46] cdrage commented on #441
I found a 1-1 mapping for this within Kubernetes: https://kubernetes.io/docs/concepts/cluster-administration/sysctl-cluster/ and thus we can implement it :+1:

[2017-07-27 14:19] #544 closed

[2017-07-31 13:33] cdrage opened #732 "Add documentation on Kompose integrations"
Kompose has been integrated into Fabric8 (see: https://github.com/fabric8io/fabric8-maven-plugin/pull/988) we should effectively document cases where Kompose has been used in other integrations. Whether it's a GUI site or plugin.

[2017-08-01 04:43] pradeepto commented on #732
Same applies for integration with DevSuite installer. https://developers.redhat.com/products/devsuite/overview/

[2017-08-01 05:11] hrishin commented on #732
We expecting new doc or add it under particular section in existing doc e.g. user guide?

[2017-08-01 10:33] surajnarwade commented on #437
@cdrage , for docker-compose file like,

[code]

it will be,

[code]

For, docker-compose we can mention group in string format but for kubernetes we need only group  id

[2017-08-01 10:48] surajnarwade commented on #437
@cdrage is that okay ?

[2017-08-01 12:15] xiaoping378 commented on #109
i need the hostPaht, even if i copy them manually.
can i push a merged about adding --hostPath option?

[2017-08-01 12:29] surajnarwade commented on #109
@xiaoping378 , can you please explain your use case ?

[2017-08-01 12:32] surajnarwade commented on #732
@hrishin , maybe under `Introduction` section itself

[2017-08-01 13:09] xiaoping378 commented on #109
@surajnarwade
i'm try to run hyperledger fabric on the k8s, but the [fabric samples](https://github.com/hyperledger/fabric-samples/blob/release/balance-transfer/artifacts/docker-compose.yaml) has too many volumes,  if kompose don't write hostpath, i will so plain to edit the k8s yaml.

[2017-08-01 13:26] cdrage commented on #437
@surajnarwade Yup. That works perfectly.

[2017-08-01 13:26] cdrage commented on #732
@surajnarwade @hrishin I'd say separate. Such as "third-party". Adding to Introduction may clutter a few things.

[2017-08-01 14:21] surajnarwade commented on #437
@cdrage , awesome, sending PR for the same

[2017-08-02 06:44] xiaoping378 commented on #420
[code]
docker-compose like upon, when "kubectl create" will ouput error
[code]

[2017-08-02 14:32] #719 closed

[2017-08-02 14:33] cdrage commented on #725
I have updated http://kompose.io/conversion/ to outline that we only support major versions.

Can we close this?

@kadel @surajnarwade @surajssd @containscafeine

[2017-08-02 17:23] cdrage commented on #109
Hey @kadel @surajnarwade @xiaoping378

I'm re-opening this issue for discussion.

As volumes are a very difficult area for converting, I suggest we add a different parameter, preferably, `--volumes`

For example, we'd have:

[code]

What do you think?

[2017-08-02 17:57] cdrage commented on #441
Okay, two problems:

1. sysctls is not yet supported / added to libcompose
2. since sysctls is ignored by docker/cli, it is also not supported:
[code]

[2017-08-03 04:55] surajnarwade commented on #725
yeah, we can close this

[2017-08-03 13:47] #725 closed

[2017-08-03 13:48] cdrage commented on #514
Going to close this for now, let's re-open at a later-date if we find a refactor for global flags :+1:

[2017-08-03 13:48] #514 closed

[2017-08-03 13:49] cdrage commented on #571
@surajssd @procrypt Should we close this? Did my comments address the problem?

[2017-08-04 14:42] cdrage opened #744 "When specifying a wrong parameter, --help is not complete"
For example:
[code]

Does not show the Kubernetes or OpenShift flags:
[code]

[2017-08-04 14:49] cdrage commented on #744
Opened up issue upstream: https://github.com/spf13/cobra/issues/512

[2017-08-04 14:55] cdrage opened #745 "Improve chart support / Helm testing"
We should improve chart / helm support, check that it works as well as add it to an end-to-end test.

[2017-08-04 15:30] cdrage opened #748 "Update development.md with relevant details regarding CI"
Update the development.md documentation in regards to what CI does what (Travis, SemaphoreCI, Fabric8, etc.)

[2017-08-07 05:44] surajnarwade commented on #163
@cdrage , are you working on this issue ?

[2017-08-07 17:15] cdrage commented on #163
@surajnarwade Yes

[2017-08-08 14:44] surajssd opened #750 "get rid of the bundle tag in kobject"
We have removed support for docker `bundle` so I think we can get rid of the tags in `kobject` file [here](https://github.com/kubernetes/kompose/blob/af26b797a22ac67c6789212fa050477c33bbec87/pkg/kobject/kobject.go#L65).

[2017-08-08 14:54] cdrage commented on #750
@surajssd thanks, PR added: #751

[2017-08-08 16:20] cdrage opened #752 "Build errors with current OpenShift cluster tests"
See: https://semaphoreci.com/cdrage/kompose-2/branches/master/builds/25

Seems that adding the `xip.io` change caused an issue.

[2017-08-09 06:11] surajnarwade commented on #752
@cdrage , `xip.io` is changed to `nip.io`

[2017-08-09 07:11] surajnarwade opened #753 "unit test for annotation"
after merging #733 , we will need to figure out a way to add unit test for annotations,

Removed unit test code snippet,

[code]

[2017-08-09 14:23] cdrage commented on #752
Hey @surajnarwade and @ashetty1
Still getting issues with CrashLoopBackOff :(
[code]

That's after your PR has been merged..

[2017-08-09 14:24] cdrage commented on #752
For the first one, here are the logs:
[code]

[2017-08-09 14:45] cdrage opened #755 "Re-add tests for buildconfig to OpenShift cluster"
With this PR we remove them:
https://github.com/kubernetes/kompose/pull/754/files

Let's re-add BuildConfig tests for OpenShift.

[2017-08-09 15:36] #750 closed

[2017-08-10 10:19] ashetty1 commented on #752
@cdrage this looks like an git authentication error because the repo is a ssh-git clone. I tried with an https clone, and it works:

[code]

[2017-08-10 13:52] surajssd commented on #109
@cdrage how does it help?
Or what is the requirement that will be solved with this feature? Adding this is only supporting anti-pattern in k8s world?

[2017-08-10 17:01] cdrage commented on #109
@surajssd Not exactly an anti-pattern, but more in regards to filling in the "blanks" between Kompose and its heavy use of volumes and the "PersistentVolumeClaim" method for Kubernetes.

Since we already have one parameter (emptyvols), it makes sense to combine them all into one parameter (volumes) so we don't have multiple similar params.

[2017-08-11 10:02] surajnarwade commented on #640
@procrypt @kadel completing this :)

[2017-08-12 06:49] #640 closed

[2017-08-12 06:55] surajssd commented on #109
In most cases `hostPath` and `emptyDir` will behave the same because pod would not be scheduled on same node.

*Behave the same* means that it will most probably have empty storage.

Also `hostPath` is more error prone because user will have to make sure that path on the k8s node exists and container runtime has permissions to write there.

[2017-08-12 07:10] surajssd commented on #571
This should fail now right ?

[2017-08-12 09:09] surajssd commented on #657
@cdrage yeah people can use `kubectl apply` but this was more on the lines of UX, not everyone knows about the `kubectl apply` recipe of using kompose, if we are not adding this feature please consider documenting it.

[2017-08-14 13:10] cdrage commented on #109
@kadel thoughts?

[2017-08-14 13:37] kadel commented on #109
Adding ` --volumes [none|host-path|empty,etc.]` and removing `--emptyvols` is good idea.
I would use Kubernetes naming so it should be `emptyDir` and `hostPath`.

But this will have one big limitation that might confuse pepole a bit.
If we add option for hostPath it means that all the volumes in given Dockerfile will be converted to hostPaths volumes. We need properly document and explain it in `-

[2017-08-14 13:53] #639 closed

[2017-08-14 15:49] cdrage commented on #571
@surajssd No? I thought my comments address why having no image is still valid with build (it builds the docker container and tags it)

[2017-08-14 17:50] cdrage commented on #730
This has been merged in via https://github.com/kubernetes/kompose/pull/738

[2017-08-14 17:50] #730 closed

[2017-08-14 17:51] cdrage commented on #437
This has been merged in! #739

[2017-08-14 17:51] #437 closed

[2017-08-14 17:51] cdrage commented on #163
There is work on this at #759

[2017-08-15 23:36] rickypai opened #765 "overlapped content on the conversion matrix documentation page"
In the [Conversion Matrix](http://kompose.io/conversion/) page, when you scroll horizontally on the table, the content will overlap with the menu.

<img width="777" alt="screen shot 2017-08-15 at 4 35 51 pm" src="https://user-images.githubusercontent.com/1469579/29341231-d8928342-81d7-11e7-8681-3f11c0fa2900.png">

[2017-08-16 05:45] surajnarwade commented on #765
@rickypai , it maybe your browser issue. works well for me on chrome and firefox

[2017-08-16 16:47] cdrage commented on #765
@rickypai I don't see an issue either :( mind telling us what browser you're using?

[2017-08-16 18:49] cdrage opened #770 "Update to annotations / cli tests + development document"
So there's two issues I'm encountering with annotations:

1. If there is no `kompose`, it does not error out. For example, if Kompose is not within $GOPATH or /usr/local/bin, then the annotation is blank for VERSION.
2. Tests need to be updated.. Using sed seems like a hack at the moment and it should be refactored (in the future)

Ping @surajnarwade

[2017-08-16 19:37] cdrage opened #772 "Remove useless Kubernetes artifact keys"
For example, `"importPolicy": {}` is added to each OpenShift output.

Within Kubernetes there are also other useless keys that are either `null` or `{}`.

Let's remove them.

[2017-08-16 19:41] cdrage commented on #644
Three more to-go.

@surajnarwade

I have added mode here: https://github.com/kubernetes/kompose/pull/771 you said it couldn't be done, but I did it! :+1:

[2017-08-16 19:44] cdrage commented on #726
PR here: #767

[2017-08-16 19:47] cdrage commented on #636
I think we should set this as high-priority so we can add `build` support for Compose V3 as that is the *only* thing that is missing between v1v2 and v3.. Unfortunately it's due to the key being missing  from https://github.com/docker/cli/blob/master/cli/compose/types/types.go#L9 so we can use it to parse Docker Compose.

[2017-08-16 19:55] cdrage commented on #770
Another suggestion as well is after fixing issue **1** we implement a small script that passes in a file name and automatically adds the "test" to `tests.sh` as it's fairly difficult / troublesome to manually create all the test outputs as well as modify it so `%VERSION%` and `%CMD% is there for the annotations.

[2017-08-16 19:59] cdrage commented on #109
@kadel

Okay, I will go through with it. First off is refactoring the code to `--volumes` and deprecating --emptyvols I shall also update and notify https://github.com/kubernetes/kompose/pull/734

[2017-08-16 21:31] rickypai commented on #765
I tired it on multiple bowsers: chrome, chrome canary, safari, brave, all the same result.

you need to scroll the content horizontally to see the overlap

[2017-08-17 06:07] surajnarwade commented on #770
@cdrage that script is already on my list

[2017-08-17 15:01] cdrage commented on #765
@rickypai Ohhhhh, I see how. I was able to re-produce this. I'll push a fix out soon.

[2017-08-17 15:07] cdrage commented on #765
@rickypai Should be fixed now with #773 and #774 let me know if it's not :+1:

[2017-08-17 15:07] #765 closed

[2017-08-18 11:50] ashetty1 commented on #614
Can we close this?

[2017-08-18 11:50] ashetty1 commented on #614
Can we close this?

[2017-08-18 14:03] cdrage opened #776 "Improve user guide"
Discussion for improving the user-guide.

[2017-08-18 15:21] cdrage commented on #296
Since Docker Compose now has secrets, the best way (from my research) would be to use secrets as well as the `file` option of import. Unfortunately using `external` will not work as secrets stored within swarm are encrypted Raft variables (no idea what they mean by that in the documentation).

See: https://stackoverflow.com/questions/42139605/how-do-you-manage-secret-values-with-docker-compose-v3-

[2017-08-18 15:48] cdrage commented on #438
Closing this as we are not supporting it :+1:

[2017-08-18 15:48] #438 closed

[2017-08-18 15:49] cdrage commented on #443
Closing this as I've updated the conversion document to reflect that this is not supported in Kubernetes and this key is also dropped in Docker Compose Version 3.

[2017-08-18 15:49] #443 closed

[2017-08-18 15:50] cdrage commented on #614
@ashetty1 Yup. Thank you.

[2017-08-18 15:52] cdrage commented on #732
Hey @hrishin do you know where I can find documentation on the Kompose maven plugin? I was unable to find anything on Google or a quick search @ Red Hat.

[2017-08-18 15:55] cdrage commented on #748
PR #780

[2017-08-21 05:25] surajnarwade opened #781 "Add testing documentation"
As of now, we don't have testing documetation (which is needed for any new contributors)

[2017-08-21 05:26] hrishin commented on #732
Hey @cdrage
Here you go for f8mp and kompose integration documentation https://maven.fabric8.io and look for followin section having Docker Compose keywords.

1.  Introduction
2. [Configuration](https://maven.fabric8.io/#configuration)
3. [Docker Compose](https://maven.fabric8.io/#docker-compose)

Please let me know if its sufficient.

[2017-08-22 16:57] cdrage opened #788 "Rework "unsupported keys" prompt"
Rework out "unsupported keys" function for both v3.go and v1v2.go files. Having both better outputs as well as warnings.

[2017-08-23 15:55] cdrage opened #789 "Update Kubernetes cluster tests with port testing"
Currently we deploy Kubernetes artifacts and undeploy them using the `make test-k8s` command.

However, we don't check to see if the ports have come up nor checking to see if the service / pods / containers are actually running.

Similar to the work @ashetty1 did to OpenShift, let's implement port testing to the Kubernetes cluster tests.

[2017-08-23 16:10] cdrage opened #790 "Fabric8 CI not working"
Ping @rupalibehera seems that http://jenkins.cd.k8s.fabric8.io/job/kubernetes-incubator/ doesn't show.

Could it be since we move the org to `kubernetes` from `kubernetes-incubator`?

[2017-08-23 16:29] rupalibehera commented on #790
Yes it is because of the change, the new org should be added in Fabric8
Jenkins.
We can ask James S or James R for it, as they have permission.

On 23-Aug-2017 9:40 PM, "Charlie Drage" <notifications@github.com> wrote:

[2017-08-23 16:30] cdrage commented on #790
Okay, can you update the Jenkinsfile as well? @rupalibehera :+1:

[2017-08-23 16:36] cdrage opened #792 "Add --controller"
Add a --controller flag instead of using parameters such as `--daemon-set` `--deployment`, etc.

This allows output based on simply doing `--controller=DaemonSet`

[2017-08-24 09:21] surajnarwade opened #793 "Functional test for examples Directory"
We should add functional test for docker-compose files present in examples Directory

[2017-08-24 09:21] surajnarwade commented on #793
As discussed in very previous meeting, I will take this up and will add functional test for the same

[2017-08-25 14:34] #793 closed

[2017-08-25 19:41] cdrage opened #798 "Up and convert commands are not equal in features"
For example, we are able to deploy --daemon-set using `convert`, but not with `up`.

We have *some* things such as `--build` which is consistent in `kompose up`, but other aspects such as controllers, etc do not function correctly.

We should have the SAME experience between `up` and `convert`.

It goes against UX/UI having inconsistencies between the commands. One should convert, one should bring

[2017-08-29 06:35] #744 closed

[2017-08-29 20:01] cdrage commented on #163
#759 has been merged! Closing.

[2017-08-29 20:01] #163 closed

[2017-08-29 20:58] cdrage commented on #355
this has been added!

[2017-08-29 20:58] #355 closed

[2017-08-29 20:58] cdrage commented on #636
PR pushed here: https://github.com/docker/cli/pull/481

[2017-08-29 21:00] cdrage commented on #726
Going to post-pone this for now. We will have to essentially investigate and figure out the MINIMUM version that Kompose supports for conversion. Have a table that represents what version you need of Kubernetes to use the Kompose feature (for example, DaemonSet generation).

[2017-08-30 07:01] surajnarwade commented on #790
new org in fabric8-ci is not added yet, is that manual process ?

[2017-08-30 07:06] rupalibehera commented on #790
Yes @surajnarwade it is a manual process of adding the org

[2017-08-30 07:12] surajnarwade commented on #792
I will take this up

[2017-08-30 09:29] rupalibehera commented on #790
@surajnarwade and @cdrage, here we go http://jenkins.cd.k8s.fabric8.io/job/kubernetes/job/kompose/job/master/1/console

[2017-08-30 11:05] ashetty1 opened #801 "Kompose replicas option not working with v3 deploy?"
It looks like the kompose replica option isn't working with v3 compose file including deploy label:

[code]

[2017-08-30 11:45] surajnarwade opened #803 "`--deployment-config` flag is not necessary"
even when we don't provide `--deployment-config` flag, kompose creates deploymentconfig, so it doesn't make any sense to have this flag.

[2017-08-30 13:31] surajnarwade commented on #790
Thanks @rupalibehera , we can close this now :)

[2017-08-30 13:46] cdrage commented on #790
If you look at http://jenkins.cd.k8s.fabric8.io/job/kubernetes/job/kompose/job/master/1/console @surajnarwade it still shows that it fails.

Is it due to Fabric8-CI still not having permission with Kompose (2 factor auth?) @rupalibehera ?

[2017-08-30 13:48] cdrage commented on #792
@surajnarwade Let's focus on some of the milestones :) https://github.com/kubernetes/kompose/issues?q=is%3Aopen+is%3Aissue+milestone%3A%221.1.0+release%22

[2017-08-30 13:54] cdrage commented on #803
@surajnarwade it's used to disable --deployment-config being created

[2017-08-30 13:57] cdrage commented on #801
@ashetty1

That is normal. Look at the WARN output:
[code]

mode: global has been set which limits each container to 1.

See: https://docs.docker.com/compose/compose-file/#mode

[2017-08-30 13:57] #801 closed

[2017-08-30 13:57] cdrage commented on #801
remove `mode: global` if you wish to use `replicas: 6`

[2017-08-30 13:58] surajnarwade commented on #803
without flag
[code]

and with flag,

[code]

@cdrage ^^

[2017-08-30 14:04] ashetty1 commented on #801
@cdrage I get that, but shouldn't `kompose up --replicas 6` be working? Strange that it isn't.

[2017-08-30 14:16] cdrage commented on #801
@ashetty1 Yes.

[2017-08-30 14:16] cdrage commented on #803
@surajnarwade You're using it wrong, it's ` --deployment-config false` would work.

[2017-08-30 14:45] ashetty1 commented on #770
Taking this up

[2017-08-30 14:51] surajnarwade commented on #770
documentation issue: https://github.com/kubernetes/kompose/issues/781

[2017-08-30 17:05] surajnarwade commented on #803
[code]

[2017-08-31 07:22] rupalibehera commented on #790
No it is a different issue. all pipelines are facing this issue right now

On Wed, Aug 30, 2017 at 7:16 PM, Charlie Drage <notifications@github.com>
wrote:

--
Thanks,
Rupali Behera

[2017-08-31 09:00] surajnarwade commented on #296
FYI, `secrets` is supported in docker-compose version 3.1

[2017-08-31 10:45] cdrage commented on #803
Ah crap, it's a bug then. Let's fix this.

[2017-08-31 10:45] cdrage commented on #790
@rupalibehera okidoki, any open issue / pr that's out there we can track / help out on?

[2017-09-02 12:08] rahulkrishnanfs opened #806 "Packaging Kompose for debian"
Bug#874049: Acknowledgement (ITP: Kompose -- conversion tool for all things compose( namely Docker Compose) to container ochestrators (Kubernetes or Openshift))

[2017-09-02 12:38] surajssd commented on #806
@cdrage was looking at this one before IIRC !

@rahulkrishnanfs has filed it in Debian upstream
https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=874049

[2017-09-02 16:38] cdrage commented on #806
Hey @rahulkrishnanfs I can help and become a co-maintainer. I've been wanting to become a Debian developer for a while.

[2017-09-02 17:00] rahulkrishnanfs commented on #806
@cdrage thats great

[2017-09-06 08:07] ThHareau opened #807 "tmpfs with mode fails"
Hello,

Trying to use kompose on [microservices-demo](https://github.com/microservices-demo/microservices-demo), I had to modify the generated files, because a mode is provided for the tmpfs.
Here is a shortened version of it:

Using this compose file.

[code]

This file can be used correctly with docker compose. However, when running `kompose up`, the pod fails to be created:
[code]

[code]

[2017-09-06 20:00] ylogx opened #809 "Cannot locate specified Dockerfile: Dockerfile"
When I run `kompose up`, I get the following error:
[code]

My folder structure is:
[code]

My docker-compose.yaml is:
[code]

[2017-09-06 20:14] cdrage commented on #807
@ThHareau Yup, that's something odd. I'll investigate and see what is causing it. Most likely rw,noexec,nosuid is being passed to Kubernetes but is incompatible.

[2017-09-06 20:15] cdrage commented on #809
Hmm, may be a bug with the pathing, you may have to manually specify by doing: `./package/business_api/Dockerfile` under build.

Try that with the `--verbose` output and let post the debug information here!

[2017-09-07 04:56] shubhamchaudhary commented on #809
Added full path in build -> dockerfile:

[code]

Output of `sudo kompose up -v 1000`:

[code]

This is the same output that I get when build->dockerfile is not specified as shown in the original issue at the top.

[2017-09-07 12:23] cdrage commented on #809
@shubhamchaudhary I'll investigate! Why do you add `1000` to the `sudo kompose up -v` command?

[2017-09-07 13:16] shubhamchaudhary commented on #809
@cdrage I thought it is `--verbose` parameterized (which it isn't now that I check --help). I added 1000 as the log level value in my head.

[2017-09-11 05:51] surajnarwade commented on #807
@cdrage are you working on it ?

[2017-09-11 09:12] surajnarwade commented on #644
@cdrage , that's good.
I have investigated on `placement` key, I found only two mappings,
* `engine.labels.operatingsystem` is equivalent to `beta.kubernetes.io/os`
* `node.hostname` is equivalent to `kubernetes.io/hostname`

Does this makes sense ?
I havn't found any other mappings.

[2017-09-11 09:13] surajnarwade commented on #803
@cdrage , what's the use case for disabling `deployment-config` ?

[2017-09-11 13:18] ashetty1 commented on #781
@cdrage @surajnarwade I am going write a document on how to write tests for OpenShift / k8s framework that we have. Let me know if you have any inputs.

[2017-09-11 14:28] cdrage commented on #807
@surajnarwade Kind of got busy with another project. Mind taking this up?

[2017-09-11 16:05] surajnarwade commented on #807
@cdrage, sure :+1:

[2017-09-11 16:07] surajnarwade commented on #781
@ashetty1, one of the pointer will be how to test code using commands like `make test` or `make test-cmd` and what they do

[2017-09-11 17:29] cdrage commented on #644
@surajnarwade that makes sense. everything else we can warn / info out.

[2017-09-12 14:40] cdrage commented on #789
Using efforts from https://github.com/kedgeproject/kedge/blob/master/tests/e2e/e2e_test.go we can covert / port this code to effectively test both OpenShift and Kubernetes tests.

[2017-09-13 10:59] surajnarwade commented on #807
@cdrage, as mode with tmpfs is not compatible, we should ignore it and pass only path for tmpfs ?
wdyt ?

[2017-09-13 11:02] kadel opened #814 "`--volumes` is not validated"
If you run `kompose convert --volumes foobar` PVC is created and no error is raised.

This should error out as an invalid value for `--volumes`. Currently, only possible values are `PersistentVolumeClaim` and `emptyDir`

[2017-09-13 12:33] surajnarwade commented on #814
This should go into validation of flags, I will look into it

[2017-09-13 14:24] cdrage commented on #807
@surajnarwade Yup, there's no modes for it, see: https://kubernetes.io/docs/concepts/storage/volumes/#emptydir

So simply add a regex / strings.split to delete everything after `:` I guess! Then warn the user that the tmpfs modes will not work.

[2017-09-13 16:16] surajnarwade commented on #807
@cdrage , did the same :)

[2017-09-18 12:20] surajnarwade commented on #798
Picking `--build-branch` first

[2017-09-22 05:57] surajnarwade opened #822 "add support for `kompose update`"
inspired from `minikube`,
To update to latest version, we should have something like,

[code]

[2017-09-22 06:50] mishaone commented on #776
## Findings

I perused the docs, primarily the User Guide (UG) part and the Installation Guide (IG) part. My expectation was that the IG would tell me what I need to install and the UG would tell me what I can do with Kompose, possibly walk me through a common use case for the tool, etc.

I remained confused for a while because while the IG is as expected, the UG seemed like a reference document s

[2017-09-22 06:51] mishaone commented on #776
@cdrage These are my initial thoughts. Please let me know what you think and we can discuss it further.

[2017-09-22 14:45] cdrage commented on #776
@mishaone Thank you so much! I will go through this and make some updates / notes in regards to the site.

Have you looked at http://kedgeproject.org ? We've included an "introduction" page to the index, is this similar to your suggestion of having the landing page updated to reflect an explanation of the tool as well as what people would use it for?

[2017-09-22 14:56] cdrage commented on #822
@surajnarwade

Do you think we should also update our installation instructions so it's a one-liner? Another person requested this and I think it's much easier..

Example:
https://github.com/kubernetes/minikube/releases

[2017-09-22 14:57] cdrage commented on #822
@surajnarwade Minikube has no `minikube update` command...

[code]

[2017-09-25 06:33] mishaone commented on #776
Hi @cdrage,

Happy to help! The Kedge Project site looks great. That's precisely the sort of thing I meant.

Would you like me to create issues to track these items or do you prefer to track them yourself somewhere?

[2017-09-25 12:14] surajnarwade commented on #822
@cdrage my bad, sorry about that, it's in `minishift` and `gofabric8` as well

for example,

[code]
or

[code]

[2017-09-25 13:31] cdrage commented on #822
IMO, I don't believe our updates add major changes to how we convert objects, I'd vote no to adding `kompose update`.

[2017-09-25 17:23] aditya-konarde commented on #274
@surajssd I was just browsing through the issues, does Kompose has a logo now? If it doesn't, good time to get one as its now an official Kubernetes project and has graduated :)

[2017-09-26 05:12] pradeepto commented on #732
Perhaps https://www.katacoda.com/courses/kubernetes/deploy-docker-compose-using-kompose this can be added as well.

[2017-09-26 05:43] abitrolly opened #823 "Do not generate empty services"
If ports are not set `kompose` generates empty services. Example:
[code]
This generates:

    NAME                      CLUSTER-IP      EXTERNAL-IP      PORT(S)                       AGE
    svc/cs-bitcoin-process    None            <none>           55555/TCP                     8h

[2017-09-26 06:47] surajnarwade commented on #822
@cdrage , I have seen people who are using very old `kompose` versions, so for them it might be useful

[2017-09-26 07:55] surajnarwade commented on #823
@abitrolly , actually that is `headless` service,
For reference: https://kubernetes.io/docs/concepts/services-networking/service/#headless-services

[2017-09-26 11:06] surajnarwade commented on #798
sending PR for `--build-repo`

[2017-09-26 11:12] surajnarwade opened #825 "`go vet` is failing locally"
[code]

[2017-09-26 11:38] abitrolly commented on #823
Is there a way then to just make k8s run a Pod without any services? I expect an explicit `service.type` set if somebody needs a service, like

    kompose.service.type: headless

[2017-09-26 12:58] cdrage commented on #732
@pradeepto Personally, I wouldn't like https://www.katacoda.com/courses/kubernetes/deploy-docker-compose-using-kompose added as it forces users to sign-up and give away their information in order to use the tutorial. If there's an alternative site, that would be better.

[2017-09-26 13:11] cdrage commented on #822
@surajnarwade Yes, but this is another command to be added to Kompose that wouldn't exactly be used much, does major changes to the underlying system (replaces binaries) and no other project within the Kubernetes ecosystem employs this `upgrade` command. I see it useful for things such as `minikube` and `minishift` where major changes happen (updates to ISO files, virtualization, etc.) but not for

[2017-09-26 13:22] surajnarwade commented on #798
`--build-repo` is being tracked in PR https://github.com/kubernetes/kompose/pull/824
`--build-branch` is being tracked in PR https://github.com/kubernetes/kompose/pull/820

[2017-09-26 14:22] cdrage commented on #776
@mishaone I'll split off the issues into separate tracking cards / issues. Thanks again for the feedback!

[2017-09-26 18:34] abitrolly commented on #235
Maybe label per service?

    labels:
      kompose.volume.size: 1Ti

[2017-09-26 19:18] #825 closed

[2017-09-26 19:24] #807 closed

[2017-09-26 19:30] cdrage commented on #235
@abitrolly what about both?

[2017-09-27 09:37] surajnarwade commented on #814
@kadel , since #817 is merged now, we can close this

[2017-09-27 09:57] #814 closed

[2017-09-27 15:23] cdrage commented on #776
TODOS:

General:

- [ ] Confirming a primary workflow that is common to most users, as above, and then fleshing out the steps.
- [ ] Outline the general workflow and explain what each step does, then flesh out the details of each step in subsequent sections. These sections provide details and alternative paths for each step.

Landing Page:

- [ ] Change the landing page (http://kompose.io/) from t

[2017-09-27 17:12] surajssd opened #832 "kompose build fails to read the context correctly"
## Problem

kompose fails to find the `Dockerfile` even if the `dockerfile` is set under `build` and `context` is also set.

## How to reproduce?

Please see the following directory structure

[code]

I am trying to do a build with `Dockerfile` being in `scripts` directory. But my build context is root of the project. Essentially I am running a build command as following:

[code]

Above works fine

[2017-09-27 18:17] surajssd commented on #832
In `dockerlib.BuildImageOptions` also set `Dockerfile` field as relative path to `context`.

I have tried something similar in https://github.com/kedgeproject/kedge/pull/295/files#diff-f9c1aac2b0fdb0b76e7a167cb362d95cR93

[2017-09-28 08:20] u007 opened #833 "[doc] more tutorial for gcloud?"
Hi,

it would be nice if there is a doc for kompose and kubectl with gcloud
this is my configuration, but i could not get external ip from gcloud container.
Any help on external ip?

[code]
setup google compute container on google cloud
click on connect to get instruction
[code]

and never ever kompose down as it will delete off volumes

thank you

[2017-09-28 08:28] u007 commented on #833
okay i found the solution, after kompose up, i have to
[code]
assumed web is the service name

[2017-09-28 08:30] surajnarwade commented on #832
Thanks @surajssd for pointing this out, will send a fix very soon :)

[2017-09-28 13:38] cdrage commented on #833
@u007 Hey James! thanks for leeting us know the problems with using gcloud. I am going to add a note in our tutorials / user guide for adding `kubectl expose deployment web --type="LoadBalancer"`

[2017-09-29 04:18] u007 commented on #833
@cdrage nice, that will be awesome 👍
btw, i my ip was pending because my google cloud is on free trial...

[2017-09-29 12:23] abitrolly commented on #235
@cdrage how to select which resource volume needs to be increased with command line parameter? Different resources come with different requirements.

[2017-10-03 06:18] piyush1594 commented on #732
Hi @cdrage,
How should be the documentation for Kompose Fabric8-maven Plugin Integration ?
Just add the links in integration or we should create a explicit document for it.

[2017-10-03 12:11] piyush1594 commented on #732
![sample](https://user-images.githubusercontent.com/19270240/31124367-c91419f2-a861-11e7-8773-e4fbee1aca2f.png)
@cdrage @surajnarwade Right Now, i have done this. Is this fine ?

[2017-10-03 13:30] cdrage commented on #732
@piyush1594 ideally create an elaborate example where you can clearly use Kompose. Further increasing the size of integration.md document.

Can you link me those examples?

We may need a better description too for the Fabric8 Maven plugin.

Instead of a screenshot, it would be better to open up a PR for this.

[2017-10-04 09:03] piyush1594 commented on #732
Hi @cdrage,

Submitted the PR. Lets discuss the exact changes required for plugin documentation.

[2017-10-06 14:24] cdrage commented on #644
Placement has been completed. 1 more to-go.

[2017-10-06 14:24] #792 closed

[2017-10-10 07:48] kadel commented on #235
The same problem will be even with labels. Labels are per service, but one service can have multiple volumes with different requirements.

It looks like it is possible to label volumes. [source](https://docs.docker.com/compose/compose-file/#labels-3) If that is true that the best way would be to use the same label as @abitrolly  suggested but on volumes. The volume would have to be defined using t

[2017-10-10 11:53] surajnarwade commented on #798
if we are adding `--controller`  and controller flags like `--daemon-set`, `--replication-controller`, we have to implement in `kompose down` as well

[2017-10-10 19:12] cdrage opened #842 "Update --help page for convert to be the same as up"
We have separate sections for Kubernetes and OpenShift flags when specifying `kompose convert --help`.

The same should be for `kompose up`.

Ex:
[code]

[2017-10-10 19:33] cdrage commented on #308
With #799 merged in, this can be *finally* closed! `env_file` has been added to Kompose.

Feel free to check it out @johnt337 @so0k and @dhoer

[2017-10-10 19:33] #308 closed

[2017-10-11 06:43] surajnarwade opened #844 "Link is broken for maven example"
`Quickstart` link in `kompose integation` section is broken (404)

@piyush1594

[2017-10-11 06:47] surajnarwade opened #845 "Fix links in docs/README.md"
`setup` is 404 as there is `getting-started` file added.
@piyush1594

[2017-10-11 10:33] surajnarwade commented on #842
will take this up

[2017-10-11 13:41] cdrage commented on #845
@surajnarwade I'm really confused. Ummm what?

[2017-10-11 13:42] cdrage commented on #845
Seems very small, can you push a PR @surajnarwade ? It's just an update to: https://github.com/kubernetes/kompose/blob/master/docs/README.md

[2017-10-11 13:43] cdrage commented on #844
@surajnarwade Mind clarifying what you mean? Your description is a bit confusing. `kompose integration`?

[2017-10-11 13:43] piyush1594 commented on #845
@cdrage I will do it today. It is just about updating quickstart to getting started and setup to installation.

[2017-10-11 13:45] piyush1594 commented on #844
@cdrage The link is not redirecting. I need to add .md extension to filename in link section.

[2017-10-11 16:05] #844 closed

[2017-10-11 16:50] coli commented on #636
Looks like it doesn't support just a string for build.

* 'Build' expected a map, got 'string'

[2017-10-12 05:47] surajnarwade commented on #636
@coli , yeah :(
need to fix that in docker/cli

[2017-10-12 12:16] surajnarwade commented on #636
@coli , that problem will resolve after https://github.com/docker/libcompose/pull/498 gets merged and again vendoring for `libcompose` and `docker/cli`

[2017-10-12 14:28] #845 closed

[2017-10-12 14:32] cdrage commented on #636
@surajnarwade No idea why you're referencing docker/libcompose. Docker Compose V3 support within Kompose is using docker/cli

Your PR is here: https://github.com/kubernetes/kompose/pull/846 for Version 3 implementation.

@coli are you using Version 2 or Version 3 in your Docker Compose YAML file?

If you're using Version 2, this is a separate issue as Version 3 is yet to be supported.

[2017-10-12 14:43] surajnarwade commented on #636
@cdrage , @coli  is getting issue for v3, to solve this, I need to update `Docker CLI` vendor and then `libcompose` to solve `logrus` issues

[2017-10-12 15:29] coli commented on #636
I'm on v3.

[2017-10-12 15:30] cdrage commented on #636
Okay, so your statement about libcompose was unrelated.. The problem will *not* be resolved after https://github.com/docker/libcompose/pull/498 is merged in. It will be resolved after #846

[2017-10-13 08:03] dkarlovi opened #850 "Add support for "scratch space" volumes"
When running a worker-type container, you'd want it to have some temporary workspace where it can leave temp files, etc, so called "scratch space".

With `compose` and local environments, this would simply be another volume:

[code]

But this would become a full blown PVC on production which is not something you want. Better alternative would be to label the volume (say, `kompose.volume.scratch =

[2017-10-13 12:00] gdhgdhgdh opened #851 "Not creation of `-service.yaml` when `restart` is present"
Hi, using `1.3.0` of `kompose` and this trivial `docker-compose.yaml`:

[code]

[code]

There's no service for the frontend, which I thought was a bit odd. When I remove the `restart` line completely, I get a different set of files:

[code]

Yes, two services and two deployments is what I'd expect. Is this a bug?

[2017-10-13 12:17] surajnarwade commented on #851
@gdhgdhgdh , when you mention `restart: no`, kompose will generate pod.
for more reference: http://kompose.io/user-guide/#restart

[2017-10-13 12:57] gdhgdhgdh commented on #851
Yeah that makes sense - the question was really that I would still expect a `kind: Service` to be created even if it's pointing to a one-off pod. Is that wide of the mark?

[2017-10-16 06:26] surajnarwade commented on #636
@cdrage to merge #846 , I need to update vendor for `docker/cli` upon which kompose is breaking due to `logrus` stuff

[2017-10-16 07:29] surajnarwade commented on #851
@gdhgdhgdh , `restart: no` will give same behaviour as `job`, so it makes no sense to create service, I think