[2020-02-12 00:15] Yokutto commented on #1238
@hangyan Cloning from master branch and building don't fix this problem:

But it's fixes

👍

[2020-02-19 17:11] marner2 commented on #876
I'm still getting the originally mentioned error: "Unknown restart policy unless-stopped for service" I'm using version 2.20. Did that ever get fixed?

@cdrage [said in this comment from 2.5 years ago:](https://github.com/kubernetes/kompose/issues/876#issuecomment-347223904)

[2020-02-19 19:21] chiqui3d commented on #909
I just tried it for the first time and I got this error: I guess it's because of the` .env` file or` env` variable?

` error decoding 'Volumes[0]': invalid spec: ./app:: empty section between colons`

[code]

[2020-02-20 23:16] AcelinkIT commented on #1131
Still getting this same error.  I have tried with 1.20 and building from master, 1.20.0 (dd3f6a28)

[code]

I verified that my `.kube/config` is properly configred and am able to run `kubectl` deployments from it.  I also attempted to use `export KUBERNETES_MASTER=https://127.0.0.1:8443` without any success.  kompose still points to 6443.

[2020-02-21 15:16] hangyan commented on #1131
I'm sorry for that. The current solution is not good enough, it use a very old client-go version and my fixed only add support for port 6443. I will figure out some to allow user customized pod

[2020-02-22 03:56] #1131 closed

[2020-02-22 03:57] hangyan commented on #1131
@AcelinkIT  Sorry for your inconvenient , would you mind to try the master build again?

[2020-02-22 09:13] hangyan commented on #876
@marner2   If this a supported field in version 2, it's a bug. I will look up into it

[2020-02-24 08:20] gmjjatin opened #1246 "Add support for 2.4 version of docker - compose"
It errors out following -

[2020-02-24 08:27] hangyan commented on #1246
Can you change your compose file version to 2. since  it's a legcy version, we only support the main version.It should works fine for version 2.If you encountered other errors.,welcome to report to ud
________________________________
From: Jatin Sharma <notifications@github.com>
Sent: Monday, February 24, 2020 4:20:28 PM
To: kubernetes/kompose <kompose@noreply.github.com>
Cc: Subscribed <subscribe

[2020-02-24 12:02] opdude opened #1247 "Labels are not passed as annotations when creating a Pod"
It seems that if you set a restart policy that is not always a Pod is created, however, annotations are then not moved over to the Pod. Is that expected?

Docker-compose example
[code]

Example-ouput
[code]

[code]

[2020-02-24 15:07] hangyan commented on #1247
what's the args you provided to `kompose convert`

[2020-02-24 23:53] jouellnyc commented on #1105
thumbs up. Worked for me.

[2020-02-24 23:58] jouellnyc commented on #1131
`export KUBERNETES_MASTER=https://127.0.0.1:6443` works

getting prompted for un/pw... seems a separate problem...

[2020-02-25 07:16] opdude commented on #1247
Didn't pass any arguments just simply ran `kompose convert`

[2020-02-26 07:53] fmotrifork opened #1250 "Release 1.12.0 is missing windows exe"
The release notes for v1.12.0 refers to the following url for the windows binary: `https://github.com/kubernetes/kompose/releases/download/v1.21.0/kompose-windows-amd64.exe`

The kompose-windows-amd64.exe binary is also listed in the Checksums table. But this binary not released as part of the assets in this release.

See: https://github.com/kubernetes/kompose/releases/tag/v1.21.0

[2020-02-26 16:45] LSmyrnaios opened #1251 "Certificate error in v1.21.0"
Hi, I tried to do a `kompose up` and I got the following error:

I solved it, by setting the new option `--server https://<PC's IP>:6443`

I would like to ask:
a) Why did I received this error about the certificate?
b) Why `kompose` expected everything to run smoothly on `127.0.0.1`? Is there a default configuration that's changed on my machine?
b) Why `kompose` cannot do an auto-detect and manage

[2020-02-27 13:24] LSmyrnaios opened #1252 "Typo in version number in release notes"
Hi, in the release notes , there's a reference about v1.23.0, while the correct one is v.1.21.0

The typo exists in this page:
https://github.com/kubernetes/kompose/releases/tag/v1.21.0

[2020-02-28 15:48] hangyan commented on #1251
1. The cert for your cluster contains info about valid ip it support ,it dose not contains 127.0.0.1
2/3. kompose is a very old project, the `client-go` package it rely on it outdated and does not support many new features about  reading server ip from kubeconfig, so it use the default address `https://127.0.0.1:6443`,

I know the current solution is not perfect, but it we want to upgrade it, it r

[2020-02-28 21:55] josipradic commented on #1071
I can confirm I have the same issue. Annotations are not added for ingress files. Btw, @hangyan thanks for adding expose host path feature, it works great.

[2020-02-29 12:01] bastianeicher commented on #1250
Also, the description text for the release says "Kompose 1.23.0", despite the release being 1.21.0.

[2020-03-01 04:35] azkore opened #1253 "Losing quotes when converting "yes" and "no""
Before this commit https://github.com/kubernetes/kompose/commit/88a3a27ca8c2c2e3df52f2304cf6fd26e9163065 kompose converted quoted "yes" and "no" values of environment variables to the same values in the resulting helm chart. For example:

    environment:
      APP_CREATE_TESTUSERS: "no"

was converted to:

        env:
        - name: APP_CREATE_TESTUSERS
          value: "no"

But after the chan

[2020-03-02 03:27] kamiine commented on #1097
/reopen

[2020-03-02 03:36] hangyan commented on #1097
/reopen

[2020-03-02 03:36] hangyan commented on #1253
I will look up into it

[2020-03-02 03:37] hangyan commented on #1252
Thanks for pointing it out... I will update it.

[2020-03-02 03:41] #1252 closed

[2020-03-02 03:44] hangyan commented on #1250
@cdrage

[2020-03-02 10:13] jammer99 opened #1254 "new --server flag not supported by kompose down?"
I had ran Kompose up using the new `--server` flag but it is not supporting `down` with the same flag.

[code]

[2020-03-02 10:17] hangyan commented on #1254
Yeah, tha's a mistake. Sorry for that, will add this ASAP.

[2020-03-02 13:58] cdrage commented on #1250
@bastianeicher @fmotrifork Sorry about that! I had a brain fart with regards to the description text.

I've also re-uploaded the binaries. Looks like I uploaded it at just the right time when the GitHub API went down, so half the binaries dissapeared.

The release now has the correct binaries. Thanks for bringing this to my attention!

[2020-03-02 13:58] #1250 closed

[2020-03-03 10:02] gsainsbury86 commented on #1238
I have the same problem with 1.21.0

[2020-03-03 17:16] fetzerch commented on #1241
Thanks. I'll try to get it working.

[2020-03-03 17:16] #1241 closed

[2020-03-04 19:37] sergey-kudriavtsev opened #1258 "kompose up - don`t created deployment and don`t create pod"
## Step 1
### My case
#### preparing
[code]
#### runing script
[code]
##### If I running v1.20 kompose
##### I have next error
[code]

### Your example

[code]

## Step 2
I can use proxy
[code]
But I can`t use HTTPS proxy
Why you use default HPPS  https://127.0.0.1:6443  ?

## Step 3
If we used kompose up --server http://127.0.0.1:6443
But why we did`t use it flag for kompose down ?

[2020-03-06 23:47] kkweon opened #1259 "docs/getting-started.md not working with minikube"
Following the guide in [docs/getting-started.md](https://github.com/kubernetes/kompose/blob/master/docs/getting-started.md),
I'm encountering the following error. I'm not sure why it's reaching that endpoint.

[code]

[code]

[2020-03-08 05:44] hangyan commented on #1259
Can you try the server flag `--server` to use your cluster endpoint?

[2020-03-08 05:52] hangyan commented on #1258
The `--server` flag was added in `1.21`, so in `1.20` it's not working. Kompose use a very old version of kubernetes package, so it does not support some of the resource group versions. In `1.21` we use some dirty patch to make it works with the latest kubernetes cluster versions.

For the case of `kompose down`, it's our mistake, will add it very soon

[2020-03-08 06:01] hangyan commented on #1238
The `1.21` version fix the Deployment issue, but it clearly not enough. The network group will need some fix too.

[2020-03-08 06:43] kkweon commented on #1259
Thank you. It works with `--server` set to my cluster endpoint (`https://192.168.64.2:8443` in this example). Still not sure why it's pointing a different endpoint. I can update the doc addressing this error, one may try with the `--server` flag. wdyt?

[2020-03-08 07:04] hangyan commented on #1259
The doc already contains the notes about this flag. But since it's new and not an obvious one to think about, so i guess it's still not easy for normal user to find out...

[2020-03-08 10:40] #1254 closed

[2020-03-08 10:42] hangyan commented on #1259
close this for now. Welcome to give any other suggestions.

[2020-03-08 10:42] #1259 closed

[2020-03-08 10:46] hangyan commented on #1258
Close this for now. Welcome to file up new issue or open this issue (notify me) if you have any new questions.

[2020-03-08 10:46] #1258 closed

[2020-03-08 13:15] hangyan commented on #1253
Seems caused by the change of yaml library we are using. To be honest, yaml is a bad desgined language and it's very complicated. Hope we can find a good library to support both indent and the new standard. If not, or more users are reporting this issue, we will rollback this commit.

[2020-03-09 07:01] zxmrlc opened #1261 "ignoring path on the host"

[2020-03-09 07:01] #1261 closed

[2020-03-10 22:17] tprasadtp commented on #1173
@cdrage v1.21.0 is missing checksums file again, though it looks like the release script has not changed. Could you please take a look at it? On a side note, don't you think its better to use goreleaser? I will be happy to submit PR if you are willing to accept it.

[2020-03-11 03:18] james-song opened #1262 "Support for readinessProbe"
Feature request to support ReadinessProbe.

#759 Issue, is only support livenessProbe

[2020-03-11 10:56] lvxiaohu opened #1263 "Unable to read env_file: Can't separate key from value"
I have a docker-compose file, and I want to convert it to a chart, but kompose tells me that I cannot retrieve env_file, please help me check some questions, thank you!

 :) Kompose verson: 1.19.0 ()
 :) docker-compose version: 3.0

and debug information:
DEBU Checking validation of provider: kubernetes
DEBU Checking validation of controller:
DEBU Docker Compose version: 3.0
DEBU Compose file dir:

[2020-03-11 19:00] LSmyrnaios commented on #1251
Thanks for your response.

1. Will it be solved if I allow the "loopback address" in the firewall or you think there's something else going on?
2. & 3. I see, "client-go" and "kubernetes" dependencies are outdated for more than 3 years.
Sooner or later, kompose will need this upgrade to support new kubernetes stuff.
Also, the api used [here](https://github.com/kubernetes/kompose/tree/master/vendor

[2020-03-12 03:18] #1263 closed

[2020-03-12 13:59] hangyan commented on #1251
1. The allowed ip address is written in the cert file...
2. Yes, we are aware of this issue. I have tried a few times to solve this issue. It basically need to  rewrite 70% of the codebase, it's a huge task.  Nowadays, most people are familiar with Kubernetes already, they do not need this kind of tools anymore. The project has finished it's purpose as bridge from compose to kubernetes. You can ch

[2020-03-12 15:38] pom11 commented on #965
+1

[2020-03-13 08:51] syahrul12345 opened #1264 "Kompose not creating pods & deployments on minikube"
Hey guys, I'm new to kompose and trying to set up the example project using the `docker-compose.yaml` file provided in the getting started page.

[code]

Running `kompose up` deploys the services to my minikube cluster. However, it seems that doing so doesn't create the any pods, so when i run `minikube service frontend` i get a `this site cant be reached` error in my browser.

Running `kubectl ge

[2020-03-14 00:38] webberwang opened #1265 "-o flag should create directory if does not exist for convert"
I add `__generated__` to `.gitignore` & defer folder creation to the CLI.

But kompose convert does not create the directory if it does not exist, which should be the expected behavior IMO.

[2020-03-15 17:25] #1003 closed

[2020-03-19 10:54] vertti opened #1267 ".env file creates -env entries, no ConfigMap"
I have an `.env` file like this:

[code]
and a `docker-compose.yaml` like this:
[code]

Now, I would expect `kompose convert` to create a `ConfigMap` definition that would be referenced in each deployment descriptor. Instead I get a misleading error message:
[code]
and each deployment contains env entries like this:

[code]

[2020-03-20 11:18] rozacek commented on #1267
I have the same issue. Should I provide some parameter in `kompose convert` ?

[2020-03-28 14:54] Blunderchips commented on #1180
Is there a solution to this issue?

[2020-03-29 21:57] #1071 closed

[2020-03-31 11:20] mbrodala commented on #1267
The problem seems to be the `version` used here. If you look closely at the output you'll notice, that `env_file` is not supported by Kompose for Compose files version `'2'`:

[code]

If you change the version to `'3'` everything works fine:

[code]

[2020-04-01 03:16] justinfx commented on #1130
Any info on this? I hit the same issue with a root level `volumes` key

[2020-04-01 12:16] Jaggle opened #1268 "kompose response '[1] 77127 killed kompose' and does nothing"
![image](https://user-images.githubusercontent.com/5469845/78135982-6a23e180-7455-11ea-934e-a95c9ea9fe69.png)

OS: macOS 10.12

I installed kompose with this guide:

[code]

according to [https://kubernetes.io/zh/docs/tasks/configure-pod-container/translate-compose-kubernetes/](https://kubernetes.io/zh/docs/tasks/configure-pod-container/translate-compose-kubernetes/)

[2020-04-01 12:18] Jaggle commented on #1268
maybe the reason is that I'm using an old macOS version?

[2020-04-01 13:12] Jaggle commented on #1268
fine, I got to release page and download the latest version of kompose, everything is ok now.

[2020-04-01 13:12] #1268 closed

[2020-04-03 17:44] FaizHasan123 commented on #1238
@hangyan Are there any updates on the fix? I also ran into the same issue as @masteruser20. I am deploying the sample kompose app to an Openshift cluster running in IBM Cloud.

[2020-04-04 12:09] awmcclain commented on #1043
This is still an issue in Kompose for OSX and gcloud as of Docker Desktop 2.2.0.4. If you've done any googling on the topic, you'll see @wuestkamp's workaround, which needs a couple tweaks.

1. Remove the `credsStore` key in `~/.docker/config.json`

This will force docker to write the auth into the json when you use `docker login`. You can't untick `Securely store Docker logins in macOS keychain`

[2020-04-06 13:09] rasoulivand commented on #1005
Hey @mariojacobo

[2020-04-06 13:09] rasoulivand commented on #1005
Hey @mariojacobo ;
How did you solve this issue?

[2020-04-06 14:25] hangyan commented on #1005
@rasoulivand Have you ran into the similar issue?

[2020-04-06 14:31] hangyan commented on #1238
I'm working on this fix now

[2020-04-06 14:46] rasoulivand commented on #1005
Yes @hangyan
I've same issue

[2020-04-07 07:27] hangyan commented on #1005
@rasoulivand Can you post a simple version of you compose file?

[2020-04-07 11:11] mariojacobo commented on #1005
@rasoulivand unfortunately not, I've just been using the workaround I mentioned initially. it's not too elegant, but it works.

[2020-04-07 20:16] vpuria opened #1269 "Getting user and password prompt while doing Kompose up"
I am getting below Prompt while running Kompose up where as when i directly run kompose convert its converting the deployment file with the web service but not the redis .
**********************************************************************************
# kompose up
INFO We are going to create Kubernetes Deployments, Services and PersistentVolumeClaims for your Dockerized application. If you need

[2020-04-10 09:33] moluzhui commented on #1269
did you find any solution? I have the same situation with you. @vpuria

[2020-04-14 05:24] moluzhui opened #1270 "Running kompose under k3s failed"
I installed K3s with the following command and succeeded
[code]

Then I tried starting `docker-compos.yaml` with the official example
[code]

But when I started, I found it **only launched the service did not start deployments**
[code]

Whether I have no `configuration somewhere` or `kompose` itself is not available on `k3s`?

[2020-04-14 05:26] hangyan commented on #1270
Can you run the `kompose convert` command to see if there are any deployment yaml generated?

[2020-04-14 06:28] moluzhui commented on #1270
@hangyan As shown below, when I run the `kompose convert` command, it generated the corresponding deployements yaml
[code]

[2020-04-14 06:29] hangyan commented on #1270
@moluzhui Can you use kubectl to apply this yaml file and see how it goes?

[2020-04-14 08:19] moluzhui commented on #1270
@hangyan  kubectl apply result is as follows:
[code]

[2020-04-14 08:21] hangyan commented on #1270
That's wied. I will use your compose file to reproduce this later. But you can use this as a workaround for now.

[2020-04-14 08:22] moluzhui commented on #1270
@hangyan And I found it on `k8s1.16.0` created by `minikube`.
Using the `kompose up` command also causes the `same problem with k3s`.

[2020-04-15 13:39] moluzhui commented on #1152
@hangyan The kompose conver command failed to execute. The output is similar to the following
[code]
Official documentation says restrictions support `2.1` and `3.2`, why is 2.4 not supported?

[2020-04-16 09:56] moluzhui opened #1271 "kompose convert Volume mount on the host isn't supported"
The project agent image needs to mount `docker.sock` and then query the host container log using the docker SDK, and mount the `data directory` to persist portions of data. The `kompose convert` failed, `docker.sock and data directory` could not be mounted to the container.

[code]

I executed the `kubectl logs` command and entered the following error
[code]

I executed the `kubectl exec` command

[2020-04-17 06:45] ValleyZw commented on #1264
I'm facing the same issue 😞. I generate yaml files in a subdirectory to avoid messy directory 😄.

`kompose convert -o kompose-factory && kubectl apply -f kompose-factory/`

[2020-04-20 14:26] jbmcfarlin31 commented on #1237
@hangyan is there any update on this? Thanks!

[2020-04-20 23:04] luckydonald commented on #1235
Yeah, `2.1` should be supported too.

[2020-04-20 23:40] rashad commented on #1093
Sorry for dumb question but I don't get what the issue is with symlinks and what should one do in case he has some (I do) ?

Thanks for your help :)

[2020-04-21 12:59] mdrobniu commented on #1235
`# kompose convert`
`FATA Version 2.1 of Docker Compose is not supported. Please use version 1, 2 or 3`
`]# kompose version`
`1.21.0 (992df58d8)`
`#`

[code]
Anyidea what I'm doing wrong?

[2020-04-21 13:06] mdrobniu commented on #1235
Okay I've fixed by changing the version in the yaml file to "3"

[2020-04-22 01:26] skofgar commented on #1088
I actually still have this problem, did anyone come across an alternative solution?

[2020-04-23 09:15] garyarobinson-uleska commented on #1264
+1 on this. As someone new to k8, this caused me about half a day of pain.

[2020-04-23 14:49] luckydonald commented on #1235
It's not fixed that way, it's only a workaround.

I have about 20 docker compose files, so that's really no fun...

[2020-04-23 18:03] cdrage opened #1275 "Deprecating kompose up and kompose down in favor of only kompose convert"
So... a few issues:

1. We're using an old library and it's very hard / a LOT of changes in order to go from the old golang kubernetes library to the new one. (ex: https://github.com/kubernetes/kompose/issues/1264)
2. Lot's of issues with regards to connecting to local servers (minikube isn't port 8080 anymore..)
3. `kompose convert` is *very* popular in terms of converting. Most people using `kom

[2020-04-23 18:46] surajnarwade commented on #1275
I agree , +1 from my side

[2020-04-24 10:40] trawler commented on #1275
Since we started exploring Kompose I can only agree with the above. `kompose up/down` was never an option for us, but we love the convert + helm functionality.
So +1  👍

[2020-04-24 14:30] cdrage commented on #1275
Thanks all, even though it's only been 24 hours, I've got nothing but praise in the e-mail as well as this issue.

I'll change this in **one week** in order to give a **lazy consensus** in terms of removing `kompose up` and `kompose down`.

[2020-04-25 12:28] hangyan commented on #1275
+1

[2020-04-26 10:53] marklester opened #1276 "loadbalancer conversion won't work for mixed protocols"
kompose creates one service for both udp and tcp but that doesn't work with k8s.
https://github.com/kubernetes/kubernetes/issues/23880

metallb does this by creating 2 services and link with an annotation:
https://metallb.universe.tf/usage/#ip-address-sharing

[2020-04-27 03:47] NicolasMilligan commented on #1238
Any update on this? I'm running into the same problems as https://github.com/kubernetes/kompose/issues/1238#issue-552377250 and https://github.com/kubernetes/kompose/issues/1238#issuecomment-576555072 after using `kompose up` or `kompose convert && kubectl apply -f .`

[2020-05-01 09:53] gajdot commented on #1236
Still no solution for this? /remove-lifecycle stale

[2020-05-06 07:26] moluzhui commented on #1270
Is it my yaml file error or a bug in kompose

[2020-05-06 15:41] #1130 closed

[2020-05-10 12:35] sayatul commented on #1236
/remove-lifecycle stale

[2020-05-11 06:30] ssahil628 commented on #1058
Hi, does Kompose support 3.7 of Docker compose?

getting following error
FATA Version 3.7 of Docker Compose is not supported. Please use version 1, 2 or 3

[2020-05-13 21:26] jsmedmar opened #1277 "kompose down removes persistent storages"
As a Docker Compose user this was unexpected and had a quite bad implication for me. I lost completely a database. When I do docker-compose down, the persistent volumes are not destroyed. I would have appreciated a heads up of any sort.

[2020-05-15 04:02] kaceo commented on #1275
New to Kubernetes stack, so my opinion is only from a docker-compose user.  Is it correct to say the tool currently only handles partial conversion?  I am thinking about the use of persistent volume, ingress, depends on, secrets, environment vars, etc. these need further tweaking before sending to kubectl?  If so, it is probably better to make this tool only focus on convert, and add hints and lin

[2020-05-15 13:48] heushreck commented on #1264
This somehow worked for me, with kompose up, just the services were created, but with this command and the subdirectory kompose-factory, everything, services, deployments and pods were created.

[2020-05-20 21:47] michaeldbianchi opened #1278 "kompose up seems to not use the build context's .dockerignore file"
When attempting to run `kompose up`, I run into a build error referenced in issue [656](https://github.com/kubernetes/kompose/issues/656) saying:

[code]

While the other issue states `kompose` doesn't handle symlinks well, this directory should never be included in the build context due to being ignored in the `.dockerignore` file. If `kompose` is going to handle the building of images, it should

[2020-05-20 22:27] jsmedmar commented on #1131
I'm getting this error:

[code]

When I visit https://127.0.0.1:6443/api, I see this:

[code]

Any clues how to address this situation?

[2020-05-21 15:26] jsmedmar commented on #1131
If anyone lands here, this version of compose worked for me on `mac`:

[code]

[2020-05-21 16:35] michaeldbianchi commented on #1278
Note that if I delete the _build and deps directories (which are in the .dockerignore), `kompose up` worked just fine. However, since elixir builds creates directories with symlinks, it makes kompose almost unusable since every time I run tests or a dev server, those directories are populated.

[2020-05-22 19:11] ComaToastUK commented on #1254
@hangyan When will this be released please?

[2020-05-25 08:14] opdude commented on #1247
/remove-lifecycle stale

[2020-05-27 12:14] glafir commented on #1201
`└─[0] <> kubectl proxy --port=8080
Starting to serve on 127.0.0.1:8080
`
`export KUBERNETES_MASTER=https://127.0.0.1:8080`
`../bin/./kompose up`

I get this error too (((
`FATA Error while deploying application: Get https://127.0.0.1:6443/api: x509: certificate is valid for 10.96.0.1, 10.50.2.250, not 127.0.0.1`

[2020-05-27 16:20] Emiller88 commented on #1270
I can reproduce the issue on k3s, `kompose up` fails to create any pods, but `kompose convert` followed by `kubectl apply` works.

[2020-06-01 16:54] #1053 closed

[2020-06-02 22:48] simbamarufu1 opened #1280 "kompose secrets file location"
It appears there is a mismatch between where secrets are placed when using kompose vs docker compose

docker compose places secrets in the folder `/run/secrets` kompose defines the mount path for secrets in the folder `/run/secrets/{secret-name}`. This is a breaking change if you are using `kompose convert` to deploy to k8s and need both docker-compose and k8s to work

[2020-06-03 16:15] jselleck commented on #1239
This is still an issue with the network setup.  When using 1 out file vs many there is an error.
/remove-lifecycle rotten

[2020-06-05 09:53] maxdanilov commented on #698
Is there any update on adding `StatefulSet` support?

[2020-06-05 10:00] maxdanilov commented on #1012
Is there any update on adding multicontainer support?

[2020-06-05 17:27] #1234 closed

[2020-06-07 14:19] azkore commented on #1253
/remove-lifecycle stale

[2020-06-15 05:08] gonzabt3 commented on #969
the problem is the symboliks links,find with
`ls -laR . | grep -B 5 " -> "`
and removes that,i remove node_modules and vendor folders and it is works

[2020-06-17 03:40] gargankur2008 commented on #1105
Thanks @jar145

[2020-06-17 03:45] gargankur2008 commented on #1201
/remove-lifecycle rotten

[2020-06-17 03:46] gargankur2008 commented on #1201
I also have similar issue on the latest kompose . My error is:
`FATA Error while deploying application: Get "https://127.0.0.1:6443/api": dial tcp 127.0.0.1:6443: connect: connection refused `

[2020-06-17 03:56] gargankur2008 commented on #1201
Duplicate of #1131

[2020-06-17 04:11] gargankur2008 commented on #1131
I also have similar issue on the latest kompose . My error is:
`FATA Error while deploying application: Get "https://127.0.0.1:6443/api": dial tcp 127.0.0.1:6443: connect: connection refused `

@hangyan  , I am still facing the issue. I even tried running minikube using `minikube start --apiserver-port=6443` but still facing the issue. I checked you PR #1204 , is it merged and published yet ?

[2020-06-17 04:15] gargankur2008 commented on #1275
I agree. My `kompose convert` created about 15 yaml files, is there a way to apply all of them without putting them in terminal ?

[2020-06-17 12:01] sachithmuhandiram commented on #1254
Any update about this issue? I am having the same `down` issue.

[2020-06-17 14:08] cdrage commented on #1275
Sorry for the delay, I'm looking at implementing this shortly.

[2020-06-17 16:46] gargankur2008 commented on #1275
No rush on my side. I just wanted to add a possible improvement. Thanks for the work you are doing.

[2020-06-17 19:15] cummy2019 commented on #1238
Does anyone have any update on this? I am also getting same error

INFO Deploying application in "default" namespace
INFO Successfully created Service: web
FATA Error while deploying application: the server could not find the requested resource

[2020-06-18 22:53] jbresciani commented on #1236
https://kompose.io/installation/ still references 1.19.0 which contains this bug, that page should be updated to reference 1.21.0 which contains the fix for this issue.

curl -L https://github.com/kubernetes/kompose/releases/download/v1.21.0/kompose-darwin-amd64 -o kompose

[2020-06-19 11:33] croensch commented on #1275
As the first comment mentions `kompose convert -o foobar/` and `kubectl apply -f foobar/` does bring up everything. @gargankur2008

[2020-06-19 11:48] TimAdams84 commented on #656
Same issue, I am not building a node.js project nor do I have any symlinks in the build folder:
[code]

[2020-06-19 14:25] gargankur2008 commented on #1275
Hi @croensch, thanks for th clarification.

[2020-06-19 15:52] #1237 closed

[2020-06-24 10:32] ltutar opened #1282 "kompose convert with openshift option is ignoring hyphens in docker image name"
Hi,

When I convert a docker-compose file with the command
`kompose --file gitlab-runner-docker-compose.yml convert
`
I get the result with the correct image name i.e.

However when I use the command
`kompose --file gitlab-runner-docker-compose.yml --provider openshift convert
`
i.e. with openshift as provider,
then I get the image name

It looks like the hyphens are ignored.

Using kompose versio

[2020-06-24 20:38] ernievd commented on #1131
Same issue here.
I Just installed kompose fresh and get the following :
[code]

Here is the docker-compose.yml file I am using:
[code]

Anyone? Please!!!

[2020-06-25 20:26] hubgit commented on #656
This may be caused by #1278, which would explain why removing the `node_modules` and `dist` directories fixes it.

[2020-06-26 04:51] vertti opened #1283 "Handle minor versions"
Docker-compose documentation warns that using `version: '3'` will NOT use the latest 3.x series, but instead use `3.0`. Trying to run `kompose convert` using explicit version like `3.8` will throw:

[code]

I think this is in clear conflict with how docker-compose handles versioning.

[2020-06-26 06:09] vertti commented on #1283
Ok, turns out it's just `3.8` that isn't supported, using `3.7` works just fine. But then I have to say that the error message is super misleading (`use 1, 2 or 3`). It should then list all supported version tags.

[2020-06-26 07:47] vertti opened #1284 "Kompose up with remote Openshift"
I have a Openshift cluster running (not locally). My kubectl connects to it correctly. But running

[code]
fails to connect to localhost, where it definitely shouldn't be connecting in the first place:

[code]

Does everyone just use `kompose` with local minikube etc, or what am I doing wrong?

[2020-06-26 08:08] vertti opened #1285 "--build build-config wipes image streams"
I have a setup which has my own container built from Dockerfiles and Kafka that is used from known image.

When I run `kompose --provider=openshift convert` the `kafka1-imagestream.yaml` has:

[code]

but when I re-run it with `kompose --provider=openshift --build build-config convert`, the same kafka image stream is wiped empty spec to:

[code]

[2020-06-26 08:12] vertti opened #1286 "build-config generates incompatible build configs"
Generating build configs for Openshift 3.11 (OKD 3.11) with `kompose --provider=openshift --build build-config convert` and running `kubectl apply -f the-generated-buildconfig.yml` throws:

[code]

[2020-06-26 11:00] vertti commented on #1286
Ah, this is about `kubectl`. You need to use `oc apply` instead.

[2020-06-26 11:00] #1286 closed

[2020-06-26 14:06] lmsurpre commented on #1236
I hit this one today for this same reason, who can update https://kompose.io/installation/ ?

[2020-06-26 19:59] mash1t commented on #1236
@hangyan are you the person to address to update the doc?

[2020-06-27 01:02] markstos commented on #87
This embarrassing flaw persists today.

Here's a project whose primary purpose is to convert `docker-compose.yml` files. Yet if you give it a `docker-compose.yml` file, it has no idea what you are talking about.

      FATA Unknown Argument(s): ./docker-compose.yml

FATA you too, `kompose`.

`kompose convert --help` could mention that it's going to look for `docker-compose.y(a?)ml by default.

[2020-06-28 05:18] jongio commented on #1283
I ran into this today as well.  Is 3.8 support coming soon?

azsdke2e

[2020-06-28 05:27] jongio opened #1287 "Unable to read env_file that works with docker-compose up"
I have this structure: .env is in the root, docker-compose is two levels deep.

/root/.env
/root/src/net/docker-compose.yml

In docker-compose.yml, I reference the .env file like this:

[code]

This works when I run docker-compose up.

If I run kompose convert, I get the following:
`←[31mFATA←[0m Unable to retrieve env file: Unable to read env_file: open ../.env: The system cannot find the file sp

[2020-06-28 18:12] jaredestroud opened #1288 "Issue Running Kompose up and deploying to GKE"
When executing ```kompose up``` on a docker-compose YML file it appears to always try a local connection and not the remote cluster even with the KUBERNETES_MASTER environment argument sent to the upstream cluster IP.

The error I receive is as follows:
[code]

kompose version: 1.21.0 (992df58d8)

[2020-06-28 18:19] jaredestroud commented on #1288
Leveraging ```kubectl proxy``` resolved this issue.

[2020-06-28 18:19] #1288 closed

[2020-06-29 04:12] ecda909 commented on #1238
Same error?

[2020-06-29 16:00] imzahahs commented on #1043
Using `gcloud auth print-access-token | docker login -u oauth2accesstoken --password-stdin https://eu.gcr.io` worked for me instead of `gcloud auth configure-docker` in Jenkins with Ubuntu Slave

[2020-07-01 12:53] miso-belica opened #1289 "Support the `.env` file in `kompose convert -f docker-compose.yml`"
Hello,

I would like to ask for the support of the `.env` files when converting `docker-compose.yml` file to Kubernetes/OpenShift files. When I try to convert the file I get the error `FATA 1 error(s) decoding: error decoding 'Ports': No port specified: ::<empty>`. I found the issue https://github.com/kubernetes/kompose/issues/1104 describing the problem but it was closed for the inactivity. I bel

[2020-07-07 08:35] MarkIannucci commented on #1246
/remove-lifecycle rotten

[2020-07-07 08:49] MarkIannucci opened #1290 "Unsupported config option for service: `init` --- is there a kubernetes equivalent?"
I'm trying to convert a docker compose file to kubernetes yaml files.  The file I'm converting is version 2.2 and it uses the `init:true` [config option](https://docs.docker.com/compose/compose-file/compose-file-v2/#init).  The functionality was added to docker compose in version 2.2 and re-added in version 3.7.

Unfortunately, those minor versions are not supported in version 1.21.0.  If I change

[2020-07-14 15:25] advaithm commented on #1283
yeah is docker 3.8 support in the works?

[2020-07-16 19:56] jbmcfarlin31 opened #1291 "[BUG] Kompose doesn't read config from URL"
When using configs with a compose file, you can specify a `file` attribute for where the config lives. For example:
[code]

This is expecting that the file exists on the machine that is running docker-compose presumably. However, if you specify a url to the config file instead, it breaks as it does not follow the url but rather just appends:
[code]
Results in:
[code]

I would expect that `kompose`

[2020-07-18 11:22] harshsharma22 opened #1292 "sidecar support"
----
feature request :- to support adding of side car with deployment or with daemonset
-----

[2020-07-19 14:20] habtom-wmichael commented on #1238
service/producteservice created
error: unable to recognize "deployment.yml": no matches for kind "Deployment" in version "extensions/v1beta1"

[2020-07-24 14:45] jongio commented on #1287
Thoughts on this?

[2020-07-26 06:05] guyarb opened #1293 "Kompose down fails due to a failed connection to https://127.0.0.1:6443/api"
I used `kompose up` and got `FATA Error while deleting application: Get https://127.0.0.1:6443/api: dial tcp 127.0.0.1:6443: connect: connection refused`, after short lookup in google, I've found the flag `--server`.
When I tried using `kompose down` I got the same error, but I didn't see the same flag in `kompose down -h`.
I'm using kompose of version `1.21.0 (992df58d8)`  on ubuntu 18.04 machine

[2020-07-27 08:57] fullkomnun commented on #1293
I had the same issue, try to check if that is the port for the API server in '~/.kube/config'
and if necessary use the '--server' flag to explicitly specify it

[2020-07-27 20:22] arslanabbasi opened #1294 "Wrong version number for NetworkPolicy with new k8s version"
Hi,

Kubernetes has changed the apiVersion of Network Policy to `apiVersion: networking.k8s.io/v1`. When kompose generates the NetworkPolicy files, it is still using the old api version `apiVersion: extensions/v1beta1` due to which creating the network policy fails with the following error

`error: unable to recognize "selenium_hub-net-networkpolicy.yaml": no matches for kind "NetworkPolicy" in ve

[2020-07-28 00:37] mbernasocchi commented on #1269
did anyone find a solution? it only happens with 1.21.0 (992df58d8). 1.20.0 works as expected

[2020-07-28 00:38] mbernasocchi commented on #1269
/remove-lifecycle stale

[2020-07-28 09:45] campos-ddc commented on #1253
Having the same issue with`"off"` string being converted to `off`, which apparently can also be interpreted as a boolean `false` depending on yaml implementation (!)

[2020-07-29 07:22] michelsen commented on #1247
Is this something that could be looked at? Not having to do our own yaml parsing to insert this would be a tremendous benefit.

[2020-07-29 10:38] heylix opened #1296 "support podman"
It would be cool if kompose could support podman, similar to what [containers/podman-compose](https://github.com/containers/podman-compose) does.

Is that possible?

[2020-07-31 14:02] mark-5 opened #1298 "stop_grace_period doesn't set terminationGracePeriodSeconds"
According to the [Conversion Matrix](https://kompose.io/conversion/) stop_grace_period should be setting Pod.Spec.TerminationGracePeriodSeconds but that isn't happening with the latest version of kompose.

From a recent Linux install (on Centos 7.8.2003)
[code]

[2020-08-01 08:05] hangyan commented on #1296
Since kompose has remove the `up` and `down` comand and only do `convert`, there is no need to add this support for now

[2020-08-01 08:06] hangyan commented on #1294
Yes, due to our very old kubernetes dep code, this is not very correct output for now. I will try to fix this

[2020-08-02 09:57] #1298 closed

[2020-08-02 10:05] hangyan commented on #1293
close by #1297.

[2020-08-02 10:05] #1293 closed

[2020-08-02 10:06] hangyan commented on #1284
close by #1297

[2020-08-02 10:06] #1284 closed

[2020-08-02 10:07] hangyan commented on #1278
close by #1297

[2020-08-02 10:07] #1278 closed

[2020-08-02 10:08] hangyan commented on #1277
close by #1297

[2020-08-02 10:08] #1277 closed

[2020-08-02 10:08] hangyan commented on #1264
close by #1297

[2020-08-02 10:09] hangyan commented on #1270
close by #1297

[2020-08-02 10:09] #1270 closed

[2020-08-02 10:09] #1264 closed

[2020-08-02 10:09] hangyan commented on #1269
close by #1297

[2020-08-02 10:09] #1269 closed

[2020-08-02 10:11] hangyan commented on #1201
close by #1297

[2020-08-02 10:11] #1201 closed

[2020-08-02 10:11] hangyan commented on #632
close by #1297

[2020-08-02 10:11] #632 closed

[2020-08-02 10:12] hangyan commented on #755
close by #1297

[2020-08-02 10:12] #755 closed

[2020-08-02 10:12] #1275 closed

[2020-08-05 11:33] segersniels opened #1301 "✨ Kompose converts into Pod instead of Deployment"
### Issue
In some cases Kompose converts certain `docker-compose.yml` files into `Pod` kinds instead of `Deployment` resulting in errors such as:

[code]

It would be helpful if we could enforce Kompose to convert using `kind: Deployment` instead of `kind: Pod` to prevent issues like this.

### Reproduce
An example `docker-compose.yml` file that doesn't work: https://github.com/input-output-hk/car

[2020-08-06 06:22] hangyan commented on #1301
The `Pod` object is create by the use of `on-failure` restart policy. For now this is no cmd flags to overwrite this behaiour. But i think this sould be changed to allow the cmd flags(`controller`) to let the use choose the pod contorller, directly use Pod seems not a good idea.

[2020-08-06 09:27] #1239 closed

[2020-08-06 15:42] #1247 closed

[2020-08-06 16:13] #1246 closed

[2020-08-06 18:12] jm241825 opened #1304 "docker-compose Version 3.4+ Support"
I've just recently found your tool, and would like to utilize it, but an application that I need it for utilizes docker-compose version 3.4.  When do you think kompose will support version 3.4 (and higher)?

[2020-08-07 02:39] hangyan commented on #1304
It's do support 3.4-3.7 now

[2020-08-07 10:02] rpsperera opened #1308 "kompose convert --volumes=configMap does not add binary data."
Im trying to add a tar file on to the configMap but when i use the above mentioned I get the following error ,

error in marshalling the List: error converting JSON to YAML: yaml: control characters are not allowed.

[2020-08-07 10:03] hangyan commented on #1308
Can you provide a example compose yaml and other necessary files?

[2020-08-07 10:13] #1294 closed

[2020-08-07 11:01] DonPerera commented on #1308
Please find the attached. And does kompose support generation of ingress files.

[configs.tar.zip](https://github.com/kubernetes/kompose/files/5040951/configs.tar.zip)

[docker-compose.txt](https://github.com/kubernetes/kompose/files/5040955/docker-compose.txt)

[2020-08-07 13:52] jm241825 commented on #1304
Can you provide some more detailed installation steps for the tool?  I keep getting the following error when I try to use it:

`ERRO Could not parse config for project kompose2 : yaml: unmarshal errors:
  line 1: cannot unmarshal !!str `3` into config.RawService
FATA composeObject.Parse() failed, Failed to load compose file: yaml: unmarshal errors:
  line 1: cannot unmarshal !!str `3` into config.

[2020-08-09 15:44] #1251 closed

[2020-08-10 19:08] jm241825 opened #1309 "How do you download this"
No matter what installation method I try, it always installs version 0.7.0 (c25b7e8), even though I specify that I want version 1.21.0.  What do I need to do to get the latest version?  I'm trying to use this with VSCode, so do I need to install it from my Windows CMD tool?

[2020-08-11 07:14] jing2uo commented on #1309
maybe you have the kompose binary file of version 0.7.0 in the PATH and it has high priority, you can use ` where kompose ` in cmd to find it, then download the latest version from  [release page](https://github.com/kubernetes/kompose/releases/tag/v1.21.0) and replace the old version file. this tool: [everything](https://www.voidtools.com/zh-cn/downloads/) , also help.

[2020-08-11 12:45] Dulanic commented on #1289
Thank you for bringing this up. I also get this in a similar situation but with files. These error out as it just sees it as /wireguard. I am only adding to this current post to demonstrate different use cases.
[code]

[2020-08-11 12:58] Dulanic commented on #1287
So I am running into the same problem, and it looks like kompose is appending the .env file path to your current path. I am seeing the same problem.

![image](https://user-images.githubusercontent.com/2948206/89899757-5f6a1d80-dba8-11ea-8915-55d72e5b7386.png)

![image](https://user-images.githubusercontent.com/2948206/89899821-7446b100-dba8-11ea-872e-dd85556ffe01.png)

[2020-08-11 13:20] Dulanic opened #1310 "FATA enviroment Additional property enviroment is not allowed"
So I am getting this error and I see 0 direction as to what it even means? I have tried removing dozens of rows I thought might cause this and nothing helps. I searched issues etc and can't find anything.

```FATA enviroment Additional property enviroment is not allowed```

[2020-08-14 11:49] apettinen opened #1311 "Provide sha256 checksums as Assets instead of strings in a HTML table"
As the maintainer of kompose [Autopkg](https://github.com/autopkg/autopkg) [recipes](https://github.com/autopkg/apettinen-recipes/tree/master/kompose), I would like to add checksum verification to the download recipe, in order to automatically verify the integrity of the download. While parsing and regexing the releases page is technically possible, it is also cumbersome and error prone process. T

[2020-08-15 04:17] hangyan commented on #1311
@cdrage

[2020-08-15 04:19] hangyan commented on #1271
can you provide a example version of your docker compose file?

[2020-08-15 04:31] hangyan commented on #1310
Can you provide you compose file?

[2020-08-15 04:32] hangyan commented on #1287
seems a bug, i will  look into it

[2020-08-15 04:42] hangyan commented on #1287
Which kompose version do you guys use? seems it's already fixed in the master branch or maybe the latest release

[2020-08-15 04:50] hangyan commented on #1251
closed by #1305

[2020-08-18 17:32] RichardBronosky commented on #1269
I had this issue too even though my `kubectl` calls were fine. Turns out that the root user did not have the access needed. so I copied the ~/.kube/config file to the root user's home.

[code]

[2020-08-18 17:54] RichardBronosky commented on #1251
Once you get the IP correct, you are very likely to get a `certificate signed by unknown authority` error. For that, you have to get your workstation's OS to accept the cert. For Linux, I use:

[code]

[2020-08-22 04:05] yelhouti opened #1314 "problems converting docker-compose file using local environment variables"
I have the following error:

FATA Invalid interpolation format for "environment" option in services "kurento": "${NETWORK_INTERFACE:-}". You may need to escape any $ with another $.

When I try to convert compose files that local environment variables with default values like:

[code]
or
[code]

If possible, this should be intercepted IMO and these values stored in some values.yml to be used by he

[2020-08-26 18:25] kiransmartclean commented on #969
@YoussefEssa, same issue. Could you able to solve it?

[2020-08-28 12:18] dkarlovi commented on #850
IMO this issue is still valid, don't know if it was solved in the meantime.

[2020-08-28 13:05] #1267 closed

[2020-08-28 19:44] BoBiene opened #1315 "TLS host invalid when using kompose.service.expose with path"
When i use
[code]

it will generate a ingress.yaml with
[code]

[2020-08-28 20:58] BoBiene opened #1316 "Possibility to use default ingress ssl cert"
It should be possible to use a tls ingress configuration without specifying the cert-secret

[2020-08-29 05:41] saehan-suh opened #1318 "Need to update the api version in the auto-generated network policy"
When using the `kompose` to convert a docker-compose file(I'm using the version 1.21), the generated network policy file has the following API version:

[code]

This API version is deprecated since the Kubernetes 1.15-16. Hence, it causes the error when applying the resulting network policy file to a K8s cluster; it causes the following error:

[code]

It should be changed to:
[code]

I noticed th

[2020-09-03 09:31] ayoubbensakhria commented on #909
docker-compose version: '3.7' --> doesn't work
docker-compose version: '2' --> it works

[2020-09-05 11:12] hangyan commented on #850
@

[2020-09-05 11:13] hangyan commented on #850
@dkarlovi is the `--volume=emptyDir` flag not working？

[2020-09-05 11:58] dkarlovi commented on #850
@hangyan it was mentioned previously in this issue

https://github.com/kubernetes/kompose/issues/850#issuecomment-338633758

[2020-09-07 08:30] shivamSharmaMWP opened #1319 "Build args not working"
when build args are placed inside docker-compose.yaml,   docker-compose executable is able to build the docker images, but same command for kompose executable doesn't work.

[2020-09-07 08:32] shivamSharmaMWP commented on #1319
____ inside docker-compsoe
  simple_app:
    image: myImae:vv

    build:
      args:
        - APP_VERSION=app-0.5.2
      context: /home/abstract/app

______________ my docker file

ARG APP_VERSION
FROM respository/app:$APP_VERSION
RUN echo "print this $APP_VERSION"

this doesn't build at all. by kompose

[2020-09-09 11:47] etotientz commented on #1064
I am getting line 1: cannot unmarshal !!str `3.8` into config.RawService when using
version: '3.8'
in my docker-compose.yml

[2020-09-13 10:30] lebadapetru commented on #1152
I have kompose version 1.21.0 (992df58d8) on win 10 pro and i still receive: _?[31mFATA?[0m Version 3.8 of Docker Compose is not supported. Please use version 1, 2 or 3_

[2020-09-15 15:05] hangyan commented on #1152
@lebadapetru minor version of `1` `2` is not supported, docker-compose 3 is supported to version `3.7`

[2020-09-16 20:32] jongio commented on #1287
[code]

Were you not able to repro?

[2020-09-18 02:58] karimsa opened #1321 "Ports are parsed incorrectly from "expose""
Using the following compose file:

[code]

The output for the port specification is:

[code]

Interestingly enough, if I use "ports" instead of "expose" in the compose file, then the output is correct.

[2020-09-24 04:58] azkore commented on #1276
please reopen

[2020-09-24 20:53] mash1t commented on #1236
/remove-lifecycle stale

[2020-09-24 20:54] mash1t commented on #1236
@hangyan bump for updating the docs

[2020-09-30 09:55] Chris92ch opened #1322 "Kompose up : no basic auth credentials"
Hello !

I've pulled a compose file from a private repo and I would like to apply it on my K8s cluster. Sadly, everytime I try to `kompose up` , I'm receiving this output :

`FATA Error while deploying application: k.Transform failed: Unable to build Docker image for service core: Unable to build image. For more output, use -v or --verbose when converting.: Get https://xxx.xxx.io/v2/wildfly/wildfl

[2020-10-02 00:32] mkbhanda opened #1323 "Related to #1271, volume mount on host not supported"
Related to #1271 that was closed because of time rot
Here is a docker-compose file that I was trying to use with kompose on a single node kind cluster. PVCs stay pending
https://github.com/edgexfoundry/developer-scripts/blob/master/releases/geneva/compose-files/docker-compose-geneva-redis-no-secty.yml
WARN Volume mount on the host "/var/run/docker.sock" isn't supported - ignoring path on the host

[2020-10-02 00:35] mkbhanda opened #1324 "Kompose 'down' does not take the --server flag"
kompose version = 1.21.0
kompose up takes the --server string which is useful when your Kubernetes API server is not running at the default https://127.0.0.1:6443
But with no way to provide the same for down, no graceful way to bring down a deployment.

[2020-10-02 21:29] guettli opened #1325 "Tutorial, please add a line ..."
Please add something to the "getting started" tutorial:

https://kompose.io/getting-started/

[code]

Please add (for stupid new comers like me) what to do next. The files got created,
but how can I start them in minikube?

[2020-10-05 16:33] SamsonNelson commented on #1236
+1

[2020-10-07 22:21] azkore commented on #1071
please fix this

[2020-10-08 09:19] mikegerber commented on #1071
These bots are useless...

[2020-10-12 15:51] asencis commented on #1238
Are there any updates on this issue?

```error: unable to recognize "kube.io/main-networkpolicy.yaml": no matches for kind "NetworkPolicy" in version "extensions/v1beta1"```

[2020-10-12 22:24] jongio commented on #1283
/remove-lifecycle stale

[2020-10-13 10:37] hangyan commented on #1238
@asencis Can you try the master build?

[2020-10-20 11:49] azkore commented on #1276
/remove-lifecycle rotten

[2020-10-20 11:49] azkore commented on #1276
/reopen

[2020-10-20 23:09] qaifshaikh opened #1327 "Add prefix or suffix to service's metadata name"
This is my `docker-compose.yml`
[code]
And this is the converted `redis-master-service.yml`
[code]

I'm wondering if we can have the option to add prefixes or suffixes like hostname variables to the metadata and others like this:
[code]

Is this something that can be done? If not, why is it a bad idea to do so?

[2020-10-21 03:35] hangyan commented on #1327
This is quite an unusual requiremnet. usually the `selector` is something fixed ,not with preifx/sufifix. Do you want the service to only select one pod? why do you need that?

[2020-10-21 15:43] qaifshaikh commented on #1327
Yeah, our company used that design pattern for docker and now we're working on bringing our docker work to k8s, so was wondering if that is possible. It also helps avoid `unbound immediate PersistentVolumeClaims` errors.

[2020-10-21 22:51] qaifshaikh commented on #1327
Yeah, our company used that design pattern for docker and now we're working on bringing our docker work to k8s, so was wondering if that is possible. The docker containers usually have a naming system like
`test_redis_1` where `test` is the directory and `1` is the pod number.

[2020-10-23 12:28] kachar commented on #1152
Issue seems to be still ongoing with the latest release tag `1.21` from 25 Feb 2020

[code]

With `docker-compose.yaml` version `3.8`

[code]

Do you plan a new release with the adoption with granular versions like `3.8`?

Any workaround is also welcome

[2020-10-23 19:47] lexfrei commented on #986
@cdrage still failing

[code]

You can test it on these lines https://github.com/lexfrei/GhostStack/blob/4c8370be71936d856b2f284eae4a95f60cf021c7/blog.yaml#L28-L34

[2020-10-24 15:53] devniel commented on #1318
Hello, I'm also getting the problem
[code]

Changing to `apiVersion: networking.k8s.io/v1` fixes the problem, thank you.

[2020-10-26 21:37] eoli3n commented on #1296
I do have ``up`` and ``down``
[code]

So can you reconsider adding a default search for ``podman-compose.yml`` file in current dir when using kompose ?

[2020-10-26 22:04] PovarovDenis commented on #1289
Hey folks, I faced the same problem, but the problem actually is different.
kubernates sees the .env variables but it doesn't work when we use inner and outer ports as variables `${PORT}:${PORT}`
But it will work when it is used for outer port: `${PORT}:3000`

[2020-10-27 06:20] SvenDowideit opened #1328 "Helm v3 conversion"
I _think_ the conversion code is outputting not-v3 - https://github.com/kubernetes/kompose/blob/a994d6bc04e907b6849cb996cb80d1bec2979b4d/pkg/transformer/kubernetes/k8sutils.go#L91

but I also can't find any documentation that tells the user what helm chart versions the conversion does

so maybe its a small documentation change?

[2020-10-29 09:06] hangyan commented on #1328
the chart version is compatible with helm3/helm2. Since it not use any particular features that are specified  to helm v2 or v3

[2020-10-29 09:34] hangyan commented on #1289
Our current parser does not support this for now. I am working on a solution for now.

[2020-10-30 05:45] atul10864 commented on #1235
when convert :
kompose -f ../docker-compose.yml convert -y, it is error
Flag --yaml has been deprecated, YAML is the default format now.
FATA Version 2.1 of Docker Compose is not supported. Please use version 1, 2 or 3

 The follow is my yaml file:
version: '2.1'
services:

    #
    # mender-deployments
    #
    mender-deployments:
        image: mendersoftware/deployments:1.9.0
        extends:

[2020-10-30 08:58] mkbhanda commented on #1238
No errors with compose version "1.22.0 (4b9b5066)" at least when providing the converted yaml to Kubectl. Much thanks @hangyan

[2020-10-30 09:39] #1238 closed

[2020-10-30 09:52] hangyan commented on #1235
@atul10864 @luckydonald I am so sorry guys, this is due to the docker/libcompose we rely on, it's old and not maintained anymore. I am trying to upgrade our go mod to use the latest version of it. Seems promising.

[2020-10-30 09:55] #1328 closed

[2020-10-30 10:02] hangyan commented on #1296
@eoli3n i'm looking into it.

[2020-10-31 00:33] hangyan commented on #1325
The current doc has add the `Run kompose convert in the same directory as your docker-compose.yaml file.`. It that confused?

[2020-10-31 00:34] hangyan commented on #1318
@devniel @saehan-suh Can you try the latest 1.22 version. It should fixed this problem

[2020-10-31 09:30] #1283 closed

[2020-10-31 09:35] hangyan commented on #1296
@eoli3n  Is `podman-compose.yml` some kind of standard? i can not find any ref to it

[2020-10-31 09:36] hangyan commented on #1285
@vertti Can you provide a sample compose file?

[2020-10-31 09:40] hangyan commented on #986
@lexfrei Can you try the master build? I have upgrade the docker lib version of kompose, it should  fixed this pobelm

[2020-10-31 10:27] eoli3n commented on #1296
It seems that podman-compose chose ``container-compose.yml`` as strandard instead of ``podman-compose.yml``.
See https://github.com/containers/podman-compose/issues/167

[2020-10-31 15:05] lexfrei commented on #986
@hanjiayao yep, it works for me now. Thx!

JFYI: The Go install method doesn't work at least on Windows:
[code]

[2020-11-01 12:58] hangyan commented on #986
＠lexfrei weird, we have a cross build step to enuse the go mod is ok.

[2020-11-01 13:24] hangyan commented on #1324
close by #1297. Release version: v1.22.0

[2020-11-01 13:24] #1324 closed

[2020-11-01 13:30] hangyan commented on #1323
kompose have a flag `volumes` when convert, do you think that will match your needs?

[2020-11-01 13:30] hangyan commented on #1322
close by #1297
release: 1.22

[2020-11-01 13:30] #1322 closed

[2020-11-01 13:32] #1296 closed

[2020-11-02 03:14] hangyan commented on #1321
Seems a dummy bug. Fixing it now...

[2020-11-02 03:33] hangyan commented on #1321
@karimsa Does the compose spec allow this kind of usage for `expose`?   Seems this kind of format: `53:53/udp` is only allowed for `ports`

[2020-11-02 03:43] hangyan commented on #1319
can you try the `--build` option?

[2020-11-02 03:44] hangyan commented on #1318
feel free to reopen this issue if v1.22 does not fix your issues

[2020-11-02 03:44] #1318 closed

[2020-11-02 03:46] hangyan commented on #1316
Would you mind to provide more detail description?

[2020-11-02 05:07] hangyan commented on #1314
@yelhouti Can you try the latest v1.22 version, it should fix this problem. About the helm charts, this is a good idea, although it's hard to impl in the current code base, will keep an eye on it.

[2020-11-02 05:08] #1309 closed

[2020-11-02 05:11] hangyan commented on #1304
dup of #1309

[2020-11-02 05:11] #1304 closed

[2020-11-02 09:41] #1292 closed

[2020-11-02 10:17] #1301 closed

[2020-11-02 10:24] hangyan commented on #1291
@jbmcfarlin31 Is this syntax allowed in compose? I cannot find any doc about this

[2020-11-02 10:36] hangyan commented on #1290
see this issue: https://github.com/docker/libcompose/issues/459. There is not much thing we can do now to support this feature. And kubernetes does not have a equivalent feature to this

[2020-11-02 10:42] hangyan commented on #1287
<img width="799" alt="image" src="https://user-images.githubusercontent.com/3939015/97859097-11922b00-1d3b-11eb-9705-f7adb8f7ca3b.png">

This is the result using v1.22. Would you guys mind to give it another try?

[2020-11-02 23:54] hangyan commented on #1282
This was by design, It's the service name

[2020-11-03 05:09] #1276 closed

[2020-11-03 05:27] hangyan commented on #1253
<img width="680" alt="image" src="https://user-images.githubusercontent.com/3939015/97952390-296bbc80-1dd8-11eb-8bd6-516499775ae8.png">

Tested it on 1.22, seems fixed. Feel free to notify me to reopen this issue if it's not working

[2020-11-03 05:27] #1253 closed

[2020-11-03 05:27] #1236 closed

[2020-11-03 05:28] hangyan commented on #1235
Feel free to reopen this issue if it's not working

[2020-11-03 05:28] #1235 closed

[2020-11-03 05:41] hangyan commented on #1325
The home page of https://kompose.io/ and `Getting Started` has docs about using ` kubectl apply -f ` to install these resources

[2020-11-03 14:19] guettli commented on #1325
ok.

[2020-11-03 14:19] #1325 closed

[2020-11-03 16:29] germanafro opened #1346 ""kubectl apply -f *.yaml" results in error: Unexpected args: [file1.yaml file2.yaml]"
as portraied in https://kompose.io/

I convert my docker-compose, which results in multiple .yaml files
I would expect apply to work with multiple yaml files but instead i get the output:

[2020-11-04 08:16] hangyan commented on #1346
This is a litle confusing. The correct sytax for kubectl is `kubectl apply -f .`, it will look up in the target dir and read all the yaml files to apply

[2020-11-04 13:01] holzkeil opened #1347 "Windows Binaries for 1.22 not updated correctly"
Hi, it seems the windows binaries are not updated correctly and they are on 1.21.

The sha256 hash of kompose-windows-amd64.exe 1.22 and 1.21 is 0a01f3eb0cb810b61a4d7aaa5b59824e829f2e9042f061ff27f3c419822f08d3

See
https://github.com/kubernetes/kompose/releases/tag/v1.22.0
https://github.com/kubernetes/kompose/releases/tag/v1.21.0

the download confirms this.

[2020-11-04 14:50] hangyan commented on #1347
@cdrage

[2020-11-04 19:54] germanafro commented on #1346
TY! That worked out just fine.
I guess the documentation needs to be updated on this one.

[2020-11-04 19:54] #1346 closed

[2020-11-08 09:08] namusyaka opened #1352 "GitHub Actions instead of Travis CI"
According to https://blog.travis-ci.com/2020-11-02-travis-ci-new-billing, travis ci has changed their pricing model, and it affects on our development cycle.
In fact, some of tests are waiting for quite a while, it will lead our development cycle to be slow.

Thus, could we plan to migrate the CI from Travis CI to something like GitHub Actions?

Any thoughts on this?

[2020-11-08 15:23] hangyan commented on #1352
Good idea. Travis ci is much slower now. If you are intrested, feel free to create a PR to address this.

[2020-11-08 16:55] namusyaka commented on #1265
@hangyan Could you close this?

[2020-11-09 02:17] hangyan commented on #1265
@namusyaka Thanks for notice, i forgot.

[2020-11-09 02:17] #1265 closed

[2020-11-10 13:06] Jayaram059 commented on #1058
When can we expect this to be fixed ?

[root@lvndev021838 devopsautomation]# kompose convert
FATA Version 3.8 of Docker Compose is not supported. Please use version 1, 2 or 3
[root@lvndev021838 devopsautomation]# cat docker-compose.yml
#This Docker compose is written by Jayaram
version: "3.8"
services:
  axatenantusage:
    build: './axatenantusage'
    image:  ${REGISTRY_HOST}/doi/jt653669/axaten

[2020-11-11 01:10] hangyan commented on #1058
@Jayaram059 Can you try the master build?

[2020-11-12 09:53] atkuzmanov commented on #1058
Hi @hangyan ,

I just tried the Kompose master build v1.22.0 and I can confirm that it is working for Docker-Compose v3.8.
Thanks for the great work!

@Jayaram059, it should work for you now, unless you have some healthcheck or other deprecated specifics in depends_on, please see:
<https://stackoverflow.com/questions/47710767/what-is-the-alternative-to-condition-form-of-depends-on-in-docker-compos

[2020-11-12 09:54] atkuzmanov commented on #1152
Hi @hangyan ,

I just tried the Kompose master build v1.22.0 and I can confirm that it is working for Docker-Compose v3.8.
Thanks for the great work!

@kachar, it should work for you now, unless you have some healthcheck or other deprecated specifics in depends_on, please see:
<https://stackoverflow.com/questions/47710767/what-is-the-alternative-to-condition-form-of-depends-on-in-docker-compose-ve

[2020-11-12 10:39] Jayaram059 commented on #1058
I have downloaded from https://github.com/kubernetes/kompose and tried with same version you mentioned too...
And I am sure I don't have any deprecated specs as its very light weight compose.

This is my docker version: Docker version 19.03.13, build 4484c46d9d
Docker-compose: docker-compose version 1.27.4, build 40524192

Please let me know if am missing anything still...

Regards
Jayaram

[2020-11-12 15:48] atkuzmanov commented on #1058
Odd, I don't see anything obvious.

[2020-11-12 17:39] namusyaka commented on #1352
Will do

[2020-11-13 05:52] namusyaka opened #1354 "Automatic document updates and bintray are skipped"
On Travis, seems that write access requires at least one approval. Also, bintray looks like not working properly.
[code]

[2020-11-16 03:49] hangyan commented on #1354
fixed by #1355 ?

[2020-11-16 14:06] namusyaka commented on #1352
Please keep opening this as there are a few remaining tasks for integrating with GitHub Actions.

[2020-11-16 14:09] namusyaka commented on #1354
Nope, I just ignored bintray. The automatic document updates are still failing because at least one approval is required to merge the commit generated by CI.

[2020-11-26 22:48] karimsa commented on #1321
I don’t see it in the spec but I believe I was using this previously before I used ‘kompose’

[2020-11-27 02:13] sterman opened #1357 "segmentation fault in wsl2 ubuntu 20.04"
![image](https://user-images.githubusercontent.com/1051867/100403138-0069df00-3099-11eb-90ca-f313e5775570.png)

[2020-11-28 04:54] raiz-manjur opened #1358 "convert access_key and secret key using kompose"
Hi
i am unable to convert aws access_key or secret key from docker-compose.yml to kompose.yml in below format

version: '3.5'

services:
  admin:
    build:
      args:
        - DECRYPT_SECRETS_DRIVER=oss
    labels:
      - app_role=admin
    environment:
      - ACCESS_KEY_ID=jhkjshdfjkhkjkjhkYlkjshdfkj
      - ACCESS_KEY_SECRET=kjhsdflkjhlskjdfhlkjh

* docker-compose -f docker-compose.yml -f x

[2020-11-30 06:45] Johan-Lindvall-Stratsys opened #1359 "Panic when converting Docker compose service with 'start_first' to kubernetes"
Given the following service definition
[code]
Kompose (version 1.22, locally built), crashes:
[code]

[2020-11-30 07:48] #1315 closed

[2020-12-04 17:08] seanybaggins opened #1360 "[Question] Can kubernets recreate your images from a dockerfile?"
I am a complete beginner to Kubernetes.

Suppose I am using the`buildconfig` example but slightly modified.
[code]

Dockerfile
[code]

docker-compose.yml
[code]

When I run `kompose convert` I get the following generated file.

foo-deployment.yaml
[code]

I thought the generated file would have some reference/context to the Dockerfile but I don't see any. Is there something I am missing or is kube

[2020-12-08 08:18] hcho1989 commented on #1308
Ran into the very same issue.
Please reconsider implementing this feature as kubernetes already supports adding binary file as configMap since 1.10

[2020-12-10 10:52] mohammed-cs8 commented on #1235
@hangyan the same issue still happen for v2.2

[code]
`kompose version` `1.22.0 (955b78124)`

docker-compose.yml:
[code]

[2020-12-10 10:52] mohammed-cs8 commented on #1235
/reopen

[2020-12-10 22:51] jongio commented on #1287
I confirmed that this is resolved in 1.22

Thank you

[2020-12-10 22:51] #1287 closed

[2020-12-17 23:29] amackillop commented on #1280
/reopen

[2020-12-18 14:40] simbamarufu1 commented on #1280
/reopen

[2020-12-18 21:13] woo2 opened #1361 "Panic on nil map when labels exist only in second config"
Version: `1.22.0 (HEAD)`

`$ kompose -f 1.yml -f 2.yml convert`

1.yml:
[code]

2.yml:
[code]

Looking at the code, `mergeComposeObject` assumes that the 'old' service will always have labels. See [v3.go#L689](https://github.com/kubernetes/kompose/blob/76565d80b2dccfa2de4b4612557788b1861cc48a/pkg/loader/compose/v3.go#L689)

The quick fix here is to give `a` the `labels: []` key in 1.yml.

[code]

[2020-12-24 00:20] rodney-b commented on #1152
I'm still having this issue with the latest Kompose Linux release version v1.22.0 (955b781). If I try to `kompose convert` with the version in my docker compose yaml set to "3.8" I get:

[code]

[2020-12-24 14:28] udartsev commented on #1134
/reopen
[code]

The reason that we need it: because OpenShift DeploymentConfig doesn`t support for example dots (".") in **hostname** :

[2020-12-28 06:25] hangyan commented on #1152
@rodney-b I think it's may be in the master build, you can try it or wait for the next release

[2021-01-01 12:16] #1290 closed

[2021-01-01 20:07] sundayoyeniyi opened #1362 "Adding storageClassName to persistent volume claim manifest"
Hi

I have a persistent volume claim manifest file created from Kompose convert.  I noticed the manifest file is missing a storageClassName attribute that I will like to include.  Also, there is currently no kompose label that supports adding a storageClassName to the generated manifest file.  Could there be any way I could instruct Kompose convert to add storageClassName to the spec of a PVC inst

[2021-01-08 13:57] ayaz-ashrapov commented on #1058
Hi @Jayaram059,

Changing the version field from "3.8" to "3" worked in my case with docker-compose integrated into Docker Desktop for MacOS (with the same tools versions as yours).
You can find my docker-compose file here:
https://github.com/ayaz-ashrapov/user-manager/blob/master/docker-compose.yml.
Perhaps, it can help you with investigating a root cause for your case.

BR
Aiaz

[2021-01-10 22:06] haneef95 commented on #1287
I just [downloaded the latest Windows version](https://github.com/kubernetes/kompose/releases/download/v1.22.0/kompose-windows-amd64.exe), I encountered the same issue. So, I ran, `kompose version` and it gives me this: `1.21.0 (992df58d8)`

[2021-01-12 23:38] Lerke commented on #1347
I ran into this as well. As a workaround, running kompose in WSL works fine.

[2021-01-13 17:44] mooreInteractive commented on #1152
I had "3.9" just changed to "3" and convert worked. Not sure the implication, but seems to have worked.

[2021-01-30 15:26] mrvisser opened #1363 "--build should not automatically push"
I'm concerned that the default configuration for `kompose` if you want kompose to build your images for you is to attempt to push company intellectual property to a public server.

Is it worth having a breaking change that defaults to not push?

Folks may be well-versed in contributing open source containers and have the configuration to deploy to dockerhub. Then they want to learn kubernetes and

[2021-02-01 08:31] miso-belica commented on #1289
/remove-lifecycle stale

[2021-02-01 23:18] szpak commented on #1289
It still would be nice to have it available.

`/remove-lifecycle stale`

[2021-02-08 18:51] #1327 closed

[2021-02-10 15:10] elishkaflint opened #1364 "Kompose not handling docker-compose file generated using `docker config` command"
Kompose cannot handle converting a docker-compose file, when variable placeholders have been replaced with values from a .env file (using the `docker-compose config` command). This is quite a common use-case, which I saw working with the same steps a couple of months ago, but it now fails with the error `FATA services.rabbit-mq.ports.0 must be a string or number`

original docker-compose.yml with

[2021-02-17 08:14] elishkaflint commented on #1364
If anyone else is encountering this issue, it's fixed by reverting to a release of docker-compose prior to version 1.27.3 (Docker Desktop Community 2.3.0.5). Or you can export the environment variables like this (before running kompose)

[code]

[2021-02-18 16:52] #1364 closed

[2021-02-26 09:06] dav1d8 commented on #1347
I ran into this as well. Could you please fix this issue?

[2021-03-01 18:32] joebowbeer commented on #1363
There is a `--push-image` boolean option, but it is `true` by default.

I would also like the default to be `false`.

[2021-03-04 09:44] apettinen commented on #1311
This is still valid AFAIK, especially now with the M1 chip and macOS 11.

/remove-lifecycle rotten

[2021-03-06 03:44] jvitor83 commented on #1262
/reopen

[2021-03-07 13:41] BATTLEROYALXS commented on #1360
Hello i agreee with you observation, there is no Dockerfile linked  with the yalm generated by kompose... Did you find any solutions ?

[2021-03-07 15:26] BATTLEROYALXS commented on #1360
/remove-lifecycle stale

[2021-03-08 20:41] BATTLEROYALXS opened #1367 "Do you handle Dockerfile ?"
Hello does Kompose handle dockerfile ? cause i'm forced to use an upload image to dockerhub instead of my dockerfile ?

Thanks for the library

[2021-03-09 11:04] samcov opened #1368 "Kompose doesn't handle volumes"
I was under the impression that Kompose would generate Persistent Volume Claims, but none appear to be created. Here is what I do., it's in the mariadb section that a volume is specified, but it comes back as null(see below). **Am I missing a flag in convert or something?**

**Convert cmd line**: kompose convert -o deploy/

**This docker-compose**:
version: '3.4'
services:
  redis:
    image: "red

[2021-03-11 07:21] hangyan commented on #1368
Can you post a formated verion of the source yaml file?

[2021-03-11 07:34] hangyan commented on #1367
In the old versions, kompose tend to be fullly-featured. Recently we are fouing on the `convert`  command and trying to do it rigiht. But it stdill support build the dockerfile and push the docker image. This is the default beahaivor in the old times, and can be turned off by using '--push-image=false'

[2021-03-11 08:39] samcov commented on #1368
Here it is, zip attached.
[docker-compose.zip](https://github.com/kubernetes/kompose/files/6121616/docker-compose.zip)

[2021-03-12 07:29] umberto10 opened #1369 "Is it possible to push image to custom container registry?"
I wanted to push my just built image to my own container registry, different than docker.io, but I don't know is this possible.
I tried it after docker login, but it always attempt to push image to https://index.docker.io/v1.
![image](https://user-images.githubusercontent.com/43953088/110907202-54799600-830d-11eb-9ad2-0a3f1c190252.png)
Am I doing something wrong?

[2021-03-12 13:14] BATTLEROYALXS commented on #1367
Thank you very much for your explenation, i will try this this week end, again thank for you work and the librairy which i hope will continue to be developped.

[2021-03-14 08:11] garyng2000 opened #1370 "kompose convert permission denied ?"
Why would I see such error ? isn't it just some read then write operation ?

note that docker-compose works

the only thing that may be odd is instead of one single docker-compose.yml file, it is splitted into multiple(one for environment variable, another the actual compose). The author(not me) then use a shell script to wrap them as multipe -f to docker-compose.

Is that the reason ?

[2021-03-15 14:02] DenisBalan opened #1371 "Kompose convert fails on depends_on condition: service_healthy"
After introducing `condition: service_healthy` in `depends_on` running `kompose convert` fails with
`FATA services.time-slot-hystrix-monitoring.depends_on must be a list`
[code]

[2021-03-15 19:59] danetrata-ulap commented on #698
Any idea how to implement this? I don't imagine every service needs to be a stateful set.

[2021-03-17 10:11] hangyan commented on #1371
Is `condition` a compose v2 feature?

[2021-03-17 10:12] hangyan commented on #1370
Can you post a screenshot of the error ?

[2021-03-17 10:14] hangyan commented on #1369
I will look into it. Seems it only support to dockerhub now, but i think we can add a flag to support create private registry image name and push to it.

[2021-03-17 11:05] AnsisMalins commented on #986
Hello. This issue is still present in Kompose version 1.22.

[2021-03-17 11:41] garyng2000 commented on #1370
found the problem it is snap, not about kompose. I tried snap install but  run it at non-home location. then removed it and do the good old download binary directly and it works fine. sorry for the trouble.

[2021-03-19 09:06] umberto10 commented on #1369
That would be great!

[2021-03-25 17:12] remyleone opened #1374 "Change the default PVCRequestSize through command line argument / configuration file"
At the moment all non-specified PVCs are created using 100Mi which is below the minimum size for block storage with some providers (eg Scaleway).

Could it be possible to have the feature to pass the default PVCRequestSize through the command line? This would allow having a handy default that could be raised to the minimal size required by a vendor.
I would like to avoid having to fill it in the d

[2021-03-26 16:33] szwss commented on #986
yes, I have the same problem

[2021-03-29 21:57] lukqw opened #1375 "image name in deployment is missing project prefix from docker-compose images"
Currently when I run `docker-compose build`, my images are prefixed with the current project name.

For example let's say I am in project "test", the docker image for my service "service" will be named "test_service" by docker-compose build.

When I run `kompose convert` for this docker-compose file, the image name of the container in service-deployment.yaml is missing said prefix, therefore faili

[2021-03-29 22:02] lukqw commented on #1375
example project/docker-compose.yml:

[code]

[2021-03-29 23:08] lukqw commented on #1375
providing "image" in docker-compose resolved this issue for me

[2021-03-29 23:17] lukqw commented on #1375
reopening to ask if this is intended

[2021-03-30 05:50] hangyan commented on #1375
kompose convert also have image build support, `--build`, and it will build the image with name=service_name. I think this is more like to follow the kubernetes style.

[2021-03-31 18:11] #1323 closed

[2021-04-01 05:22] #1316 closed

[2021-04-01 05:22] #1319 closed

[2021-04-01 07:24] #1310 closed

[2021-04-01 07:24] #1314 closed

[2021-04-01 12:29] #1285 closed

[2021-04-02 01:41] #1282 closed

[2021-04-03 10:55] lukqw commented on #1375
I tried adding --build=local, but when kompose tries to build I get the following error
[code]

[2021-04-05 14:03] hangyan commented on #1375
Working on windows is tricky. Make you you run `docker build` ok first.

[2021-04-06 02:26] JamesChenX commented on #1371
@hangyan compose v3 just supported `condition` to follow [compose-spec](https://github.com/compose-spec/compose-spec/blob/master/spec.md) recently (although the feature isn't mentioned in their changelog) and haven't updated their office docs, but I have tested this feature and am sure that docker-compose v1.28.4 works with `condition` fine currently.

[2021-04-10 07:52] #1262 closed

[2021-04-12 18:44] OneCricketeer commented on #1358
The variables are treated like any other environment variable. It shouldn't be kompose's responsibility to scan and detect which variables you're using in order to relocate them to k8s secrets

[2021-04-15 04:56] gowthamshashank commented on #1238
error: unable to recognize "deployment.yml": no matches for kind "Deployment" in version "extensions/v1beta1"

[2021-04-15 15:19] #1352 closed

[2021-04-15 15:19] #1354 closed

[2021-04-26 00:38] #1321 closed

[2021-04-26 03:41] #1357 closed

[2021-04-27 22:38] mgild opened #1376 "kompose `convert` improperly converts docker secrets"
[code]

[code]

docker-compose.yml
[code]

`$ cd kub; kompose -f ../docker-compose.yml convert; kubectl apply -f .`

[code]

[2021-05-01 02:37] #1359 closed

[2021-05-01 02:46] hangyan commented on #1376
Working on it.

[2021-05-01 03:31] #1376 closed

[2021-05-01 10:27] #1361 closed

[2021-05-01 10:57] hangyan commented on #1238
@gowthamshashank  This is fixed in the master branch

[2021-05-01 11:04] #1358 closed

[2021-05-01 11:06] hangyan commented on #1371
Thanks. I should check the upstream library to see it they supported it yet

[2021-05-01 11:09] #1370 closed

[2021-05-01 11:17] hangyan commented on #1362
That's a fair request. Working on it.

[2021-05-03 07:36] miso-belica commented on #1289
/remove-lifecycle stale

[2021-05-04 08:44] dlucasd opened #1381 "Introduction page : command does not work"
Hi,

There is a mistake in the introduction page, this command does not work :
[code]

According to the [kubernetes documentation](https://kubernetes.io/docs/concepts/cluster-administration/manage-deployment/), we can apply a list of files :
[code]

or a directory :
[code]

So I suggest you this modification :

[2021-05-05 03:14] hangyan commented on #1381
Seems like starts with some kubectl version, it does not support this kind of usage any more. The docs should be updated.

[2021-05-05 03:35] #1381 closed

[2021-05-09 19:05] krubenrc opened #1383 "Kompose github page have wrong urls in menu"
Hello, i detected that in the github page, the navigation menu have wrong urls.

Example, in the menu:

The link: "Getting Started" goes to https://kompose.io/getting-started/ but it returns 404, the correct url is https://kompose.io/docs/getting-started.html

And the same error for the all links:
|link|actual url|correct url|
|---|---|---|
Installation | https://kompose.io/installation/ | https:/

[2021-05-10 01:13] james-song opened #1384 "'Support for readinessProbe' is not include Kompose 1.22.0"
I saw `Support for readinessProbe #1262` in https://github.com/kubernetes/kompose/blob/master/CHANGELOG.md

but i think is not include

release hash 955b7812425d15207fc23f396591f21c98a377b3

support readinessProve commit is 0036f0c32b37d0a521421b76e58b580b7574c127

it's really confused kompose versions

could you have a next release plan ?

[2021-05-16 06:42] james-song opened #1385 "'httpGet' support at 'livenessProbe'"
'livenessProbe' is only support 'test'
it's not work, always error `Liveness probe errored: rpc error: code = Unknown desc = ...`

[2021-05-19 15:53] hangyan commented on #1385
close by #1386 , thanks @james-song

[2021-05-19 15:53] #1385 closed

[2021-05-25 15:41] AyushmatiGit commented on #1271
/reopen

[2021-05-26 07:27] Scherlac commented on #1155
Can you pleas give us some feedback on this topic?

I try to convert the following docker-compose file below and I get some similar error message than the one mentioned in this issue at the top:
[docker-compose.yaml](https://airflow.apache.org/docs/apache-airflow/stable/docker-compose.yaml)

After correcting the following error by removing the condition and changing to list:

I get this error mess

[2021-06-01 23:58] abrobston opened #1387 "--build that requires private registry does not authenticate"
In kompose version 1.22.0 on MacOS, using `kompose convert --build local` seems to fail when a relevant `Dockerfile` needs to pull an image from a private registry requiring authentication.  For example:

[code]

I have credentials stored via `kubectl create secret docker-registry`, and I have labels in `docker-compose.yml` including `kompose.image-pull-secret` with the name of the relevant secret

[2021-06-04 16:30] jurschel opened #1388 "kompose.io pages throwing 404s"
Several of the pages on your kompose.io main page are throwing errors these days.  You might want to fix that.

[2021-06-05 01:06] hangyan commented on #1388
Thanks

[2021-06-05 07:29] #1388 closed

[2021-06-05 07:39] hangyan commented on #1387
The image pull secret label is used for k8s speficfic using, check the doc at: https://kubernetes.io/docs/concepts/containers/images/#specifying-imagepullsecrets-on-a-pod. Sadlly it has noting to do with the docker build function. Have you tried docker login the private registry first and then do the kompose convert step?

[2021-06-05 15:42] abrobston commented on #1387
Yes, I tried logging into the private repository (ECR) from the shell where I ran the command.  That worked for `docker pull`, but not for `kompose convert`.

[2021-06-07 06:02] awehrung commented on #1383
All the links you posted under the "correct url" column return 404 for me, and all the links under "actual url" return the expected page. Maybe this problem has been fixed already?

Best regards

[2021-06-07 06:22] krubenrc commented on #1383
Yes, it seems they already fixed the urls.
Close the issue.

Regards.

[2021-06-07 06:22] #1383 closed

[2021-06-07 14:22] seanybaggins commented on #1360
Have delved much more into k8's since my original opening. I would probably just write a script in my continuous integration to build all the docker files and push them to a registry. Would then use my Kubernetes to pull the images for the registry.

[2021-06-07 14:22] #1360 closed

[2021-06-10 15:57] candlerb opened #1390 "Experience report: converting librenms (and combining containers into a pod)"
Firstly, I'd like to say that kompose is a wonderful tool and has already saved me a bunch of time.

I've just converted a docker-compose configuration for librenms, using kompose version `1.22.0 (955b78124)`, and there were a number of post-processing steps that I had to do.  I thought I'd document them here, in case there are some ideas for how kompose might work even better.

## Source data

Th

[2021-06-11 02:16] hangyan commented on #1390
Great sum up. I will follow the issues you point out to find out what we can do!

[2021-06-14 11:31] batchenr opened #1391 "Cannot kubectl create deployment.yaml files after kompose convert"
Hi,

I just started with Kubernetis and i had everything work on docker-compose, i have used the Kompose so i can convert files and test it on kubernetes but i have an issue,

 kompose convert --volumes hostPath
[code]

`kubectl create -f postgres-1-service.yaml,postgres-2-service.yaml,postgres-1-deployment.yaml,postgres-1-claim0-persistentvolumeclaim.yaml,postgres-1-claim1-persistentvolumeclaim.y

[2021-06-23 01:54] bbros-dev commented on #915
/remove-lifecycle rotten
/remove-lifecycle stale
/reopen

[2021-06-25 14:56] patsevanton opened #1392 "Please support docker-compose-wait"
Hello! Thanks for kompose!
I try transfer docker-compose to kubernetes.
Some docker-compose files have WAIT_HOSTS using by https://github.com/ufoscout/docker-compose-wait.
Please support docker-compose-wait in kompose.
Thanks!

[2021-07-03 01:55] hangyan commented on #1391
Can you post a sample version of you compose file?

[2021-07-05 07:24] #1375 closed

[2021-07-07 12:10] maxkraft7 opened #1396 "docker-compose 3.8"
I want to switch to kubernetes and this tool seems perfect for it. However: I'm using version 3.8 of docker-compose. Which is not yet covered by kompose. Is there a plan an when it will be able to convert it?

[2021-07-08 13:26] tk42 commented on #1396
@maxkraft7
I think you can convert docker-compose v3.8 format by compiling from HEAD of master branch. (v3.8 is supported from #1334 on 31 Oct 2020 but few days earlier the current version v1.22.0 was tagged.)

[2021-07-08 18:38] ucarbehlul opened #1397 "how to add labels to services"
Labels entries under service adds annotations to a service and it is not clear from documentation how to add labels to a service.

[2021-07-13 17:04] raphaelauv commented on #1392
that would mean translate any WAIT_HOSTS by a initContainer https://kubernetes.io/docs/concepts/workloads/pods/init-containers/

[2021-07-13 17:06] raphaelauv commented on #1384
1.23.0 is out https://github.com/kubernetes/kompose/releases/tag/v1.23.0

[2021-07-14 02:51] patsevanton commented on #1392
I use:
[code]

[2021-07-14 22:41] gauravtaank commented on #1058
/reopen

[2021-07-16 10:12] MixITGit opened #1399 "Bad LoadBalancer service generation"
I try to use kompose on the example docker-compose.yaml:
version: "2"
[code]
kompose generates this yaml for frontend service:
[code]
And deployment for frontend looks like this:
[code]
Which doesn't work, since the selector for service is
[code]
And deployment has this label:
[code]
If I change selector to
[code]
LoadBalancer starts working

Am I doing something wrong or it is a bug?

[2021-07-19 13:48] jlevertov opened #1400 "Support multiple types of volumes"
Hi,
I have a question.
I have a docker-compose.yml file in which there are 2 types of volumes:
* Json files that should be mounted as configmaps.
* Just emptydirs that serve as a temp storage for runtime.
My question is: Is it possible to convert such a docker-compose file? (To kubernetes deployments)

example snippet of the docker-compose file:

[code]
(bee has a volume mount of a folder to use a

[2021-07-20 07:30] jlevertov commented on #1400
After going over the documentation, I don't see an option for doing what I am asking, so I propose a feature:
Adding a label: `kompose.volume.type` using this label a user will be able to specify type of volume he wishes to convert to like: configmap/persistentVolumeClaim/emptyDir etc.

[2021-07-20 15:19] mathieu-lemay commented on #1399
I can confirm this looks like a bug.

First, the behavior has changed since 1.22, with the addition of the `-tcp` sufffix (which broke my pipelines).
Second, since the label of the deployment and the selector of the service don't match, the load balancer doesn't work.

[2021-07-26 14:30] chris-peerman commented on #1308
/remove-lifecycle rotten
I've also recently fallen fowl of this issue. I need a JKS (Java Key Store file) as a config map however I get the error "error converting JSON to YAML: yaml: control characters are not allowed"

[2021-07-26 14:32] chris-peerman commented on #1308
I've also had this issue. I need to include a known Java Key Store file (JKS) but I get the error "FATA error converting JSON to YAML: yaml: control characters are not allowed" when I icnlude them.

/remove-lifecycle rotten
/reopen

[2021-08-02 15:41] ExperimentalHypothesis commented on #1238
still getting this error unable to recognize "deployment.yml": no matches for kind "Deployment" in version "extensions/v1beta1"

[2021-08-02 15:43] ExperimentalHypothesis commented on #1238
still getting this error .. unable to recognize "deployment.yml": no matches for kind "Deployment" in version "extensions/v1beta1"

[2021-08-03 00:16] hangyan commented on #1238
@ExperimentalHypothesis Can you try the latest release?

[2021-08-05 07:13] HerrNaN opened #1403 "Completion Support for `fish`"
Hi!
I would like to have completions support for the shell `fish`. As far as I  can tell `cobra` already has support for generating completions for `fish` (`cmd.Root().GenFishCompletion(w io.Writer, includeDesc bool)`) in a similar way as it's currently generated for `bash`.

Is this something you would like to have included in the project? Why/Why not?

[2021-08-05 14:37] hangyan commented on #1403
Sounds a good idea. Will try.

[2021-08-06 07:34] #1399 closed

[2021-08-06 12:51] #1363 closed

[2021-08-07 06:47] hangyan commented on #1374
close by #1406

[2021-08-07 06:47] #1374 closed

[2021-08-07 17:28] top commented on #1403
https://github.com/kubernetes/kompose/pull/1407

[2021-08-08 03:57] lexcao commented on #1369
I will solve it.

Here are my thoughts on how I will implement it.
1. Introduce new command argument `push-image-registry` accepting the registry.
2. Handle authentication for the registry.

There are the following points to consider.
1. Registry from command argument is high priority than parsed from name of image.
2. There should be warning when specify `push-image-registry` without `push-image`

[2021-08-09 15:42] #1367 closed

[2021-08-09 20:54] ricjhill opened #1408 "Kompose generated network YAML cannot be applied because there are o matches for kind "NetworkPolicy" in version "extensions/v1beta1""
#### What happened:

In a powershell terminal from a dir containing  the  docker  compose file   [docker-compose.prod.yml](https://raw.githubusercontent.com/doccano/doccano/master/docker-compose.prod.ymll).  I ran the command

`kompose convert -f .\docker-compose.prod.yml
`

I then applied  the manifests created to my local minkube cluster

[code]

The error messages were corrected by  updating th

[2021-08-09 20:54] ricjhill commented on #1408
I submitted this to  k8 and  it  was  closed as  not  a  k8 defect.

[2021-08-10 04:05] lexcao opened #1410 "Building docker-compose file with absolute path fail"
# What happened:
There is unable to build when I build image with absolute path of compose file.
[code]
# What you expected to happen:
This works when I use relative path of compose file.
[code]
# Anything else we need to know?:
The docker compose file I use.
[code]

When add `-v` to see the debug output from building with absolute path.
[code]

The build image working context is not resolved corr

[2021-08-10 14:02] hangyan commented on #1408
@ricjhill Can you try the latest kompose release?

[2021-08-11 01:43] #1410 closed

[2021-08-11 06:05] top commented on #1403
https://github.com/kubernetes/kompose/pull/1412

It's now supported.

[2021-08-11 06:06] hangyan commented on #1308
@top  Can you take a look of this issue?

[2021-08-11 06:07] hangyan commented on #1403
close by #1412. Thanks @top

[2021-08-11 06:08] #1403 closed

[2021-08-11 08:33] dkarlovi commented on #850
@hangyan I saw you reopened this. IMO this could be closed in favor of making volumes which are declared via [`tmpfs`](https://docs.docker.com/compose/compose-file/compose-file-v3/#tmpfs) maybe?

This would allow users to signal which volumes should convert into `emptyDir` in a way native to Compose.

[2021-08-11 08:45] hangyan commented on #850
@dkarlovi It's been a long time... and I'm reopening some auto-closed issues to check out what we can do about them. I wil spend some time on this issue to see if we can just close it again.

[2021-08-11 08:45] hangyan commented on #1362
/assign wusuluren

[2021-08-11 08:46] hangyan commented on #1362
@wusuluren

[2021-08-11 09:57] Wusuluren commented on #1362
working on it

[2021-08-13 15:27] kish0620 opened #1415 "compatability issue with 64-bit version of windows"
I just downloaded kompose, but when I try to run it I get an error saying it's not compatibility with the 64 bit version of windows. I've tried running this in compatibility mode as well, but this didn't solve the issue. Does anyone know how to fix this?

[2021-08-13 15:36] hangyan commented on #1415
I will working on this to find out what wrong

[2021-08-14 15:26] hangyan commented on #1415
@kish0620 Which version of kompose do you use?

[2021-08-14 15:27] hangyan commented on #1415
I just try the v1.23 of kompose file and it works fine.

[2021-08-15 04:14] aiyijing commented on #1368
Error due to window Path. It seems that the same problem will happen when volumes=hostPath

[code]
It will cause an error here
https://github.com/kubernetes/kompose/blob/94bff75a159497f00eab26782b4a87be0c954bb8/pkg/transformer/utils.go#L88-L111

[2021-08-15 07:05] #1362 closed

[2021-08-15 07:08] hangyan commented on #1400
There is already a cmd flags to specify volume types, but it apply to all services. A service label can help this situation.

[2021-08-16 13:44] kish0620 commented on #1415
I ran go get -u github.com/kubernetes/kompose

[2021-08-16 13:50] kish0620 commented on #1415
Actually it was this one: curl -L https://github.com/kubernetes/kompose/releases/download/v1.22.0/kompose-windows-amd64.exe -o kompose.exe

[2021-08-17 01:38] hangyan commented on #1415
@kish0620 Will check on that release. You can use v1.23 first.

[2021-08-17 14:05] kish0620 commented on #1415
After running that curl command, I run kompose in my terminal but that's when I get the error message. Is that the correct way to run the program?

[2021-08-20 08:38] aiyijing opened #1416 "Support the platform of darwin/arm64？"
Have any plan to support the platform of darwin/arm64？
Although the arm mac has  rosetta，but the performance is not well。

[2021-08-22 01:06] aiyijing commented on #1408
"extensions/v1beta1" was removed in kuberentes 1.16. but it seem that the latest kompose has been repaired

[2021-08-22 04:44] aiyijing commented on #1368
It seem that there used kubernetes in docker desktop on windows.
Actually，the runtime run in wsl like Linux.

[2021-08-24 02:09] #1368 closed

[2021-08-25 22:01] kferrone opened #1421 "Output as many yaml docs"
Currently kompose will add all the resources it creates to a kubernetes `List` kind. Is it possible to output to multiple yaml docs instead of a `List`?

This means instead of
[code]
Each resource in the items list would instead be separated by a yaml doc separator:
[code]

[2021-08-29 00:33] hangyan commented on #1308
close by #1418

[2021-08-29 03:20] aiyijing commented on #1421
/assign hangyan

[2021-08-29 03:20] aiyijing commented on #1421
@hangyan
You can refer to similar flag of kubectl "-o yaml", So I don't think kompose need to support it

[2021-08-29 03:34] aiyijing opened #1422 "is version of golangci-lint consistent with it github-ci"
It can provide golangci-lint installation methods in Makefile,but If developer  already
install latest golangci-lint, developer may confused about to install old version.

[2021-08-29 03:34] aiyijing commented on #1422
@hangyan

[2021-08-29 03:36] aiyijing commented on #1422
Let golangci-lint install into the project temporary file like "./bin" ?

[2021-08-29 03:47] kferrone commented on #1421
Never mind, I found something which works. The yq bash command does the trick
[code]

[2021-08-29 03:47] #1421 closed

[2021-08-30 19:27] kferrone opened #1426 "Named Ports"
Is there any way to let kompose know what I want to name my ports in the deployment?

Kompose will just make the name the string value of the port, ie `name: "8080"`

[2021-08-30 23:04] sthombare opened #1427 "HTTP/TCP liveness/readiness probe generation"
Is there a way to generate HTTP/TCP readiness/liveness probe as opposed to readiness/liveness command?

[2021-08-31 06:14] ichxxx commented on #1427
HTTP liveness probe can be generated by specify the labels:
[code]

But TCP liveness probe and HTTP/TCP readiness probe is not supported yet.

[2021-08-31 15:09] kferrone commented on #1397
Why do the labels in docker compose translate to annotations in kubernetes instead of translating to labels? I find this quite weird as well.

[2021-08-31 15:45] hangyan commented on #1397
yeah it's a little weird...

[2021-08-31 16:16] kferrone commented on #1400
I like the idea of using the labels for more control. I would suggest using a topology key in the labels to infer what it is for and then omit those labels/annotations from the final output.

The topology key could be like: `volumes.kubernetes.io` or maybe `io.kompose.volume`
Then these special labels can let kompose know how to set kubernetes specific values

For example:
[code]

This way the gen

[2021-08-31 16:23] kferrone commented on #1426
I believe once again a clever label within the compose file can solve this.

Maybe like this:
[code]

Then the port would be named correctly in the service like so:
[code]

[2021-08-31 16:55] kferrone opened #1429 "StatefulSet Controller"
The controller option is missing StatefulSet as an option.

I would like to do this:
[code]

[2021-09-01 00:22] hangyan commented on #1429
@kferrone You mean you will create a PR to address this?

[2021-09-01 00:22] hangyan commented on #1426
make sense.

[2021-09-01 00:24] hangyan commented on #1426
@kferrone Would you like to create a PR to address this?

[2021-09-01 00:51] kferrone commented on #1426
Possibly, I'll take a look when I get some time. In the mean time kustomize can change the name pretty easily.

[2021-09-01 02:50] hangyan commented on #1426
@kferrone I will review this idea again and see if i can call someone to impl this.

[2021-09-01 02:51] #1422 closed

[2021-09-01 03:40] hangyan commented on #1426
/assign aiyijing

[2021-09-01 03:51] aiyijing commented on #1426
It's good idea.
😄but why not define the labels as io.kompose.service.port/${name}:  ${port}

[2021-09-01 03:56] hangyan commented on #1426
/assign aiyijing

[2021-09-01 06:20] ichxxx commented on #1427
Can add some labels to support this?
Just like:
[code]

[2021-09-01 16:58] kferrone commented on #1426
I am fine with: `io.kompose.service.port/${name}: ${port}`
Either way makes sense with an explanation.
Just to note though, since port is a number and labels must be string, one would need to remember the quote, ie:
[code]
This way reads like, 'port `web` is assigned the number 80.'
With what I suggested, it would read like, 'port 80 is assigned the value `web`'

[2021-09-02 15:32] davehodg commented on #721
I would say in general "Unsupported config option for networks service: 'vpcbr'" with no other information is not wildly helpful.

[2021-09-05 15:19] #1058 closed

[2021-09-07 04:28] #1369 closed

[2021-09-10 08:58] #1311 closed

[2021-09-10 08:58] #1347 closed

[2021-09-10 08:59] #1184 closed

[2021-09-10 08:59] #1240 closed

[2021-09-10 08:59] #1271 closed

[2021-09-10 08:59] #1113 closed

[2021-09-10 08:59] #1127 closed

[2021-09-10 08:59] #1136 closed

[2021-09-10 09:59] #1088 closed

[2021-09-10 09:59] #1096 closed

[2021-09-10 09:59] #1097 closed

[2021-09-10 09:59] #1098 closed

[2021-09-10 09:59] #1104 closed

[2021-09-10 09:59] #1005 closed

[2021-09-10 09:59] #1085 closed

[2021-09-10 09:59] #975 closed

[2021-09-10 09:59] #1004 closed

[2021-09-10 11:00] #964 closed

[2021-09-10 11:00] #965 closed

[2021-09-10 11:00] #966 closed

[2021-09-10 11:00] #897 closed

[2021-09-10 11:00] #909 closed

[2021-09-10 11:00] #939 closed

[2021-09-10 11:00] #947 closed

[2021-09-10 11:00] #962 closed

[2021-09-10 11:00] #822 closed

[2021-09-10 11:00] #823 closed

[2021-09-17 14:46] mathieu-lemay commented on #1371
/remove-lifecycle rotten

[2021-09-19 05:07] zestysoft opened #1431 "Error transforming Kubernetes objects: k.ConfigVolumes failed: stat : no such file or directory"
command:
`kompose -v convert --volumes configMap`

Output:
[code]

System details:

MacOS 11.5.2 (Big Sur) Intel
kubectl v1.21.3
kompose 1.24.0 (HEAD)  (From brew install)

docker-compose.yml contents:
[code]

I ran dtruss to trace kompose execution, and I'm seeing a stat64 call being passed an empty path (the first parameter), which might be responsible for producing the error, but I'm not sure w

[2021-09-19 09:04] hangyan commented on #1431
In order to generate configmap volume, the source file sould be readed into memory and added to configmap. As i can see, you volumes definination is empty?

[2021-09-20 13:46] sbs2001 commented on #1416
@aiyijing  I think this should be pretty straightforward to do. Could you try building kompose as mentioned at https://github.com/kubernetes/kompose#development-and-building-of-kompose ,  while using go 1.16+ .

I managed to cross compile `kompose` for darwin/arm64 without any issue from my linux laptop, but have no access to m1 machine. Let us know here how it goes :)

[2021-09-20 17:30] majkinetor opened #1433 "Missing exe extension for windows release"
This started to happen from v1.23.

This is the reason latest version is not on choco. Here is the relevant part of [bot report](https://gist.github.com/choco-bot/a14b1e5bfaf70839b338eb1ab7f8226f#errors)

[code]

[2021-09-23 00:58] manatax commented on #1152
Getting it on 3.9 with version 1.24.0

[2021-09-23 18:13] miso-belica commented on #1289
/remove-lifecycle rotten

[2021-09-26 22:50] adindabudi opened #1434 "unable to read secret from file"
I was using docker compose v3 secret file but I got this error:
`FATA unable to read secret from file`

[2021-09-28 17:49] JulianBriggs commented on #1408
Kompose-1.24.0 creates ingresses with **deprecated apiVersion: extensions/v1beta1**
rather than the **current apiVersion: networking.k8s.io/v1**
I too would like kompose to generate yaml using apiVersion: networking.k8s.io/v1

$ kompose version
1.24.0 (4a2a0458)
$ kompose docker-compose.yml -f k8s.yaml
$ cat k8s.yaml
...
  **- apiVersion: extensions/v1beta1**
    kind: Ingress
    metadata:
...
Th

[2021-09-30 14:42] hangyan commented on #1433
Thanks ,will fix this.

[2021-09-30 14:43] hangyan commented on #1434
Can you post a simple version of your compose file?

[2021-10-01 11:39] hangyan commented on #1433
I have manually update v1.24.0's windows file. If choco can fetch this version correctly, will update v1.23.0 later.

[2021-10-01 15:40] hangyan commented on #1433
Fixed. See https://gist.github.com/choco-bot/a14b1e5bfaf70839b338eb1ab7f8226f#errors

[2021-10-01 15:40] #1433 closed

[2021-10-01 15:41] hangyan commented on #1396
See the latest releases.

[2021-10-01 15:41] #1396 closed

[2021-10-01 15:46] hangyan commented on #1415
Manully update v1.23 and v1.24's windows release, you can get it on choco now, or download it directly. Feel fee to reopen it if you encounterd other problems

[2021-10-01 15:46] #1415 closed

[2021-10-01 15:50] hangyan commented on #1408
@JulianBriggs Right! Fixing it now

[2021-10-01 18:08] #1408 closed

[2021-10-01 18:11] hangyan commented on #1392
Is this the officail way to do wait on compose?

[2021-10-01 18:14] hangyan commented on #1390
Progress:
1. Support combine multple contain in pod. label `kompose.service.group` can be used to do the grouping. But i think it's not enough. Single PVC and group based on volume is a better choice

[2021-10-03 15:07] hangyan commented on #1390
2. Volume based service group is ready to merge. About the env file and env setttings, if a env key exist in env file and not in `environment` field, then the env file will be mounted to a configmap and key-ref will be added to the container. If key exist both in env file and `environment`, no key-ref will be genreated, container env key will use the settings in `environemnt`, maybe not correctly

[2021-10-03 15:54] hangyan commented on #1390
3. Creating headless service is already supported, the only thing you need is to add a label for the compose service. https://github.com/kubernetes/kompose/blob/master/docs/user-guide.md#labels

[2021-10-03 15:55] hangyan commented on #1390
4. about the db_port, yes there is not much we can do for now....

[2021-10-03 16:32] hangyan commented on #1397
Maybe a cmd flags can help this, let the user choose which one

[2021-10-04 07:25] #1384 closed

[2021-10-04 07:29] hangyan commented on #1400
@kferrone Thanks for the suggestion. I think there are two imporovment we can made:
1. Add service label to allow user choose which volume type they want
2. Add volume label to allow user choose which storageclass they need.

[2021-10-13 14:40] jonathandannenberg opened #1444 "convert with multiple docker-compose files fails"
The Conversion of multiple docker-compose files doesnt merge the values properly.
Seems related to #1185

Running with:
1.24.0 (4a2a0458)

Minimum Example:
docker-compose.yml:
[code]

docker-compose.prod.yml:
[code]

Expected Behavior:

`kompose convert -f docker-compose.yml -f docker-compose.prod.yml`
I`d expect foo-deployment.yaml with 3 replicas and bar-deployment.yaml with * 99 replicas*

Actu

[2021-10-15 16:06] nodje opened #1445 "FATA services.xxxxx Additional property secrets is not allowed"
I'm facing this error when trying to convert a docker-compose.yml file.

My secrets are used directly under the service, as in:
[code]
Isn't this supported or are there specific reason why this doesn't work?

[2021-10-17 04:44] hangyan commented on #1445
looking into this

[2021-10-17 04:44] hangyan commented on #1444
looking into this

[2021-10-17 06:21] #1444 closed

[2021-10-19 17:02] eltonfss opened #1448 "Convert docker-compose YAML with profiles"
When trying to convert a docker-compose YAML file with profile specification I get the following error:

[code]

Example docker-compose.yml:

[code]

[2021-10-25 00:06] arbourd opened #1453 "Latest release is not semver"
Hey folks, not a real big issue but the latest release `1.25` is not semver `1.25.0` like previous releases.

[2021-10-27 17:20] georgettica opened #1454 "checksums don't match on `v1.25` for `kompose-linux-amd64`"
when I took the kompose binary I got
[code]
when I checked the checksum
[code]

is there a bug in the checksum generation?
is the a latest image not pulled correctly on my machine?

please let me know so I can work accordingly

[2021-10-29 07:28] #1454 closed, assigned to nobody

[2021-11-02 17:26] #1387 closed

[2021-11-03 15:30] #1427 closed

[2021-11-05 01:50] hangyan commented on #698
closed by #1452

[2021-11-05 01:50] #698 closed

[2021-11-05 02:01] hangyan commented on #1429
close by #1452

[2021-11-05 02:01] #1429 closed

[2021-11-05 09:29] sbs2001 commented on #1400
@hangyan  Storage class name can specified by using the `kompose.volume.storage-class-name`  label in the service definition. This was added in the https://github.com/kubernetes/kompose/pull/1413 PR .

However having volume label is not supported by the compose spec.

[2021-11-05 09:48] hangyan commented on #1400
I think we continued the work of #1413, by adding a new label to allow user choose volume type that want to use. Not adding labels to the `volume` section in compose spec, but still in the `services` section. I think this a very good common requiremnt which can helps a lot of users.

[2021-11-05 12:16] hangyan commented on #276
close this. Since we don't support bundle anymore

[2021-11-05 12:16] #276 closed

[2021-11-06 15:13] hangyan commented on #1416
close by #1455

[2021-11-06 15:13] #1416 closed

[2021-11-09 09:56] danedb opened #1457 "convert with provider openshift creates imagestream.yml with no spec.tags.name since 1.22+"
From docker-compose.yml
[code]
issuing command `kompose convert --provider openshift`

with version 1.21 leads to imagestream yml
[code]
and with version 1.25 leads to imagestream yml
[code]
where spec.tags.name is missing witch leads to an broken imagestream in openshift if i try to create the resource in openshift 3.11

[2021-11-09 15:11] hangyan commented on #1457
I will check this.

[2021-11-09 16:11] Roman-Bober opened #1458 "Failed to convert docker-compose with profiles"
Hi,
Please see below error , when I add profiles to my docker compose file
The docker-compose file is attached
Please help
[docker-compose.txt](https://github.com/kubernetes/kompose/files/7506270/docker-compose.txt)

Roman
[code]

version
[code]

[2021-11-11 13:36] campos-ddc commented on #1280
I'm can write a PR to fix this (if I figure out how to run script tests locally), but would it even get merged? It would be a breaking change at this point (some users might be expecting their files to be coming in as directories)

[2021-11-11 16:20] n-rodriguez commented on #1066
@jvitor83 hi there! any news about this feature?

[2021-11-12 03:33] hangyan commented on #1280
All contributions are welcome! But can you summrize your proposol first? Maybe an example with some explainnations

[2021-11-12 03:39] hangyan commented on #1066
Reopen this now. After look through the relates issues, I would like to create a PR to address this. @n-rodriguez What's in your mind? do you need it to be tranlated as namespace or networkpolicy?

[2021-11-12 12:12] campos-ddc commented on #1280
@hangyan I'd basically change `pkg.transformer.kubernetes.kubernetes.go:ConfigSecretVolumes` to always set a `SubPath` for volume mounts.

This should make it so secrets are always mounted as single files (instead of a file inside a directory filled with symlinks).

As far as I can tell, there are two different situations happening here:

1. User defined a secret in docker-compose without a target

[2021-11-13 10:52] hangyan commented on #1458
Looking into this

[2021-11-13 10:57] hangyan commented on #1458
related to #1448

[2021-11-13 12:33] #1400 closed

[2021-11-13 15:27] hangyan commented on #1453
v1.26.0 is released

[2021-11-13 15:28] #1453 closed

[2021-11-15 04:46] sbs2001 commented on #1280
@campos-ddc  your proposal sounds good. To prevent existing installations from breaking, I think this behaviour should be followed only if some cmd flag is passed. That way we can have both set of behaviours peacefully.

[2021-11-15 04:58] sbs2001 commented on #1371
Should get fixed by https://github.com/kubernetes/kompose/pull/1440 , this issue is caused due to old library used for loading compose file.

[2021-11-15 09:45] r-farrell commented on #909
/reopen

[2021-11-16 00:22] tallclair opened #1462 "Account takeover of linked example"
https://github.com/kubernetes/kompose/blob/master/docs/maven-example.md links to a non-existent account, which was identified by a security researcher and reported to us through the Kubernetes bug bounty program. Please fix the reference:

[code]

[2021-11-17 06:14] hangyan commented on #1462
Sure

[2021-11-17 12:05] campos-ddc commented on #1280
@sbs2001 ok, I'll do it that way. I'm going on vacation for a couple of weeks but hopefully I'll have a PR soon.

[2021-11-20 05:31] #1457 closed

[2021-11-25 05:21] ComradePashka commented on #969
Hi guys, just install kompose today following instructions from: https://kubernetes.io/docs/tasks/configure-pod-container/translate-compose-kubernetes/ and it said: `unknown command "up" for "kompose"` so then I run `kompose version` and it's 1.24.0 (4a2a0458) however latest one is v1.26.0. I repeat installation steps and get same results, seems that kompose don't know up|down commands at all:
[co

[2021-11-29 02:16] hangyan commented on #969
@ComradePashka Kompose has removed up/down comand. You can use `| kubectl apply -f` to create the resources in your cluster, it's eaier and more stable

[2021-11-29 03:19] ComradePashka commented on #969
@hangyan yeah, I got it, I mentioned about it in documentation repo, they labeled something to fix it, to not confuse people, like me :-)

[2021-11-30 03:27] #1391 closed

[2021-11-30 05:35] hangyan commented on #969
I'm not sure what docuement you are refering to? can you share me a link?

[2021-11-30 09:54] ComradePashka commented on #969
@hangyan yep, I mentioned it in my first message, there are still sections about `up`/`down` subcommands: https://kubernetes.io/docs/tasks/configure-pod-container/translate-compose-kubernetes/#kompose-up

[2021-11-30 15:20] hangyan commented on #969
https://github.com/kubernetes/website/pull/30690

[2021-12-05 18:55] sebdanielsson opened #1463 "Add support for compose.yml/compose.yaml"
Kompose should support compose.yml/compose.yaml in addition to the currently supported docker-compose files.

https://github.com/compose-spec/compose-spec/blob/master/spec.md#compose-file

[2021-12-05 19:20] SebDanielsson opened #1464 "Allow conversion of compose files where version is omitted"
I was unable to convert my compose files. After some investigation it seems like the problem was that I didn't specify version: on top of the file. According to the compose-spec the version property is deprecated.
https://github.com/compose-spec/compose-spec/blob/master/spec.md#version-top-level-element

[2021-12-17 11:42] vitalik opened #1465 "How to handle multiple deployment environments?"
with docker-compose you can pass multiple compose files

`docker-compose -f docker-compose.base.yaml -f docker-compose.production.yaml`

which you can overrule some parameters in base compose file with production yaml

is there a way to achieve this with kompose ?

[2021-12-20 14:08] keviiin38 opened #1466 "Replace libcompose with compose-go"
As [libcompose](https://github.com/docker/libcompose) is now **deprecated** in favor of [compose-go](https://github.com/compose-spec/compose-go), is a migration planned or possible ?

_I'd love to contribute this feature, but don't know how complex this migration can be ? How long can it take ?_
_Saw the open PR https://github.com/kubernetes/kompose/pull/1440  about this_

[2021-12-24 19:38] getkub opened #1467 "Kompose creates pvc but without any PV information anywhere?"
While converting from various docker compose files (especially which has volumes),  kompose creates `PersistentVolumeClaim` (pvc) without relevant PersistentVolume (pv) information

For instance, see the portion below from **docker-compose**
[code]

Kompose creates **k8s deployment** file with below info (and there is pvc for each of them name correctly). But the important information of where it

[2022-01-03 04:20] BrightXiaoHan opened #1469 "FATA runtime Additional property runtime is not allowed"
This is my docker-compose file
[code]
when I convert it with:
[code]
The error raised
<img width="835" alt="截屏2022-01-03 下午12 13 51" src="https://user-images.githubusercontent.com/25839309/147899438-9d403ec9-4085-4ad2-8cc7-87d3d62dac17.png">

[2022-01-05 16:10] KrisLau commented on #1043
Bless your soul I've been looking everywhere to fix this issue and this is the only thing that helped!

[2022-01-09 13:22] szpak commented on #1289
When I check it some time ago it was still unsupported. I haven't seen any related commit, so probably it is still valid.

/remove-lifecycle stale

[2022-01-11 10:47] hangyan commented on #1469
Which kompose version do you use?

[2022-01-11 10:53] hangyan commented on #1469
From the output seems like the `rutime` field is not supported.  Is runtime a suported field in compose v3, i dont find any docs mention it.

[2022-01-11 10:55] hangyan commented on #1467
PV is vendor speicific. Kompose have several anntation to help generated the related information in PVC. https://github.com/kubernetes/kompose/blob/master/docs/user-guide.md#labels Here is the related docs. It may be not easy for users to understand or find in the first place.

[2022-01-11 10:57] hangyan commented on #1466
Yes, there are still plans to support this. Im not sure if you are still intreseted for now.  The current PR is opened by compose-go guys and they dont have much time to finish it. So I guess contibution is welcome.

[2022-01-11 10:58] hangyan commented on #1466
If you are still intreseted, feel free to open a new PR. Thanks for the contibution.

[2022-01-11 10:59] hangyan commented on #1465
Kompose support mutile compose files too, it wil merge the yamls. You can give it a try

[2022-01-12 14:07] cdrage commented on #1043
I'm going to close this for now as a NOTFIX because this is unrelated to Kompose and rather a Docker client issue.

Kompose no longer supports `kompose up` or `kompose down`. Only supporting conversion to `docker-compose.yaml` files.

[2022-01-12 14:07] #1043 closed

[2022-01-12 14:09] cdrage commented on #1469
`runtime` is a deprecated option which we will not be support (too difficult to convert to GPU accessible containers on Kubernetes).

This was included in docker compose v2, but then removed shortly after: https://docs.docker.com/compose/gpu-support/

Closing this issue :)

[2022-01-12 14:09] #1469 closed

[2022-01-12 14:10] cdrage commented on #1467
@hangyan is right, we do not support creating PV as mentioned as it's cluster-specific. If we did support PV, we would have to ask the user with regards to what storage they use (amazon, gcloud, bare metal, etc..)

I suggest you create the PV on your cluster and then re-deploy the kubernetes yaml files.

[2022-01-12 14:10] #1467 closed

[2022-01-12 20:00] cdrage opened #1471 "Update --help for kompose convert"
We should update the --help / default output for `kompose convert` so it indicates how to pipe the command into kubectl, as well as location for an example file, etc.

The same for `kompose`, as our output does not have too much information:

[code]

[2022-01-13 01:19] rwxrob opened #1472 "Fails to `go install` with Go 1.17+"
Fails to install using the standard installation method for all packages
under Go 1.17 and greater. The alternatives (`curl`) prevent this from
being a blocker, but this is a significant bug at the moment.

install` as of Go 1.17. The Kubernetes `kompose project` is current
failing because of this

[code]

[2022-01-13 03:20] rwxrob opened #1473 "Detect piped stderr output and decolorize"
Output does not detect redirection (non-terminal receiving
stdout/stderr) and leaves in the color escapes. It's a trivial thing to
detect this redirection and omit these escapes producing useable,
parsable text.

[code]

[2022-01-13 14:14] cdrage commented on #1472
Hi @rwxrob unfortunately this is intentional.

We use an older (deprecated) library for libcompose as well as numerous other modules from both Docker, OpenShift and Kubernetes that use the older `github.com/Sirupsen/logrus` library, which was replaced with `github.com/sirupsen/logrus` (notice the lowercase).

All so we can support older versions of docker-compose as well as compatibility with Kube

[2022-01-23 19:41] FrauElster commented on #1289
still nothing and requested feature

/remove-lifecycle stale

[2022-01-26 01:28] #1308 closed

[2022-01-27 21:01] karagog commented on #1400
IIUC putting the label under "service" means that it applies the option to all volumes mounted to that container. I have a container that needs both a configmap and a regular volume, is that possible with this solution? I can't seem to get it to work.

Alternately I suppose I can build the configs into my container image to get around this issue altogether, but I was hoping for a more flexible/por

[2022-01-29 18:18] #1426 closed

[2022-02-01 02:40] royshadmon commented on #941
Can anyone provide an example on how to do this so the answers here are more complete?

I tried:
`    ports:
      - name: http
        protocol: TCP
        port: 80
        targetPort: 9376
      - name: https
        protocol: TCP
        port: 443
        targetPort: 9377`
and I am getting the following error: FATA [service].ports.0 Additional property port is not allowed.
Thanks in advance!

[2022-02-02 13:10] cdrage commented on #1392
There is no official Docker Compose equivilant, so closing this :+1:

[2022-02-02 13:10] #1392 closed

[2022-02-03 12:55] uroshcheh opened #1479 "Support docker build arguments for Openshift provider"
Build arguments are not correctly passed from docker-compose to Openshift BuildConfig.

Example docker-compose-yml:

[code]

Example Dockerfile:

[code]

BuildConfig output:

[code]

Instead of defining build arguments through `spec.strategy.dockerStrategy.buildArgs`, environmental variables `spec.strategy.dockerStrategy.env` are defined instead, which are not properly passed on to the arguments d

[2022-02-07 15:34] boyvinall commented on #1280
/reopen

[2022-02-07 15:34] boyvinall commented on #1280
/remove-lifecycle rotten

[2022-02-07 15:48] simbamarufu1 commented on #1280
/reopen

On Mon, Feb 7, 2022 at 10:34 AM Kubernetes Prow Robot <
***@***.***> wrote:

[2022-02-08 08:27] janusheide opened #1480 "Wrong "image" value output when context is set"
Minimal example
[code]

docker-compose.yaml:
[code]

Output:

[code]

image should be "bar", not "foo"

[2022-02-08 08:59] singhvirendra18gmailcom commented on #303
Hi I am getting following issue on "Kompose convert -c"

Service 'tomcat' configuration key '0' contains an invalid type, it should be a string.

Thanks in advance.

[2022-02-09 14:26] cdrage commented on #303
This is an issue from 2016, can you open a separate issue detailing your docker compose file + full output?

Thanks!

[2022-02-15 09:01] mrangjunboon2017s commented on #1472
is same here.

[2022-02-15 22:55] tallclair commented on #1462
/remove-lifecycle stale

This is still an issue.

[2022-02-15 22:57] tallclair commented on #1462
If you can find the original project, https://github.com/piyush1594/kompose-maven-example.git, it should be moved to the examples directory in this repo, and the documentation should be updated to use that code.

[2022-02-16 07:10] ChitraRJ opened #1481 "Cannot convert docker-compose for long syntax into kubernetes file."
When I use this below docker-compose file for converting into kubernetes file.

version: "3"

services:

  redis-master:
    image: k8s.gcr.io/redis:e2e
    ports:
    - target: 6379
      published: 6379

  redis-slave:
    image: gcr.io/google_samples/gb-redisslave:v1
    ports:
    - target: 6379
      published: 6379
    environment:
      - GET_HOSTS_FROM=dns

  frontend:
    image: gcr.io/go

[2022-02-16 07:14] datdenkikniet opened #1482 "`kompose.service.nodeport.port` only accepts `int32` as input"
Hello,

In #1210 the ability for setting a service's NodePort was added. According to the docs, this value accepts a string as input.

However, when trying out to set this value to some placeholder (i.e. `{{.Values.nodePort }}`) it's silently ignored and missing from the output. It seems that this happens because it's only parsed as an integer (https://github.com/kubernetes/kompose/blob/master/pkg

[2022-02-16 11:06] #1431 closed

[2022-02-17 06:18] nikhilpanchal123 commented on #909
plzz give  me windows path

[2022-02-23 21:44] Swandog opened #1483 "--build does not use BuildKit"
I'm trying to use `kompose covert --build` to convert a `docker-compose.yml` with `build` directives in it, but I'm running into problems because some of my images require BuildKit and `kompose convert` doesn't seem to use it.

[code]

I've tried setting it in my Docker Engine JSON, I've tried exporting `DOCKER_BUILDKIT=1` beforehand, and I've tried prepending the `kompose` command with `DOCKER_BU

[2022-02-24 12:35] singhvirendra18gmailcom opened #1484 "kompose-convert -c fails with : configuration key '0' contains an invalid type"
Please find my attached
[docker-compose.zip](https://github.com/kubernetes/kompose/files/8132476/docker-compose.zip)
 docker-compose file. while I run kompose-convert -c . I get following error.

**ERRO** Could not parse config for project ci : Service 'paas_mi_artifacts' configuration key '0' contains an invalid type, it should be a string.
Service 'tomcat' configuration key '0' contains an inval

[2022-02-24 15:57] singhvirendra18gmailcom commented on #1484
Kompose version : 1.7.0 (HEAD)

[2022-02-24 16:19] singhvirendra18gmailcom commented on #1484
its working fine changes docker compose version from 2 to 3.

[2022-02-24 16:19] #1484 closed

[2022-02-27 17:03] #1434 closed

[2022-03-02 13:58] datdenkikniet commented on #1482
We've worked around this issue by simply replacing the generated file with a premade one after building, which isn't quite optimal but it works well enough and was easy to automate.

[2022-03-02 17:39] #1397 closed

[2022-03-12 21:51] SebDanielsson commented on #1464
/remove lifecycle stale

[2022-03-12 21:52] SebDanielsson commented on #1463
/remove lifecycle stale

[2022-03-14 02:41] zaunist opened #1487 "can not convert `_` of `Network` to `-`"
When I was use `kompose convert -f docker-compose.yaml -c` to convert compose file to chart. My compose file `Network` contains `_` like `test_network`, and `kompose` just convert to `test_network` service. But `_` is invalid character in kubernetes service.

May be we should make it more intelligent, a simple way to do this is to convert `_` to `-`.

screenshoot:

![image](https://user-images.git

[2022-03-15 12:24] mathieu-lemay commented on #1371
/remove-lifecycle rotten

[2022-03-16 06:05] #1445 closed

[2022-03-20 15:51] #1448 closed

[2022-03-21 11:44] sergeyshevch commented on #1487
Reproduced.
I can reproduce this issue with compose v3. v1 and v2 correctly handle this case and use normalizeNetworkNames function. v3 don't

example compose file

[code]

[2022-03-21 11:51] sergeyshevch commented on #1487
/assign

[2022-03-21 12:21] sergeyshevch commented on #1481
@ChitraRJ Please note that long port syntax was added only in docker-compose v3.2
So you need to specify version to 3.2 or larger. Then all will works correctly

https://docs.docker.com/compose/compose-file/compose-file-v3/

Example:

[code]

@cdrage I guess we can close it then

[2022-03-21 14:58] kaorihinata opened #1491 "Build fails on go1.18 due to out-of-date `golang.org/x/sys` dependency."
I was bumping and testing packages this morning, and Kompose currently (both 1.26.1 and HEAD) fails to build with go1.18 due to its indirect dependency on version `v0.0.0-20201029080932-201ba4db2418` of `golang.org/x/sys`. I've tested bumping the version up to `v0.0.0-20220319134239-a9b59b0215f8` and confirmed that it builds. I can run tests if that would be useful.

Platform is macOS 12.3 (Darwin

[2022-03-24 09:24] #1491 closed

[2022-04-07 08:17] fx02 opened #1494 "Kompose crash"
DEBU Checking validation of provider: kubernetes
DEBU Checking validation of controller:
DEBU Docker Compose version: 3.5
INFO Network live is detected at Source, shall be converted to equivalent NetworkPolicy at Destination
INFO Network live is detected at Source, shall be converted to equivalent NetworkPolicy at Destination
INFO Network live is detected at Source, shall be converted to equivalen

[2022-04-07 08:21] fx02 commented on #1494
My bad, had to comment out blank healthcheck:

    healthcheck:
      test: ["NONE"]

[2022-04-07 08:21] #1494 closed

[2022-04-07 16:21] suntorytimed opened #1495 "Installation instructions for openSUSE/SLE outdated"
The installation instruction for openSUSE and SLE  I introduced to the installation chapter in the documentation, is meanwhile outdated. I was able to get kompose into the official repositories of the distributions and into PackageHub for SUSE Linux Enterprise. I would therefore like to update the documentation, to reflect the now much easier installation.

[2022-04-11 03:51] #1066 closed

[2022-04-11 12:26] toxeus opened #1497 "strings containing env vars are not converted and fail"
Here's a (contrived for simplicity) `docker-compose.yml` which works properly using `docker-compose` but fails on Kubernetes after converting it with Kompose:
[code]

When the command argument is manually adjusted to `'$(PROTOCOL)://$(DOMAIN)/'` then it works as expected on Kubernetes.

I would expect that Kompose should be able to handle such a case.

[2022-04-12 05:14] SebDanielsson commented on #1463
/remove

[2022-04-12 10:25] sergeyshevch commented on #1463
@SebDanielsson I guess it will be done in https://github.com/kubernetes/kompose/pull/1440. I'm trying to finish it in my free time. But there is still many work

[2022-04-12 12:01] #1458 closed

[2022-04-13 06:03] sivanbecker commented on #1481
i experienced this issue and by changing compose file to version "3.2", issue resolved.

[2022-04-13 06:06] sivanbecker commented on #1497
I also had this issue. to workaround this, i used `docker-compose config` which extracted my compose file using all env vars and later kompose was able to convert properly.

[2022-04-16 11:52] #1390 closed

[2022-04-18 05:55] sudo-NithishKarthik opened #1498 "Conflict with `k8s.io/api` package version"
*Current Behavior*

The latest version of `kubernetes/kompose` (v1.26.1) uses [`v0.19.0-rc.2`](https://github.com/kubernetes/kompose/blob/master/go.mod#L43) of `k8s.io/api` and `k8s.io/apimachinery`.
There are conflicts when a project is using the latest version of `k8s.io/api` and wants to use `kubernetes/kompose` (v1.26.1)

More specifically, the name of the handler for `Probe` struct has been c

[2022-04-18 06:08] sudo-NithishKarthik commented on #1498
We are facing this problem in our project and so I would be happy to create a quick PR for this so that we are not blocked by it.

[2022-04-28 15:31] ngnix opened #1500 "Add support to new depends_on scheme and yaml anchors"
Hello kompose team!

I use kompose as part of skaffold local builds.

We have some docker-compose files with new ( compose v3 file references ) syntax, for example:

[code]

You can see two new sections:

- YAML anchors into docker-compose
- new depends_on conditionals, service_completed_successfully wait for init container have status exit 0

Now if I try to convert this docker-compose.yml file i

[2022-04-29 16:40] #969 closed

[2022-05-04 08:49] strowi opened #1501 "[suggestion] Alpha-numeric service names"
Hi,

i am currently migrating a couple of docker-compose services to kubernetes. Now i noticed all resulting services are named "$port", which in turn seems to conflict with ingress-naming polices.

For example:

[code]
results in in a service named "18083". Which is not usable as ingress destination:

[code]

For ease of use, would be possible to just prepend a letter to the service-names (like "

[2022-05-04 08:51] #1501 closed

[2022-05-07 01:39] emouawad opened #1502 "Add loadBalancerIP to assign static IP to LoadBalancer"
Services of type LoadBalancer support loadBalancerIP: "YOUR.IP.ADDRESS.HERE"

Not sure if it's possible to assign load balancer static ip via docker-compose networks or this still needs a conversion.
Basically what i need to do is assign a static ip to the load balancer as opposed to the auto assigned service external-ip

kompose.service.type: LoadBalancer

[code]

[2022-05-08 21:07] campos-ddc commented on #1280
/remove-lifecycle stale

[2022-05-12 06:21] SebDanielsson commented on #1464
/reopen

[2022-05-12 13:36] SebDanielsson commented on #1463
/reopen

[2022-05-16 18:31] scheung38 opened #1503 "[Question] FATA services.django Additional property platform is not allowed"
Below is example of my production.yml for Django, when

kompose --file production.yml convert

I get:

FATA services.django Additional property platform is not allowed

Why is that please?

.tool-versions
python 3.10.4
kompose 1.26.0

--------------------------------------------------------------------

[code]

[2022-05-17 05:48] sergeyshevch commented on #1503
It's because kompose internally doesn't know how to handle such property as service.platform
So you can just remove it from your config if it's not really required or create a PR into kompose with such functional

[2022-05-17 16:17] #1462 closed

[2022-05-23 01:48] scheung38 commented on #1503
So given a docker-compose file we can either create YML manifests out of it and kubectl apply or create helm charts also to do the same thing ?

Sent from my iPhone

[2022-05-27 05:42] isvaljek opened #1504 "FATA Configuration contains forbidden properties"
When this is ran: `kompose -f  docker-compose.letsencrypt-to-kub.yml`, this is received: `FATA Configuration contains forbidden properties`

[2022-05-27 21:59] pfk-beta opened #1505 "FATA Unknown Argument"
When I try to run kompose on certain file, I'm getting following error:
[code]

[2022-05-27 22:02] pfk-beta commented on #1505
it works, but I needed to look into code, then look for arguments once again. Correct command is:
[code]

[2022-05-27 22:02] #1505 closed

[2022-05-31 23:09] hookenz opened #1507 "Trivy reports a long list of vulnerabillities"
Trivy is reporting vulnerabilities in the included libraries that Kompose references.

I have managed to fix them but have never contributed before so am still working out the process.

kompose (gobinary)
<br>
Total: 12 (UNKNOWN: 3, LOW: 0, MEDIUM: 4, HIGH: 5, CRITICAL: 0)

<br>

MODULE NAME | VULNERABILITY ID | SEVERITY | INSTALLED VERSION | FXIED VERSION | TITLE
-- | -- | -- | -- | -- | --
githu

[2022-06-10 13:30] #1465 closed

[2022-06-11 21:50] #1471 closed

[2022-06-12 05:50] #1473 closed

[2022-06-16 12:34] krol3 commented on #1507
Hi @hookenz nice catch! are you using trivy against the kompose repository? We could create an action in gh-action to automatize this step. Any help with that you can ping me.

[2022-06-16 17:30] paulfelton commented on #1289
still an issue.

/remove-lifecycle stale

[2022-06-17 08:13] ubearline opened #1509 "Multiple volumes"
I have a container that needs both a configmap and a regular volume. Is there a way to set the type for the volume separately.

# example

[code]

[2022-06-17 08:16] ubearline commented on #1509
@darklore  @sergeyshevch  @cdrage Thanks

[2022-06-22 22:14] ScottLinnn opened #1510 "Cannot pull image"
I convert a `docker-compose.yaml` into a single file and tried to run it by using `kubectl apply -f my-kompose.yaml`. However, most of my services failed to run. The error message displayed in minukube dashboard is:
`Failed to pull image "my-service": rpc error: code = Unknown desc = Error response from daemon: pull access denied for my-service, repository does not exist or may require 'docker log

[2022-06-24 07:15] LeeTeng2001 commented on #1289
still an issue.

/remove-lifecycle stale

[2022-06-24 12:32] ons-cherif commented on #1152
UPDATES in 2022: It doesn't work for me with 3.9, but it works fine with 3.6 and 3.7.

[2022-06-30 19:09] mikahe opened #1511 "Bug or feature: server can't find hostname: SERVFAIL"
I'm new to Kubernetes and Kompose, so please take this report with a grain of salt. I noticed this issue with docker-compose hostname resolution after converting a real world docker-compose.yml but reproduced the issue in this repro example.

docker-compose.yml:
[code]

`kubectl -n kompose get pods`

`kubectl -n kompose exec -i -t dns-utils-795ff99676-scs5w -- nslookup nginx-hostname`

`kubectl -n

[2022-07-01 01:44] windcandle opened #1513 "Can not convert depends_on."
eg. depends_on can not to be converted to k8s yaml file.

[code]

[2022-07-03 13:50] #1479 closed

[2022-07-06 14:20] ResmiArjun opened #1514 "port mapping issue"
Kompose v1.26.1

The conversion of port mapping from docker-compose to manifest not working correctly for larger port numbers.
For example the docker-compose file

version: '3'
services:
  sample:
    image: test1:latest
    container_name: test1
    restart: "none"
    environment:
      URL: http://test:8080
    ports:
      - '55564:55564'
      - '55563:55563'
    volumes:
      - /target:/tar

[2022-07-12 07:28] toxeus commented on #1497
/remove-lifecycle stale

[2022-07-15 10:56] #1472 closed

[2022-07-23 23:24] #1483 closed

[2022-07-30 15:34] #1482 closed

[2022-08-03 12:51] suntorytimed commented on #1495
/remove-lifecycle stale

[2022-08-06 22:05] campos-ddc commented on #1280
/remove-lifecycle stale

[2022-08-16 20:50] AhmedGrati commented on #1504
Hello @isvaljek, could you, please, give us more insights about the content of the ` docker-compose.letsencrypt-to-kub.yml` file?

[2022-08-25 09:54] ydomenjoud commented on #1289
/reopen
still an issue

[2022-08-26 13:29] #1495 closed

[2022-08-27 00:00] timharsch commented on #986
Seems to still be an issue with latest version 1.26.1

[2022-08-29 15:00] #1280 closed

[2022-08-31 09:25] abhishekmaha-tno commented on #1448
The linked PR has been closed without merging, this issue is still open unfortunately.

[2022-08-31 17:02] ypadlyak opened #1518 "FATA (root) Additional property name is not allowed"
getting:
FATA (root) Additional property name is not allowed

for the following compose file:
version: '3.8'

name: t***o**
services:
  m****:
    build:
      context: .
      target: dev
    volumes:
      - .:/app
    env_file:
      - .env
    environment:
      - MIX_ENV=dev
      # - SECRET_KEY_BASE=********
    ports:
      - "4000:4000"
    links:
      - db
    depends_on:
      - db

[2022-08-31 17:02] mrangjunboon2017s commented on #1518
thanks.

from mrangjunboon2017

[2022-09-10 07:35] #1481 closed

[2022-09-15 07:29] #1498 closed

[2022-09-16 08:34] Bolognafingers opened #1519 "Service name not replacing '_' with '-' in deployment"
If I have a `docker-compose.yaml` file that looks like

[code]

and run

[code]

I get the following:

[code]

however `kubectl apply -f manifests` will fail,

[code]

The generated file does not replace `_` with `-` at all places where it should. The generated file looks like this,

[code]

and the error is in the fourth line from the bottom.

[code]

Manually changing the `_` to `-` allows the c

[2022-09-25 03:46] day0n opened #1520 "volumes"
When can volumes be supported?

[2022-09-25 10:13] AhmedGrati commented on #1519
/assign @AhmedGrati

[2022-09-25 16:43] #1500 closed

[2022-09-27 09:47] valaparthvi opened #1522 "Cannot install kompose via Go because of one or more replace directives"
It is not possible to install kompose via `go install` because of multiple replace directives.

[code]

This is a known issue(https://github.com/golang/go/issues/44840) with Go, but I am opening this issue if there is a possibility to replace the replace directives.

[2022-09-29 23:07] marouamghar opened #1523 "Kompose doesn't work with 3.9"
It used to, but doesn't anymore. It logs :
FATA version 3.9 of Docker Compose is not supported. Please use version 1, 2 or 3

[2022-09-30 04:49] sivchari commented on #1522
I'm also having trouble with the same error.

[2022-09-30 16:09] eltbus commented on #1504
Hi @AhmedGrati,

I run into the same issue using this file: https://github.com/zsvoboda/ngods-stocks/blob/main/[docker-compose.arm64.yml](https://github.com/zsvoboda/ngods-stocks/blob/main/docker-compose.arm64.yml)

First thing you need to do to attempt the conversion is change `version` from 3.9 to 3.8.

[2022-09-30 16:56] eltbus commented on #1504
1. `depends_on` does not support the LONG syntax for dependencies.
2. `restart: on-failure:5` is not supported. Could be a syntax error, I don't see it in the documentation for docker-compose. `on-failure`, without `:5`, IS supported
3. `mem_limit` is not supported

[2022-10-04 03:06] #1502 closed

[2022-10-10 20:28] toxeus commented on #1497
/remove-lifecycle stale

[2022-10-15 09:54] AhmedGrati commented on #1504
Hi @eltbus, thank you for your feedback 🙏, I will work on them.

[2022-10-15 17:38] AhmedGrati commented on #1504
Hi again @eltbus 😊, after doing research about the problems that you faced when using Kompose, here are the answers to these problems.

1. `depends_on` is not supported in K8S. You could search for alternatives like deploying multi-containers pods if there’s a dependency between these containers, but remember that it is not always a good practice, so you should be careful about that. For more info

[2022-10-16 21:13] AhmedGrati commented on #1497
/assign

[2022-10-20 02:58] #1503 closed

[2022-10-26 11:40] AhmedGrati opened #1527 "Error while adding a new ingress"
# Description
Generating a new ingress using Kompose faced some issues. In fact, the generated ingress does not have a `spec.ingressClassName` in its spec file, which resulted in errors, especially for new Kubernetes versions.
# Steps to reproduce
1- Create a `docker-compose.yaml` file:
[code]
2- execute the following command: `kompose convert -f docker-compose.yaml`
3- inspect the generated ingre

[2022-10-26 11:40] AhmedGrati commented on #1527
/assign

[2022-10-26 11:54] maternalukas commented on #1527
In the newest version of Kubernetes, the annotation `kubernetes.io/ingress.class` is available, would be very cool if there was a `kompose.ingress.class` that can set this, and potentially if it would just default to putting in `kubernetes.io/ingress.class: nginx` if the kompose annotation is not set (or alternatively showing a warning during conversion), since it can be hard to identify this issu

[2022-10-27 19:24] AhmedGrati commented on #1527
@kotlinlukas The `kubernetes.io/ingress.class` annotation is [deprecated](https://kubernetes.io/docs/concepts/services-networking/ingress/#deprecated-annotation). That's why we should use `spec. ingressClassName`.
Please let me know if you have any other suggestions. 🙏

[2022-10-27 20:08] AhmedGrati commented on #1527
@kotlinlukas after doing some investigation I found that you could specify the ingress class name by adding the annotation `kompose.service.expose.ingress-class-name`. So I think this issue should be closed.

[2022-10-27 20:08] #1527 closed

[2022-10-27 20:21] AhmedGrati opened #1529 "Ingress class name is missing in our website documentation."
# Description
In Kompose website -> [user guide](https://kompose.io/user-guide), `kompose.service.expose.ingress-class-name` is not specified, even though we have it in our codebase. Therefore, we should update the documentation in order to make users aware of this functionality.

[2022-10-27 22:15] AhmedGrati commented on #1510
Hey @ScottLinnn, Could you please provide us with the docker-compose file, so that we can help you with this issue? 🎉

[2022-10-27 22:26] AhmedGrati commented on #1529
/assign

[2022-10-27 22:30] ScottLinnn commented on #1510
It's solved. Thanks

[2022-10-27 22:30] #1510 closed

[2022-10-29 13:27] p-sherratt commented on #986
+1

Please reopen this issue.

[2022-11-11 14:43] mathieu-lemay commented on #1371
/remove-lifecycle rotten

[2022-11-14 09:23] #1509 closed

[2022-11-15 15:39] SebDanielsson commented on #1464
/reopen

[2022-11-16 13:29] MikeRohsoft opened #1533 "FATA xxx.depends_on must be a list"
[code]

[2022-11-18 15:29] AhmedGrati commented on #1519
/close

[2022-11-18 16:36] MikeRohsoft commented on #1533
I just saw, It's not an `komepose` Problem, but a Docker CLI. Sorry

[2022-11-18 16:36] #1533 closed

[2022-11-19 02:40] hangyan commented on #1497
close by #1524

[2022-11-19 02:40] #1497 closed

[2022-11-19 03:13] chenrui333 opened #1537 "`kompose.io` site not available"
[code]

[2022-11-19 21:13] samihoda commented on #1537
Site is down

[2022-11-21 15:08] cdrage commented on #1537
Fixed! Apologize for that.

Remind me never to push a change on a Friday haha!

[2022-11-21 15:08] #1537 closed

[2022-11-21 15:15] #1529 closed

[2022-11-21 15:36] #806 closed

[2022-11-21 15:38] AhmedGrati commented on #772
@cdrage is this issue still valid?

[2022-11-21 15:39] cdrage commented on #1523
Yeah, this is a known issue and we'll have to update our matrix here: https://kompose.io/conversion/ for it. As of right now we only support up to 3.3 which is quite an old version of compose.

[2022-11-21 15:40] cdrage commented on #1520
They are supported given they are volumes for a container.

However... root keys `volumes` and `network` in the Compose spec isn't. See: https://kompose.io/conversion/

[2022-11-21 15:40] #1520 closed

[2022-11-21 15:40] cdrage commented on #1519
Closed via https://github.com/kubernetes/kompose/pull/1528

[2022-11-21 15:40] #1519 closed

[2022-11-21 15:41] cdrage commented on #1518
Can you post the gist of the YAML file? Hard to diagnose with your current yaml @ypadlyak

[2022-11-21 15:41] cdrage commented on #1514
Fixed via https://github.com/kubernetes/kompose/pull/1515

[2022-11-21 15:41] #1514 closed

[2022-11-21 15:42] cdrage commented on #1513
Unfortunately not something we're going to support :( https://kompose.io/conversion/

[2022-11-21 15:42] #1513 closed

[2022-11-21 15:42] cdrage commented on #1511
Before diagnosing, I wanted to see if you happened to be able to fix this [mikahe](https://github.com/mikahe) ?

[2022-11-21 15:43] cdrage commented on #1507
Closed via https://github.com/kubernetes/kompose/pull/1508

[2022-11-21 15:43] #1507 closed

[2022-11-21 15:45] cdrage commented on #1464
Oooofff, i don't like how Compose removed that. Was a good way to determine what we could or couldn't convert.

For now, please add: `version: 3.3` to the top of your `docker-compose.yaml` until we're able to fix this.

Kompose should by default try to convert as much as it can / warn the user with what it can't.

[2022-11-21 15:46] cdrage commented on #772
Nope, closing.

[2022-11-21 15:46] #772 closed

[2022-11-21 15:47] cdrage commented on #446
5 year old issue that we haven't had much discussion on or requests for it being added, so going to close this! sorry!

[2022-11-21 15:47] #446 closed

[2022-11-21 15:48] cdrage commented on #345
Yeah.... we REALLY need to improve this.

My suggestion is that we add some details on what needs to be done (as explained above) such as:
- [ ] Explain `pv` is required
- [ ] Explain what HAS been done
- [ ] Change output to a better way `[NOT CONVERTED] - depends_on` for example. for parts of compose we aren't able to convert

[2022-11-21 15:49] cdrage opened #1539 "Option to output conversion to one file."
Similar to helm and other k8s tools, we should be able to have the option to output to one file, rather than multiple files.

Or maybe we should make it the default that everything is outputted to one file? What do people think?

[2022-11-21 15:50] cdrage commented on #236
6 year issue with no further discussions on whether we should implement this or not. Going to close, sorry!

[2022-11-21 15:50] #236 closed

[2022-11-21 23:46] AhmedGrati commented on #1539
@OneCricketeer For debugging purposes, you might occasionally need to display all the manifests in one file so that you don't have to switch between them when a problem arises. Therefore, IMO I see that the default behavior should remain the same, and we add the `--one-file` flag to save the output in one file.

[2022-11-24 00:12] AhmedGrati commented on #1539
After investigating this issue, I found that this functionality already exists, by using the `--file` flag. For example:
[code]
But the issue is that the output is not the correct one. In fact, for this docker-compose file:
[code]
we'll have the following output:
[code]
As you can see, the output file is not in the desired behavior, because we cannot use it directly by `kubectl`. What do you think

[2022-11-24 09:42] hangyan commented on #1539
Yeah, we support that. But what do you mean by 'cannot use it diectly'?

[2022-11-24 10:40] AhmedGrati commented on #1539
I mean that we cannot apply `kubectl apply` on that file.

[2022-11-24 13:44] OneCricketeer commented on #1539
Related https://github.com/cockpit-project/cockpituous/pull/520

[2022-11-24 14:15] cdrage commented on #1539
Yeah, we shouldn't be using `List`.

With Helm, you can export it and it just adds `---` between each kind / section.

We should do the same with Kompose. You should be able to generate a single file using `---` between each section.

[2022-11-25 07:36] hangyan commented on #1539
Agreed.  `---` is the best approach to do this.(i thought List can be applied before...）

[2022-11-27 19:02] fleadope commented on #1522
Me too!

[2022-11-28 17:43] AhmedGrati commented on #1539
/assign