[2017-10-16 07:34] surajnarwade commented on #823
@abitrolly , `restart: no` will not create service

[2017-10-16 08:26] surajnarwade commented on #732
since #836 is merged, we can close this issue

[2017-10-16 08:26] #732 closed

[2017-10-16 18:22] abitrolly commented on #823
@surajnarwade thanks. Though I won't include it in our config, because there is little chance somebody will understand what is it for.

[2017-10-18 08:57] grebois opened #853 "panic: runtime error: invalid memory address or nil pointer dereference"
With a ver 2 file works but with the same file in ver 3 I get;

[code]

[2017-10-18 14:33] surajnarwade commented on #853
@grebois can you paste your `docker-compose` file here ?

[2017-10-20 09:32] kadel opened #854 "old Kompose version in Fedora 26"
Fedora 26 still has only Kompose 1.0.0 but currently the latest released version is 1.3.0 :-(

[2017-10-20 17:05] johnament opened #855 "Local volumes (from host) via conversion"
I'm trying to get my feet wet with Kubernetes.  Since we already had a lot of investment in docker-compose I figured I'd try kompose to convert my docker-compose.yml into kubernetes service definitions.

When I do the conversion, I get this warning:

[code]

My volume looks like this in docker-compose

[code]

Is there another format I should use?

[2017-10-21 01:19] u007 opened #856 "insufficient cpu"
kompose 1.3.0 ()
Google Cloud SDK 176.0.0
alpha 2017.09.15
bq 2.0.27
core 2017.10.13
gsutil 4.27

hi,

i have this docker-compose file which works fine on docker with gloud gce.
but when deployed using kompose,
i keep getting "insufficient cpu" on either or both redis and nginx pods

even resizing cluster count to 2, it keep giving the same error.
does it take into consideration of resources?
[cod

[2017-10-21 18:19] grebois commented on #853
@surajnarwade can't really, too many secrets, will try to create one to reproduce the error. Just give me 2 days.

[2017-10-22 15:47] grebois commented on #853
@surajnarwade here you can reproduce it;

[code]

output:

[code]

[2017-10-23 08:16] hrishin opened #857 "update integration doc"
Add documentation for
- [ ] Dev. suit installer

Rearrange integration doc
- [ ] Bring f8-m-p integration on the top in the list
- [ ] Dev. suit installer integration second

[2017-10-23 09:21] surajnarwade commented on #853
@grebois , kompose is behaving strict with environment variable, make sure you have already defined environment variables.

I tried following way,

[code]

and it worked,

[code]

[2017-10-23 10:01] surajnarwade commented on #856
`kompose` will simply map your cpu in `docker-compose` to k8s, it will not consider amount of resources

[2017-10-23 10:10] surajnarwade commented on #855
we don't support volume mount on host with kompose, you can use `emptyDir`  though

[2017-10-23 10:13] surajnarwade commented on #854
cc @surajssd

[2017-10-23 10:15] surajnarwade commented on #850
@dkarlovi , you can mention something like this

[code]

[2017-10-23 11:20] u007 commented on #856
what is k8s?
so means kompose does not follow cpu and memory limit set in docker compose yml?

[2017-10-23 11:35] surajssd commented on #854
So the latest is available on centos as:

[code]

But for fedora and epel the PR is open https://github.com/dustymabe/fedpkg-kompose/pull/13 and https://github.com/dustymabe/fedpkg-kompose/pull/12

[2017-10-23 11:49] dkarlovi commented on #850
@surajnarwade idea here is to allow the user to specify which volume is supposed to be a scratch space, which isn't, it's not binary.

[2017-10-23 13:00] surajnarwade commented on #856
@u007 , k8s --> kubernetes, kompose does follow docker compose yml only,

if you check generated deployment for your `redis` service:

[code]

`cpu` and `memory` are exactly mapped

[2017-10-23 13:30] u007 commented on #856
is this gcloud issue?

[2017-10-23 13:33] johnament commented on #855
That's fine, I don't mind editing the files after the conversion.  Wouldn't I want a `hostPath` though?  Can `hostPath` be relative?

[2017-10-23 17:51] cdrage commented on #857
Documentation for Dev Suite installer has already been added, see: http://kompose.io/getting-started/#rhel-and-kompose

[2017-10-25 13:07] grebois commented on #853
But this only happens with version 3, version 2 works fine... try:

[code]

[2017-10-26 05:49] surajnarwade commented on #842
@cdrage , we can close this as #852 is merged

[2017-10-26 05:49] #842 closed

[2017-10-26 13:27] cdrage commented on #853
@grebois Thanks for the bug report. Yup. Version 3 *should* automatically pick up the environment variables. Looks to be an issue upstream. We'll investigate it and push out a fix!

[2017-10-26 13:28] cdrage commented on #855
Hey John! Due to how Kubernetes handles volumes, it's difficult to pass in a host volume / root volume. We *are* adding support for hostPath however, as one of our outside contributors is pushing it via PR: https://github.com/kubernetes/kompose/pull/734

[2017-10-26 13:29] cdrage commented on #856
@u007 most likely your gcloud instance has smaller CPU than your local instance. I'd increase the amount of CPU you're using on gcloud and see what happens.

[2017-10-26 13:38] johnament commented on #855
@cdrage understood.  It's more of a case where I think I can edit the volume definition afterwards.

[2017-10-26 14:21] grebois commented on #853
@cdrage thanks!

[2017-10-27 15:53] cdrage commented on #857
ping @hrishin

[2017-10-27 15:55] cdrage commented on #144
Honestly, considering that this tool is now in the Kubernetes org as well as been clearly defined with Kubernetes / OpenShift usage, I say that we close this issue for now. When the need arises (Nomad hasn't reached *that* large of user acquisition yet) we could possibly split this into a different tool / add new features.

[2017-10-27 15:55] #144 closed

[2017-10-31 12:49] hrishin commented on #857
@cdrage it would be nice if we add some bits of dev. suit installer under integration document?
@pradeepto what you say?

[2017-10-31 13:38] cdrage commented on #857
@hrishin Yup. Just make a PR and push whatever you think is necessary :+1:

[2017-11-06 09:40] xianlubird opened #859 "Docker compose links section can't support"
About compose  introduce links https://docs.docker.com/compose/compose-file/compose-file-v2/#links .
  I have a compose like this:
[code]
  kompose will convert db service to db deployment, but the wordpress deplotment will connect db by `mysql` hostname.   So wordpress pods will call that and it can't connect the db database.  Because the `links` can't convert to k8s yaml.

  I have two kinds sug

[2017-11-06 13:01] surajnarwade commented on #859
I think this will be bit confusing since name of deployment and service will change,

This second option, I think will be better,

@cdrage thought here

[2017-11-06 15:16] cdrage commented on #859
Yeah, we should add the second option since the `links` key isn't able to be effectively converted to Kubernetes. We should clarify more about *why* it doesn't work and what the alternatives are.

Thanks @xianlubird for pointing this out!

[2017-11-08 03:04] abitrolly opened #865 "volumes long-syntax doesn't work"
[Conversion matrix](http://kompose.io/conversion/) specifies that `volumes: long-syntax` works, but it doesn't, because it requires at least `version: '3.2`` in the header to be loaded. For example, this fails to validate with `docker-compose`:

[code]
[code]
The same error is reported by `kompose`:
[code]

Changing version to `3.2` makes `docker-compose config` pass, but `kompose` still fails the

[2017-11-08 03:06] abitrolly commented on #865
Related to #725

[2017-11-08 05:44] surajnarwade commented on #865
@abitrolly , as of now we don't support `docker-compose 3.2`

[2017-11-08 09:17] abitrolly commented on #865
Looks like there is some partial support in https://github.com/kubernetes/kompose/blob/master/pkg/loader/compose/v3.go#L120

[2017-11-08 13:42] abitrolly commented on #235
I implemented volume size with service level labels. It keeps simple `docker-compose.yml` files short. If volume lables will be added in future, they could take the priority.

[2017-11-10 01:34] johnt337 commented on #308
@cdrage Thanks!! Will do!

[2017-11-10 02:52] xianlubird commented on #865
Maybe we can support version 3.1-3.2-3.3-3.4. Docker compose in version 3.x develop fast and many attribute is added into it.   We can work together to develop support these new attribute.

[2017-11-13 11:10] surajnarwade commented on #644
@cdrage  since `update_config` has no direct mapping in kubernetes, Let's close this issue

[2017-11-13 14:08] cdrage commented on #644
@surajnarwade Before that, we will have to update the conversion matrix documentation.

[2017-11-14 10:06] surajnarwade opened #870 "kompose should read input from stdin"
kompose should take standard input as well,

for example,

[code]

[2017-11-15 14:41] cdrage opened #872 "Add test cases / documentation for setting PVC volume size"
Tracker for https://github.com/kubernetes/kompose/pull/867

We need to:

- [ ] Add documentation for the new label
- [ ] Add tests

[2017-11-16 08:15] xianlubird commented on #745
Can kompose convert docker compose to a chart ?

[2017-11-17 06:01] hrishin commented on #857
@cdrage sure

[2017-11-17 11:53] cdrage commented on #857
@hrishin Keep in mind that we already have a tutorial on how to use DevSuite under integrations, but there's no need to have two tutorials in two places. Whatever you think is best, just push to a PR and we can review it.

[2017-11-21 13:13] kadel opened #873 "conversion metrix doc is outdated"
Conversion metrics says that `env_file` is not supported in Kompose.

But according to https://github.com/kubernetes/kompose/issues/308 it is.

[2017-11-22 17:02] #873 closed

[2017-11-22 17:03] cdrage commented on #790
Hey @rupalibehera is this fixed?

[2017-11-24 15:37] tsauvajon commented on #636
How do you fix `'Build' expected a map, got 'string'` ?

[2017-11-24 15:59] rkachowski commented on #636
@tsauvajon I've had this same problem, it looks like kompose doesn't respect the optional string parameter. You can work around it by changing the config to a map like so
[code]

[2017-11-24 17:00] tsauvajon commented on #636
@rkachowski oh okay I had not understood the error message thanks a lot!

[2017-11-27 15:45] Arnold1 opened #876 "Error transforming Kubernetes objects"
Hi,

i run into some issues with kompose when i run the following command. do you know what is wrong and how to resolve it?
[code]

docker-compose.yml:
[code]

[2017-11-27 15:48] cdrage commented on #876
Thanks for pointing this out! Looks like `unless-stopped` isn't implemented. We should have a fix out this week :+1:

[2017-11-27 15:55] Arnold1 commented on #876
what happens if i remove the restart from the yml file?

here is what happens without the restart policy. how can i fix the warnings?
[code]

[2017-11-27 16:40] cdrage commented on #876
With regards to the warnings, yes, you're free to ignore them, but due to using host volumes, Kubernetes doesn't support it.

Yup! It should theoretically work (you may have to modify your volumes). Using minikube and doing `kompose up` will bring it up on Kubernetes.

[2017-11-27 17:10] Arnold1 commented on #876
i installed minicube and can run the sample they have here:
https://github.com/kubernetes/minikube/blob/v0.22.3/README.md

i run into that issue, any why it cannot startup?
[code]

[2017-11-27 17:48] cdrage commented on #876
@Arnold1 for some reason Kompose isn't able to communicate to your Kubernetes cluster.

After you run "minikube start" are you able to access your cluster with kubectl? Ex. `kubectl get pods` ?

[2017-11-27 18:30] Arnold1 commented on #876
i think i stopped minikube before...

here is what i get now, but only 1 container is running?
[code]

[code]

[2017-11-28 15:16] cdrage opened #877 "Refactor tests (integration)"
Let's refactor our testing suite to use a go file / more integrated file rather than using bash / command-line.

See: #868  for reference as well as #871

TODO:

 - Change to `e2e_test.go`
 - Check if ports are up against Kubernetes, etc.
 - Fix failing OpenShift tests

[2017-11-29 14:50] Arnold1 commented on #876
@cdrage any idea?

[2017-11-29 15:44] cdrage commented on #876
@Arnold1 Unfortunately when it comes down to volumes within Docker Compose / Kompose, it get's fairly tricky.

Mind posting your full docker-compose example (the one you're using now) and we can go from there? Volumes are the worst part of this entire operation, very difficult to get right since some containers (such as prometheus) rely on them to be EXACT.

[2017-11-29 15:58] Arnold1 commented on #876
@cdrage do you mean all the files?

[2017-11-29 16:10] cdrage commented on #876
@Arnold1 just your modified docker-compose.yaml file so I can test it my-side.

I've had a conversion with @kadel  on how we could improve volumes, it's the trickiest part of Kompose unfortunately.

[2017-11-29 17:16] Arnold1 commented on #876
@cdrage i added all files here: https://github.com/Arnold1/prometheus_kubernetes

[2017-11-30 08:11] surajnarwade commented on #876
@Arnold1 , there's no Dockerfile in your repo :(

[code]

[2017-11-30 14:06] #798 closed

[2017-11-30 14:06] #636 closed

[2017-11-30 14:51] Arnold1 commented on #876
@surajnarwade @cdrage I added the missing dockerfile.

[2017-11-30 15:19] cdrage opened #879 "Add development.md to site, refactor with `make vendor-update`"
Since we ran into logrus issues, we've added `make vendor-update`.

Two things:

 - Need to update `development.md` documentation to indicate that we use `make vendor-update` now.
 - Add `development.md` to the side-bar on the site

[2017-12-01 15:37] rkachowski opened #883 "Kompose down doesn't remove configmaps"
When running `kompose up`, many resources are created including services, pods, deployments and configmaps. When running `kompose down`, created configmaps aren't removed. This results in a fatal error when `kompose up` is run subsequently.

## Expected
`kompose down` brings down all traces of the application in the cluster. `kompose up` and `down` can be run after each other

## Actual
Process di

[2017-12-01 20:31] cdrage opened #884 "[EPIC] Improvements to volumes"
Volumes is probably the number one problem when converting from Docker Compose to Kubernetes and thus we should add a solution for the conversion.

Suggestions: https://kubernetes.io/docs/concepts/api-extension/custom-resources/

Close / resolve these issues:

- [x] Error transforming objects https://github.com/kubernetes/kompose/issues/876
- [x] Add test cases / documentation for volume label htt

[2017-12-02 22:34] Arnold1 commented on #876
@cdrage is there a workaround for the meantime?

[2017-12-04 14:48] cdrage commented on #876
@Arnold1 Sorry, it's been quite a busy week for us, we're going to try and get around to it this week. It may involve modifying some of the containers since for some reason they like Docker Compose but now when it's on Kubernetes. I'll try your updated repo it soon :+1:

[2017-12-04 15:04] jmatsushita opened #886 "Output option with convert -c fails."
Hi there,

When using `kompose convert -c` with the `-o` option, the charts are created in the desired folder but the last step fails:
[code]

The resulting `docker-compose` folder lacks the template files:
[code]

It would be nice to be able to choose the name of the outputting directory rather than it being hardcoded to `docker-compose`.

Cheers,

Jun

[2017-12-05 16:24] cdrage commented on #886
Honestly, charts are bit broken at the moment. Thanks for filing the issue! Hopefully it's just a simple CLI option fixed.

[2017-12-05 16:47] jmatsushita commented on #886
Thanks for update! Can you tell me more about how they are broken? I'm looking into using `kompose` for this, so it'd be good to have a heads up! 😄

[2017-12-05 19:34] cdrage commented on #886
@jmatsushita Ah, let me correct myself. There's not broken per-say, just a bit disorganized. Helm has changed quite a bit since the implementation was added (such as extra variables). Kompose will work fine converting to Helm no-problem, it's more.. properly naming the files, setting up comments and proper versioning within the Helm chart.

If you don't mind me asking, what's your main use-case?

[2017-12-05 19:48] cdrage opened #887 "Add FAQ"
Add some form of FAQ to Kompose.

TODO:
 - [ ] Why can't I access my service?

[2017-12-06 12:21] surajnarwade commented on #644
@cdrage since conversion matrix is also updated now, Let's close the issue :)

[2017-12-06 14:29] prein opened #889 "Bintray links broken in the README"
Tiny (and perhaps boring) issue but all Bintray links in the README are not working and I couldn't figure out what would be the correct path.

[2017-12-06 14:32] jmatsushita commented on #886
Yes that's exactly the main use case. Glad to hear that the chart problem is mostly cosmetic :)

[2017-12-06 14:42] jmatsushita opened #890 "Doesn't run on alpine?"
Hi there,

It seems that the `1.5.0` binary doesn't run on alpine. Maybe I'm missing something? Here's a one liner test with docker:

[code]

In contrast this runs fine in `debian`:
[code]

Here's the full log of the first command:
[code]

[2017-12-06 14:54] jmatsushita commented on #890
This seems to explain it: http://kefblog.com/2017-07-04/Golang-ang-docker

[2017-12-06 15:05] jmatsushita commented on #890
This workaround works for me:

[code]

[2017-12-06 15:16] #644 closed

[2017-12-06 17:08] cdrage commented on #889
@kadel any ideas?

[2017-12-06 17:11] cdrage commented on #890
@jmatsushita that'd do it.

You're running this directly in a container, we've been toying with the idea of running Kompose within a Docker container (for OS' such as CoreOS or Project Atomic). I'll see what we could do with that. Will probably solve your issue with alpine.

(can I close this issue now?)

[2017-12-10 06:11] Arnold1 commented on #876
@cdrage any update?

[2017-12-11 05:41] surajnarwade commented on #876
@Arnold1 some of your services has volumes which may contain some file which are necessary for your applcation. Hence, status for your application is `Crashloopbackoff`, Recently I wrote a blog about sharing host directory into minkube (you can check blog [here](http://suraj.pro/post/hostmount-minikube/))

So first do `kompose convert` and generate kubernetes files and then edit those files accord

[2017-12-11 05:44] Arnold1 commented on #876
@surajnarwade ok, i currently try to find a workaround. how can i make it work?

[2017-12-11 14:43] cdrage commented on #889
@prein Hey! It seems that it fixed itself (which is really odd).

Do you mind trying it again your-end?

[2017-12-13 19:51] pkelleratwork opened #892 "panic: runtime error: invalid memory address or nil pointer dereference"
version 1.6.0 (e4adfef)
macOS 10.13.2

kompose convert =

panic: runtime error: invalid memory address or nil pointer dereference
[signal SIGSEGV: segmentation violation code=0x1 addr=0x0 pc=0x221af2b]

goroutine 1 [running]:
github.com/kubernetes/kompose/pkg/loader/compose.dockerComposeToKomposeMapping(0xc4205dc6c0, 0x20, 0xc42045d820, 0x1, 0x1, 0xc4200d35f0)
	/home/wikus/dropbox/dev/go/src/githu

[2017-12-13 20:01] cdrage commented on #892
Okay, that is *so* odd that you're getting my folder...

[code]
Can you post the full command you're using?

[2017-12-13 20:05] pkelleratwork commented on #892
ran from the directory containing the docker-compose.yml file i tried converting....

"my"-MacBook-Pro:azure$ kompose convert
panic: runtime error: invalid memory address or nil pointer dereference
[signal SIGSEGV: segmentation violation code=0x1 addr=0x0 pc=0x2220eeb]

goroutine 1 [running]:
github.com/kubernetes/kompose/pkg/loader/compose.dockerComposeToKomposeMapping(0xc4200aa780, 0x20, 0xc4204

[2017-12-13 20:06] cdrage commented on #892
@pkelleratwork Ah, that's better!

Are you able to post the docker-compose.yaml file that you are using?

[2017-12-13 20:14] pkelleratwork commented on #892
sorry - cant post it here....

[2017-12-13 20:14] pkelleratwork commented on #892
its pretty standard, nothing wild. front end, back end, proxy in it.

[2017-12-13 20:23] cdrage commented on #892
One thing to check if if you've got any blank environment variables within it. That may be one of the reasons. For example, if you have:

[code]

and `echo $MYSECRETPASS` is blank it may be erroring.

[2017-12-13 20:29] pkelleratwork commented on #892
confirmed no blank env variables. there are foo=${bar} using a .env file to populate, but nothing blank

echo $MYSECRETPASS is also blank

[2017-12-13 20:47] cdrage commented on #892
Without the `docker-compose.yaml` file I wouldn't be able to diagnose it :( Are you able to create I guess a "fake" docker-compose.yaml file with no revealing information so I can replicate it my end?

[2017-12-13 21:01] pkelleratwork commented on #892
here you go... verified I get the same error with this "fake" on...

version: "3"
networks:
  network_here:
    external: true
services:
  proxy:
    image: ${REPO}/proxy:${IMAGE}
    restart: always
    ports:
      - 123
      - 456
    links:
      - api
      - web
    networks:
      - network_here
      - default

  api:
    image: ${REPO}/api:${IMAGE}
    restart: always
    ports:
      -

[2017-12-13 21:03] pkelleratwork commented on #892
[fake docker compose.txt](https://github.com/kubernetes/kompose/files/1557061/fake.docker.compose.txt)

[2017-12-14 06:35] surajnarwade commented on #832
we can close this issue now :)

[2017-12-14 06:35] #832 closed

[2017-12-14 10:46] Code0x58 commented on #892
I found the same issue, here is a minimal working `docker-compose.yml` which you can break by removing either of `limits`/`reservations`:
[code]

[2017-12-14 11:42] Code0x58 opened #893 "Unable to push to (private) registry"
When doing `kompose up` on a file which has build+image information, it builds the image and then it looks like it tries to push it incorrectly:
[code]
`docker-compose build && docker-compose push` doesn't have an issue with this.

To bodge it at the moment I remove the build information and do `docker push my.registry.com/my-namespace/image:latest` before running `kompose up`.

[2017-12-14 13:41] yogi-emorphis commented on #853
Hello,
I am using Window 7 (64 Bit). When I am trying for configure rinkeby using "geth --rinkeby" command I am getting following error :
Panic: runtime error: invalid memory address or nil pointer dereference  [signal 0xc0000005 code=0x0 addr=0x0 pc=0xb88a07]
Please details find below :
C:\Users\yogendra>geth --rinkeby
WARN [12-14|19:10:09] No etherbase set and no accounts found as default
INFO [

[2017-12-14 15:11] cdrage commented on #853
@yogi-emorphis can you please post your docker-compose.yaml file?

[2017-12-14 15:16] cdrage commented on #892
Hey @Code0x58 I was unable to replicate the issue with either your above docker-compose.yaml file or the modified one with limits / reservations removed.

[code]

[2017-12-14 15:18] cdrage commented on #892
Hey @pkelleratwork so it looks like it's an issue with the `v3` implentation.

Changing to `version: 2` in your docker-compose.yaml file will fix it. I have a feeling it's about the environment variable implementation.

[2017-12-14 15:42] pkelleratwork commented on #892
thanks @cdrage - I'll give it a shot!

[2017-12-14 15:46] cdrage commented on #892
I found out *where* it's happening, https://github.com/kubernetes/kompose/blob/master/pkg/loader/compose/v3.go#L322

Now it's time to debug and see how to fix it.

Looks like it happens if there is a blank variable somewhere within the implementation.

[2017-12-14 15:55] pkelleratwork commented on #892
@cdrage - changed version to "2", it worked :)

<my>-MacBook-Pro:kompose $ kompose convert
WARN The REPO variable is not set. Substituting a blank string.
WARN The IMAGE variable is not set. Substituting a blank string.
WARN The REPO variable is not set. Substituting a blank string.
WARN The IMAGE variable is not set. Substituting a blank string.
WARN The API variable is not set. Substituting a bl

[2017-12-14 16:07] Code0x58 commented on #892
Hey @cdrage, the file you pasted had _both_ of them removed, with one of them removed it blows up for me:
[code]

[2017-12-15 05:24] yogi-emorphis commented on #853
@cdrage  Thanks for reply. I am not using docker, any other way for resolving ?

[2017-12-15 09:01] surajnarwade commented on #853
@yogi-emorphis is this kompose related issue ?

[2017-12-15 09:03] yogi-emorphis commented on #853
No , I am just trying to configure rinkeby.

[2017-12-15 09:27] surajnarwade commented on #853
Probably this is wrong place to ask question regarding rinkeby.

[2017-12-15 09:37] yogi-emorphis commented on #853
@surajnarwade May be you are right but I am facing same error. May be I will get any idea why are occurring this error.

[2017-12-15 14:27] cdrage commented on #853
@yogi-emorphis rinkeby uses go-etherium, I'd suggest opening up an issue with your error here: https://github.com/ethereum/go-ethereum

[2017-12-16 19:43] Arnold1 commented on #876
@cdrage some time to look into? :)

[2017-12-18 13:33] jmatsushita opened #897 "Allow specifying imagePullSecret"
Hi there,

How would one go about providing the `imagePullSecret` key to a `deployment`?

This could possibly help with #893 ? This might also be part of a broader discussion about "template-supported conversions", which would allow to make custom changes to the conversion outputs...

Cheers,

Jun

[2017-12-18 13:43] jmatsushita commented on #897
In fact, instead or in addition to "template-supported conversions", if the helm chart conversion template had a number of `values` interpolated, then the parameters could be passed to `helm` on deploy.

[2017-12-18 16:00] cdrage commented on #876
@Arnold1 Sorry, I haven't found time to look into this yet :( I did have very brief look and as what @surajnarwade said, it's most likely because the containers are trying to retrieve information that's originally suppose to be passed in through volumes.

[2017-12-18 16:32] Arnold1 commented on #876
will reading and applying @surajnarwade article solve the issue? refering to: http://suraj.pro/post/hostmount-minikube/

[2017-12-18 17:43] cdrage commented on #219
@fejta-bot @fejta How do I remove / whitelist Kubernetes from this bot?

[2017-12-19 04:34] fejta commented on #219
Move it out of the kubernetes org

[2017-12-19 13:30] prein commented on #889
@cdrage Thanks, confirmed, works now.

[2017-12-19 13:30] #889 closed

[2017-12-19 13:32] kadel commented on #219
@cdrage I think that this bot will be useful

[2017-12-19 13:50] cdrage commented on #219
@fejta Okay, we'll keep it around :+1:

[2017-12-19 14:16] dustymabe commented on #328
@dustymabe is kompose in main EPEL repo now ?

yes it is in epel

[2017-12-19 15:37] Code0x58 commented on #296
I just had a look at things and it appears as though the mapping is doable, with the exception of _uid_ and _gid_ when projecting the secret into `/run/secrets/` - this may be something to raise as an in Kubernetes if it hasn't been already.

The rest of this post is really just a summary of the documentation and links to things that I think are relevant for whoever takes this on.

## Creating sec

[2017-12-19 16:07] cdrage opened #898 "Add (better) documentation on adding tests"
We should elaborate / go more into detail on how to add integration, unit tests, etc for Kompose.

[2017-12-20 07:14] surajssd commented on #39
I think this can be closed and need not be open anymore!

[2017-12-20 07:15] surajssd commented on #14
we should not do anything that deviates from the base docker-compose file format so let's not do this one!

[2017-12-20 16:41] cdrage commented on #39
@surajssd agreed.

[2017-12-20 16:41] #39 closed

[2017-12-20 16:41] #330 closed

[2017-12-20 16:42] cdrage commented on #14
@surajssd agreed, let's close

[2017-12-20 16:42] #14 closed

[2017-12-20 20:14] Code0x58 commented on #897
The issue with that case is the case you liked is that the code tries doing something like `docker push my-namespace/image:tag` instead of `docker push my-registry.com:5000/my-namespace/image:tag`.

I think pod `ImagePullSecrets` fall into the same boat as ingress TLS secrets, so whoever takes this on could use #896 as a point of reference for the code.

[2017-12-21 11:43] kadel commented on #276
@cdrage If I'm not mistaken support for Docker bundle format was removed from Kompose. Is that true @cdrage?

[2017-12-21 16:27] cdrage commented on #276
@kadel yeah, *way* too many issues with bundling and it's still an experimental feature. We all agreed that we would stop development on it until Docker accepts it as mainline. See: https://docs.docker.com/compose/bundles/

[2017-12-21 16:27] cdrage commented on #276
/lifecycle frozen

[2017-12-21 16:27] cdrage commented on #276
Although I believe we should keep this open :+1:

[2017-12-21 16:28] cdrage commented on #419
Yup, this one should be closed :+1: Kind friends made a GUI interface which people may use as a publicly hosting conversion: http://kompose.io/integrations/#kompose-ui-by-jad-chamoun-icann-and-joe-haddad-anghami

[2017-12-21 16:28] #419 closed

[2017-12-23 11:15] bhavin192 opened #902 "No proper link to Binary Installation method in README.md"
Link for the **Binary (Prefered method)** method in the `README.md` opens https://github.com/kubernetes/kompose/blob/master/README.md instead of jumping to the proper section from the file.

[2017-12-26 10:26] gak commented on #892
I just got hit with the same issue (and fix) as @Code0x58 mentioned on https://github.com/kubernetes/kompose/issues/892#issuecomment-351675307.

v1.6.0 (e4adfef), macOs 10.13.1 (17B1003)

With a simple service:
[code]

These work:
[code]

[code]

These don't work:
[code]

[code]

[code]

An error, but not a SIGSEGV for this:
[code]

[2017-12-26 23:40] Code0x58 commented on #892
At least for the resources case, I believe the issue is caused by [these two lines](https://github.com/kubernetes/kompose/blob/v1.6.0/pkg/loader/compose/v3.go#L266).

I imagine the other case is caused by something similar which could be found from a code review.

[2017-12-28 19:47] jsheflin opened #904 "docker config.json format"

[2017-12-28 19:48] #904 closed

[2017-12-30 08:48] surajneupane55 opened #905 "Cannot run in gcloud environment with Kompose CLI"
I want to integrate Kompose CLI inside the container so I can use it as a part of CI/CD pipeline. In gitlab-ci.yml I want to install Kompose in the container so I can use it. So far I am unable to do so.

Here is my gitlab-ci.yml file:

    image: node:8-alpine

    stages:
      - build

    build_image:
      stage: build
      only: [master]
      image: google/cloud-sdk
      services:

[2018-01-02 08:18] kadel commented on #905
What error do you get?

[2018-01-02 20:20] #422 closed

[2018-01-02 20:20] #351 closed

[2018-01-02 20:20] cdrage commented on #447
Ping @surajnarwade

[2018-01-02 20:21] cdrage commented on #464
/lifecycle frozen

[2018-01-02 20:21] #545 closed

[2018-01-02 20:21] cdrage commented on #345
/lifecycle frozen

[2018-01-02 20:22] cdrage commented on #755
/lifecycle frozen

[2018-01-02 20:23] cdrage commented on #752
I believe this has been fixed. Please re-open if not! I don't encounter these issues anymore.

[2018-01-02 20:23] #752 closed

[2018-01-02 20:25] cdrage commented on #446
I believe we should still implement this in the future. Let's freeze this.

[2018-01-02 20:25] cdrage commented on #446
/lifecycle crozen

[2018-01-02 20:25] cdrage commented on #496
Can we close this?

[2018-01-02 21:59] dkarlovi commented on #446
@cdrage typo. :)

[2018-01-03 06:43] surajnarwade commented on #772
/lifecycle frozen

[2018-01-03 06:46] surajnarwade commented on #446
/lifecycle frozen

[2018-01-03 06:49] surajnarwade commented on #496
cc @stephanosbacon

[2018-01-03 09:01] surajnarwade commented on #748
/lifecycle frozen

[2018-01-03 12:20] surajneupane55 commented on #905
I found a right approach to do it without using kompose [here](https://stackoverflow.com/questions/47888027/how-to-deploy-staging-in-google-cloud-platform-with-kubernetes-and-gitlab-ci-cd)

[2018-01-03 12:20] #905 closed

[2018-01-03 14:15] cdrage commented on #788
/lifecycle frozen

[2018-01-04 14:12] #893 closed

[2018-01-04 16:21] stephanosbacon commented on #496
Sure

[2018-01-04 16:52] #496 closed

[2018-01-04 18:23] cdrage commented on #698
/lifecycle frozen

[2018-01-04 18:23] cdrage commented on #632
/lifecycle frozen

[2018-01-04 18:23] cdrage commented on #806
/lifecycle frozen

[2018-01-04 18:24] cdrage commented on #806
Any updates @rahulkrishnanfs ?

[2018-01-04 18:24] cdrage commented on #236
/lifecycle frozen

[2018-01-09 18:37] piyush1594 commented on #883
@cdrage Can we close this?

@rkachowski Issue is fixed now. Please do check.

Thanks

[2018-01-09 19:35] cdrage commented on #883
Yup. Thank you.

[2018-01-09 19:35] #883 closed

[2018-01-14 19:46] darKoram opened #909 "extended env_file capability to in-docker-compose.yml substitutions"
in https://github.com/kubernetes/kompose/pull/799 the tests show the ability to over-ride an 'environment' var with one from a '.env' file which is useful if the container runtime depends on the var.  But another use case for docker-compose .env file is to allow ${var} substitutions in other docker-compose arguments.  A common example would be

    services:
      app:
        image: myapp

[2018-01-15 07:06] abitrolly commented on #823
Explicit `headless: yes` is more logical. If somebody needs a headless service, then that person may need a choice not to restart it.

/remove-lifecycle stale

[2018-01-15 15:25] kbroughton commented on #909
I have a workaround for this now:
// this gets the .env files stamped into the -out.yml file
docker-compose config -f docker-compose.yml > docker-compose-out.yml
kompose convert -f docker-compose-out.yml

perhaps kompose should be loading based off of docker-compose config  output?

[2018-01-15 16:19] kbroughton opened #910 "unable to push to private repo in hub.docker.com"
$ kompose  --file docker-compose-out.yml -v up
INFO Build key detected. Attempting to build and push image 'haystackabi/hsabi-web-app:4ca21a16'
DEBU Compose file dir: /Users/kesten/projects/core
INFO Building image 'myorg/myimage:4ca21a16' from directory 'myimage'
DEBU Created temporary file /tmp/kompose-image-build-328321841 for Docker image tarballing
INFO Image 'myorg/myimage' from directory 'm

[2018-01-15 17:02] cdrage commented on #910
@kbroughton What OS are you using? Seems it can't find `~/.docker/config.json`

[2018-01-15 17:03] #902 closed

[2018-01-15 17:21] kbroughton commented on #910
osx and targeting gke.

I commented out the build step from docker-compose-out.yml and then hit this:
FATA Error while deploying application: google: could not find default credentials. See https://developers.google.com/accounts/docs/application-default-credentials for more information.

which was resolved by
kestens-MacBook-Pro:core kesten$  gcloud auth application-default login

And kube can't r

[2018-01-18 15:40] d-mcd commented on #876
Any update on this? Same issue here when trying to convert from Docker Compose to Kubernetes for containerized applications that use volume mappings out to OS for persistent data.

Thanks

[2018-01-18 16:09] cdrage commented on #876
@d-mcd Unfortunately volumes is *very* tricky since it's a completely different concept within Kubernetes. One of the solutions is to create a hostPath volumes which were in the PR and issues here: #109 #734

We're still investigating and will most likely push a PR out for adding hostPath volumes by next release. It's a hack to get it working (hostPath volumes are only recommended for development)

[2018-01-19 13:04] ruddra opened #911 "Unable to push Docker image for service web: Unable to retrieve .docker/config.json authentication details."
I got this error while running: `kompose up`
I have been using the following docker-compose.yml:

I ran the following commands:

I was able to push to my dockerhub repository using:
`docker-compose push`

[2018-01-19 14:27] cdrage commented on #911
Hey @ruddra I've been trying to diagnose this issue.

I'm assuming you're using OS X?

[2018-01-20 03:49] ruddra commented on #911
I am using macOS high sierra :)

[2018-01-20 14:48] cdrage commented on #911
@ruddra That'd be why :) Docker is running in a VM and I believe they changed the configuration location. I'll have to investigate.

[2018-01-21 02:47] ruddra commented on #911
In '~/.docker/config.json'

[2018-01-24 07:36] coodix commented on #911
Same issue for me. Trying use local private repo, but even after docker login keep getting error "FATA Error while deploying application: k.Transform failed: Unable to push Docker image for service proxy: Unable to retrieve .docker/config.json authentication details. Check that 'docker login' works successfully on the command line.: Failed to read authentication from dockercfg".

~/.docker/config.

[2018-01-24 12:43] cdrage commented on #910
Hey @kbroughton I'm going to close this issue in favour of https://github.com/kubernetes/kompose/issues/911

[2018-01-24 12:49] cdrage commented on #911
Hey @coodix @ruddra @kbroughton

I got time this week to get around to this issue, unfortunately, I don't have a Mac and I'm unable to run a VM (against licensing :() to diagnose it. So I need your help.

I'd like you all (or at least one of you) to these two things:

From this issue (https://github.com/pachyderm/pachyderm/issues/2446) , let's try this:

1. Can you please output what your DOCKER_C

[2018-01-24 12:49] #910 closed

[2018-01-24 19:59] coodix commented on #911
@cdrage , $DOCKER_CONFIG is empty by default. I tried to set it to "~/.docker/" but it didn't help. Same error appeared.
Content of my ~/.docker/config.json:
`{
	"auths": {
		"https://index.docker.io/v1/": {},
		"localhost:5000": {}
	},
	"credsStore": "osxkeychain"
}`

But it became so after I execute "docker login localhost:5000" trying to make it work. In all cases same error.

[2018-01-24 20:27] coodix commented on #911
@cdrage , I've found out what's the problem. It's because dockerclient isn't integrated with osxkeychain. See https://github.com/fsouza/go-dockerclient/issues/677

[2018-01-24 20:30] coodix commented on #911
Also it relates to https://github.com/docker/for-mac/issues/1584
Docker for Mac by default uses osxkeychain for storing credentials.

[2018-01-24 20:54] coodix commented on #911
So the current solution is to edit config.json:
`{ "auths": { "localhost:5000": { "auth": "...base64encoded credentials..." } }, "credsStore": "osxkeychain" }`
And need to ensure that there are no auths without auth string (https://github.com/fsouza/go-dockerclient/issues/677#issuecomment-360269441 ).

[2018-01-24 22:05] coodix commented on #911
@cdrage , do you consider adding empty AuthConfiguration as it stated in comment for PushImage method (github.com/fsouza/go-dockerclient/image.go):
`
// An empty instance of AuthConfiguration may be used for unauthenticated
// pushes.
//
// See https://goo.gl/zPtZaT for more details.
func (c *Client) PushImage(opts PushImageOptions, auth AuthConfiguration) error {
`

At least in case if no one aut

[2018-01-25 13:47] cdrage commented on #911
@coodix Yeah, that's for investigating.. It's difficult with `oxskeychain`, we'd have to either contribute an upstream change to the go-dockerclient library or implement Docker's client library.

We can try to do empty authentication to fix it.

[2018-01-28 21:54] alexanderkjeldaas opened #914 "docker-compose version 3.3 is not supported."

[2018-01-28 22:01] alexanderkjeldaas opened #915 "kompose does not indicate key not line number when printing error"
This output:

[code]

Gives mostly no information:

1. No line number information
2. No yaml key
3. No `jq` style location
4. No excerpt from the input file.
5. It refers to "property config" where none of those words appear in the input.

[2018-01-28 22:06] alexanderkjeldaas commented on #915
Ah, the `configs` is the key apparently.   I suggest adding line numbers for this to understandable.

[2018-01-29 08:35] dkarlovi commented on #850
/remove-lifecycle stale

[2018-01-29 16:17] Vad1mo opened #917 "Kubernetes specific support in Compose"
With compose 3.4 it is possible to define **extension-fields** with those it would be possible to map them to a structure that only exists in k8s

https://docs.docker.com/compose/compose-file/#extension-fields

[2018-01-29 17:50] niQo opened #918 ""panic: runtime error: invalid memory address or nil pointer dereference" when using environment unset variables"
when using a compose file containing an unset environment var, kompose crash with:
[code]

example:
[code]

Note: if the environment var is set, everything work as expected. example:
[code]

[2018-01-29 18:43] cdrage commented on #917
@Vad1mo Good find, that's actually wicked. Could be better rather than using labels..

[2018-01-29 18:43] cdrage commented on #918
Yeah.. this is currently an outstanding issue. For now, you'll have to change the `version` to 2 and try again.

[2018-01-29 18:45] cdrage commented on #914
Due to how fast Docker Compose is in terms of development, we are only cutting / supporting major releases, see: http://kompose.io/conversion/

Unfortunately, if we were to implement say... 3.3 or 3.4, not only do we have to wait for upstream to support it (either `docker/cli` or `docker/libcompose`) but there may be major changes between that release, and a new release (4).

[2018-02-03 03:51] pvsousalima commented on #656
Hi guys I'm having the same issue as well. Here is my docker-compose.yml:

[code]

and it returns
INFO Build key detected. Attempting to build and push image 'staterecordsnotifications_notifier'
INFO Building image 'staterecordsnotifications_notifier' from directory 'Notifier'
FATA Error while deploying application: k.Transform failed: Unable to build Docker image for service notifier: Unable to c

[2018-02-05 09:53] #571 closed

[2018-02-07 03:54] hangyan commented on #918
@cdrage @niQo  I have create and PR to fix this issue, it works files. you can check if out if you want

[2018-02-07 05:46] bongole opened #927 "kompose.volume.size label is not working"
kompose.volume.size label is not working.
I tested on macOS 10.13.3 and brew installed kompose.

[code]

[code]

[2018-02-07 06:52] hangyan commented on #927
It seems it's only working in compose v3 now, I will loop into it to see why in v1/v2 not working

[2018-02-08 08:41] hangyan commented on #886
I will take a look

[2018-02-08 11:52] surajnarwade commented on #859
/remove-lifecycle stale

[2018-02-08 11:54] surajnarwade commented on #657
/remove-lifecycle rotten

[2018-02-08 11:56] surajnarwade commented on #447
/remove-lifecycle rotten

[2018-02-08 11:57] surajnarwade commented on #753
/remove-lifecycle rotten

[2018-02-08 11:57] surajnarwade commented on #235
/remove-lifecycle stale

[2018-02-08 13:20] #918 closed

[2018-02-08 13:24] #927 closed

[2018-02-08 13:59] surajnarwade commented on #109
/remove-lifecycle stale

[2018-02-08 14:01] surajnarwade commented on #676
/remove-lifecycle rotten

[2018-02-08 14:02] surajnarwade commented on #133
/remove-lifecycle rotten

[2018-02-08 14:02] surajnarwade commented on #675
/remove-lifecycle rotten

[2018-02-08 14:26] surajnarwade commented on #713
/remove-lifecycle rotten

[2018-02-08 15:25] BookOfGreg opened #934 "panic: runtime error: invalid memory address or nil pointer dereference SIGSEGV related to Healthcheck"
Similar to #918 and #892 but slightly different cause.
This one is triggered by the `healthcheck`, this runs if `healthcheck` is removed.
This may have been fixed in #926 but I'm unable to test that yet.
[code]

[code]

[2018-02-08 15:28] BookOfGreg commented on #934
Interestingly if I change the healthcheck to this:
[code]

I get a different error:
[code]

[2018-02-09 02:33] hangyan commented on #934
@BookOfGreg  I will look into this

[2018-02-09 02:50] hangyan commented on #934
@BookOfGreg This is a new issue, I will create a new PR to fix this

[2018-02-09 07:14] hangyan commented on #851
@surajnarwade @cdrage  I thinks the logic should goes to:

1. with ports, create service by default
2. without ports, no service. With labels, create Headless Service

This should cause no confuse any more.

[2018-02-09 11:58] matt-shaw opened #939 "depends_on with conditions"
Hi,

Does kompose support the following contruct?

[code]

[2018-02-09 17:34] ghostsquad opened #941 "Support for multi-port services"
From the documentation it sounds like multi-port services aren't supported?

http://kompose.io/user-guide/#labels

https://kubernetes.io/docs/concepts/services-networking/service/#multi-port-services

This seems like a pretty basic feature, and the simplest example requirement is an http service that allows redirect from port 80 to 443. Any reason why only 1 port is supported, and if there are pla

[2018-02-09 19:06] surajnarwade commented on #939
Hey @matt-shaw , we don't support `depends_on` key yet.
Refer this matrix for more info: http://kompose.io/conversion/

[2018-02-13 14:22] cdrage commented on #441
This is wayyyyy too little of a use-case. I'm going to close this for now.

[2018-02-13 14:22] #441 closed

[2018-02-13 14:23] cdrage commented on #726
/remove-lifecycle stale

[2018-02-13 14:23] cdrage commented on #726
/remove-lifecycle rotten

[2018-02-13 14:23] #809 closed

[2018-02-13 14:27] cdrage commented on #803
/remove-lifecycle rotten

[2018-02-13 14:27] cdrage commented on #781
/remove-lifecycle rotten

[2018-02-13 14:28] cdrage commented on #781
Priorities:

 - [ ] Better documentation on how to write tests
 - [ ] Better documentation on how to actually RUN these tests.

[2018-02-13 14:29] cdrage commented on #851
/remove-lifecycle stale

[2018-02-13 14:30] cdrage commented on #851
@hangyan I agree with all those points. We should implement a label for a headless service rather than relying on "hidden" features such as `restart: no`. Labels such as specifying to use a Job instead..

[2018-02-13 14:30] cdrage commented on #789
/remove-lifecycle rotten

[2018-02-13 14:30] #833 closed

[2018-02-13 14:34] cdrage opened #942 "Coordinated efforts / centralized location for packages."
As per a comment by @kadel here: https://github.com/kubernetes/kompose/issues/822

We've got:

- MacOS  - [Homebrew](https://brew.sh/) ([package exists](http://formulae.brew.sh/formula/kompose) and it looks like updates are somehow automated )
- Windows  - [Chocolatey](https://chocolatey.org/)
- DEB systems (Ubuntu/Debian) - using  [PPA](https://launchpad.net/ubuntu/+ppas)
- RPM systems (Centos/Fe

[2018-02-13 18:53] abitrolly commented on #872
/remove-lifecycle stale

[2018-02-14 03:56] berryp commented on #897
Does this mean we cannot pull from external private registries right now?

[2018-02-14 15:09] Code0x58 commented on #897
You can't pull from an private registry if you would need to authenticate from the node to pull an image.

[2018-02-15 11:59] BenderV opened #944 "Kompose doesn't find dockerfile with context ."
I think I have find two errors:

1 - kompose us searching for context related to directory from where it is run, not from where docker-compose.yml file is located

FATA Error while deploying application: k.Transform failed: Unable to build Docker image for service backend-server: ../server is not a valid path for building image backend-server. Check if this dir exists.: stat ../server: no such fil

[2018-02-15 12:37] abitrolly opened #945 "Add HTTPS support for download URLs"
HTTPS on https://kompose.io/ is broken. Because GitHub doesn't support HTTPS on custom domains - https://stackoverflow.com/questions/42172216/is-it-possible-to-use-https-ssl-on-github-pages-sites-with-a-custom-domain - one of the solutions is to use Netlify - https://www.netlify.com/docs/ssl/

[2018-02-17 15:25] #328 closed

[2018-02-20 07:28] #432 closed

[2018-02-20 16:00] #934 closed

[2018-02-20 16:04] cdrage commented on #944
Hey there! There was some effort pushed towards fixing this for build, but the contributor refused to sign the CLA. I believe the same / similar code could be created for using `context`.

But yes, this is currently a problem.

[2018-02-23 09:35] hangyan opened #947 "Remove RC from supported workload"
Accoding to the documents, (https://kubernetes.io/docs/concepts/workloads/controllers/replicationcontroller/), RC is not recommended any more. Deployment is the replacement

[2018-02-23 15:27] cdrage commented on #855
/remove-lifecycle rotten

[2018-02-23 15:29] #872 closed

[2018-02-23 15:32] #854 closed

[2018-02-24 08:15] hangyan commented on #892
@cdrage should be fixed by #926

[2018-02-26 05:23] geekflyer commented on #911
I'm having the same issue on OSX when trying to push to `gcr.io` using the gcr credential helper.
I'm trying to update my pipeline with
`pc update-pipeline -f pipeline.json --push-images`
and are getting
`error parsing auth: open /Users/geekflyer/.dockercfg: no such file or directory, try running docker login`

my `~/.docker/config.json` looks like this:

[code]

What is the workaround for this? T

[2018-02-26 05:33] geekflyer commented on #911
on a related issue. While digging I found that the podspec pachyderm creates for pipeline workers contains `imagePullPolicy: IfNotPresent` . Wouldn't it be better to simply specify `imagePullPolicy: Always` which would make specifying the `--push-images` flag obsolete?

[2018-02-27 15:07] #886 closed

[2018-03-02 14:06] cdrage commented on #884
/remove-lifecycle stale

[2018-03-06 06:39] wrfly commented on #941
Actually it support multi-port services for me(I'm using the latest version).

You can try to convert one docker-compose file and then close this issue ;)

[2018-03-06 06:53] surajnarwade commented on #696
/remove-lifecycle rotten

[2018-03-06 06:53] surajnarwade commented on #770
/remove-lifecycle rotten

[2018-03-06 06:54] surajnarwade commented on #879
/remove-lifecycle stale

[2018-03-06 06:55] surajnarwade commented on #887
/remove-lifecycle stale

[2018-03-06 06:58] surajnarwade commented on #877
/remove-lifecycle stale

[2018-03-06 06:59] surajnarwade commented on #641
/remove-lifecycle rotten

[2018-03-06 07:06] surajnarwade commented on #274
/remove-lifecycle rotten

[2018-03-06 07:32] surajnarwade commented on #945
Thanks @abitrolly :) for the useful information.
cc: @cdrage

[2018-03-06 07:33] surajnarwade commented on #129
/remove-lifecycle rotten

[2018-03-06 07:33] surajnarwade commented on #219
/remove-lifecycle rotten

[2018-03-06 07:34] surajnarwade commented on #147
/remove-lifecycle rotten

[2018-03-06 07:34] surajnarwade commented on #346
/remove-lifecycle rotten

[2018-03-06 07:36] surajnarwade commented on #175
/remove-lifecycle rotten

[2018-03-06 07:38] surajnarwade commented on #353
/remove-lifecycle rotten

[2018-03-06 07:41] surajnarwade commented on #790
/remove-lifecycle stale

[2018-03-06 07:45] surajnarwade commented on #856
/remove-lifecycle rotten

[2018-03-06 07:45] surajnarwade commented on #624
/remove-lifecycle rotten

[2018-03-06 07:46] surajnarwade commented on #605
/remove-lifecycle rotten

[2018-03-06 07:47] surajnarwade commented on #607
/remove-lifecycle rotten

[2018-03-06 07:48] surajnarwade commented on #572
/remove-lifecycle rotten

[2018-03-06 07:49] surajnarwade commented on #561
/remove-lifecycle rotten

[2018-03-06 07:53] surajnarwade commented on #857
/remove-lifecycle stale

[2018-03-06 09:12] surajnarwade commented on #941
@ghostsquad , as @wrfly mentioned, it does support multi-port services

[2018-03-06 09:18] surajnarwade commented on #851
+1 @hangyan

[2018-03-06 09:21] surajnarwade commented on #823
agreed @abitrolly

[2018-03-06 09:41] surajnarwade commented on #947
+1 @hangyan

[2018-03-06 13:39] #887 closed

[2018-03-06 13:40] #696 closed

[2018-03-06 13:41] cdrage commented on #219
Since there's been no activity since December and this has (mainly) been used as a Docker Compose to Kubernetes / OpenShift tool, I'm going to close this (for now).

[2018-03-06 13:41] #219 closed

[2018-03-06 13:41] cdrage commented on #790
We're using SemaphoreCI / TravisCI and it's working :100: so far, let's close this for now.

[2018-03-06 13:41] #790 closed

[2018-03-06 13:42] #856 closed

[2018-03-06 13:42] #605 closed

[2018-03-06 13:58] #941 closed

[2018-03-06 13:58] #561 closed

[2018-03-06 13:59] #572 closed

[2018-03-06 14:01] cdrage commented on #353
As what @kadel I don't believe it makes sense to add this to Kompose. Since there hasn't been much discussion on this, let's close this issue and re-open if there is some interest.

[2018-03-06 14:01] #353 closed

[2018-03-06 14:02] cdrage commented on #175
I marked the title as [EPIC] but lets keep this issue open. Would massively reduce the size of the binary.

[2018-03-06 14:02] #346 closed

[2018-03-06 14:04] cdrage commented on #147
There hasn't been much discussion on this as well as the fact that users can manually do: `kompose convert --stdout | kubectl apply -f -`

If there is interest in the future, we could add the `kompose replace` command as the equivalent of `kubectl apply`

[2018-03-06 14:04] #147 closed

[2018-03-06 14:05] cpcundill commented on #909
Same problem for me.  The workaround helps @kbroughton but the `docker-compose config` output changes the version from '2' in the original to '2.0' which isn't supported by `kompose`

[2018-03-06 18:12] cdrage commented on #890
/remove-lifecycle stale

[2018-03-07 13:15] marziman opened #952 "Correct DL-link to latest kompose in installation guide"
Hi kompose-Team,

thanks for your efforts. I just figured out that your bintray is not available, but you point your installation guide on it.
Or am I missing something?

BR Mehmet

[2018-03-07 13:44] cdrage commented on #952
Hi @marziman we've been having problems lately with Bintray.

I would suggest installing `kompose` via one of our latest releases or alternatively, you can build it from master.

A fix should go into the `README.md` in the next few days.

Many thanks.

[2018-03-07 20:01] cdrage commented on #952
Hi @marziman I've opened up PR https://github.com/kubernetes/kompose/pull/953 to remove installation instructions. I will be investigating an alternative platform for go-to nightly / master builds.

[2018-03-10 05:44] surajnarwade commented on #865
/remove-lifecycle rotten

[2018-03-10 12:36] #753 closed

[2018-03-12 10:09] VenkateshSrini opened #958 "How do I Specify the instance count via docker -compose file for Kompose"
Hi,
I have a docker compose file as below

`version: '3'
services:
  worker:
    image: dockersamples/examplevotingapp_worker
    networks:
      - frontend
      - backend
    deploy:
      mode: replicated
      replicas: 6`

Will kompose automatically specify as by replica count in deployment yaml file ? If not what is the way to achieve this ?

Thanks

[2018-03-12 10:31] surajnarwade commented on #958
kompose will take replica from docker-compose file, if you still want to override that value. you can mention it using `--replicas` flag

[2018-03-12 20:04] mvreg opened #959 "Kompose fails on version 3 with deploy-resources-limits (panic: runtime error: invalid memory address or nil pointer dereference)"
Using kompose version 1.10.0 (8bb0907) on Ubuntu 16.04 and converting using
[code]

-----

b.yaml:

[code]
---------
I get following error:
[code]
-----

If I comment out deploy section:
[code]
it works OK and creates deployment and service. yaml

To be sure that this is docker-compose.yaml (b.yaml) is valid synthax I also checked with
docker-compose -f b.yaml config
and it works OK (used docker-c

[2018-03-13 08:37] mvreg commented on #959
Narrowd down the problem to the point that when I add services.deploy.resources.reservations it works OK.

[code]

[2018-03-14 02:49] hangyan commented on #959
I will take a look

[2018-03-14 06:29] posix4e commented on #147
How does one do imagePullPolicy?

[2018-03-14 11:54] containscafeine commented on #147
@posix4e AFAIK, you cannot do imagePullPolicy with Kompose. You can either create patch the generate artifacts using `kubectl patch` or define your application using a similar concise application definition format, like [Kedge](http://kedgeproject.org)

[2018-03-15 01:49] malcolmgreaves commented on #959
Can confirm this behavior on `kompose` version 1.10.0. Furthermore, I have found out that *the only way this works* is if (1) both `limits` and `reservations` are defined and (2) both sections have `cpus` and `memory` defined. Any other combination will not work correctly.

Most combinations result in SIGSEV. However, I noticed that if one defines everything _except_ for the `cpus` key for `limits

[2018-03-19 12:54] #959 closed

[2018-03-19 12:55] cdrage commented on #959
Hey @malcolmgreaves Please try out https://github.com/kubernetes/kompose/pull/960 :) I believe we've fixed this.

[2018-03-19 12:55] cdrage commented on #745
/remove-lifecycle rotten

[2018-03-19 15:47] #876 closed

[2018-03-19 15:47] cdrage commented on #109
This has been fixed in https://github.com/kubernetes/kompose/pull/957

[2018-03-19 15:47] #109 closed

[2018-03-20 11:11] abhi-vaidya opened #962 "kompose up is not able to mount configmap volume"
kompose up
←[36mINFO←[0m We are going to create Kubernetes Deployments, Services and PersistentVolumeClaims for your Dockerized application. If you need different kind of resources,
 use the 'kompose convert' and 'kubectl create -f' commands instead.

volumeMounts:
        - name: my-appl-path
          mountPath: /opt/app/properties
      volumes:
        - name: my-appl-path
          configMap:

[2018-03-20 15:38] cdrage commented on #962
Hi, are you able to post your full `docker-compose.yaml` file? @abhi-vaidya so we may test it out / diagnose the issue?

[2018-03-21 05:38] hangyan opened #964 "Support ubuntu's snap package format"
(of course very low priority

[2018-03-22 11:28] VenkateshSrini opened #965 "Create Rolling updates using Kompose tool"
Hi ,
I had deployed a service in Kubernetes using Kompose Up <Dockerfile>. Now my docker image has changed and I want to update the container image in the already deployed Pod. If I perform Kompose up from the same dockerfile will that patch my container  ? If not what should I do to perform the image patching alone.

[2018-03-22 14:28] cdrage commented on #965
@VenkateshSrini Good question.

The answer is using `kubectl apply`.

Using: `kompose convert --stdout | kubectl apply -f -` you can redeploy / apply your docker-compose.yaml file.

Perhaps in the future we should add a `kompose update` command to Kompose.

[2018-03-24 19:53] cocowalla commented on #296
I see this has been marked as stale now. It would be _really_ nice to get this into kompose (along with support for docker 'configs'!), as these are perhaps the trickiest bits to understand and get right for a k8s noob.

Not sure what the etiquette is with the bot and /remove-lifecycle stale - is this mean just for repo owners, or anyone who is interested in the feature?

[2018-03-25 01:10] nh2d opened #966 "Unable to kompose up my django container from windows or azure cloudshell."
[code]

From cookie-cutter django. Did not change much. Just trying to test a deploy here.... I get

From powershell.

When I tried in azure cloudshell I get an error at same point but with different message:

[2018-03-25 02:47] hangyan commented on #296
This is a big feature, i can start working on it !

[2018-03-25 08:27] hangyan commented on #966
I believe kompose have bot been well tested on windows...

[2018-03-25 08:58] hangyan commented on #296
The `file` secret seems pretty straightforward.  The `external` secret  data seems can be retrieved from the docker api ( docker inspect <secret-name>). But seems we don't connect to docker when do `kompose convert`, this is tricky.  I think I can start trying to add the `file` part first.

[2018-03-26 12:48] nathan-K- opened #968 "Merge multiple docker-compose files"
Hey,

First of all, thanks for this great project,
I've run into a very basic issue, when having two docker-compose files, ie:

docker-compose.yml
[code]

docker-compose.prod.yml
[code]

With ```kompose convert -f "docker-compose.yml" -f "docker-compose.prod.yml" ```, there is :
[code]
But nothing about port 5000. (with kompose 1.10.0 (8bb0907), on ubuntu 16.04)

I've seen the PR #312 , but they d

[2018-03-26 13:35] Matthieulvt opened #969 "Cannot kompose up"
Hi, I've been working on some docker project and wanna transform them into a kubernetes cluster.
[code]

The convert went okay but when I try to kompose up, here's what happens:
[code]

Here's my docker-compose file :
[code]

[2018-03-26 13:49] huntal commented on #969
Here's how to recreate the bug :
1) Clone the project here: https://github.com/huntal/iotanode_dockerized
2) `kompose -file docker-compose.yml convert`
3) `kompose up` or kompose -f ... up`

[2018-03-26 13:59] cdrage commented on #969
@huntal https://github.com/huntal/iotanode_dockerized/blob/master/docker-compose.yml#L1 shows "2.3" for version, have you tried setting it as "2" or even "3"?

[2018-03-26 14:10] huntal commented on #969
Yes, I've tried, I know that kompose does not support 2.3 version. Tried in version 2.

[2018-03-27 04:17] hangyan commented on #969
@huntal  Can you try `kompose -f docker-compose.yml up` ?

[2018-03-27 11:02] huntal commented on #969
Here's the output @hangyan
[code]

[2018-03-27 13:07] hangyan commented on #969
@huntal According to the docker-compose doc, https://docs.docker.com/compose/compose-file/#build, you need to specific the `image` key

[2018-03-27 13:14] hangyan commented on #968
@nathan-K- Yeah.. I think the multiple file support is kind of broken for now. We will trying to fix this ASAP. But about merge thing need a little discus.  If docker-compose will merge different files content, may be we should do it too.

[2018-03-28 09:04] huntal commented on #969
@hangyan thanks for this precision, so i modified my docker-compose file like this :
[code]
And when i try again to start `kompose -f docker-compose.yml up`, here's what happening :
[code]
I am login on the right account btw

[2018-03-28 09:11] huntal commented on #969
https://github.com/kubernetes/kompose/issues/911
This may be the issue for that i'm checking and closing this issue if it's the case

[2018-03-28 09:24] huntal commented on #969
So I had some error in my Dockerfile build and fix it to get it correctly working, now i got another error coming from issue 911 so i'm closing this one

[2018-03-28 09:25] hangyan commented on #969
@huntal Ok, we will keep tracking on that one

[2018-03-28 09:30] huntal commented on #911
I'm getting this issue on my project. I'm from Linux and there is my ~./docker/config.json :
[code]
Here's my try to push the image :
[code]

[2018-03-28 09:34] hangyan commented on #911
@huntal seems like not a kompose issue, because docker-compose push is not working too. Maybe wrong dockerhub user namespace. The output shows that you are trying to push to `library`, this is the official image account.. The image format is `<you-user-name>/<image-name>:<tag>` I think.

[2018-03-28 09:51] huntal commented on #911
Yup you were right my bad, just add to change the `image` tag key to your format @hangyan thanks again

[2018-03-28 20:02] jaden-young opened #971 "Minor typos in Makefile"
https://github.com/kubernetes/kompose/blob/39ad6140c33d35954aed38a66155f4ac392ce547/Makefile#L70-L71
Should probably be
[code]
and
https://github.com/kubernetes/kompose/blob/39ad6140c33d35954aed38a66155f4ac392ce547/Makefile#L129
Should probably be
[code]

[2018-03-29 02:44] neeon-li opened #972 "Environment value merge failed with multiple docker-compose files"
This may relate to Issue #968.

Environment value is unable to merge and replaced by the last docker-compose file.
Merge with command `kompose convert -o dev-out.yaml -f base.yaml -f dev.yaml`

base.yaml
[code]

dev.yaml
[code]

But the dev-out.yaml shows
[code]

The environment value of the container is unable to replace by the `dev.yaml`.

[2018-03-29 03:45] hangyan commented on #971
@jaden-young Thanks for point out this ! Would you mind to create a PR to fix this?

[2018-03-29 07:44] nathan-K- commented on #968
Ok, great !
Yep, they did, in my example a ```docker-compose -f "docker-compose.yml" -f "docker-compose.prod.yml" up``` will map ports 3000 and 5000.
It is [here](https://docs.docker.com/compose/reference/overview/#specifying-multiple-compose-files) in the documentation of docker-compose, if it can help.

[2018-03-29 07:55] hangyan commented on #968
@nathan-K- Ok, I will check it out.

[2018-03-30 13:18] #971 closed

[2018-03-30 13:21] hangyan opened #975 "Remove status field in the generated yaml"
status field seems uncommon in the resource yaml(deployment,daemonset....) before apply.

[2018-03-31 04:54] #853 closed

[2018-03-31 04:55] hangyan commented on #853
close by #926

[2018-03-31 04:56] hangyan commented on #235
close by #867

[2018-03-31 04:56] #235 closed

[2018-04-02 13:55] hangyan commented on #892
close by #926

[2018-04-02 13:55] #892 closed

[2018-04-04 23:26] noeljackson commented on #968
For some of our deploy scripts, we're generating combined docker-compose configs for testing. You can simply run this to generate a config to feed to kompose: `docker-compose -f docker-compose.yml -f docker-compose.override.yml config > kompose.yml` and then run: `kompose up -f kompose.yml`

[2018-04-08 09:07] xianlubird opened #982 "Should we provide a go library to support the third-party integration ?"
From the code, we can see that kompose read file from local disk. But In many circumstances , we want a string which contains all compose content as a input.  Thought change code to string is feasible,  we'd better support a library that can use as a library ?

[2018-04-08 09:15] hangyan commented on #982
duplicate with #464. Will close this and disscus there

[2018-04-08 09:15] #982 closed

[2018-04-08 09:46] xianlubird commented on #464
@hangyan 靠你了，哈哈

[2018-04-10 19:40] intellix commented on #914
Does this still apply? The later Compose file format support alsorts of deployment goodies like health checks because of Docker swarm, which probably translate quite well into Kubernetes config files.

3.0: 2017-01-18
3.1: 2017-02-08
3.2: 2017-04-04
3.3: 2017-06-19
3.4: 2017-11-01
3.5: 2017-12-18
3.6: 2018-03-20

[2018-04-11 04:54] yuikns commented on #698
May I know what is the status now?

[2018-04-11 18:46] GregSilverman commented on #656
I too am having the same issue. I do not have any symlinks, either.

[2018-04-13 11:25] #870 closed

[2018-04-16 07:30] foxundermoon opened #986 "FATA services.xxx.ports.0 must be a string or number"
[code]

[2018-04-16 08:45] galvinograd commented on #296
+1

[2018-04-18 20:49] mahmoudimus commented on #914
@cdrage wanted to second @intellix's comment here, it seems that there's going to be a really long wait until we get 4.0. Does it make sense to re-evaluate this stance?

[2018-04-19 13:30] cdrage commented on #914
@intellix is right, however, we'll still always be a couple of versions behind as we implement everything.

The initial push-back that I had was the fact that docker-compose was moving (relatively) fast and it was becoming harder to keep up.

@mahmoudimus however, @hangyan has already began adding support for newer versions, starting with https://github.com/kubernetes/kompose/pull/954 we've enable

[2018-04-22 08:28] hangyan commented on #986
Sorry about the late response, i have checked the source code. Seems like a upstream bug. @cdrage

[2018-04-25 16:27] mahmoudimus commented on #914
@cdrage thanks for the response, I'll try that out. Is there a PR I can submit here to update the documentation to mention this? It was a bit harder to find. Cheers.

[2018-04-27 07:52] xianlubird commented on #914
@mahmoudimus Here https://github.com/kubernetes/kompose/pull/993

[2018-04-30 07:10] dkarlovi commented on #850
/remove-lifecycle stale

[2018-04-30 11:07] fentas commented on #915
Meaning that `configs` is not supported yet? Having the same problem.

[2018-04-30 11:28] fentas commented on #296
/remove-lifecycle stale

[2018-04-30 14:45] cdrage commented on #917
/remove-lifecycle stale

[2018-05-03 05:01] hangyan commented on #972
close by #990

[2018-05-03 05:01] #972 closed

[2018-05-03 05:01] hangyan commented on #968
close by #990

[2018-05-03 05:01] #968 closed

[2018-05-03 13:56] Arnold1 commented on #876
hi, just wondering what is the solution now? can i retry and test it? if so how?

[2018-05-04 08:06] xianlubird commented on #624
This is a libcompose issue, seems have to wait upstream solve

[2018-05-08 13:00] cdrage commented on #876
@hangyan contributed the hostpath volume, so this is solved! :+1:

[2018-05-08 19:07] posix4e opened #1002 "Activate downward api"
Recently we wanted to get access to our namespace as an envvar. K8s can do this via the downward api
https://kubernetes-v1-4.github.io/docs/user-guide/downward-api/
It would be trivial to allow kompose users to activate this metadata as envvar.

[2018-05-09 00:36] hangyan commented on #1002
Do you suggest we add all of these metadata to container env automatically?

[2018-05-09 01:25] hangyan commented on #1002
I have checked the document, the downward api provides a method for users to use the metadata in env, but you need use it explicitly. I don't think it's a good idea to make it default. You can always edit the generated yaml to add these envs

[2018-05-09 01:26] posix4e commented on #1002
Why not have a switch to add it? We try not to edit the y’aml too often?
On Tue, May 8, 2018 at 6:25 PM Hang Yan <notifications@github.com> wrote:

[2018-05-09 01:32] hangyan commented on #1002
That sounds reasonable.  A switch to add about 7 envs. @cdrage  what's your opinion?

[2018-05-09 14:03] #859 closed

[2018-05-09 23:05] ryneeverett commented on #676
/remove-lifecycle stale

[2018-05-11 08:07] xianlubird opened #1003 "Glide update error"
I want to upgrade k8s vendor to a newer version. I change `github.com/openshift/origin` version from `v1.4.0-rc1` to `v3.9.0`, then run `glide update --strip-vendor`. There're many errors message

[code]

So I can't upgrade k8s vendor to a newer version.   I find a issue https://github.com/redhat-developer/odo/issues/377, when I clean all glide cache and vendor folder, it always show above error m

[2018-05-12 05:45] beefee opened #1004 "when to support this parameter build: args?"
build: args not implemented yet.
need to implemented quickly.
![qq20180512-134033](https://user-images.githubusercontent.com/38183891/39954052-a982f946-55ea-11e8-9e0e-f1b267a72d26.jpg)

[2018-05-12 05:46] beefee commented on #1004
this is very import , to auto build with modules and auto deploy on openshift.

[2018-05-13 10:47] xianlubird commented on #1004
We will work on it

[2018-05-13 12:51] xianlubird commented on #1004
@beefee Could you provide a example, the source compose file and the openshift yaml file you want get. So we can implement it better. Thanks.

[2018-05-13 14:34] xianlubird commented on #1002
@posix4e
Could you provide a detail example show that how do you use download api in your environment?
If you provide a example, we can implement it more accurate.  thanks

[2018-05-13 21:53] posix4e commented on #1002
My usecase is knowing what namespace I’m in, in the application. Do you
want me to share some downstream api code? All I’d need is a slightly
different generated manifest
On Sun, May 13, 2018 at 7:34 AM Xianlu Bird <notifications@github.com>
wrote:

[2018-05-14 07:45] hangyan commented on #1002
@posix4e  For now our main focus will still be translating compose yaml to kubernetes yaml, since the downward-api is a kubernetes specific thing, it's a very great idea to add this function to kompose, based on kompose's purpose. But If there are any contributors willing to add support for this ,we are glad to merge it in.

[2018-05-14 08:13] kadel commented on #1003
Vendoring for newer versions of Kubernetes and OpenShift can can a bit tricky :-(

We already hit this problem in Kedge and we had to write special script to handle OpenShift vendoring [vendor-openshift.sh](https://github.com/kedgeproject/kedge/blob/master/scripts/vendor-openshift.sh). See  comments in [glide.yaml](https://github.com/kedgeproject/kedge/blob/master/glide.yaml#L43,L49).

But there i

[2018-05-14 09:54] mariojacobo opened #1005 "Kubernetes multiple volumeMounts with subPath and 1 configmap volume - onle 1 volumeMount works"
Hello,

ISSUE
=====
When a deployment has multiple volumeMounts and only 1 volume (from configMap), only the last volumeMount is actually being mounted in the PODs; the rest do not get mounted; I have 3 volumeMounts with subPath specified to each required file that I want mounted.

STEPS to REPRO
============
1. create configmap: $ kubectl create configmap nginx-config --from-file=nginx.conf --fro

[2018-05-14 09:57] mariojacobo commented on #1005
$ kubectl version
Client Version: version.Info{Major:"1", Minor:"9", GitVersion:"v1.9.1", GitCommit:"3a1c9449a956b6026f075fa3134ff92f7d55f812", GitTreeState:"clean", BuildDate:"2018-01-04T11:52:23Z", GoVersion:"go1.9.2", Compiler:"gc", Platform:"linux/amd64"}

Kubernetes version: 1.9.6

[2018-05-14 15:00] posix4e commented on #1002
Right you need to generate a different kubernetes manifest if you are to
Expose the namespace as an envvar. This does make a huge variety of things
easier though. I might give it a try. Do we do anything like this in
previous patches?
On Mon, May 14, 2018 at 12:45 AM Hang Yan <notifications@github.com> wrote:

[2018-05-14 16:19] cdrage commented on #942
/remove-lifecycle stale

[2018-05-14 16:19] cdrage commented on #789
/remove-lifecycle stale

[2018-05-14 16:20] cdrage commented on #781
/remove-lifecycle stale

[2018-05-16 09:38] Journerist opened #1010 "Missing service metadata.labels mapping"
Hi,

first, I really like the project, thank you very much!

I am not able to map compose values to service's metadata.labels.

example:
[code]

The result is:

[code]

What I need is the following:
[code]
Maybe I missed something but I couldn't find any hint in the conversion matrix. I need to find a way to make Kompose creating the **dns: route53** label.

Any ideas how to achieve this?

[2018-05-16 13:35] hangyan commented on #1010
@Journerist May I ask where is this `dns:route53` come from? Did't find it in the compose file

[2018-05-17 18:33] choig opened #1012 "multiple containers in a pod sharing volume"
When I use `kompose up` or `kompose convert`, I get each service as its own pod with single container.  One functionality I am trying to use in kubernetes is the docker-in-docker (dind) that sits along side my execution agent in the same pod.  I have this working with kubectl create if using the same `emptyDir` to share both workspace and docker.sock for both containers.  I also have this working

[2018-05-18 16:32] kevinlmadison commented on #656
No symlinks in my project, but still getting the same error. Anyone find another solution?

[2018-05-18 17:16] #898 closed

[2018-05-22 19:11] pasikon opened #1013 "'environment' with 'env-file' specified together for service in docker-compose.yml don't work"
In such case key-value pairs in 'environment' sections are omitted.

For example

[code]

`CLUSTER_NAME` won't be set

[2018-05-23 14:13] jicowan opened #1014 "Add support for Docker stack files"
With Docker discontinuing it's support of Docker Cloud, it would be useful to have a tool to convert stack files into k8s manifests.

[2018-05-24 14:37] jessfraz opened #1015 "Create a SECURITY_CONTACTS file."
As per the email sent to kubernetes-dev[1], please create a SECURITY_CONTACTS
file.

The template for the file can be found in the kubernetes-template repository[2].
A description for the file is in the steering-committee docs[3], you might need
to search that page for "Security Contacts".

Please feel free to ping me on the PR when you make it, otherwise I will see when
you close this issue. :)

[2018-05-24 15:20] hangyan commented on #1014
We have some support for the deploy `key` in compose file for now.  Support docker stack file needs some effort ,  we will trying to.

[2018-05-25 23:10] booboothefool opened #1019 "Failing with my Node.js, RabbitMQ app"
The `node` and `rabbitmq` are failing to create working .yaml. For the `node`, it gives me `PersistentVolumeClaim`, but appears to be missing `PersistantVolume`? For the rabbitmq, it gives me a failing pod.

I was expecting to just be able to run `kompose convert` and then just dump the .yaml into the cloud. Please let me know if I am missing steps.

[code]

[2018-05-26 07:42] hangyan commented on #1013
This seems like a bug, I will trying to fix it ASAP.

[2018-05-30 06:09] andreysaksonov opened #1022 "Support specifying nodePort via label"
For NodePort services it is possible to set the port via spec.ports[*].nodePort field. Looks like it is not supported in kompose yet

[2018-06-01 20:09] robinwu0411 opened #1023 "getsockopt: connection refused when executing kompose up"
I have a docker compose script in my project and now i want to deploy it on google cloud kubernetes cluster.
in my local machine i have gcloud sdk and kompose and when i execute "kompose up" I got this error message: Get http://localhost:8080/XXX: dial tcp [::1]:8080: getsockopt: connection refused.
So I'm wondering if something wrong with the kubernetes hosted on gcloud? like do I need to configu

[2018-06-02 08:05] abhi608 commented on #656
Did any of you guys find a solution to this problem?

[2018-06-02 14:12] lmangani commented on #876
@Arnold1 the test [compose file](https://github.com/hangyan/kompose/tree/master/script/test/fixtures/volume-mounts/hostpath) and [command](https://github.com/hangyan/kompose/blob/master/script/test/cmd/tests.sh#L196) in the PR might help

[2018-06-03 03:35] hangyan commented on #1023
@robinwu0411 The `up` command is mainly for local usage. You need to have a local kubernetes running

[2018-06-03 03:36] hangyan commented on #1022
@andreysaksonov We can add another label to support this!

[2018-06-03 03:39] hangyan commented on #1019
@booboothefool PV is a environment specific resource, we cannot generate it from the compose file

[2018-06-04 18:03] cdrage commented on #770
/remove-lifecycle stale

[2018-06-04 18:03] cdrage commented on #879
/close

[2018-06-04 18:03] #879 closed

[2018-06-04 18:04] cdrage commented on #877
/remove-lifecycle stale

[2018-06-04 18:04] cdrage commented on #945
/remove-lifecycle stale

[2018-06-04 18:04] cdrage commented on #857
/close

[2018-06-04 18:04] #857 closed

[2018-06-04 18:07] cdrage commented on #175
/remove-lifecycle stale

[2018-06-04 20:15] Oliboy50 commented on #656
I was trying to do it in a `nuxt` project (javascript project) and got the same error

but after removing the `node_modules` and the `.nuxt` built directories, this worked like a charm

(on Mac OS X 10.11.6)

[2018-06-04 21:59] nrsattele commented on #966
Has any progress been made on this? Getting the same error

[2018-06-06 12:13] #952 closed

[2018-06-06 14:07] mikesimos opened #1035 "Support HorizontalPodAutoscaler via label"
This is a really nice k8s feature. Would supporting it via a `kompose.` label be the way to move forward here?

[2018-06-06 14:09] mikesimos opened #1036 "Support imagePullPolicy via label."
Would `kompose.image-pull-policy` be a good candidate name for this label?

[2018-06-06 14:31] hangyan commented on #897
@ysle In kubernetes, you can create a secret for you private registry and add it to the default  serviceaccount ( in the same namespace). After this ,kubernetes will pull the image for you.

Check the doc: https://kubernetes.io/docs/concepts/configuration/secret/#arranging-for-imagepullsecrets-to-be-automatically-attached

[2018-06-06 22:38] eengelking opened #1038 "Support for converting docker-compose.yml files using YAML Merge Key"
My team often uses YAML merge keys to keep our docker-compose.yml files small and to prevent repetition of tasks within the file.  Support for converting these would be very beneficial.

http://yaml.org/type/merge.html

I'm currently receiving the following errors when attempting to convert the files ATM:

```Service 'portal' configuration key 'logging' contains an invalid type, it should be an ar

[2018-06-08 15:56] #657 closed

[2018-06-08 15:56] cdrage commented on #447
Don't we support this now @hangyan ? I think we do..

[2018-06-10 10:53] hangyan commented on #447
@cdrage No, we haven't...

[2018-06-11 22:27] YlzatFromOxford commented on #966
Same issue.

[2018-06-12 02:09] jvitor83 commented on #1036
The only change i make was the label name, that i use: `kompose.service.image-pull-policy`

[2018-06-12 03:39] DanielRHayes commented on #1019
@booboothefool Is your issue that the `persistent-volume-claim` isn't being generated? I think kompose will only generate a `persistent-volume-claim` if you explicitly set a volume in `docker-compose`.  This generates one for me.

[code]

[code]

[2018-06-13 13:07] mikesimos commented on #1036
Hi @jvitor83 ! Sorry just saw that. I was waiting for some confirmation/ guidelines for this issue from the project maintainers following contributing guidelines [here](https://github.com/kubernetes/kompose/blob/master/CONTRIBUTING.md#contributing-a-patch). I already have some work for own use on this [here](https://github.com/mikesimos/kompose/tree/add-kompose.image-pull-policy) awaiting to be PR

[2018-06-13 13:10] mikesimos commented on #1036
@cdrage @hangyan, I m creating a PR for comments/guidelines? Thanks!

[2018-06-15 12:15] Vibzy19 commented on #464
I would like to work on this @hangyan @containscafeine

[2018-06-15 13:16] cdrage commented on #464
@Vibzy19 Honestly, it's a huge task / epic, but feel free to try :+1: it may take way longer than expected.

[2018-06-15 21:14] Vibzy19 commented on #464
@cdrage Thank you for the heads up :) I have already started working on it, let's see till where can I take this.

[2018-06-17 09:49] abitrolly commented on #823
/remove-lifecycle stale

[2018-06-17 09:52] abitrolly commented on #945
This now can be fixed properly by projects admins https://blog.github.com/2018-05-01-github-pages-custom-domains-https/

[2018-06-18 20:49] jvitor83 commented on #1036
@mikesimos closing my PR since your appear to do the same (only with different label).

[2018-06-28 12:50] BenderV opened #1043 "Unable to push to Google Cloud"
I've tried every way to use Kompose, but I've always the same issue.

docker-compose.yml (with xxx being my google project name)
[code]

[code]

`~/.docker/config.json`
[code]

I tried every type of login but I've always the same error. What is really surprising is that a direct:
`gcloud docker -- push gcr.io/xxx/book-generator:latest` works fine

Can you tell me how can I fix this issue ?

[2018-06-29 12:38] #915 closed

[2018-07-01 12:29] bittner commented on #87
[code]
This may be called "fixed" as for _"will convert docker-compose.yml for me without any warning"_, but it's really a very confusing error message.

Show Case
--------------
I found myself in the situation that the usage is actually not matching the real behavior:
[code]
Alright, the file name after the "convert" command should be fine, shouldn't it? Let's try:
[code]

It's simply not clear f

[2018-07-03 13:12] spawnia opened #1045 "Add official docker image build"
I would like use kompose packaged as a docker image.

https://hub.docker.com/r/femtopixel/kompose/

While this works, it would be nice to either have an official image or at least have this linked in the readme.

[2018-07-04 00:28] hangyan commented on #1045
@spawnia Great idea, we will try to add one ASAP

[2018-07-04 09:52] mixas27 commented on #966
I have the same problem

[2018-07-04 20:44] #656 closed

[2018-07-04 23:11] jardilio opened #1046 "Support for PVC Access Mode ReadWriteMany"
Currently, looks like convert only covers cases for ReadOnly and ReadWriteOnce, but not ReadWriteMany. Use case is when you have more than one service that share a common volume. Ideally it would pick up in docker-compose if volume is linked to multiple services and do the conversion. Alternatively, could use labels to manually map if needed.

[2018-07-08 16:14] #133 closed

[2018-07-08 16:14] #713 closed

[2018-07-09 13:46] Uelb commented on #1043
Have you read this conversation ? https://github.com/kubernetes/kompose/issues/911 it seems like it's the same issue

[2018-07-09 13:48] Uelb opened #1048 "Multiple compose files seems to be broken"
Hi,

I'm trying to convert 2 different compose files :

[code]

And
[code]

I have an error when running :
[code]

It seems like the docker-compose version takes priority and that the docker-compose production yml is not read. When I change the order of the -f options, I have a similar error with the nginx service having no build context.

My kompose version is 1.15.0 (e3cd4d4).
My OS is MAC OS Hi

[2018-07-09 14:04] Uelb commented on #1048
Actually, I just saw this issue : https://github.com/kubernetes/kompose/issues/968

It seems like what I'm looking for is not a supported feature right ? "Multiple docker-compose files" is supported but not by merging them ?

[2018-07-10 02:00] mterron commented on #725
Sorry to resurrect a closed issue but what syntax for 2/3 is supported? There's quite a bit of difference between 2, 2.1, 2.4, etc. I have a 2.4 compose with healthcheck for example, how do I map that?

[2018-07-10 05:07] hangyan commented on #1043
@BenderV Does `docker login` and `docker push` works well?

[2018-07-10 05:10] hangyan commented on #1048
@Uelb  I think PR #990   have fix this, but it seems have some bugs, i will check it again.

[2018-07-10 05:59] #1013 closed

[2018-07-10 07:44] Uelb commented on #1048
Thank you !

[2018-07-10 08:45] suntorytimed opened #1049 "Installation Instructions for openSUSE/SLE"
**Is this a BUG REPORT or FEATURE REQUEST? (choose one):**
This is a formal feature request to follow the CONTRIBUTING.md

The README.md shows several installation methods which include Cent OS, Fedora, macOS, Windows and others. Now there is also a packaged version for openSUSE/SUSE systems available. I have already forked an created a commit ready for a pull request, which adds a link to the off

[2018-07-10 10:56] #447 closed

[2018-07-10 14:40] cdrage commented on #725
@mterron We support all versions now. If you have troubles, you can always upgrade to version 3 and deploy that. Healthcheck works on there! http://kompose.io/conversion/

[2018-07-10 17:04] alxvallejo commented on #656
@Oliboy50 Move where? Why would you move your node_modules dir

[2018-07-10 17:08] mbana opened #1051 "Node Taints: is this supported."
Hello,

I am looking to specify a node taint as per this documentation: https://cloud.google.com/kubernetes-engine/docs/how-to/node-taints.

Is this currently supported? I can't find examples of this. If so, please share a snippet.

Many thanks,

[2018-07-10 17:51] Oliboy50 commented on #656
@alxvallejo I said "remove" not "move", I just had to `rm -rf node_modules` and rebuild the docker image to let docker rebuild the node_modules itself

my issue seemed to be symlinks indeed

[2018-07-12 13:13] mbana opened #1052 "imagePullPolicy: is there way of specifying this"
https://kubernetes.io/docs/concepts/containers/images/#updating-images

Is the above supported, if not, is there a way of attaching arbitrary metadata to a container?

[2018-07-13 04:04] edvorg opened #1053 "Init Containers"
Hi is there a way to specify init containers for pods in docker-compose.yml?
https://kubernetes.io/docs/concepts/workloads/pods/init-containers/

[2018-07-18 08:50] hangyan commented on #1052
@mbana Since compose doest not have this settings, so no for now. We use the default settings for this in kubernetes

[2018-07-18 13:45] cdrage commented on #745
/remove-lifecycle rotten

[2018-07-18 23:44] prachidamle opened #1054 "hostPort in deployment spec: is this supported?"
If I have a port mapping specified in docker-compose.yml file, using the recent Kompose tool release , the generated deployment.yaml does not have the hostPort specified.

Thus if my docker-compose.yml file says:
[code]
Then how can I  specify that the public port "5001" be exposed as a hostPort in my k8s cluster?

If I deploy the generated *service.yaml and *deployment.yaml then my deployment doe

[2018-07-19 14:08] BenderV commented on #1043
@hangyan yes, docker login and docker push works well.

[2018-07-24 22:55] lostcitizen commented on #1043
Similar thing happened to me.
I'm able to push with docker
`docker push eu.gcr.io/skyfolk-211121/web`
but from "kompose up" just hangs on "INFO Attempting authentication credentials 'gcr.io "

[2018-07-26 07:44] vikasgubbi commented on #909
If the environment variable file need to be placed in the application config location , what needs  to be done

[2018-07-26 07:49] vikasgubbi commented on #909
Correction

If the environment variable file need to be placed in the **custom** application config location , what needs to be done

[2018-07-26 08:37] vikasgubbi commented on #876
@Arnold1 did you able to run successfully

[2018-07-26 12:00] fentas opened #1056 "read input from stdin does not work"
Simple `docker-compose.yaml`
[code]

`kompose convert --stdout -f docker-compose.yaml` works with no problems but
[code]
don't.

[code]

[2018-07-27 14:06] #914 closed

[2018-07-29 20:50] florianrusch opened #1057 "kompose webside is outdated"
On the startpage of the kompose website (http://kompose.io/) is still the install instruction for the version `1.13.0`. And maybe it's time to upgrade to https. 😉

![image](https://user-images.githubusercontent.com/1724759/43370571-80a61f60-9381-11e8-813a-9fe0abdf0d74.png)

[2018-07-30 20:58] emmasteimann commented on #927
This is still not working for me. I'm using compose v3. Same error.

[2018-07-30 21:39] emmasteimann commented on #927
Does it have something to do with the only modify storage size if `.Vfrom` source is blank?

https://github.com/kubernetes/kompose/blob/0c01309fe899c587e8cb02e9c31196ee66ab5093/pkg/transformer/kubernetes/kubernetes.go#L494

[2018-07-31 12:12] Vad1mo commented on #917
/remove-lifecycle stale

[2018-07-31 12:14] Vad1mo commented on #917
[code]
they backported it now to 2.x

[2018-08-01 02:21] jvitor83 opened #1058 "Convert version 3.5 of Docker Compose is not supported"
I have the following `docker-compose.yml`:
[code]
Executing `docker-compose up` i can up my service using the [network `name` feature introduced at version 3.5](https://docs.docker.com/compose/compose-file/compose-versioning/#version-35)

My idea is to use `kompose convert -f docker-compose.yml` and allow to generate the k8s ignoring the networks as it already does (not supported - and it is what

[2018-08-01 09:46] hangyan commented on #1057
@cdrage Isn't this auto-updated?

[2018-08-01 09:55] mbana opened #1059 "ignore Docker Compose in conversion"
Hi All,

Is there a way of ignoring a service when doing the conversion?

Thanks a lot,

[2018-08-01 10:07] hangyan commented on #1058
@jvitor83 We not still working on support the miner versions of compose. After the full research about what added in version 3.4 and 3.5, we will add support for 3.5

[2018-08-01 19:04] cdrage commented on #1057
@hangyan Looks like someone put a protective status on the `gh-pages` branch (or it could of been done automatically recently).

Here was the latest error:
[code]

I'm going to remove the protected branch status and then force a re-run of docs update.

[2018-08-01 19:09] cdrage commented on #850
/remove-lifecycle stale

[2018-08-01 19:26] cdrage commented on #1057
There we go! It's been updated, see: http://kompose.io/installation/

Closin'

[2018-08-01 19:26] #1057 closed

[2018-08-02 04:01] suntorytimed commented on #1049
Thanks for merging my changes

[2018-08-02 04:01] #1049 closed

[2018-08-03 11:22] #851 closed

[2018-08-03 20:31] #890 closed

[2018-08-07 12:13] ChandTurakhia commented on #611
Reason: cannot trigger a deployment for "dbtest-220" because it contains unresolved images

This is error I get. Is this related.

[2018-08-07 12:34] hangyan commented on #1059
@mbana Why don't just ignore the yaml generated from this service?

[2018-08-08 22:03] mterron opened #1060 "Convert mounted directories into configmaps"
When a docker-compose file has a volume pointing to a local directory, Kompose should convert the content of the directory into a configmap and attach the configmap into the pod at the right path as per the volume definition.

Example docker-compose.yml
[code]
Content of *./tls*:
[code]

Configmap to be created should have 3 keys, ca.pem, web.pem and web.key with values as the content of those fil

[2018-08-09 12:44] #958 closed

[2018-08-11 13:02] rcmorano opened #1062 "dots get propagated into invalid names"
Aloha,

I've been converting some compose files to Helm charts (concretely [DAppNode's project](https://github.com/dappnode/DNP_VPN/blob/master/docker-compose-vpn.yml) ones) and ran into the same problem exposed in #420.
In fact it's [the last comment from @xiaoping378 in this issue.](https://github.com/kubernetes/kompose/issues/420#issuecomment-319583013)

I've created #1063  PR following the gui

[2018-08-13 15:20] lakshmanvvs opened #1064 "kompose up - unmarshal errors when using docker compose version '3'"
Using docker compose version 3, `kompose convert` creates deployment/service files, when using `kompose up`, I get
 `ERRO Could not parse config for project kubecompose : yaml: unmarshal errors:
  line 1: cannot unmarshal !!str `extensi...` into config.RawService
  line 2: cannot unmarshal !!str `Deployment` into config.RawService`

`kompose version
1.16.0 (0c01309)`

Using Docker for Mac - OS - H

[2018-08-14 17:42] jessfraz commented on #1015
closing as this was done :) thanks

[2018-08-14 17:42] #1015 closed

[2018-08-15 03:49] hangyan commented on #1064
@lakshmanvvs Would you mind to paste a sample compose file that can reproduce these errors?

[2018-08-15 03:52] hangyan commented on #1060
@cdrage This is a good solution. What's your opnion?

[2018-08-16 11:01] Sridharc20 commented on #969
Hi , i'm facing this issue today. Does fix applied to the latest release?

Thanks,

[2018-08-16 18:36] lakshmanvvs commented on #1064
@hangyan
Sure
[code]

[2018-08-16 19:08] lakshmanvvs commented on #1064
@hangyan
Apologies. Looks like it does convert the file into deployment and service yaml files.
I wonder why I got the above `unmarshal` errors.

[2018-08-17 08:16] hangyan commented on #1064
@lakshmanvvs NP. Close this for now. Will reopen if it occurs to you agagin.

[2018-08-17 08:16] #1064 closed

[2018-08-20 13:01] slehan opened #1065 "Deploy to OSE with Self Signed Certificate"
Hi all,

We are trying to use Kompose to deploy to OpenShift Enterprise. Our OSE has self-signed certificates which Kompose doesn't seem to have an elegant solution to verifying. Here is an example:

[code]

Is there anyway to get Kompose to skip verifying the certificate?

[2018-08-20 13:17] hangyan commented on #1053
@edvorg Since docker compose does not have this feature, our main focus for now is still on docker-compose spec.

[2018-08-20 13:19] hangyan commented on #1035
@mikesimos This is not easy, mostly a label only contains a simple string, but HPA have much more information

[2018-08-27 09:45] YoussefEssa commented on #969
Me too guys, I Faced this issue today. Any updates?

[2018-08-27 14:48] skamansam commented on #656
Can anyone tell me WHY this is _still_ an issue? I am getting the following, slightly-more-helpful-but-not-really kind of error:
[code]

[2018-08-29 05:27] edvorg commented on #1053
Understood! Shall we close the ticket?

[2018-08-29 07:06] hangyan commented on #1053
@edvorg Close it now

[2018-08-29 20:45] jvitor83 opened #1066 "Proposal: Use the docker-compose network as kubernetes namespace"
In docker-compose 3.5, we can give the network a specific name. https://docs.docker.com/compose/compose-file/compose-versioning/#version-35

Consider the following docker-compose:
[code]

Using the `docker-compose up` a network is created with the name `helloword-ns`, with that, i can create another compose that use the same network to allow connect to that service.

I believe this behaviour is th

[2018-08-29 20:47] jvitor83 commented on #1066
Is somewhat related to https://github.com/kubernetes/kompose/issues/1058

[2018-08-30 17:02] #884 closed

[2018-08-30 18:39] mattlandis commented on #175
Hi, I am curious as to the progress here.  While debugging an [issue](https://github.com/kubernetes-sigs/aws-iam-authenticator/issues/137) with someone trying to use kompose on EKS getting prompted for username and password I found the version of client-go vendored here is out of date and does not include the new exec based authentication type.

Does it make sense to open a new issue for just for

[2018-08-31 11:43] sinamiandashti commented on #969
same here please help

[2018-09-02 18:54] AtalayBaysal opened #1067 "Command converted to Args"
I do have up and running docker-compose file. When i convert it this command line in docker-compose.yml

`
        command:
            gunicorn myapp.wsgi:application --workers 1 --bind 0.0.0.0:800
`

convert as args inside of generated deployment file

`
      - args:
        - gunicorn
        - myapp.wsgi:application
        - --workers
        - "1"
        - --bind
        - 0.0.0.0:8000
`

[2018-09-03 08:46] YoussefEssa commented on #1065
same here, any update?

[2018-09-03 20:48] keroloswilliam commented on #1043
had the same problem after running manually  `docker push` and then tried `kompose up`  again it worked for me

[2018-09-04 13:06] marcelofrau commented on #969
Putting "image: image-name"on the service to build solves this problem, but I have encountered other problem...

`
template-nodejs-backend:
    image: 'template-nodejs-backend'
    build:
        context: '.'
        dockerfile: Dockerfile
    ports:
      - "8001:8000"
    networks:
      - nodejs-backend-network
    environment:
      MYSQL_HOST: "mysql"
      GET_HOSTS_FROM: dns
    depends_on:

[2018-09-05 06:57] YoussefEssa commented on #969
The below command works with me
`kompose up --provider=openshift --build="build-config" -v --file docker-compose-CeleryExecutor.yml`
and this error appeared
`FATA Error while deploying application: Get https://openshift-.com:443/api: x509: certificate signed by unknown authority`

[2018-09-05 09:35] iancrowther commented on #1043
im also able to ``docker login``` and ```docker push```.

[code]

[2018-09-06 23:50] segrax commented on #966
Hardcoded path to /tmp is probably the cause

https://github.com/kubernetes/kompose/blob/5633b7bff587c7ff11434470fabd3d19cd1840f6/pkg/utils/docker/build.go#L46

[2018-09-10 03:07] eengelking commented on #1038
/remove-lifecycle stale

[2018-09-10 14:43] cdrage commented on #175
@mattlandis

To be honest, we don't have much development time to implement client-go (it's a huge task that involves refactoring a ton of code / libraries). However, we are more than open to PR's. We will most likely re-visit `client-go` in the future.

[2018-09-11 22:25] spiffxp opened #1069 "Use tide for PR merging"
This is a [core repository](https://github.com/kubernetes/community/blob/master/github-management/kubernetes-repositories.md#core-repositories).  As such, it [needs to use the same merge automation as the rest of the project](https://github.com/kubernetes/community/blob/master/github-management/kubernetes-repositories.md#rules-1)

I have a PR open that will address this at an org-wide level: https

[2018-09-14 05:47] dkarlovi opened #1070 "Duplicate container ports if different host ports point to same container port"
If you have something like this:

[code]

you end up with this:

[code]

which creates problems with usage on K8s.

[2018-09-14 06:28] dkarlovi opened #1071 "Labels not converted to annotations in ingress"
If you have something like:

[code]

the annotations related to the ingress controller are not present in the `Ingress` object (they're there in `Service` and `Deployment`).

[2018-09-14 20:04] jankal commented on #897
/reopen
This is important for deploying docker-compose files to a kubernetes cluster.

[2018-09-14 20:05] jankal commented on #897
@Code0x58 anything new on this?

[2018-09-15 14:55] Code0x58 commented on #897
I haven't kept up with the development of Kompose for months, but as I left it [hangyan's comment](https://github.com/kubernetes/kompose/issues/897#issuecomment-395089750) was the best existing solution, but a Kompose fix would have been easy by doing something like #896 to add another [label](https://github.com/kubernetes/kompose/blob/master/docs/user-guide.md#labels) to provide `ImagePullSecret`

[2018-09-17 17:11] #1069 closed

[2018-09-20 10:14] jjankar opened #1072 "Unable to load yaml/json file"
Output of Terminal:
$ kompose convert -f docker-compose.yml
FATA Unable to load yaml/json file for version parsing: yaml: line 26: found unexpected end of stream
janis@jk:~$ cat docker-compose.yml
version: '2'
services:
  postgres:
    container_name: clair_postgres
    image: postgres:latest
    restart: unless-stopped
    environment:
      POSTGRES_PASSWORD: password

  clair:
    container_nam

[2018-09-22 16:18] leberknecht commented on #1060
That would be great! E.g. i use to mount config files for nginx like
[code]
At the moment, `kompose` "only" detects that there is a mount and creates a `PersistentVolumeClaim`

[2018-09-26 05:35] korentsov commented on #1012
I've also faced with this issue, I need to use gcePersistentDisk as ReadWriteMany in multiple containers, which is possible only with multi-container pod.

I agree with choig, would be good to have:

+ use a specific label that can group services/containers together into a pod
+ and also iterate over the volume mounts that share the same location to be combined together when --volumes emptyDir is

[2018-09-26 09:33] vdemeester commented on #1072
@jjankar pretty sure there is a `"` missing here `- "6061:6061`. Not sure why `docker-compose` would work though…

[2018-09-27 06:47] jjankar commented on #1072
@vdemeester  sorry and thank you :)

[2018-09-28 12:20] #1062 closed

[2018-10-01 10:05] #624 closed

[2018-10-01 14:58] cdrage commented on #1060
@hangyan Yeah, I agree with this solution, it makes a lot of sence (as long as people don't link to large binaries!)

[2018-10-01 14:59] #945 closed

[2018-10-01 15:02] cdrage commented on #296
/remove-lifecycle stale

[2018-10-01 15:02] #770 closed

[2018-10-02 01:54] treksler commented on #1071
you can try https://github.com/treksler/kompose

[2018-10-02 02:33] #1056 closed

[2018-10-02 05:41] abitrolly commented on #823
/remove-lifecycle stale

https://hacktoberfest.digitalocean.com/ anyone?

[2018-10-02 05:42] abitrolly commented on #945
Now there could be a redirection from http://kompose.io/ to https version.

[2018-10-02 16:42] spawnia commented on #1045
/remove-lifecycle stale

I still think this is relevant, but do not feel qualified to provide such an image. I do not know the build process well enough.

[2018-10-03 18:20] ttelfer commented on #1043
I am running into a similar issue but with Azure Container Registry. Both docker login and docker push work fine. Is it possible that its look for the .docker/config.json folder in the current directory rather than in the home directory ~/.docker/config.json?

[2018-10-06 21:14] #675 closed

[2018-10-07 00:17] #676 closed

[2018-10-10 22:39] Bulletninja commented on #656
I don't even use node (i'm using django rest framework) and have the same error.

[2018-10-11 15:31] Doqnach commented on #1058
any ETA on this? would love to convert a 3.5+ compose file.

[2018-10-11 17:08] #1002 closed

[2018-10-11 18:09] #942 closed

[2018-10-11 18:09] #781 closed

[2018-10-11 18:09] #789 closed

[2018-10-11 18:09] #726 closed

[2018-10-14 03:05] #1010 closed

[2018-10-16 13:09] surajssd commented on #464
/remove-lifecycle stale

[2018-10-21 03:04] djmccormick commented on #1043
I tried this on macOS High Sierra and Ubuntu with the same results:

	djmccormick at droplet in ~/Projects/foo on k8s
	± kompose up
	INFO Build key detected. Attempting to build and push image 'gcr.io/arscreening-foo/bar'
	INFO Building image 'gcr.io/arscreening-foo/bar' from directory 'foo'
	INFO Image 'gcr.io/arscreening-foo/bar' from directory 'foo' built successfully
	INFO Pushing image 'arscr

[2018-10-21 03:05] djmccormick commented on #1043
I tried this on macOS High Sierra and Ubuntu with the same results:

	djmccormick at droplet in ~/Projects/foo on k8s
	± kompose up
	INFO Build key detected. Attempting to build and push image 'gcr.io/arscreening-foo/bar'
	INFO Building image 'gcr.io/arscreening-foo/bar' from directory 'foo'
	INFO Image 'gcr.io/arscreening-foo/bar' from directory 'foo' built successfully
	INFO Pushing image 'arscr

[2018-10-21 03:15] djmccormick commented on #1043
I tried this on macOS High Sierra and Ubuntu with the same results:

	djmccormick at droplet in ~/Projects/foo on k8s
	± kompose up
	INFO Build key detected. Attempting to build and push image 'gcr.io/baz-foo/bar'
	INFO Building image 'gcr.io/baz-foo/bar' from directory 'foo'
	INFO Image 'gcr.io/baz-foo/bar' from directory 'foo' built successfully
	INFO Pushing image 'baz-foo/bar:latest' to regist

[2018-10-23 15:29] Arnold1 commented on #876
have not tested yet, how to test it with latest code?

[2018-10-25 13:19] tuyenpm9 commented on #855
/reopen

[2018-10-25 19:00] BRMC888 commented on #966
Still getting this issue on windows version `1.16.0 (0c01309)`

    FATA Error while deploying application: k.Transform failed: Unable to build Docker image for service admin-mongo: open \tmp\kompose-image-build-354181415: The system cannot find the path specified.

[2018-10-26 06:51] #1012 closed

[2018-10-29 13:12] Vad1mo commented on #917
/remove-lifecycle stale

[2018-10-31 05:48] #1022 closed

[2018-11-11 16:31] fentas commented on #986
/reopen

[2018-11-12 13:20] PeterBocan commented on #911
This is still not working properly. I have no idea what's the problem (permissions? corrupted cache?)

[code]

[2018-11-13 15:32] cdrage commented on #986
Do you still get this issue @fentas ?

[2018-11-15 22:58] #1036 closed

[2018-11-17 17:59] bnoeson opened #1081 "Environment variables of multiple docker-compose are not merged"
Hi,

I have 2 docker-compose files, where I put different environment variables. When I make a `kompose -f file1 -f file2 convert`, the variables are not merged, it just takes the environment variables of file2.

I have found some issues talking about that, but it seems that it is not yet fixed in 1.17.0.

Reproduction steps :

docker-compose.yml
[code]
docker-compose.prod.yml
[code]

`kompose -f

[2018-11-18 11:11] selfup opened #1082 "kompose up fails to parse yml that kompose convert generated"
### OS

Ubuntu 18.04.1 LTS

### Kompose version

1.17.0 (a74acad)

### Stacktrace

[code]

Why ERRO is not ERROR or FATA not FATAL I have no idea :joy:

### Kompose file

This is just one of the two files, the other one is the same other than the name of the container

[code]

### Script

[code]

### Docker Compose File

[code]

### Repo(s)

GitHub remote origin: https://github.com/selfup/smache
G

[2018-11-19 14:40] ruddra commented on #911
/remove-lifecycle rotten

[2018-11-19 14:47] PeterBocan commented on #855
/remove-lifecycle rotten

[2018-11-21 16:54] selfup commented on #1082
Looks like `kompose up` works fine without file args

Good thing I have all of it in a dir :joy:

[2018-11-21 16:54] #1082 closed

[2018-11-23 17:18] #745 closed

[2018-11-23 19:19] krainboltgreene commented on #1058
We're up to 3.7 now. Any way I can help?

[2018-11-24 19:12] ismailyenigul opened #1085 "openshift route with edge termination"
I am creating route for openshift 3.7 in docker-compose with the  kompose.service.expose label.

But this label creates HTTP route not HTTPS.
Is there any way to create route with Termination Type: Edge
I also added kompose.service.expose.tls-secret but It did not help.

Example yaml file was created by kompose

[code]
Thanks

[2018-11-27 11:11] shikharka commented on #1058
Hello, tried the latest released but got 'FATA Version 3.7 of Docker Compose is not supported. Please use version 1, 2 or 3' for version: 3.7

[2018-11-27 14:23] krainboltgreene commented on #1058
That's what I meant.

On Tue, Nov 27, 2018, 3:11 AM shikharka <notifications@github.com wrote:

[2018-12-03 07:12] eic-aibee commented on #911
"base64encoded credentials" can be generated by
echo -n "username:password" | base64
-n used to omit '\n' which added by echo

[2018-12-05 14:01] Vad1mo opened #1086 "Compose-on-kubernetes and kompose"
Docker just announced to open source their compose to kubernetes tool.

https://github.com/docker/compose-on-kubernetes

my question is, how does this announcement impact this project and it future and maybe it position?

[2018-12-05 14:08] cdrage commented on #1086
@Vad1mo

No impact on future plans, we will continue to improve and release new Kompose versions.

Due to slow-down in activity with Docker Compose, Kompose isn't as popular as it used to be during Docker Compose's hype, however, that won't impact the projects position.

Kompose has done it's job for creating an excellent tool for Docker Compose to Kubernetes conversion during the great transition

[2018-12-05 22:31] Vad1mo commented on #1086
Adding the information you posted to the README would be great for others to relate.

[2018-12-06 13:34] ArtemAlagizov commented on #1052
would be noice to have

[2018-12-07 09:20] #1048 closed

[2018-12-12 21:19] oneguynick commented on #656
Had a similar issue and it was due to a .gitignore including .venv, but somehow the .venv still hanging out. Deleting it from the top level directory fixed it.

[2018-12-14 08:36] dkarlovi commented on #1070
/remove-lifecycle stale

[2018-12-17 02:27] skofgar opened #1088 "How do I use a service account?"
I have a service account that I would like to use. I am able to use the service account's secret to connect to the cluster but when I use `kompose up` it publishes it under the default service account.

I need it to use the service account I added, because that one also has the docker credentials for a private container repo.

Alternatively I found out that I can have kompose create the kubernetes

[2018-12-18 14:57] jvitor83 commented on #1066
/remove-lifecycle stale

[2018-12-19 08:50] juanjomarcal commented on #656
Same for me on a Ruby on Rails project.

[2018-12-24 18:35] willseward opened #1089 "HostPath volumes incorrectly concatenate paths"
When using `--volumes hostPath`, the path of the volume (at least on macOS) incorrectly concatenates the full path of the docker-compose.yml file to the full path of the host mount:

Current:
[code]

Expected:
[code]

See: https://github.com/kubernetes/kompose/pull/957/

[2018-12-30 15:45] cocowalla commented on #296
/remove-lifecycle stale

[2019-01-02 17:18] skofgar commented on #1088
I'm using the following workaround:

[code]

also: Happy New Year

[2019-01-05 13:46] #1052 closed

[2019-01-06 19:51] mterron commented on #1060
Any progress?

[2019-01-08 20:37] mterron commented on #1060
/remove-lifecycle stale

[2019-01-10 21:46] alanbly commented on #911
So I'd like to add a bit to what everyone else has said. The message `WARN Unable to retrieve .docker/config.json authentication details` seems to be caused by there being ANY empty `auth` objects in the `~/.docker/config.json` file. `docker login` in many cases seems to create empty `auth` blocks so doing as the warning tells you can actually make this problem happen. Now if you, like me, do not

[2019-01-11 03:57] #1054 closed

[2019-01-11 04:44] wuestkamp commented on #1043
So I solved this on OSX by disabling the keychain password storge:

1. `rm ~/.docker/config.json`
2. in Docker for Mac preferences, untick "Securely store Docker logins in macOS keychain"
3. restart Docker for Mac
4. `docker login`

Or for glcoud and pushing to gcr:
`gcloud auth print-access-token | docker login -u oauth2accesstoken --password-stdin https://eu.gcr.io`

now your `~/.docker/config.j

[2019-01-11 04:46] wuestkamp commented on #911
So I solved this on OSX by disabling the keychain password storage:

1. `rm ~/.docker/config.json`
2. in Docker for Mac preferences, untick "Securely store Docker logins in macOS keychain"
3. restart Docker for Mac
4. `docker login`

Or for glcoud and pushing to gcr:
`gcloud auth print-access-token | docker login -u oauth2accesstoken --password-stdin https://eu.gcr.io`

now your `~/.docker/config.

[2019-01-12 02:11] wuestkamp opened #1093 "k.Transform failed archive/tar: write too long"
When running `kompose up -vvv` I'm getting:

[code]

I can push manually though without issues using `docker push eu.gcr.io/project/php:latest`

Why is this a problem here?
What is tarball used for?
Can I disable tarballing?

I saw #656 but is closed so wanted to open a new one. I'm having a Symfony project and removed already the vendor folder, no change.

Thanks,
Kim

[2019-01-12 02:44] wuestkamp commented on #1093
So this only happens if I do this in my `docker-compose.yml`:

[code]

if I leave it like this no error:

[code]

But I need to use the context setting because I want to copy files in my `Dockerfile`:

[code]

Anyone got an idea?

[2019-01-12 05:06] wuestkamp commented on #1093
Ok, this was because there were still deeply hidden symlinks in the context folder. So symlinks was the issue :)

[2019-01-12 05:06] #1093 closed

[2019-01-15 08:59] ChenTanyi opened #1094 "Volumes path with underline was converted into dash"
When I convert a docker-compose.yml file, the volumes path with underline will change into dash.

Simple example:
[code]
It will be converted into
[code]
All ```hello_world``` were converted into ```hello-world```

kompose verion: 1.17.0 (HEAD), go get from master currently (1-15, 2019)
os: mac os 10.13.4

[2019-01-18 09:50] stevefan1999-personal opened #1095 "'expose' is not converted"
Using this `docker-compose.yml` for example:
[code]
Does not generate
[code]
However, if I change `expose` to `ports`, it does, but it is contradictory to the conversion matrix.

[2019-01-24 17:57] andrevtg opened #1096 "volumeMounts and subPath - how to convert named volumes"
Most charts define a "subPath" for each volumeMount - I believe this is the current workaround for the "lost+found" issue when a non-initialized volume is expected on the first run.

Is there a way to kompose generate YAMLs (and charts) with a subPath for each volumeMount? This is a must have, AFAIK...

[2019-01-24 21:16] ashishbista commented on #1089
This issue is happening on Linux as well.

[2019-01-25 21:43] DevasiaThomas opened #1097 "Issues with volume mounts in docker-compose.yml"
I have the following in my compose yml
[code]
When I try to convert it says "volume mount on the host is not supported".  But I thought it was supported through host paths. I read in some issue here that host path support was added. Am I doing something wrong here? I'm fine with editing generated files but I'm just dipping into k8s so I don't know what to edit in the generated files.

[2019-01-30 00:30] neerolyte opened #1098 "Names based on the helm chart name"
Most Helm charts seem to reference the `.Chart.Name` (often indirectly via a function in `_helpers.tpl`) in all the objects, allowing for the same chart to be installed multiple times in a single Kubernetes namespaces.

I can't see any option to inject something in the names of the objects generated by `kompose convert --chart  ...`, it would be great to have some trivial way of doing as it seems

[2019-01-30 16:20] TonyApuzzo commented on #909
/reopen

[2019-01-30 19:54] cdrage commented on #1098
@neerolyte Unfortunately we haven't done any development to Helm support since it's been implemented. If you are able to open a PR to improve it that'd be amazing!

[2019-01-30 22:24] cdrage commented on #1045
@spawnia if you'd like to take this up that'd be great. Simply throw a Dockerfile in the root directory of https://github.com/kubernetes/kompose that's compatible and we'll create the docker username / repo.

[2019-01-30 23:32] neerolyte commented on #1098
At the moment I'm just attempting to internally PoC some infrastructure as code options for at work.

If we end up deciding the "docker-compose for local dev -> kompose -> helm -> K8s production" approach is the right solution in the long run, I'll definitely consider working on some PRs, but for now it's not realistic.

[2019-01-31 07:10] spawnia commented on #1045
@cdrage how would i go about getting the binary into the image? Should i rebuild it with docker, or download the prebuilt one?

[2019-01-31 10:52] #1065 closed

[2019-01-31 14:31] cdrage commented on #1045
@spawnia You can parse https://github.com/kubernetes/kompose/blob/master/build/VERSION within the Dockerfile and have it essentially download / update each time we do a release.

So perhaps a "debian / alpine" Dockerfile with the binary in it that'd youd get with curl?

[2019-01-31 18:41] DevasiaThomas commented on #1097
@cdrage Sorry about the delay on my side as well, I'm moving offices right now..
Below are the logs for Kubernetes conversion followed by Openshift Conversion
[code]

[code]

[2019-01-31 18:44] DevasiaThomas commented on #1097
I checked the claim files.. But they don't point to a host path as well.

[2019-02-04 10:44] tal47 opened #1102 "kompose up returning ErrImagePull while pulling from a private repo"
Hi all,
I have created (and pushed) a private docker hub repo, and created a secret using:

[code]

Now, I have created a docker-compose.yml file:

[code]

While running ```kompose up``` I'm getting the desired ```Your application has been deployed to Kubernetes. ```
But when describing the pods, I am getting:

![screenshot from 2019-02-04 12-35-32](https://user-images.githubusercontent.com/168763

[2019-02-04 14:52] tal47 commented on #1102
OK can be closed, I have created a secret according to the [documentation](https://index.docker.io/v1/) and it all went well :)

[2019-02-04 14:52] #1102 closed

[2019-02-07 05:34] #1038 closed

[2019-02-07 11:40] avikjis27 opened #1104 "error decoding 'Ports': No port specified: ::<empty>"
I am trying to convert (`kompose convert`) below docker compose file. Ihave tested the compose file is working fine with `docker-compose run iss-rabbit-mq`.
[code]
Getting below error:
[code]
The .env file is given below
[code]

[2019-02-07 16:07] rqc opened #1105 "Support kompose up build with no push"
Hi,

I am trying out `kompose up` to run some containers in a `docker-compose.yml` file. One of them needs to be built locally. From the docs, it seems that the build support also pushes the image to a remote registry. How can I disable the `docker push` if I am just interested in building the image and running the containers locally?

Thanks!

[2019-02-07 16:45] #175 closed

[2019-02-10 08:19] hangyan commented on #1105
@rqc what's your image name format ? @cdrage Seems we can check on the image name format to detected push or not

[2019-02-11 18:07] rqc commented on #1105
@hangyan thanks for responding.

I have the following in my `docker-compose.yml` file:

[code]

I am just interested in having `myapp:dev` be picked up by `kompose` as expected during a `kubectl create` or `kubectl run`, etc. My local workflow is to build the image in the `minikube` `docker` environment, `kubectl` seems to look for the image in the current environment before looking in `Docker Hub

[2019-02-14 11:39] mikegerber opened #1106 "kompose fails to convert cpu resources from a second (override) docker-compose yaml file"
I am using a second Compose YAML to override e.g. the `image` in `docker-compose.yml`. This works as intended, however, kompose fails to include cpu resources I specify in the second YAML:

[code]
If I merge the two YAML files manually, kompose includes the cpu resources:

[code]

[YAML files (.zip)](https://github.com/kubernetes/kompose/files/2864795/yamls.zip)

[2019-02-14 11:46] mikegerber commented on #1106
To reproduce, use the YAMLs in the .zip, and also create and empty `docker.env`:
[code]

[2019-02-14 11:47] mikegerber commented on #1106
[code]

[2019-02-14 11:57] mikegerber commented on #1106
Also fails with current HEAD:
[code]

[2019-02-17 23:44] usgmgratiphied commented on #1105
We are also running into this.  docker-compose build doesn't do a push; that is a separate command (docker-compose push).

[2019-02-19 06:43] RyanSiu1995 opened #1107 "Placement tag inside deploy"
I have a compose script with the following setting:
[code]
kompose cannot parse the != properly with the following error.
[code]

[2019-02-24 08:47] #1072 closed

[2019-02-25 16:31] mikegerber commented on #1071
I have the same issue.

[2019-02-25 17:43] Doqnach commented on #1058
/remove-lifecycle stale

[2019-03-02 23:27] ZedYeung commented on #1089
The problem is that in v3, we use the "long syntax" for volumes in terms of parsing.
So the path is already an absolute path. We don't need to join it with dir.

Quick fix -- use v2
Alternatively, get the docker-compose file version and use switch case.
See: #1109

[2019-03-03 18:24] ZedYeung commented on #1097
`kompose up docker-compose.yml --volumes hostPath`
Correct?

[2019-03-03 18:47] DevasiaThomas commented on #1097
Nope, I tried converting the files to target platforms. Using kompose --provider openshift --file docker-compose.yml convert. Couldn't find anything regarding the --volumes hostPath directive you just shared. Can I apply it to convert as well?

[2019-03-03 18:58] ZedYeung commented on #1097
Don't know much about openshift but worth a try, At least `kompose convert --volumes hostPath` works for k8s

[2019-03-03 19:05] DevasiaThomas commented on #1097
Ok I'll give it a try, but can't do it before Monday.. out camping and using my phone whenever I can. Thanks @ZedYeung . Will update this on Monday after I try your suggestion.

[2019-03-03 21:51] spawnia commented on #1045
/remove-lifecycle rotten

[2019-03-03 21:51] spawnia commented on #1045
/reopen

[2019-03-03 21:51] spawnia commented on #1045
Still relevant, as PR #1101 is still open

[2019-03-05 15:08] mikegerber commented on #1106
Same for:
[code]

Tested with kompose 1.18.0 this time.

[2019-03-07 14:55] slowr commented on #1095
exactly, when using expose I just want to expose it to the internal network and when using ports I am doing a mapping to give access to the external network..

imho expose should create a service as well

[2019-03-07 17:34] slowr opened #1113 "HostPath volumes File/Directory detection"
There needs to be a check whether the mapped volume is a directory or a type and generate the correct type in the .yaml file

[2019-03-07 18:25] DevasiaThomas commented on #1097
@ZedYeung Good news, it did convert. Bad news, it keeps failing to resolve my image...There is an image stream file generated for openshift. My image is on a private server and does not need authentication to pull. I'll try see if it works with a dockerhub image. Thanks 👍

[2019-03-10 18:47] jrabbit opened #1116 "Drop master/slave terminology in the docs"
I cannot possibly recommend this project if the docs are brazenly stuck in the past. Try literally any other naming scheme that doesn't involve crimes against humanity.

[2019-03-15 15:38] agnf opened #1117 ""kompose up" won't push to Google on Windows Subsystem for Linux"
"kompose up" can't push to private repository on Google on the Windows Subsystem for Linux (WSL) on Windows 10 Pro. Trying out different strategies and solutions found on Github didn't fix the problem for me.

Some output:

$ kompose version
1.18.0 (06a2e56)

$ kompose up
INFO Build key detected. Attempting to build and push image 'eu.gcr.io/0000/testalpine:latest'
INFO Building image 'eu.gcr.io/0

[2019-03-17 12:27] akin-ozer commented on #944
checked #946 but this issue still exists, docker-compose.yml can't find Dockerfile. 'docker-compose build' is working but 'kompose up' doesn't build. It might be caused from relative pathing but it should work with them.

[2019-03-18 16:44] jvitor83 commented on #1066
/remove-lifecycle stale

[2019-03-24 00:58] engmsaleh commented on #1058
Same issue with v 3.7 any updates?

[2019-03-24 14:32] hangyan commented on #1058
I have re-check the code, even if we support the versions in the code, the vendor packages will still check this and give us a fatal error. For now the packages' dep management is a mess, it's hard to update them to a higher version.

[2019-03-24 14:58] hangyan opened #1119 "Fix dep"
I have checked the dep management situation, it's hard to update the packages and support new compose versions. May be we can drop openshift support for a while and try to fix the dep issue first?
If things worked out, we can add openshift support back?

@cdrage

[2019-03-25 05:48] hangyan commented on #1119
This may not be a good idea, but i got no luck to update the vendor package versions...

[2019-03-25 15:48] cdrage commented on #1119
Ahhh I'd vote against it, do you have problems updating dependencies when you're using Glide?

Unfortunately OpenShift is a requirement for Kompose (well, I work for Red Hat so kind of implied haha). We have some critical software using Kompose for OpenShift conversion.

Usually I use this guide when doing dependency updates, do you have an error you can post?

https://github.com/kubernetes/kompos

[2019-03-25 15:54] hangyan commented on #1119
@cdrage Yeah, i know, it's a bad idea. I have tried a fews times to update docker/cli version to support compose version higher than 3.4(3.5,3.6,3.7), but the code does't match, failed to build, it's a dependency hole. It's hard to find a version that match all the scenarios

[2019-03-25 18:14] cdrage commented on #1119
@hangyan It does as well especially since https://github.com/docker/libcompose is no longer maintained...

It's a pain in the butt haha

[2019-03-26 16:32] #1119 closed

[2019-03-26 16:36] hangyan commented on #1058
@jvitor83 @engmsaleh  should be resolved by now. close this due to #1120. If you guys encounter any issues, feel free to reopen this issue

[2019-03-28 14:25] #917 closed

[2019-03-28 16:34] devnewton opened #1122 "kompose up not working on windows?"
kompose up failed on windows with the following message:

`FATA Error while deploying application: k.Transform failed: Unable to build Docker image for service xxx: Unable to build image. For more output, use -v or --verbose when converting.: dial unix /var/run/docker.sock: connect: not supported by windows`

Is there a workaround?

[2019-03-29 02:26] hangyan commented on #1122
@devnewton yes, we doest't have a windows environment to test this project.

[2019-03-29 02:27] hangyan commented on #1117
@agnf windows environment is not tested for this project.

[2019-03-30 16:18] cocowalla commented on #296
/remove-lifecycle stale

[2019-04-02 11:19] xificurC commented on #1116
Creating a project named [hitman](https://github.com/jrabbit/hitman) doesn't?

[2019-04-03 14:58] cdrage commented on #1116
@jrabbit

I've opened up a PR here: https://github.com/kubernetes/kompose/pull/1123

I apologize, at the time the project started, we were using the current Kubernetes terminology.

Obviously the docs are out of date.

Note: Going to lock this since I don't want to initiate trolling / flame war :+1:

[2019-04-04 19:31] #1107 closed

[2019-04-04 19:31] cdrage commented on #1122
@devnewton Can you post your docker compose yaml file? Also, are you running docker with `Docker on Windows`?

[2019-04-04 19:32] cdrage commented on #1117
@hangyan we do support Windows but unfortunately I haven't had much development with regards to seeing if it still works. I remember Windows being on our "to test on CI" for the longest time.

[2019-04-05 07:10] devnewton commented on #1122
I'm using Docker Desktop Community 2.0.0.3.

My docker compose file looks like:

[code]

[2019-04-06 13:14] croensch commented on #1105
While i don't mind pushing my experiments i would say this is a security issue. If one wants to use minikube + kompose instead of docker-compose and just does the convert & up it should keep images local as docker-compose does. Otherwise company externals might get pushed by accident. Feel free to play with my example https://github.com/croensch/klaus/commit/f6c1901f2b61035fa6ccd1fe7e3d31bface0d07

[2019-04-09 03:51] mterron commented on #1060
/remove-lifecycle stale

[2019-04-14 20:04] sp1d3rino commented on #496
Check if the serviceaccount chat/builder with system:image-builder role is missing then add it

[2019-04-20 06:46] montanaflynn opened #1124 "go get failed"
[code]

[2019-04-21 14:37] anarcat commented on #1124
I can reproduce this. When I rerun go-get, it somehow ignores the submodules (!) and carries forward without problems.

[2019-04-24 02:40] ruddra commented on #911
/remove-lifecycle stale

[2019-04-29 07:06] kitingChris opened #1125 "Add Support for docker-compose 3.4"
[code]
Is support for 3.4 already in sight?

[2019-04-29 12:30] nassimus26 opened #1126 "repository 'https://src.fedoraproject.org/cgit/rpms/kompose.git/' not found"
On docker alpine image, running
`GOPATH=/ go get -u github.com/kubernetes/kompose && kompose --help`

gives  :
[code]

[2019-05-03 02:58] PureKrome commented on #1125
Same here for version `3.5` :( sadness

[2019-05-03 03:36] hangyan commented on #1125
It should not be. I have check the latest code , we have support 3.4/3.5 now. Which versions of kompose you guys use?

[2019-05-03 03:43] PureKrome commented on #1125
just downloaded the latest version, now.

[code]

[2019-05-03 03:46] hangyan commented on #1125
@PureKrome Sorry about that, i think the support is only is the master branch and not release yet..

[2019-05-03 03:47] PureKrome commented on #1125
yep. confirmed @hangyan

[code]

[2019-05-03 03:57] hangyan commented on #1126
links to #1124

@cdrage Please take a look

[2019-05-04 23:48] #1086 closed

[2019-05-09 21:04] raphaelLacerda opened #1127 "Change Chart.yaml attribute version when converted to helm"
A similar issue was already resolved here:  https://github.com/kubernetes/kompose/issues/886

When i use **kompose convert -c**, i´ve to be able to change the attribute **version** of Chart.yaml file.

It generates with default 0.0.1 and i´m having problems with this on rancher.

Is there any way to change the attribute version when converting to helm chart?

i didn´t find anything on kompose -h d

[2019-05-10 02:21] rgov opened #1128 "Trivial converted service is not reachable"
I'm using kompose 1.18.0 on macOS. Consider the following simple `docker-compose.yml`:

[code]

If I run:

[code]

But I cannot access the service at this IP address on the port that should be listening for outside connections (as it would if I had run `docker-compose up`):

[code]

Also for what it's worth `kompose --file kubernetes.yml up` reports a bunch of YAML parse errors. I've attached it h

[2019-05-10 02:28] hangyan commented on #1128
Does the pods running?

[2019-05-10 02:30] hangyan commented on #1128
I have test the example you posted, and it works!. Can you check the deployment pods to see if they are running?

[2019-05-10 02:31] rgov commented on #1128
I'm new to Kubernetes, could you please tell me how to "check the deployment pods" and to start them if they're not running?

[2019-05-10 02:33] hangyan commented on #1128
Just run `kubectl get pods -n <ns>`, mostly <ns>=default

[2019-05-10 02:36] rgov commented on #1128
[code]

[2019-05-10 02:38] hangyan commented on #1128
Your Pod is Pending, you can use `kubectl describe pods nginx-6f986c9f65-t5vjx` why it's not running. And the`AGE` field is `invalid`, seems like a misconfig of the kubernetes system

[2019-05-10 02:47] PureKrome commented on #1125
@hangyan so has this been released/working yet? what version is this / will this be in?

[2019-05-10 02:49] hangyan commented on #1125
Well i'm not in charge of the release, but usually there will be a monthly release. It's merged in master already, you can check it out

[2019-05-12 11:13] xfeep opened #1129 "panic: interface conversion: interface {} is nil, not map[string]interface {}"
Commands:

[code]

Errors:

[code]

[2019-05-14 07:09] mathieurbl opened #1130 "Error when i'm trying to convert my docker-compose"
Hello,
I'm trying to convert a docker-compose for kubernetes with kompose but it's not working. (The docker-compose works fine).

So I've started minikube with `minikube start` and when I go to the dashboard after doing `kompose up` I get this :
![image](https://user-images.githubusercontent.com/47533125/57676784-a4aa4300-7625-11e9-9bc2-1d49e2d8646c.png)

I have some WARNS in my terminal :
![image

[2019-05-14 09:51] pbalaguer19 commented on #1130
Same here!

[2019-05-21 07:17] greyarch opened #1131 "Error when targeting a different (than 8080) API port"
I am useing k3s and by default the kubernetes API listens on port `6443`. When trying to do
```kompose up```
in this situation I get
```Error while deploying application: Get http://localhost:8080/api: dial tcp [::1]:8080: connect: connection refused```
Is there a way to target a different (than 8080) port?

[2019-05-22 10:32] aikomastboom opened #1132 "Support for negated placement constraint docker-compose v3"
Code currently only allows for ' == ' constraint, while specs also allow ' != ', also the whitespace surrounding the comparison operator does not seem to be mandatory.

https://github.com/kubernetes/kompose/blob/v1.18.0/pkg/loader/compose/v3.go#L138

https://docs.docker.com/engine/reference/commandline/service_create/#specify-service-constraints---constraint

[2019-05-22 11:40] aikomastboom commented on #1104
your `.env` file does not have any `RABBIT_MQ_*` vars.
Is this on purpose? or?

[2019-05-22 11:59] ffMathy commented on #296
How is this going? What's the status? Is there an ETA?

[2019-05-22 12:55] avikjis27 commented on #1104
That was a typo. I have updated that.

[2019-05-22 14:26] hangyan commented on #1132
For now we use nodeSelector to support the `==`, we will need to change to node anti-affinity to support his

[2019-05-22 15:19] hangyan commented on #1129
@xfeep This is an upstream error, we will try to update the vendor to check if they have fix it. The root cause is the `ulimit.nofile`  key, you can delete the ulimit part of service rabbitmq for now. Sorry about the inconvenience

[2019-05-23 10:01] greyarch commented on #1131
A simple solution is to start a proxy to the API that listens on 8080.
[code]

[2019-05-23 21:12] larssb commented on #1043
@wuestkamp manually update to the new version of `Docker Compose`. You can get it [here](https://github.com/docker/compose/releases/tag/1.24.0). Follow the guideline for manually installing/updating it.
Even though the text says that you get the latest one if you are using `Docker Desktop for Mac` I did not have v1.24 of `Docker Compose`. Yes I did try checking for updates.

After having updated,

[2019-05-27 13:00] fentas commented on #1124
same here. Tried to add it via `dep`
[code]

[2019-05-27 14:25] cdrage commented on #1124
Hey sorry for the late reply,

I'm cruious why it's cloning from `'https://src.fedoraproject.org/cgit/rpms/kompose.git/` ? Did you originally git clone the RPM path (in the first place) and then try doing go get?

[2019-05-27 14:51] fentas commented on #1124
Sorry, I am not quite sure if I understand you correctly but I never tried to clone `fedoraproject` directly.
What I tried was (in order)
[code]

[2019-05-27 17:59] cdrage commented on #1124
We use Glide for dependencies and I don't believe `go get` will work correctly with the `fedoraproject`.

[2019-05-28 06:49] fentas commented on #1124
Then `go get` and `dep` are unsupported for now?
I would argue both are the most used out there.

[2019-05-28 09:08] fentas opened #1133 "Upgrade Deployment and DaemonSet"
Deployment **extensions/v1beta1** is depricated. ➜ **apps/v1**
https://kubernetes.io/docs/reference/federation/extensions/v1beta1/definitions/#_v1beta1_deployment

DaemonSet **extensions/v1beta1** is depricated. ➜ **apps/v1**
https://kubernetes.io/docs/reference/federation/extensions/v1beta1/definitions/#_v1beta1_daemonset

[2019-05-28 09:30] shrek20 opened #1134 "add support for Alias"
Hi . i tried converting a docker-compose file  with alias section.   -- Didnt get correctly mapped yaml file which had alias

[docker-compose.yml.txt](https://github.com/kubernetes/kompose/files/3226710/docker-compose.yml.txt)

[2019-05-28 14:54] cdrage commented on #1124
@fentas `go get` is supported.

I didn't run into any issues doing: `go get -u github.com/kubernetes/kompose`

`go dep` is undeed unsupported as we still highly use `glide` in order to manage both our OpenShift and Kubernetes repository conflicts.

If someone wants to convert our current glide dependency management to `go dep`, they can always open up a pull-request. At the moment I don't have muc

[2019-05-28 15:24] fentas commented on #1124
Indeed. Glide itself says to migrate to `dep`.

I would like but I have no time either at the moment. :/

[2019-06-01 15:48] rgov opened #1135 "`container_name` was not converted to a valid identifier"
In my source docker-compose.yml:

[code]

This is converted to

[code]

which fails:

[code]

[2019-06-01 15:52] rgov commented on #1135
I'm using 1.18.0 installed via Homebrew.

[2019-06-03 21:22] Madic- opened #1136 "Support for ipv6 ports annotations"
Please add IPv6 support for conversion from docker-compose to kubernetes

[code]

Example ports service configuration:
[code]

[2019-06-04 07:22] notlose commented on #969
same problem, Unable to create a tarball: archive/tar: write too long
did you found a solution?

[2019-06-04 19:57] hazcod opened #1138 "FATA Error while deploying application: deployments.extensions "cache" already exists"
Hi,

Kompose 1.18.0
FIrst time trying to deploy to kubernetes (on GKE) and I'm trying to re-use my composefiles.
[code]

Any idea what I'm doing wrong?
Composefile:
[code]

[2019-06-04 20:11] hazcod commented on #1138
Seems to be fixed with `kubectl apply`..

[2019-06-04 20:11] #1138 closed

[2019-06-05 15:25] raphaelLacerda commented on #1127
i´ve figure out a way to resolve this problem with alpine/helm

helm init --client-only --skip-refresh
helm package synchronus-charts --version 1.0.0

[2019-06-05 16:49] stevefan1999-personal commented on #1095
/remove-lifecycle stale

[2019-06-11 08:56] greyarch commented on #1066
+1

[2019-06-11 11:35] PrakashSelvarajS commented on #1058
@hangyan

Hi, does Kompose support 3.6 of Docker compose?

I get the below error while converting a docker-compose.yml file of version 3.6:

"FATA Version 3.6 of Docker Compose is not supported. Please use version 1, 2 or 3"

Please can you check?

[2019-06-11 17:21] seanwessmith commented on #1124
I narrowed it down to cloning the incorrect fedoraproject url
old: git clone https://src.fedoraproject.org/cgit/rpms/kompose.git
working: git clone https://src.fedoraproject.org/rpms/kompose.git

[2019-06-12 09:22] #1124 closed

[2019-06-12 09:22] #1126 closed

[2019-06-12 14:25] mdnahian commented on #966
still seeing this issue in 1.16.0 (0c01309)

[2019-06-14 09:17] gubing2020 opened #1140 "Unknown flag: from"
kompose version:
1.18.0 (06a2e56)
Docker-compose version:
 '3.3'
My Dockerfile contains the below:
FROM nginx
COPY --from=0 /app/dist /usr/share/nginx/html

When I tryed kompose up to run some containers in a docker-compose.yml file I saw the error of "For more output, use -v or --verbose when converting.: Unknown flag: from ". For details please refer to the following log.

INFO Successfully push

[2019-06-19 15:35] hangyan commented on #1133
I thinks use the old version can support more kubernetes cluster versions

[2019-06-19 17:59] #1133 closed

[2019-06-20 11:08] edewit opened #1143 "redis-slave not found"
using the example:
`wget https://raw.githubusercontent.com/kubernetes/kompose/master/examples/docker-compose.yaml`

and then:
`kompose up`

I get the following error in the frontend:
[code]

This might be introduced by https://github.com/kubernetes/kompose/pull/1123 guess it needs some changes in the frontend images as well `gcr.io/google-samples/gb-frontend:v4` or maybe an other version?

[2019-06-20 13:47] medmedchiheb commented on #1143
needs access to `google-samples` on GCP.

[2019-06-20 14:11] edewit commented on #1143
I have all the service running so the images are downloaded, but the frontend has an error connecting this error is from the console log of the browser and because of it the example doesn't work. Even when I use docker-compose it doesn't work, I get the same error

[2019-06-20 14:18] medmedchiheb commented on #1143
offcourse, because as you mentioned service 'redis-slave' replaced to 'redis-node'  and in source code host of  `redis-node`  in `guestbook.php` does not changed yet.

[2019-06-20 14:32] edewit commented on #1143
ahh okay when you said: "needs access to google-samples", you meant to fix it in the frontend. I though that you meant, that my error was due to me being unable to connect to the google-samples

[2019-06-20 14:35] medmedchiheb commented on #1143
ahh NO, needs access to project 'google-samples' to push new image.

/help

[2019-06-21 15:00] hangyan commented on #1143
ref to #1145

[2019-06-21 15:00] hangyan commented on #1143
@edewit @medmedchiheb The revert pr has been merged, you can try it out on the master branch

[2019-06-21 15:02] hangyan commented on #1135
@rgov The fix has been merged to master, you can try it out. I'm gonna close this for now, feel free to
open this issue again if you have other problems

[2019-06-21 15:02] #1135 closed

[2019-06-21 15:04] #1116 closed

[2019-06-21 15:08] #1128 closed

[2019-06-21 15:19] medmedchiheb commented on #1143
/close

[2019-06-21 15:19] #1143 closed

[2019-06-24 07:44] mikegerber commented on #1106
/remove-lifecycle stale

[2019-06-25 01:28] feered opened #1146 "kompose.image-pull-secret label not recognized by MicroK8s 1.14"
I'm new to MicroK8s and not unsure if this is also an issue with earlier versions but the `kompose.image-pull-secret` label is not recognized. This requires you to `kompose convert` and manually add the `imagePullSecrets` configuration in each service. I understand this is an isolated issue with MicroK8s / containerd but it is worth mentioning here.

[This is a similar request](https://github.com/

[2019-06-25 05:26] hangyan commented on #1146
Are you use the latest version? I have test it and it works.

[2019-06-25 05:45] hangyan commented on #1140
can you provide more details? for example your dockerfile and compose file(strip the sensitive data)

[2019-06-25 06:09] hangyan commented on #1134
kompose doest not have much support for network and network alias for now. .
Do you have any thoughts what the network alias should map to ?

[2019-06-25 08:24] hangyan opened #1148 "Travis ci seems broken"
https://travis-ci.org/kubernetes/kompose/jobs/548728449

it ignores the test errors in 'test-cmd'

[2019-06-25 08:25] hangyan commented on #1148
@cdrage

[2019-06-25 13:36] feered commented on #1146
I will double check. I forgot to mention that the repository I am accessing is an official Docker repository that is private. This works for you? We had two instances of MicroK8s running and neither were able to pull the images. However, the label works on my ECK instance.

[2019-06-25 13:52] feered commented on #1146
I have updated my version of kompose (apparently we had 1.17 installed) and it worked. Thank you for your time!

[2019-06-25 13:52] #1146 closed

[2019-06-25 14:09] cjancsar commented on #1122
@devnewton did you resolve this?

[2019-06-26 12:02] cjancsar opened #1150 "Label `kompose.service.type: loadbalancer` does not convert to type LoadBalancer"
Version Kompose `1.18.0 (06a2e56)`

My relevant docker_compose service looks like:

[code]

I have also seen examples where it is `LoadBalancer` vs `loadbalancer` (the docks show `loadbalancer`).

This is converted to a NodePort type:

[code]

Is this functionality broken again?

[2019-06-26 13:14] cjancsar commented on #1122
@cdrage did you have any suggestions for @devnewton ? I am running into the same issue. Currently I need to just use `kompose convert` and then deploy with `kubectl`

[2019-06-26 13:18] cjancsar commented on #1150
The cause of this is when `endpoint_mode=VIP` is set on a service then it seems to break the conversion or forces the service type to `NodePort`. This should probably be added to notes of `endpoint_mode` on https://github.com/kubernetes/kompose/blob/master/docs/conversion.md

[2019-06-26 14:01] hangyan commented on #1150
@cjancsar Yes, you were right! Thank you for pointing it out. I will create a PR to add this note

[2019-06-26 16:21] cjancsar commented on #1046
@hangyan how could I go about implementing this in a PR?

[2019-06-27 06:17] hangyan commented on #1046
@cjancsar You can check out the source code to see how to do it, remember to add some tests.
I will also keep up with this

[2019-06-28 19:51] devnewton commented on #1122
No I leave kompose and the idea to simplify our development toolchain.

[2019-06-29 08:55] orkenstein commented on #1105
Please, add functionality to perform build without push. It's useful for local kubernetes setup!

[2019-06-29 09:01] hangyan commented on #1105
@orkenstein I have create a PR to fix this, but it will need some time to merge in. You can check the the source code in my repo and build it from source if you are in a hurry

[2019-07-01 15:44] dexterarun opened #1152 "Kompose doesn't work with docker-compose v3.7"
When I try to convert a docker-compose file v3.7 to the various files required by kubernetes using Kompose v1.18.0 , I get the message: Version 3.7 of Docker Compose is not supported. Please use version 1, 2 or 3. Isn't it time yet to update the supported versions?

[2019-07-03 14:45] mikegerber commented on #1071
Obviously, this bot business is broken.

[2019-07-04 15:19] Clement-TS commented on #1152
Same here with 3.5.
Some useful docker-compose parameters such as `start_period` and network `name` were added since Version 3...

[2019-07-05 08:42] cuongnd-zigexn commented on #884
/remove-lifecycle stale

[2019-07-05 08:42] cuongnd-zigexn commented on #855
/remove-lifecycle stale

[2019-07-05 08:42] cuongnd-zigexn commented on #855
/reopen

[2019-07-06 00:17] epicfaace commented on #965
/reopen this would be nice to have `kompose update`...

[2019-07-08 13:25] longility opened #1154 "question: how does converting service discovery by hostname with docker-compose work?"
I'm new to k8s and kompose. If I'm in the wrong place to ask this question, please direct me.

I have two services, A and B. A is making a http api call to B using the hostname like so `http://B/api/service-info`. I deployed using the generated ymls from `kompose`, but I'm not familiar enough to know what I am missing to have the service discovery work in k8s.

Some more context..since B is an int

[2019-07-08 15:40] hangyan commented on #1154
What is a non-public service? Does compose have this concept?

[2019-07-08 15:54] longility commented on #1154
@hangyan I updated my wording to hopefully make more since. What I meant by non-public service is that the service is internal and cannot be accessed externally, only within the network. So for compose, to make a service externally accessible, we would provide [ports](https://docs.docker.com/compose/compose-file/#ports) to map from host to container port. Sorry for the confusion.

[2019-07-09 04:18] longility commented on #1095
@stevefan1999-personal, you may be more familiar and experienced then me. Is this issue the same as my new one #1154 but asked in a different way? Can you verify if we are trying to achieve the same thing, or are they different?

[2019-07-09 14:36] hangyan commented on #1154
@longility Is this caused by #1095? I will look into the code and see how to fix this ,may be there is a workaround, but it need some time to be merged in

[2019-07-09 14:47] longility commented on #1154
My gut says yes.

I think once the issue #1095 is fixed, I can verify if that fixes this or there may be additional steps.

[2019-07-09 15:28] hangyan commented on #1154
The current code seems ignore the `expose` key and support the `ports` key. It will take some time to fix this and choose a good map to kubernetes resources.

[2019-07-09 15:29] hangyan commented on #1154
I think the `expose` and `ports` can both map to normal kubernetes services

[2019-07-09 15:30] hangyan commented on #1152
Yes. Thanks for create this issue, i will create a PR to add this.

[2019-07-09 15:51] longility commented on #1154
When I have time, I can play around with manually creating the service yml to see if it does what I think it should.

Also, I wonder if the `expose` key was ignored for a particular reason or was it just overlooked.

[2019-07-11 22:42] KhojiZoda commented on #1152
Hello, saw your issue today, I was just wondering if the 3.7 version is not supported, is the 3.6 version supported?

[2019-07-12 01:30] mterron commented on #1060
/remove-lifecycle stale

Is this project dead?

[2019-07-12 02:26] hangyan commented on #1060
@mterron No, But it's not under active development for now. I can still fix bugs and implement some futures, but still need another person to review.

[2019-07-12 02:30] hangyan commented on #1152
wired. I have check the source code and both 3.6 and 3.7 is supported, can you try the master build?

[2019-07-12 08:00] KhojiZoda commented on #1152
What version of kompose do you have?

[2019-07-12 12:05] longility commented on #1154
I was able to manually create the service yaml and get my microservices communicating to each other. So the issue #1095 should fix and get my scenario working, which is to resolve based on hostnames.

[2019-07-16 14:58] cdrage commented on #1060
@mterron No. Docker Compose isn't as popular as it once was and unfortunately all maintainers have outside commitments. We still care and love this project, but PR's take a while to merge in.

[2019-07-16 20:07] wstewartii commented on #1012
I also need this feature to be able tl consider using kompose for production deployments.

[2019-07-17 19:40] 030 commented on #274
![kompose](https://user-images.githubusercontent.com/7524528/61406108-7eca4480-a8db-11e9-8c2c-23bffae0828d.png)

[2019-07-18 20:59] crazyberry7 commented on #1152
Same issue. "Version 3.7 of Docker Compose is not supported. Please use version 1, 2 or 3"

[2019-07-23 12:48] paranoidi opened #1155 "Support yaml anchors"
Docker-compose enables DRY by using yaml anchors.

[code]

Unfortunately kompose validation prevents this being used.

`FATA x-projectname-py Additional property x-projectname-py is not allowed`

I think docker-compose validation ignores keys with `x-` prefix from root. Kompose should do the same.

[2019-07-23 15:30] allo-boneal opened #1156 "kompose env_file superseding environment variables"
Issue: When converting a docker-compose.yml file, if environment variables are specified in both _from_env_ and _environment_, the _environment_ variables are ignored by kompose in favor of the _env_file_ variables.

**Expected behavior:** kompose uses same logic as docker-compose (i.e. the _environment_ variables from docker-compose.yml overwrite those present in _env_file_)

**Actual behavior:**

[2019-07-24 15:44] aylesm commented on #969
Same here.

[2019-07-24 16:51] lucasfonmiranda commented on #944
Don't work for me the kompose v1.18

[2019-07-25 01:31] Quinncuatro commented on #1125
Are there directions on how to download the source, build, and use the latest versions while we're waiting for an "official" release of v1.18?

[2019-07-25 01:34] PureKrome commented on #1125
and also .. can we get a release soon?

99% of people don't want to / can't / or know how to (as @Quinncuatro has said, above) build latest.

[2019-07-25 01:36] Quinncuatro commented on #1125
Yeah. I don't want to sound like an ungrateful asshole, because this seems really cool.

But this should be keeping better pace with docker-compose's release cadence, especially considering it's owned by the K8s GitHub org.

[2019-07-27 02:53] johncming opened #1157 "bug: docker configs object filepath error"
https://github.com/kubernetes/kompose/blob/7b6c89b3defa0962989d52c7b82efb55117daa2c/pkg/transformer/kubernetes/k8sutils.go#L631-L632

directory  is repeat.

FATA Unable to retrieve file: Unable to read file: open /Users/john/example-prometheus/Users/john/example-prometheus/prometheus.yaml: no such file or directory .

[2019-07-27 06:25] #1046 closed

[2019-07-30 15:09] jrflga commented on #944
1.18 not working

[2019-08-05 07:49] Remember2018 opened #1160 "Could you please consider to provide the line number in the `WARN`?"
I've used the kompose to convert a `docker-compose.yml` to k8s configuration files. But the command line outputs are:

        root@master:/media/ubuntu/Working/k8s/docker-compose# kompose-linux-amd64 convert -f docker-compose.yml
        WARN Unsupported short syntax config key - ignoring
        WARN Unsupported short syntax config key - ignoring
        INFO Kubernetes file "proxy-service.yaml"

[2019-08-06 11:35] spawnia commented on #1045
/reopen
/remove-lifecycle rotten

[2019-08-06 18:11] ngraef commented on #1156
Looks like this was intentional ([source](https://github.com/kubernetes/kompose/blob/master/pkg/transformer/kubernetes/kubernetes.go#L681)):

But I agree that this should follow the behavior of docker-compose.

[2019-08-09 13:45] narsinallamilli opened #1162 "fabric8:deploy - unable to access cluster"
I am trying to follow http://kompose.io/maven-example/ every thing went well however issue is with deploy step throwing error,

narsi-macbook-pro:kompose-maven-example nnallam$ mvn fabric8:deploy
[INFO] Scanning for projects...
[INFO]
[INFO] ----------------< io.fabric8:springboot-docker-compose >----------------
[INFO] Building Fabric8 Maven :: Sample :: Springboot Docker compose 3.5
[INFO] -----

[2019-08-12 06:06] hangyan commented on #1162
Seems likes a RBAC issue. Are you familar with kubernetes' RBAC ?

[2019-08-12 06:06] hangyan commented on #1156
Agree..

[2019-08-12 06:11] #1045 closed

[2019-08-12 06:12] hangyan commented on #1045
@spawnia Thanks for you contribution

[2019-08-12 09:19] pirate commented on #855
@surajnarwade bump, it looks like this got auto-closed.

[2019-08-12 09:29] hangyan commented on #855
/reopen

[2019-08-17 06:23] 030 commented on #274
/remove-lifecycle rotten

[2019-08-17 06:24] 030 commented on #274
/reopen

[2019-08-18 08:41] hangyan commented on #274
/reopen

[2019-08-19 00:31] mahgo opened #1164 "Kompose not replacing environment variables from .env file"
I'm using Kompose version 1.18.0 on Windows 10.

When I run kompose convert on my docker compose file, it replaces it with nothing. This is despite docker compose detecting and using the .env file correctly.

[code]

becomes:

[code]
This is my .env file:
`tag=test123`

If I set the tag environment variable in my Windows environment variables, it does pick it up however. Is there something I'm mis

[2019-08-20 12:09] cocowalla commented on #296
/remove-lifecycle stale

[2019-08-21 03:33] xfeep commented on #1129
Kompose could report the error position, e.g. `ulimit.nofile` .

[2019-08-21 17:57] jdarling commented on #1152
Get the same thing with 1.17.0

[code]

If I change the version in the docker-compose.yml file to '3' instead of '3.7' everything works fine, so it's "supported" but doesn't want to be validated LOL

[2019-08-22 09:21] SvenBrunk commented on #1053
Since docker-compose has this feature since docker-compose.yml file format version 2 (beginning of 2017) (depends_on + restart: no), can we have it now? ;)

[2019-08-28 19:56] bialas1993 commented on #1164
@mahgo you should try this ```docker-compose config > docker-compose-resolved.yaml && kompose convert -f docker-compose-resolved.yaml```

[2019-08-29 01:23] mahgo commented on #1164
Thanks @bialas1993 !

[2019-08-29 01:23] #1164 closed

[2019-09-01 21:58] #1117 closed

[2019-09-02 02:12] hangyan commented on #1066
I'm so sorry for our late response. I think this is a great idea and will look into this.

[2019-09-06 13:54] jasi110 commented on #698
Is statefulset still being pursued?

[2019-09-10 18:12] GabrielBB commented on #1122
Dissapointed

[2019-09-10 18:16] GabrielBB opened #1167 "Just delete Windows from your installation guide..."
This thing doesn't work on Windows (Check issue #1122. I'm having the same problem). What's the point in having Windows as supported OS?

[2019-09-11 16:23] YannickFricke commented on #1105
@hangyan Any updates on this?

[2019-09-13 03:12] deviantony opened #1168 "Dynamically linked release binaries"
Is that normal that the kompose binary for Linux is dynamically linked?

[code]

Since https://github.com/kubernetes/kompose/issues/98 has been merged a long time ago I would have expected the binaries to be statically linked.

[2019-09-14 05:40] #1168 closed

[2019-09-17 03:50] zenglian commented on #1060
Is this supported now?

[2019-09-21 02:29] hangyan commented on #1167
I'm truly sorry for your condition..We don't have windows env and enough devopers to make any progress on windows support for now..

[2019-09-21 13:37] #911 closed

[2019-09-30 18:57] #788 closed

[2019-10-04 11:23] cflee opened #1170 "CLI usage message does not mention ability to set --out directory"
In #337 the ability to set a directory as `--out/-o` was implemented. The usage message for the flag at that point was:

In #304 the switch of CLI libraries changed the usage message for `--out`:

This feature of being able to change the output directory seems to be completely undocumented since then.

Since the website docs don't really discuss relatively low level CLI options like these, I think

[2019-10-06 20:12] jingpengw commented on #1043
I configured the docker to be used without sudo, and use `docker push` rather than `sudo docker push`
it works!

[2019-10-11 08:10] jjghub opened #1172 "FATA Unable to load yaml/json file for version parsing: open docker-compose.yml: permission denied"
Goom Morning

I am trying to do a kompose (**kompose -f docker-compose.yml up**) to convert this docker-compose.yml file:

_version: '3'
services:
    angular:
        image: nginx:alpine
        ports:
          - "4200:80"
        volumes:
          - ./front/dist:/usr/share/nginx/html
    postgres:
        image: postgres:11
        container_name: portpostgres
        ports:
          - "5432:

[2019-10-11 09:52] jjghub commented on #1172
Now with chmod -R 774:

root@ABCdocker:/home/ABC/dockerABC# kompose -f docker-compose.yml convert
WARN Volume mount on the host "/home/ABC/dockerABC/front/dist" isn't supported - ignoring path on the host
WARN Volume mount on the host "/home/ABC/dockerABC/bbdd/import-postgres.sql" isn't supported - ignoring path on the host
INFO Kubernetes file "angular-service.yaml" created
INFO Kubernetes file "

[2019-10-15 15:51] tprasadtp opened #1173 "Provide checksum file for releases"
Currently  checksums are in the release description, but I think it would be better if they are (also) provided as checksum files. Its much simpler to get the checksums file than getting it from release description for automated installations.
Eg. for Ansible `get_url` provides a way to verify checksums

[2019-10-16 16:59] #1170 closed

[2019-10-16 17:59] cdrage commented on #1173
Hey @tprasadtp check out the new release! I've uploaded a CHECKSUM file for comparison / checks :)

https://github.com/kubernetes/kompose/releases

[2019-10-16 17:59] #1173 closed

[2019-10-16 19:39] tprasadtp commented on #1173
@cdrage  That was quick! Thanks!

[2019-10-17 13:47] cdrage commented on #1131
Yeah, this is critical and needs to be fixed. Thank you @greyarch

[2019-10-17 13:47] cdrage commented on #1131
/remove-lifecycle rotten

[2019-10-17 15:16] cdrage commented on #1003
/remove-lifecycle stale

[2019-10-20 04:49] #1129 closed

[2019-10-20 07:19] Verneri commented on #1157
Just noticed the same problem. it is rather annoying as it makes it impossible to use configs

[2019-10-24 14:31] mikegerber commented on #1106
Of course this bug report stale because there was no bug fix (or no visible bug fix). I am not going to instruct the bot to remove the label again.

[2019-10-28 13:50] jsanko9 commented on #944
1.19 not working

[2019-10-29 14:31] mrbobbytables opened #1176 "Clean up outside collaborators"
Hey there @kubernetes/kompose-admins,

One of the github-admins here. -- We have a [longstanding issue] on cleaning up outside collaborators, and are now actively planning on removing them on December 1st.

At this point, people that are actively contributing to the Kubernetes project should be promoted to [org members][mem], and any repo specific permissions should be managed through their associ

[2019-10-30 19:58] cdrage commented on #1176
@mrbobbytables Done!

I've removed everyone that I can as "outside contributors" from the repo (collaborators).

I do however have no permission to remove them from the following teams:
- https://github.com/orgs/kubernetes/teams/kompose-admins
- https://github.com/orgs/kubernetes/teams/kompose-maintainers
- https://github.com/orgs/kubernetes/teams/kompose-contributors

[2019-10-30 20:09] mrbobbytables commented on #1176
@cdrage It's all good, those groups are managed via peribolos where they're required to be org members :)
The config for them is here:
https://github.com/kubernetes/org/blob/d6a90ee600549ccb8e391a7580e7289e61a0f175/config/kubernetes/org.yaml#L1498-L1527

The `kompose-contributors` team can probably be removed, they're setup with `read` permissions  on the repo and that's the default for any kubern

[2019-10-30 20:58] cdrage commented on #1176
@mrbobbytables Thanks!

I've opened up a PR: https://github.com/kubernetes/org/pull/1359

[2019-11-01 11:52] mrbobbytables commented on #1176
outside collaborators cleaned up ✔️
teams cleaned up ✔️

Thanks @cdrage :)

/close

[2019-11-01 11:52] #1176 closed

[2019-11-03 15:57] adamelliotfields commented on #1157
A workaround is prefixing the config file with a forward slash. Since `path.Join()` calls `path.Clean()` automatically, the result will be the absolute path to your config file without the duplicate directory name.

If `docker-compose.yml` and `nginx.conf` are in the same directory:

[code]

[2019-11-04 02:21] hangyan commented on #1157
i think #1175 fix this

[2019-11-04 02:21] #1157 closed

[2019-11-04 02:22] hangyan commented on #1157
@adamelliotfields @Verneri You can give the latest master try if you don't mind, many thanks!

[2019-11-04 21:36] ashokponkumar commented on #1066
We had been looking at having the 'network' keyword translated for our internal work. We translated it using 'label' and 'NetworkPolicy'.

The reason we chose 'label' over 'namespace' is the following:
a) 'Namespace' is a much harder segregation than 'label'. When  somebody thinks of 'Namespace', they are looking at the level of two different projects. For example, in Openshift, each project is de

[2019-11-05 00:37] #1160 closed

[2019-11-07 01:06] jaredallard commented on #1167
@cdrage Are you working on this? If not, I can take a crack at it

[2019-11-07 05:13] darrylsepeda commented on #656
I tried to remove node_modules and build dir, reinstall dependencies and rebuild the app then run `kompose up`, still got same error.

I'm using docker-compose v3, but even after I change to v2, still got same error.
I ran this command `ls -laR . | grep -B 5 " -> "` and found many dependencies from node_modules folder are using symlinks.

[2019-11-08 19:13] loganknecht commented on #1131
Hello!

@cdrage I am not sure if this is the right place to ask this. I am incredibly new to both `Kubernetes` and `Kompose`

I have a `docker-compose.yml` file that does work locally without issue and I was under the impression I would be able to use `kompose up` on it to spin up my deployment on my `minikube` locally.

However when I run it I get this output
[code]

This is my `docker-compose.ym

[2019-11-09 17:23] andrewdoh commented on #966
got this to work by removing the build section for those seeing FATA Error while deploying application: k.Transform failed: Unable to build Docker image for service ... Unable to create a tarball: archive/tar: write too long.

[2019-11-11 07:29] hangyan commented on #966
ref to #656

[2019-11-11 07:36] hangyan commented on #1131
The 8080 port issue seems comes from a dependency of kompose, and it's hard to change that.

[2019-11-11 18:08] LSmyrnaios commented on #1066
Hello, I am also looking for a translation.
@hangyan are there any updates?

[2019-11-11 19:15] jvitor83 commented on #1066
I am already using this proposal (with implementation of https://github.com/kubernetes/kompose/pull/1163).
I think it works great!
The container at the same network can communicate to each other, and this can achieve the same behaviour at kubernetes by using the same namespace.
Then the `docker-compose up` and the `kompose up` get the same result at the end!

[2019-11-11 21:13] LSmyrnaios opened #1179 "Add "store-created-files" option for "kompose up"."
Hi, I think it would be useful to add the ability to store the files created by "kompose up" by passing a dedicated parameter.
Thus, debugging would be easier.

[2019-11-12 00:54] ashokponkumar commented on #1066
@jvitor83 @hangyan @cdrage : Just want to know your opinions on the comment above. Do you think it makes sense to use 'label's  with NetworkPolicy for 'Network' mapping or is 'namespace' with NetworkPolicy a better fit?

[2019-11-12 14:41] cdrage commented on #1167
@jaredallard Sure! Go ahead. I tried to work on it but to be honest got caught up with work.

[2019-11-12 15:49] jvitor83 commented on #1066
@ashokponkumar i don't think only label could be a good fit for network configuration, maybe can be a extension to the network of compose.
If use compose network as kubernetes namespace is not a good option, then i think we should translate compose network to something equivalent at kubernetes that allow the `docker-compose up` and `kompose up` gets the same result that is "allow the services comm

[2019-11-12 18:57] ashokponkumar commented on #1066
Sure @jvitor83 . Thanks for your comments. Yes, I agree that, using 'kompose up' should end up with the same behavior as 'docker-compose up'. The proposal achieves this by using a combination of labels and [networkpolicy](https://kubernetes.io/docs/concepts/services-networking/network-policies/). The labels are being used as selectors in the networkpolicy, which allows communication among the pods

[2019-11-13 20:13] ashokponkumar commented on #1066
Here is an example:
The docker-compose file here has been split into a deployment and two networkpolicy files, since the service had access to 2 networks.
Input: docker-compose.yaml
[code]
web-network-networkpolicy.yaml:
[code]
app-network-networkpolicy.yaml:
[code]

@jvitor83 Please let me know if you have any questions on the same.

[2019-11-13 22:32] loganknecht opened #1180 "`kompose up` Does Not Work and Incorrect Deployment Created Via `kompose convert`"
Hello there,

I'm having a significant amount of issues getting `kompose up` and `kompose convert` to work.

# Kubectl Version
[code]
# Kompose Version
[code]

# Docker Compose File
I'm starting with this compose file here
[code]

# Output
This creates 737 lines of kubernetes yml, and when run with `kompose up` gives me this error
[code]

# Debugging
I have tried running this with `--verbose` but

[2019-11-13 22:40] loganknecht opened #1181 "Feature Request: Allow Different Tab Length Specification For `kompose convert`"
# General Overview

When I use `kompose convert` I get a very large amount of yaml files returned.

I am easily overwhelmed by nested properties in yaml files.

To reduce noise and fatigue in reading yaml files I often use 4 spaces per a nested element in order to effectively help parse the content.

 # Problem

To my knowledge, `kompose convert` provides no mechanism to specify tab length in gene

[2019-11-15 16:33] adamelliotfields commented on #1157
Hey @hangyan sorry for the late reply!

I just built from `master` and it's working now!

[code]

[2019-11-16 09:17] hangyan commented on #1180
ref to #1158. @loganknecht There is a PR to address this issue now..

[2019-11-16 22:14] loganknecht commented on #1180
@hangyan Fantastic!

Do you know if this will resolve the issues with my `kompose up` command as well?

[2019-11-17 19:27] deviantony commented on #1168
ping @hangyan

I believe that this did not fix the issue. The binary is still dynamically linked.

[code]

[2019-11-17 19:34] deviantony opened #1182 "Latest binary still not statically linked"
Follow-up on #1168

It seems that the latest release of the binary (1.19.0) is still dynamically linked. How was it built?

[code]

When I build the binary directly on my machine it is fine:

[code]

[2019-11-18 14:25] fentas commented on #296
/remove-lifecycle stale

[2019-11-19 00:42] ironsalsa commented on #1180
Bump for same issue - just started using the tool today, and ran into this right away.

[2019-11-19 08:21] hasanakg commented on #1172
Hello,

You need to use `sudo` with `kompose up` or if you don't want to do this just add you user to `docker` group so you can use `docker` without `sudo`:

[code]

**Note:** After running this command you should log out and back in for this to take effect.

You can find further information on docker documentation: https://docs.docker.com/install/linux/docker-ce/ubuntu/

[2019-11-19 16:23] Formartha opened #1183 "Convert Helm to Docker-compose"
Hi,

We got a use case where we need to convert helm charts into Docker-compose ones.
I didn't find any way of doing it in the manual - is there such ability that I've missed?

Thanks,
-M

[2019-11-19 17:35] kkonopka123 opened #1184 "Create route for openshift - targert port should be a string"
Hi, first time ever creating an github issue on public forum. Please be forgiving.
I am trying to convert docker-compose.yml to openshift yml configuration files. When I specified port and label kompose.service.expose='true', the route that is being created has a target port as an integer. The openshift complains about not seeing the port exposed on the service. When I manually change the port on

[2019-11-20 06:19] hangyan commented on #1184
You mean the port should be converted to a string but the result is a int?

[2019-11-20 12:26] kkonopka123 commented on #1184
Yes, sorry if i wasn't clear.

On Wed, Nov 20, 2019, 1:20 AM Hang Yan <notifications@github.com> wrote:

[2019-11-22 05:22] ChanderG opened #1185 "Follow docker compose conventions for merging top level keys"
Top level keys apart from `services` such as `networks`, `volumes`, `secrets` etc should be merged from multiple files (new files over-writing sub key/values as needed). This is the way `docker-compose` works.

In `kompose`, all other keys apart from `services` from subsequent files are simply being ignored.

[2019-11-22 05:26] ChanderG opened #1186 "Follow docker compose conventions for service fields merge"
According to https://docs.docker.com/compose/extends/,

1. multi-value options such as `ports`, should be concatenated.
2. Some specific keys should be merged, eg `environment`.

Currently, in `kompose`, all fields are over-written.

[2019-11-22 06:37] ChanderG commented on #1186
Previous related issues: #1081

[2019-11-22 07:43] #1140 closed

[2019-11-22 07:44] #1134 closed

[2019-11-22 07:57] hangyan commented on #1183
kompose can convert docker-compose to helm charts.

[2019-11-22 07:57] hangyan commented on #1182
That's wired..

[2019-11-22 10:46] #1148 closed

[2019-11-23 07:25] vozian commented on #1180
Same bug with compose convert

[2019-11-23 16:15] #1150 closed

[2019-11-23 19:54] deviantony commented on #1182
Was the binary built via `make bin` ?

[2019-11-25 16:16] jvitor83 commented on #1066
@ashokponkumar
That's can be a good solution. I will make some tests at this.
_BTW: Did you have the code (in some fork) or the kompose binary that output this NetworkPolicy?_

[2019-11-26 20:04] mudverma opened #1188 "Proposal: Achieve Docker-Compose Network functionality using NetworkPolicy in Kubernates"
Currently Kompose does not support Network Key Translation.  However, Network functionality is widely used is Docker World.

Consider the following interactions:

Services A1, A2 are part of net_a while Services B1, B2 are part of Net_B, there is also a gateway that is part of Both the networks (net_a and net_b). This provides an isolated environment to a subset of services.  It would be interesti

[2019-11-26 20:04] mudverma commented on #1188
The reason we chose 'label' over 'namespace' is the following:
a) 'Namespace' is a much harder segregation than 'label'. When somebody thinks of 'Namespace', they are looking at the level of two different projects. For example, in Openshift, each project is defined as a namespace.
b) There can be pod that is shared across multiple networks, which is much easier to implement using labels.
c) When a

[2019-11-27 05:41] ChanderG commented on #1183
@Formartha, kompose is meant for going from docker-compose to k8s/helm/openshift, not the other way around.

[2019-11-28 06:09] hangyan commented on #1188
Agreed.

[2019-11-28 06:21] hangyan commented on #1185
close by #1187. Thanks @ChanderG

[2019-11-28 06:21] #1185 closed

[2019-11-28 06:23] hangyan commented on #1183
close for now. @Formartha If you have further questions, feel free to open this issue again

[2019-11-28 06:23] #1183 closed

[2019-11-28 06:24] hangyan commented on #1105
PR has been merged. close this issue

[2019-11-28 06:24] #1105 closed

[2019-11-28 06:27] hangyan commented on #1186
@ChanderG Since there are not so many maintainers by now, if i create a PR, there will be no other guys review it for now. So if you can create a PR for this, that will be great and i will be review it ASAP

[2019-11-28 06:28] hangyan commented on #1182
I guess it `make cross`

[2019-11-28 06:28] ChanderG commented on #1186
@hangyan Sure, will do so soon.

[2019-11-28 10:30] fengshunli opened #1191 "How kompose.service.type: nodeport customizes the port of nodePort to 30000"
![image](https://user-images.githubusercontent.com/18587688/69798994-649b5e00-120d-11ea-8928-b86556c26a9b.png)

[2019-11-28 19:01] nm17 commented on #1180
Same here...

[2019-11-29 03:24] fengshunli opened #1194 "charts reporting errors generated by helm3 version installation"
![image](https://user-images.githubusercontent.com/18587688/69841554-a9210b00-129a-11ea-8f71-13f774242de9.png)

yaml files
![image](https://user-images.githubusercontent.com/18587688/69841816-b7235b80-129b-11ea-96c9-aae2c491613a.png)

[2019-11-29 05:23] hangyan commented on #1194
This is a issue related to #1158. If not a working one, since the code change is massive. We are still looking for some other solutions, for now you can mannuly change the `apiVersion` of all the workload resource(Deployment....) to `apps/v1`

[2019-11-29 05:46] #1182 closed

[2019-11-29 11:19] fengshunli commented on #1194
You can replace extensions/v1beta1, with sed batch but also add selector, and io.kompose.service: web's labels is still dynamic, the value of this io.kompose.service can not be written to death, it is very inconvenient to deploy microservices, it is recommended to optimize

[2019-11-30 13:34] mudverma commented on #1188
@hangyan  If possible, could you please review the merge request #1195 for network key translation.

[2019-11-30 20:03] pgordon9 commented on #296
Really need secret support to make Kompose usage seamless 🚀

[2019-12-01 02:19] #1188 closed

[2019-12-01 02:19] hangyan commented on #1188
@mudverma Thanks!

[2019-12-01 04:06] hangyan commented on #296
@pgordon9  Good news, the PR has been merged, you can try this feature in the master branch

[2019-12-01 04:06] #296 closed

[2019-12-02 08:30] mudverma opened #1196 "Int Test Case correction for Network Translation Feature"
Fix integration testing for network
 - Currently added network tests are not being run
Previous Proposal #1188 and PR: #1195

[2019-12-02 08:44] mudverma commented on #1188
Thanks @hangyan. Much appreciated your prompt review.   May you also please review minor change in network integration tests that I forgot to add in earlier PR.  Issue is #1196  PR is #1197

[2019-12-03 13:16] aaneto18 commented on #1131
Hi Guys,

I have exactly the same problem.
Does anyone know how to fix it?

Thanks

[2019-12-04 07:31] ryuzakace commented on #1152
/remove-lifecycle stale

[2019-12-04 17:13] jvitor83 commented on #1066
Closed in favor of https://github.com/kubernetes/kompose/issues/1188
Still, the namespace config could be informed at docker-compose using some label.
But this should be topic of another issue.

[2019-12-05 04:16] pgordon9 commented on #1131
This is a big deal. Kompose is essentially just yaml converter now. I'm getting this on all up's/down's actions.
[code]

[2019-12-05 11:08] pse-sonic commented on #1157
@adamelliotfields Have you tried to deploy the files?

My tests show up that #1175 causes a modification of the specified target. k8sutils#FormatFileName extracts the filename and drops the path so the resulting MountPath differs from specified target.

[2019-12-05 16:30] adamelliotfields commented on #1157
Good catch. Truthfully, I did not try to deploy. I've only ever used Kompose as a scaffolding tool to generate some starter yaml files.

Here's the generated yaml from my previous comment (you'll see it mounts `nginx.conf` to to `/`, not `/etc/nginx`:

[code]

Also worth mentioning with Kubernetes 1.16, the API group and version for a Deployment is `apps/v1`.

[2019-12-06 06:41] mudverma commented on #1196
Fixed

[2019-12-06 06:41] #1196 closed

[2019-12-09 14:30] #1154 closed

[2019-12-10 07:11] thanosz commented on #1180
Any chance this can be fixed soon?

[2019-12-11 06:34] hangyan commented on #1180
The pending PR does not fix this issue, i have a new solution, after all the kubernetes object have been created, modify it using json/yaml packages, but normally it's not easy to find another reviewers to review it for me ....

[2019-12-11 14:19] yjkimjunior commented on #1152
bump? I'm able to `kompose convert` without any trouble but `kompose up` says
[code]
The image key is populated already from the `kompose convert` command from what I can see. I've also tried setting it to the remote endpoint where it is hosted (on Google Container Registry) to the same result.

My `docker-compose` looks more or less like:
[code]

[code]

[2019-12-16 15:26] pirate commented on #855
/remove-lifecycle rotten

[2019-12-17 20:40] johnathana opened #1199 "The same env_file creates multiple ConfigMaps"
Sample docker-compose.yml:

    image: confluentinc/cp-enterprise-kafka:5.3.1
    depends_on:
      - zookeeper
    env_file:
      - kafka-common.env
    environment:
      - KAFKA_BROKER_ID=1
  kafka-2:
    image: confluentinc/cp-enterprise-kafka:5.3.1
    depends_on:
      - zookeeper
    env_file:
      - kafka-common.env
    environment:
      - KAFKA_BROKER_ID=2
  kafka-3:
    image: conflue

[2019-12-19 14:03] CiaraCode commented on #1131
Any status here? We struggle with the same issue

[2019-12-20 05:05] nabhavs opened #1200 "Helm lint throws errors on chart.yaml"
Helm lint command fails on helm files created due to following issues:
- [ERROR] Chart.yaml: directory name (XXX_DIR) and chart name (A new XXX project) must be the same
- [ERROR] Chart.yaml: apiVersion is required. The value must be either "v1" or "v2"

We could fix these issues and contribute to the project. Please let us know if we could create a PR for this.

[2019-12-20 22:38] ryannix123 opened #1201 "Error while deploying application: Get http://localhost:8080/api: dial tcp [::1]:8080: connect: connection refused"
Latest build of kompose, 1.19.0. This is for an Openshift 3.11 cluster.

[2019-12-21 17:29] kundeng opened #1202 "doesn't work out of box with the tutorial on the website"
A lot of things are outdated? Is this project dead?

kubectl create -f redis-master-deployment.yaml -f redis-master-service.yaml
unable to recognize "redis-master-deployment.yaml": no matches for kind "Deployment" in version "api/v1"

After correcting it, it still doesn't work:
kubectl create -f redis-master-deployment.yaml -f redis-master-service.yaml
error validating "redis-master-deployment.yam

[2019-12-22 03:22] #1125 closed

[2019-12-22 11:12] michielglibert commented on #1202
See #1180 for fix

[2019-12-24 00:11] hangyan commented on #1201
This is because most of the early version of kubernetes have 8080 port open ,but not anymore in the latest versions, These settings is hard-coded  in the library kompose ref to ,we are still trying to find some solutions..

[2019-12-24 00:39] hangyan commented on #1201
Can you try `export KUBERNETES_MASTER=<url>` first?

[2019-12-24 00:48] hangyan commented on #1200
Yes, of course. This is a great improvement

[2019-12-24 00:52] hangyan commented on #1199
Seems a code bug.

[2019-12-24 02:54] hangyan commented on #1131
Tempory solution:

export KUBERNETES_MASTER=https://127.0.0.1:6443
kompose....

Finale solution:
update code (the library we use is serious out of date, it's a bit of messy)

[2019-12-24 10:48] hangyan commented on #1131
@CiaraCode I just merge a PR for this issue, if you can try the master build..

[2019-12-24 10:49] hangyan commented on #1202
I will create a new PR for this these days...So sorry for this inconvenient

[2019-12-24 21:17] CiaraCode commented on #1131
@hangyan your solution did not work for us... In OpenStack Rancher, I have tried installing a software named Waldur throgh Komposer. We have successfully:
- setup the node environment so kompose can work within rancher
- installed git, curl, docker, kubectl and kompose within the node
- cloned the waldur-compose repo in order to create the needed resources, but only the services are getting create

[2019-12-25 00:26] hangyan commented on #1131
what's in your lube config file？
________________________________
From: CiaraCode <notifications@github.com>
Sent: Wednesday, December 25, 2019 5:17:50 AM
To: kubernetes/kompose <kompose@noreply.github.com>
Cc: Hang Yan <hang.yan@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [kubernetes/kompose] Error when targeting a different (than 8080) API port (#1131)

@hangyan<https://githu

[2019-12-25 00:28] hangyan commented on #1131
kompse use you kubeconifg to access the cluster. Since it now is the 6443 port, it certainly need some auth. usually it is in the kubeconifg file
________________________________
From: Hang Yan <hang.yan@hotmail.com>
Sent: Wednesday, December 25, 2019 8:26:19 AM
To: kubernetes/kompose <reply@reply.github.com>; kubernetes/kompose <kompose@noreply.github.com>
Cc: Mention <mention@noreply.github.com>

[2019-12-25 10:13] #1200 closed

[2019-12-26 00:54] #1199 closed

[2019-12-26 03:47] #1162 closed

[2019-12-26 08:37] #1202 closed

[2019-12-26 08:37] #1194 closed

[2019-12-26 08:37] #1180 closed

[2019-12-26 08:39] #1172 closed

[2019-12-26 11:30] #1179 closed

[2019-12-26 11:30] hangyan commented on #1191
that need a new label... I will create a PR for this...

[2019-12-26 15:45] #1191 closed

[2019-12-26 23:55] #748 closed

[2019-12-27 02:26] #944 closed

[2019-12-27 05:51] #1106 closed

[2019-12-27 06:42] hangyan commented on #1186
* Merge
- [] environment

[2019-12-27 06:44] ChanderG commented on #1186
I have actually already coded out the feature. Have not pushed anything yet as I have to update/write the tests. Will hopefully get around to that by next week.

[2019-12-27 06:45] hangyan commented on #1186
@ChanderG Great, i will focus on other issues for now

[2019-12-27 06:46] hangyan commented on #1186
I have merged a lot of PRs these days, you may need to rebase it first..

[2019-12-27 17:02] #1060 closed

[2019-12-27 17:04] hangyan commented on #855
close by #1216 . Now convert/up support `--volumes=configMap` to mount the files via configmap

[2019-12-27 17:04] #855 closed

[2019-12-28 02:44] hangyan commented on #1181
Working on it. Seems yaml does not support tab, so i think the args should be `--indent` or `--spaces`

[2019-12-28 04:23] #1181 closed

[2019-12-28 04:34] #1167 closed

[2019-12-28 04:36] hangyan commented on #1122
Update doc about windows in the README. close this for now.

[2019-12-28 04:36] #1122 closed

[2019-12-28 10:01] #1094 closed

[2019-12-28 10:40] #1089 closed

[2019-12-28 10:48] hangyan commented on #1022
fixed by #1210

[2019-12-28 10:57] hangyan commented on #809
fixed by #1212

[2019-12-29 03:32] #1070 closed

[2019-12-30 18:50] vsmadhu opened #1224 "start_period causes FATA start_period Additional property start_period is not allowed"
Team,

I want to wait for my health-check command so I use start_period in my docker compose file.
When I try to use  kompose to convert my file I keep getting error
FATA start_period Additional property start_period is not allowed

I know start_period is supported from version 3.4 for docker-compose. so I tried to set the file version to 3.7 which is the actual version i use in my docker compose

[2019-12-31 02:13] hangyan commented on #1224
which version of `kompose` do you use ?

[2019-12-31 02:16] hangyan commented on #1224
after set docker-compose version to `3.7`, it works fine on the latest `1.19.0` version of `kompose`. Can you give it a try?

[2019-12-31 19:08] alechp commented on #1152
@yjkimjunior https://github.com/kubernetes/kompose/issues/969 has a partial solution

TLDR: Add image name to your prisma service

**Before including image name**
![Screen Shot 2019-12-31 at 10 57 15 AM](https://user-images.githubusercontent.com/3058939/71631464-a9743500-2bbd-11ea-82b7-742d911cf031.png)

**After including image name**
![image](https://user-images.githubusercontent.com/3058939/7163

[2019-12-31 19:24] alechp commented on #969
For anyone else struggling, hopefully this helps:

## Errors
**image key**
![Screen Shot 2019-12-31 at 11 05 39 AM](https://user-images.githubusercontent.com/3058939/71631718-0d4b2d80-2bbf-11ea-90a1-d90e2d65c38f.png)

**write too long**
![Screen Shot 2019-12-31 at 11 05 39 AM](https://user-images.githubusercontent.com/3058939/71631822-aaa66180-2bbf-11ea-8aae-be17751d8799.png)

## What worked for m

[2019-12-31 19:54] jar145 commented on #1105
I couldn't find any documentation on this, so if anyone is curious about the flag to be used here it is.

`kompose up --push-image=false`

[2020-01-01 03:21] hangyan commented on #1105
@jar145 my mistake, i will update the doc.

[2020-01-01 03:42] hangyan commented on #656
related to #1093

[2020-01-01 03:43] hangyan commented on #1093
related to #969

[2020-01-01 03:49] hangyan commented on #969
That's odd, i have test this compose file and it did not report this `tar: write too long` error..

[2020-01-01 03:53] hangyan commented on #1152
@alechp Thanks for the explanation, i have merged PR #1213 to solve this empty image key issue, it will be included in the `1.21.0` release.

[2020-01-02 08:40] yjkimjunior commented on #1152
@alechp thanks! I decided to just write my kubernetes config files manually for current project but hopefully will revisit kompose in the near future.

[2020-01-02 13:49] vsmadhu commented on #1224
kompose version I am using is 1.18.0 ()
Let me try version 1.19.0 to see if it fixes the issue.
I will update this post once it's done.

[2020-01-02 14:09] vsmadhu commented on #1224
Using the below command if I download kompose I am still getting version 1.18.0 ()
How do I get version 1.19.0 for my mac running 10.14.6 (18G103) Mojave

curl -L https://github.com/kubernetes/kompose/releases/download/v1.20.0/kompose-darwin-amd64 -o kompose

[2020-01-02 14:27] hangyan commented on #1224
Are you sure you are using the right `PATH`, i just verfied the url, it works fine.
Can you run `which kompose` to make sure?

[2020-01-02 14:47] vsmadhu commented on #1224
Hangyan

Thank you, you were right, I was downloading the kompose latest version from git to the folder were my docker file was and assuming that I was running the file from that location

running the which command showed me that actually I was executing kompose from /usr/local/bin/

I moved the file to the correct location now and the version is showing up as 1.20.0 (f3d54d784)
let me try executi

[2020-01-02 15:31] vsmadhu commented on #1224
@hangyan Thank you for the help
I was was able to complete the process with start_period in docker_compose file
On other question
I have a
WARN Volume mount on the host "/Users/USERNAME/GitLab/App-Name/reverse-proxy/nginx.conf" isn't supported - ignoring path on the host
Is there a preferred method of loading a flie ?

what I doing in the compose file is
 volumes:
      - ../../reverse-proxy/nginx

[2020-01-02 15:36] hangyan commented on #1224
You can check the `--volumes` flag, i think `hostPath` is the best option for now.
Althogh on the master build of `kompose` ,i have add support for `configMap`,  the volumes files will be read into configmaps and mounted to the pod, you can try it if you are willing to

[2020-01-03 10:45] ChanderG commented on #1095
@hangyan , we should update the Conversion Matrix to say not supported if we are not fixing this for now.

[2020-01-03 11:00] hangyan commented on #1095
@ChanderG I will look into this see if i can implment this transition. Any ideas on how to mapping `expose`?

[2020-01-03 14:31] nathanweeks commented on #1053
`depends_on` isn't semantically equivalent to initContainers (see https://github.com/docker/compose/issues/6855)

[2020-01-03 15:19] hangyan commented on #1186
close by #1226

[2020-01-03 15:19] #1186 closed

[2020-01-03 15:27] hangyan commented on #1095
May be it's better to treat it just like `ports`?

[2020-01-04 02:54] ChanderG commented on #1095
I think the disconnect is as follows:
1. By the letter of the law (docker-compose spec here), we should do nothing as expose is just a documentation of sorts (https://stackoverflow.com/questions/40801772/what-is-the-difference-between-docker-compose-ports-vs-expose).
2. By the spirit of the law, people expect containers with exposed ports to be reachable. Here in k8s, if we map those containers to

[2020-01-04 02:56] ChanderG commented on #1081
@hangyan , we can close this issue now.

[2020-01-04 02:58] hangyan commented on #1081
Yes, of course

[2020-01-04 02:58] #1081 closed

[2020-01-04 02:58] hangyan commented on #1095
I will create a PR this weekend

[2020-01-04 06:15] #1095 closed

[2020-01-04 15:20] hangyan opened #1229 "Configs support"
The current long syntax of `config` is incorrect, it didn't use subPath. Also we need to add support for short syntax

[2020-01-05 02:19] #1229 closed

[2020-01-05 16:29] hangyan commented on #986
possible wrong version of compose, should be after `3.2`

[2020-01-06 13:35] vsmadhu commented on #1224
The start_period issue was resolved by using the latest version of kompose.

[2020-01-06 13:35] #1224 closed

[2020-01-06 17:21] vsmadhu opened #1234 "How do I start a POD with my transformed files"
Hello

I am seeing 3 files being created for a single docker run command in my file
for example the first set called reverseproxy shown created 3 files.
the next webapp created 3 more files.

My question is how do I start a pod with all my images running in it

version: '3.7'

networks:
  app:
    driver: overlay

services:

  reverseproxy:
    image: ngnix:latest
    healthcheck:
      test: serv

[2020-01-07 02:04] hangyan commented on #1234
Sorry i didn't follow, could you explain you intention again?

[2020-01-07 14:41] vsmadhu commented on #1234
Hello Hang

When I convert my docker compose file to kubernetes using kompose, I am getting 3 files for each docker container mentioned in the file.

I have attached my docker file. Once you run kompose convert -f sample-docker-compose.txt
My question is how can I go about creating the objects in kubernetes with the transformed files ?

[sample-docker-compose.txt](https://github.com/kubernetes/kom

[2020-01-07 14:47] hangyan commented on #1234
try `kompose up -f sample-docker-compose.txt`

[2020-01-07 14:51] vsmadhu commented on #1234
I tired that am seeing a error
Error while deploying application: Get http://localhost:8080/api: dial tcp [::1]:8080: connect: connection refused like mentioned in the issue https://github.com/kubernetes/kompose/issues/1201

My environment is
I am running minikube
minikube version: v1.6.2
commit: 54f28ac5d3a815d1196cd5d57d707439ee4bb392

kubeclt version
Client Version: version.Info{Major:"1", Mino

[2020-01-07 15:35] hangyan commented on #1234
This is a known issue, you can try
`KUBERNETES_MASTER=https://127.0.0.1:6443 kompose...`,  https://127.0.0.1:6443 shoule be your kubernetes api server's url

[2020-01-09 08:33] #1156 closed

[2020-01-13 11:31] hicker-kin opened #1235 "convert the 2.1 version docker-compose.yaml error!!!!!"
when convert :
kompose convert -f docker-compose.yaml, it is error：
FATA Version 2.1 of Docker Compose is not supported. Please use version 1, 2 or 3 . The follow is my yaml file:

version: '2.1'
services:
  registry:
    environment:
      CONFIG_SERVICE_PASSWORD: $CONFIG_SERVICE_PASSWORD
    image: 172.46.5.78:332/library/sqshq/piggymetrics-registry
    restart: always
    depends_on:
      conf

[2020-01-13 11:36] hicker-kin commented on #1235
my kompose version is v1.20.0 .  If i exchange the version of docker-compase to "version: '2'",the error is "Service 'registry' configuration key 'depends_on' contains an invalid type, it should be an array."

[2020-01-13 13:31] hangyan commented on #1235
@hicker-kin Could you provide a well-formed version of this compose file?

[2020-01-15 10:55] #274 closed

[2020-01-15 18:52] gjcarneiro opened #1236 "no matches for kind "Deployment" in version "extensions/v1beta1""
This is generating:
[code]

This Deployment version was deprecated and no longer works in recent versions of k8s (e.g. 1.16).

Now you have to specify `apiVersion: apps/v1` and modify slightly the template (labelSelector field needed).

[2020-01-16 06:03] hangyan commented on #1236
This issue has been fixed by pr #1207 . It will be released in the next month. Sorry for you inconvenient

[2020-01-17 17:42] jbmcfarlin31 opened #1237 "[Feature]: Validation of supported attributes within a docker-compose file"
Given the [conversion matrix](https://github.com/kubernetes/kompose/blob/master/docs/conversion.md), it would be nice to have a feature within the `kompose` utility to be able to validate a `docker-compose` file to see what attributes defined in that yaml will be converted, versus which attributes will not be supported.

As an example, if a `docker-compose` file has the attribute `security_opt` de

[2020-01-20 15:43] masteruser20 opened #1238 "Error while deploying application: the server could not find the requested resource"
Hello,

I'm trying to setup kubernetes services using docker-compose file and kompose app, and for test purposes Im using this repository:
[https://github.com/dockersamples/example-voting-app]( https://github.com/dockersamples/example-voting-app)

using this command:
` kompose up --verbose --push-image=false -f docker-compose.yml`

I have information that all the services were successfully created

[2020-01-21 02:38] hangyan commented on #1238
1. I cannot reproduce this error. Can you try to use the `convert` command first to create all the yaml files and use `kubectl` to apply this files to find out which one cause the error?

2. The image tag should have been fixed by the master branch

[2020-01-21 02:45] hangyan commented on #1237
@jbmcfarlin31  This is a good idea, i will work on this ASAP. It will be include into the next release

[2020-01-21 07:35] masteruser20 commented on #1238
All services has been created without problems, but deployment yml's and other throws errors:

[2020-01-21 07:36] hangyan commented on #1238
@masteruser20 This is a known issue, the fixed will be released in the next month. Sorry for your inconvenient

[2020-01-21 11:18] mhyousefi commented on #318
So, what is the point of having `deployment.spec.template.spec.restartPolicy` if `Always` is only  allowed option?????

Also, I suppose one could use `backoffLimit: 0`, though it doesn't seem like a robust solution as the reason why the pod terminated could very well be an actual failure!

[2020-01-22 03:44] walter211 commented on #1201
run this in new terminal tab：
`kubectl proxy --port=8080`

[2020-01-26 20:26] mash1t commented on #1236
fyi Workaround for minikube (until release):
`minikube start --extra-config=apiserver.runtime-config=apps/v1beta1=true,extensions/v1beta1/deployments=true`

[2020-01-27 14:22] Jellyfrog commented on #1235
Here is an example
[code]

[2020-01-28 19:29] jbmcfarlin31 opened #1239 "[BUG] Repeated resources in YAML file when --out flag is supplied"
## What is happening?
When converting the following docker-compose file:
[code]
Using the command: `kompose convert -f docker-compose.yaml -o kompose.yaml`
One file named `kompose.yaml` is generated, and slew of output from the `kompose` command is given:
[code]

This appears to be okay and convert fine... however, when attempting to perform a `kustomize` on that one generated `kompose.yaml` file,

[2020-01-29 04:09] hangyan commented on #1239
seems a bug , I will investigate it
________________________________
From: Jonathon McFarlin <notifications@github.com>
Sent: Wednesday, January 29, 2020 3:29:06 AM
To: kubernetes/kompose <kompose@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [kubernetes/kompose] [BUG] Repeated resources in YAML file when --out flag is supplied (#1239)

What is happening?

When conver

[2020-02-02 16:24] vongohren commented on #1238
@hangyan is there some sort of workaround on this? Im trying this sample: https://kompose.io/getting-started/ and I get the same error.
First I had to get past this issue: https://github.com/kubernetes/kompose/issues/1131
And then now hitting this.

This is the getting started guide, and it is not working out of the 📦
What can I do to try to get it to work?

Using docker-compose on the file that i

[2020-02-03 18:31] axsaucedo opened #1240 "Dotfile path (e.g ./envs/./production/.envs) errors/is not supported in Kompose"
When running `kompose` on a docker-compose.yaml file that contains services with `env_file` pointing to a file under a dotfile-style-named directory (such as `./.envs/.production/.envs`) it creates invalid configmap names, where the name would be something like `envs--production--envs...`.

[2020-02-04 04:59] seshapad commented on #1239
We have some familiarity with this feature. Let me investigate this and if any fix, we will contribute the fix.

[2020-02-04 12:39] hangyan commented on #1238
This should be fixed in the next release. Use the master branch to build a local binary if you can

[2020-02-10 06:08] febriyan1302 commented on #1238
okee i'm waiting your fixed release

[2020-02-10 09:24] fetzerch opened #1241 "Instructions Corporate CLA"
@hangyan We'd like to contribute a few patches to Kompose. According to [CONTRIBUTING.md](https://github.com/kubernetes/kompose/blob/5633b7bff587c7ff11434470fabd3d19cd1840f6/CONTRIBUTING.md#contributor-license-agreements) we need to sign the corporate CLA and ask on slack for access and instructions. You mentioned it's difficult to reach you on slack. Therefore I'm filing this issue here. Can you

[2020-02-10 10:06] hangyan commented on #1241
@fetzerch  You can just file the PR, a robot will do the check and give in insturctions about how to sign the CLA. It's very straightforward